Repository woocommerce/woocommerce-android, pull requests merged in 2019-12, with the labels that each got.

#1617 Issue/1610 remove navbar animation
  .idea/codeStyles/Project.xml
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
Labels: Architecture

#1612 Fix small typo and missing word in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation

#1620 Merge 3.1 into master
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/de-DE/changelogs/.txt
  fastlane/metadata/android/de-DE/changelogs/91.txt
  fastlane/metadata/android/es-ES/changelogs/.txt
  fastlane/metadata/android/es-ES/changelogs/91.txt
  fastlane/metadata/android/fr-FR/changelogs/.txt
  fastlane/metadata/android/fr-FR/changelogs/91.txt
  fastlane/metadata/android/id/changelogs/.txt
  fastlane/metadata/android/id/changelogs/91.txt
  fastlane/metadata/android/iw-IL/changelogs/.txt
  fastlane/metadata/android/iw-IL/changelogs/91.txt
  fastlane/metadata/android/ja-JP/changelogs/.txt
  fastlane/metadata/android/ja-JP/changelogs/91.txt
  fastlane/metadata/android/ko-KR/changelogs/.txt
  fastlane/metadata/android/ko-KR/changelogs/91.txt
  fastlane/metadata/android/nl-NL/changelogs/.txt
  fastlane/metadata/android/nl-NL/changelogs/91.txt
  fastlane/metadata/android/pt-BR/changelogs/.txt
  fastlane/metadata/android/pt-BR/changelogs/91.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/.txt
  fastlane/metadata/android/ru-RU/changelogs/91.txt
  fastlane/metadata/android/sv-SE/changelogs/.txt
  fastlane/metadata/android/sv-SE/changelogs/91.txt
  fastlane/metadata/android/tr-TR/changelogs/.txt
  fastlane/metadata/android/tr-TR/changelogs/91.txt
  fastlane/metadata/android/zh-CN/changelogs/.txt
  fastlane/metadata/android/zh-CN/changelogs/91.txt
  fastlane/metadata/android/zh-TW/changelogs/.txt
  fastlane/metadata/android/zh-TW/changelogs/91.txt
Labels: Releases

#1619 Merge 3.1 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/86.txt
  fastlane/metadata/android/de-DE/changelogs/86.txt
  fastlane/metadata/android/de-DE/changelogs/91.txt
  fastlane/metadata/android/es-ES/changelogs/86.txt
  fastlane/metadata/android/es-ES/changelogs/91.txt
  fastlane/metadata/android/fr-FR/changelogs/86.txt
  fastlane/metadata/android/fr-FR/changelogs/91.txt
  fastlane/metadata/android/id/changelogs/86.txt
  fastlane/metadata/android/id/changelogs/91.txt
  fastlane/metadata/android/it-IT/changelogs/86.txt
  fastlane/metadata/android/iw-IL/changelogs/86.txt
  fastlane/metadata/android/iw-IL/changelogs/91.txt
  fastlane/metadata/android/ja-JP/changelogs/86.txt
  fastlane/metadata/android/ja-JP/changelogs/91.txt
  fastlane/metadata/android/ko-KR/changelogs/86.txt
  fastlane/metadata/android/ko-KR/changelogs/91.txt
  fastlane/metadata/android/nl-NL/changelogs/86.txt
  fastlane/metadata/android/nl-NL/changelogs/91.txt
  fastlane/metadata/android/pt-BR/changelogs/86.txt
  fastlane/metadata/android/pt-BR/changelogs/91.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/86.txt
  fastlane/metadata/android/ru-RU/changelogs/91.txt
  fastlane/metadata/android/sv-SE/changelogs/86.txt
  fastlane/metadata/android/sv-SE/changelogs/91.txt
  fastlane/metadata/android/tr-TR/changelogs/86.txt
  fastlane/metadata/android/tr-TR/changelogs/91.txt
  fastlane/metadata/android/zh-CN/changelogs/86.txt
  fastlane/metadata/android/zh-CN/changelogs/91.txt
  fastlane/metadata/android/zh-TW/changelogs/86.txt
  fastlane/metadata/android/zh-TW/changelogs/91.txt
Labels: Releases

#1624 Hotfix: limit system status report to 63k characters
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
Labels: Hotfix

#1628 Merge 3.2 into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Releases

#1613 Add option to update product description
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CustomProgressDialog.kt
  WooCommerce/src/main/res/layout/product_property_view_vert.xml
  WooCommerce/src/main/res/layout/view_progress_dialog.xml
  WooCommerce/src/main/res/menu/menu_done.xml
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  build.gradle
Labels: Product Details

#1611 Feature/product image upload master
  WooCommerce/build.gradle
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/AppComponentDebug.kt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/JobServiceIds.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/TextViewExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesNotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesServiceModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesServiceWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/FCMRegistrationIntentService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/tools/ProductImageMap.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerUIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooAnimUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/BorderedImageView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/drawable/button_bordered_bg.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_add_image.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_camera.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_image.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_trash.xml
  WooCommerce/src/main/res/drawable/ripple_grey.xml
  WooCommerce/src/main/res/drawable/ripple_grey_framed.xml
  WooCommerce/src/main/res/layout/activity_image_viewer.xml
  WooCommerce/src/main/res/layout/dialog_product_image_source.xml
  WooCommerce/src/main/res/layout/fragment_image_viewer.xml
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_images.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/layout/image_gallery_item.xml
  WooCommerce/src/main/res/menu/menu_image_source.xml
  WooCommerce/src/main/res/menu/menu_trash.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/xml/provider_paths.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#1642 issue/1641-hide-optimize-images
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: App Settings

#1638 Issue/1594 update product events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
Labels: Product Details, Tracks Events

#1643 issue/1637-image-optimization-tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
Labels: App Settings

#1639 Issue/1632 product list search fails
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: Product List

#1646 issue/1636-blank-product-list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: Product List

#1644 Merge 3.1.1 hotfix into `develop`
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
Labels: Releases

#1645 Merge 3.1.1 hotfix into `master`
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
Labels: Releases

#1651 Issue/1650 product list sorting
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  build.gradle
Labels: Product List

#1649 Merge release notes (and new beta) into master
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#1654 Issue/1648 bottom nav labels cut off
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
Labels: Accessibility

#1659 issue/1630 - Product variants bug fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1655 Issue/1640 glide disk cache
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooCommerceGlideModule.kt
Labels: Architecture

#1662 Issue/1658 product variation bug fix
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsAdapter.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Type] Bug, [Type] Crash

#1666 Issue/1664 order number crash
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
Labels: Hotfix, [Type] Crash

#1653 Issue/1652 product list missing products
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CoroutineHelpers.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/products_wip_notice.xml
Labels: Product List

#1660 Issue/1631 deleted products remain
  build.gradle
Labels: Product List

#1668 issue/1618-consolidate-request-codes
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/AppUpgradeActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooPermissionUtils.kt
Labels: Architecture

#1667 check if listener is null before handling discovery error
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseDiscoveryFragment.java
Labels: Login, [Type] Crash

#1669 Issue/1595 update dagger
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  build.gradle
Labels: Architecture

#1670 Issue/1625 fix chart scrolling
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsBarChart.kt
Labels: Dashboard

#1673 issue/3.2 bug crash fixes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsAdapter.kt
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseDiscoveryFragment.java
Labels: Hotfix, Product Details

#1674 Release/3.2 - products list optimisation changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CoroutineHelpers.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/products_wip_notice.xml
  build.gradle
Labels: Hotfix, Product List

#1675 issue/1470 product detail crash fix take2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
Labels: Product Details, [Type] Crash

#1682 Hide the refunds feature
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
Labels: Refunds

#1683 Hotfix: v4 revenue stats property change for wc-admin 0.23
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  build.gradle
Labels: Hotfix, Store Stats

#1686 Updated Glide to 4.10.0
  build.gradle
Labels: Tech Debt

#1684 Issue/1680 update androidx
  .idea/codeStyles/Project.xml
  WooCommerce/build.gradle
  build.gradle
Labels: Architecture

#1689 Update min wc-admin version supported in v4 stats warning string
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Hotfix, Store Stats

#1677 issue/1671-zendesk-3.0.3
  WooCommerce/build.gradle
Labels: Support

#1678 issue/1676-review-detail-dates
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
Labels: Product Review Details

#1623 Refund by items: Various refactorings - Step 3
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ViewExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByAmountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundItemsPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundItemsPickerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/NumberPickerDialog.kt
  WooCommerce/src/main/res/drawable/ic_shipping_grey_24dp.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_items.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/layout/refund_by_items_shipping.xml
  WooCommerce/src/main/res/layout/refunds_product_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_refunds.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Refunds

#1629 Refund by items: Rounding errors - Step 4
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/MathUtil.kt
  WooCommerce/src/main/res/layout/fragment_refund_by_items.xml
Labels: Refunds

#1693 Make sure the fragment is added before updating the order status view
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
Labels: Order Details

#1694 issue/1565-sentry-plugin-deprecation-warning
  WooCommerce/build.gradle
Labels: Architecture, Tech Debt

#1633 Refund by items: Max quantity, amount dialog, separate list LiveData - Step 5
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Refund.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundAmountModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyEditText.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/NumberPickerDialog.kt
  WooCommerce/src/main/res/layout/currency_amount_dialog.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_items.xml
  WooCommerce/src/main/res/layout/number_picker_dialog.xml
  WooCommerce/src/main/res/navigation/nav_graph_refunds.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Refunds

#1703 Login: Add missing error logging where needed
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerPresenter.kt
Labels: Login

#1699 Drop the time values in dates before evaluating for TimeGroup
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TimeGroup.kt
Labels: Product Review List, [Type] Bug

#1635 Refund by items: Full refund flow - Step 6
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Refund.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/res/layout/fragment_refund_by_items.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Refunds

#1704 issue/1695-add-product-list-loading-indicator
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: Product List

#1706 Refund by items: Hide refund by amount feature - Step 7
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/res/layout/fragment_issue_refund.xml
Labels: Refunds

#1707 Refund by items: Show item list in refund details - Step 8
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/RefundsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundProductListAdapter.kt
  WooCommerce/src/main/res/layout/fragment_refund_detail.xml
  WooCommerce/src/main/res/layout/refunds_detail_product_list_item.xml
Labels: Refunds

#1701 Issue/1696 deleted variations remain
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  build.gradle
Labels: Product Details, [Type] Bug

#1691 Merge 3.2-rc-3 into develop
  .idea/codeStyles/Project.xml
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsAdapter.kt
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Releases

#1708 Refund by items: Variable products fix - Step 9
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/RefundsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Refund.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundItemsPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundProductListAdapter.kt
  WooCommerce/src/main/res/navigation/nav_graph_refunds.xml
Labels: Refunds

#1657 Use WCOrderModelTable when offline to load cached orders
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: Order List

#1711 Merge 3.2 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/96.txt
  fastlane/metadata/android/de-DE/changelogs/91.txt
  fastlane/metadata/android/de-DE/changelogs/96.txt
  fastlane/metadata/android/es-ES/changelogs/91.txt
  fastlane/metadata/android/es-ES/changelogs/96.txt
  fastlane/metadata/android/fr-FR/changelogs/91.txt
  fastlane/metadata/android/fr-FR/changelogs/96.txt
  fastlane/metadata/android/id/changelogs/91.txt
  fastlane/metadata/android/id/changelogs/96.txt
  fastlane/metadata/android/it-IT/changelogs/96.txt
  fastlane/metadata/android/iw-IL/changelogs/91.txt
  fastlane/metadata/android/iw-IL/changelogs/96.txt
  fastlane/metadata/android/ja-JP/changelogs/91.txt
  fastlane/metadata/android/ja-JP/changelogs/96.txt
  fastlane/metadata/android/ko-KR/changelogs/91.txt
  fastlane/metadata/android/ko-KR/changelogs/96.txt
  fastlane/metadata/android/nl-NL/changelogs/91.txt
  fastlane/metadata/android/nl-NL/changelogs/96.txt
  fastlane/metadata/android/pt-BR/changelogs/91.txt
  fastlane/metadata/android/pt-BR/changelogs/96.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/91.txt
  fastlane/metadata/android/ru-RU/changelogs/96.txt
  fastlane/metadata/android/sv-SE/changelogs/91.txt
  fastlane/metadata/android/sv-SE/changelogs/96.txt
  fastlane/metadata/android/tr-TR/changelogs/91.txt
  fastlane/metadata/android/tr-TR/changelogs/96.txt
  fastlane/metadata/android/zh-CN/changelogs/91.txt
  fastlane/metadata/android/zh-CN/changelogs/96.txt
  fastlane/metadata/android/zh-TW/changelogs/91.txt
  fastlane/metadata/android/zh-TW/changelogs/96.txt
Labels: Releases

#1720 Update FluxC hash to latest tag for release
  build.gradle
Labels: Releases

#1722 Merge 3.3 into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values/strings.xml
Labels: Releases

#1724 Issue/1705 current day order
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
Labels: Hotfix, Order List

#1727 Check for invalid image index
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
Labels: Product Details

#1723 Added support for pagination when fetching product variations
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/OnLoadMoreListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsViewModel.kt
  WooCommerce/src/main/res/layout/fragment_product_variants.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductVariantsViewModelTest.kt
  build.gradle
Labels: Product Details

#1737 issue/1736-lateinit-exception-order-list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Order List

#1735 issue/1709-remember-last-selected-tab-take2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Dashboard

#1742 Hotfix: Fix UninitializedPropertyAccessException for ordersAdapter
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Hotfix, Order List

#1748 Issue/1747 remove config changes
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsWIPNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCPromoDialog.kt
Labels: Architecture

#1725 Feature/edit product description master
  WooCommerce/build.gradle
  WooCommerce/proguard-rules.pro
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CustomProgressDialog.kt
  WooCommerce/src/main/res/layout/fragment_aztec_editor.xml
  WooCommerce/src/main/res/layout/product_property_view_vert.xml
  WooCommerce/src/main/res/layout/view_progress_dialog.xml
  WooCommerce/src/main/res/menu/menu_done.xml
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  build.gradle
  libs/login/WordPressLoginFlow/build.gradle
Labels: Product Details, Tracks Events

#1753 issue/1749-my-store-leak
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopEarnersView.kt
Labels: Store Stats, [Type] Bug

#1746 Dark Mode - Step 1 - Base theme and style configurations
  WooCommerce/build.gradle
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/SupportHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/UIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderTrackingProviderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/color/color_on_primary_surface_emphasis_disabled.xml
  WooCommerce/src/main/res/color/color_on_primary_surface_emphasis_high.xml
  WooCommerce/src/main/res/color/color_on_primary_surface_emphasis_medium.xml
  WooCommerce/src/main/res/color/color_on_surface_emphasis_disabled.xml
  WooCommerce/src/main/res/color/color_on_surface_emphasis_high.xml
  WooCommerce/src/main/res/color/color_on_surface_emphasis_medium.xml
  WooCommerce/src/main/res/font/roboto_light.xml
  WooCommerce/src/main/res/layout/view_toolbar.xml
  WooCommerce/src/main/res/values-night/themes.xml
  WooCommerce/src/main/res/values/alphas.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/colors_old.xml
  WooCommerce/src/main/res/values/elevations.xml
  WooCommerce/src/main/res/values/preloaded_fonts.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/type.xml
Labels: Style

#1754 Issue/1732 empty product variations
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ActionableEmptyView.kt
  WooCommerce/src/main/res/drawable/ic_empty_variations.xml
  WooCommerce/src/main/res/layout/fragment_product_variants.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductVariantsViewModelTest.kt
Labels: Product Details

#1756 Added logic to fetch the correct SiteModel from the local db for the incoming url
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerPresenter.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/util/SiteUtils.java
Labels: Login, [Type] Bug

#1762 Woo/ux audit changes
  WooCommerce/src/main/res/drawable/ic_add_purple.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_add_outline_purple.xml
  WooCommerce/src/main/res/layout/order_detail_note_list.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Order Details

#1755 Dark Mode: Settings Option
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/AppThemeUtils.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/layout/view_toolbar.xml
  WooCommerce/src/main/res/values-night/themes.xml
  WooCommerce/src/main/res/values-v29/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: App Settings

#1760 Issue/1752 consistent discard dialogs
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dialog/CustomDiscardDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Order Details, Product Details

#1783 Verify site exists before accessing it to prevent a crash
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
Labels: Hotfix, Priority: High

#1784 Hotfix: NPE exception
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
Labels: Hotfix, Login, Priority: High
