Repository woocommerce/woocommerce-android, pull requests merged in 2019-11, with the labels that each got.

#1494 Feature/product image chooser
  .idea/codeStyles/Project.xml
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/AppComponentDebug.kt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/JobServiceIds.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/FCMRegistrationIntentService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/tools/ProductImageMap.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/xml/provider_paths.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  build.gradle
Labels: Product Details

#1501 Feature/product image capture
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1513 offline handling for new order list management
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderFetcher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  build.gradle
Labels: Order List

#1526 Issue/1461 add order shiping method
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShippingMethodNoticeCard.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_notice.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/order_detail_customer_info.xml
  WooCommerce/src/main/res/layout/order_detail_shipping_warning.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Order Details, [Type] Enhancement

#1527 Merge 2.9 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/82.txt
  fastlane/metadata/android/ar/changelogs/86.txt
  fastlane/metadata/android/de-DE/changelogs/82.txt
  fastlane/metadata/android/de-DE/changelogs/86.txt
  fastlane/metadata/android/es-ES/changelogs/82.txt
  fastlane/metadata/android/es-ES/changelogs/86.txt
  fastlane/metadata/android/fr-FR/changelogs/82.txt
  fastlane/metadata/android/fr-FR/changelogs/86.txt
  fastlane/metadata/android/id/changelogs/82.txt
  fastlane/metadata/android/id/changelogs/86.txt
  fastlane/metadata/android/it-IT/changelogs/82.txt
  fastlane/metadata/android/it-IT/changelogs/86.txt
  fastlane/metadata/android/iw-IL/changelogs/82.txt
  fastlane/metadata/android/iw-IL/changelogs/86.txt
  fastlane/metadata/android/ja-JP/changelogs/82.txt
  fastlane/metadata/android/ja-JP/changelogs/86.txt
  fastlane/metadata/android/ko-KR/changelogs/82.txt
  fastlane/metadata/android/ko-KR/changelogs/86.txt
  fastlane/metadata/android/nl-NL/changelogs/82.txt
  fastlane/metadata/android/nl-NL/changelogs/86.txt
  fastlane/metadata/android/pt-BR/changelogs/82.txt
  fastlane/metadata/android/pt-BR/changelogs/86.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/82.txt
  fastlane/metadata/android/ru-RU/changelogs/86.txt
  fastlane/metadata/android/sv-SE/changelogs/82.txt
  fastlane/metadata/android/sv-SE/changelogs/86.txt
  fastlane/metadata/android/tr-TR/changelogs/82.txt
  fastlane/metadata/android/tr-TR/changelogs/86.txt
  fastlane/metadata/android/zh-CN/changelogs/82.txt
  fastlane/metadata/android/zh-CN/changelogs/86.txt
  fastlane/metadata/android/zh-TW/changelogs/82.txt
  fastlane/metadata/android/zh-TW/changelogs/86.txt
Labels: Releases

#1528 Merge 2.9 into master
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/82.txt
  fastlane/metadata/android/ar/changelogs/86.txt
  fastlane/metadata/android/de-DE/changelogs/82.txt
  fastlane/metadata/android/de-DE/changelogs/86.txt
  fastlane/metadata/android/es-ES/changelogs/82.txt
  fastlane/metadata/android/es-ES/changelogs/86.txt
  fastlane/metadata/android/fr-FR/changelogs/82.txt
  fastlane/metadata/android/fr-FR/changelogs/86.txt
  fastlane/metadata/android/id/changelogs/82.txt
  fastlane/metadata/android/id/changelogs/86.txt
  fastlane/metadata/android/it-IT/changelogs/82.txt
  fastlane/metadata/android/it-IT/changelogs/86.txt
  fastlane/metadata/android/iw-IL/changelogs/82.txt
  fastlane/metadata/android/iw-IL/changelogs/86.txt
  fastlane/metadata/android/ja-JP/changelogs/82.txt
  fastlane/metadata/android/ja-JP/changelogs/86.txt
  fastlane/metadata/android/ko-KR/changelogs/82.txt
  fastlane/metadata/android/ko-KR/changelogs/86.txt
  fastlane/metadata/android/nl-NL/changelogs/82.txt
  fastlane/metadata/android/nl-NL/changelogs/86.txt
  fastlane/metadata/android/pt-BR/changelogs/82.txt
  fastlane/metadata/android/pt-BR/changelogs/86.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/82.txt
  fastlane/metadata/android/ru-RU/changelogs/86.txt
  fastlane/metadata/android/sv-SE/changelogs/82.txt
  fastlane/metadata/android/sv-SE/changelogs/86.txt
  fastlane/metadata/android/tr-TR/changelogs/82.txt
  fastlane/metadata/android/tr-TR/changelogs/86.txt
  fastlane/metadata/android/zh-CN/changelogs/82.txt
  fastlane/metadata/android/zh-CN/changelogs/86.txt
  fastlane/metadata/android/zh-TW/changelogs/82.txt
  fastlane/metadata/android/zh-TW/changelogs/86.txt
Labels: Releases

#1521 SavedState Step 2 - Refunds
  WooCommerce/build.gradle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/AppComponentTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/MockedActivityBindingModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/MockedViewModelAssistedFactoriesModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/MockedViewModelModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/MockedOrderDetailModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/MockedOrderListModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailFragmentModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailViewModel.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/reviews/MockedReviewDetailFragmentModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/reviews/MockedReviewDetailModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/reviews/MockedReviewDetailViewModel.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/reviews/MockedReviewListFragmentModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/reviews/MockedReviewListModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/reviews/MockedReviewListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelAssistedFactoriesModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelAssistedFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/PaymentGateway.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByAmountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/LiveDataDelegate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/ScopedViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/utility/SingleMediatorLiveEvent.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModelTest.kt
Labels: Architecture

#1529 Feature/product image grid
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/drawable/button_bordered_bg.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_camera.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_image.xml
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_images.xml
  WooCommerce/src/main/res/layout/image_gallery_item.xml
  WooCommerce/src/main/res/layout/image_source_popup.xml
  WooCommerce/src/main/res/menu/menu_image_source.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#1515 Issue/1482 step3 handle discovery error changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginDiscoveryErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackViewModel.kt
  WooCommerce/src/main/res/drawable/ic_folder_open.xml
  WooCommerce/src/main/res/drawable/ic_refresh_grey.xml
  WooCommerce/src/main/res/drawable/ic_wordpress.xml
  WooCommerce/src/main/res/layout/fragment_login_discovery_error.xml
  WooCommerce/src/main/res/values/link_strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseDiscoveryFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, [Type] Enhancement

#1530 Order List Management Step 4: Empty states
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListEmptyUiState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StringUtils.kt
  build.gradle
Labels: Order List

#1532 Feature/product image optimization
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1518 Issue/1482 step4 track events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginDiscoveryErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptRepository.kt
Labels: Login, Tracks Events

#1536 Merge 3.0 into master
  .idea/codeStyles/Project.xml
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/PaymentGateway.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/FCMRegistrationIntentService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailRefundListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShippingMethodNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/SingleLiveEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyEditText.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_notice.xml
  WooCommerce/src/main/res/drawable/product_detail_gradient_scrim.xml
  WooCommerce/src/main/res/layout/activity_image_viewer.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/fragment_refund_detail.xml
  WooCommerce/src/main/res/layout/fragment_refund_summary.xml
  WooCommerce/src/main/res/layout/image_gallery_item.xml
  WooCommerce/src/main/res/layout/order_detail_customer_info.xml
  WooCommerce/src/main/res/layout/order_detail_shipping_warning.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListPresenterTest.kt
  build.gradle
Labels: Releases

#1535 Merge 3.0 into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
Labels: Releases

#1537 Feature/product image remove
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/AppComponentDebug.kt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/JobServiceIds.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaUploadWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesServiceModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesServiceWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/tools/ProductImageMap.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_trash.xml
  WooCommerce/src/main/res/layout/image_gallery_item.xml
  WooCommerce/src/main/res/menu/menu_trash.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#1538 Order List Management Step 5: Fix tests
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/MockedViewModelModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/helpers/CoroutineTestUtils.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/helpers/LiveDataHelper.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/main/MainActivityTestRule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/MockedOrderListModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/OrderListItemTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/OrderListNavigationTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/WcOrderTestUtils.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/list/MockedOrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListEmptyUiState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/res/layout/skeleton_order_list_item_auto.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/LiveDataUtils.kt
Labels: Order List

#1541 Feature/read only product variants
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_product_variants.xml
  WooCommerce/src/main/res/layout/product_property_view_vert.xml
  WooCommerce/src/main/res/layout/product_variant_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductVariantsViewModelTest.kt
  build.gradle
Labels: Product Details

#1544 Issue/1534 product detail upload progress
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/values/dimens.xml
Labels: Product Details

#1542 Feature/sign in with self hosted credentials master
  RELEASE-NOTES.txt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/AppComponentDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginDiscoveryErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginJetpackRequiredFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/RequestResult.kt
  WooCommerce/src/main/res/drawable/ic_folder_open.xml
  WooCommerce/src/main/res/drawable/ic_refresh_grey.xml
  WooCommerce/src/main/res/drawable/ic_wordpress.xml
  WooCommerce/src/main/res/layout/fragment_login_discovery_error.xml
  WooCommerce/src/main/res/layout/fragment_login_no_jetpack.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values/link_strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseDiscoveryFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/util/SiteUtils.java
  libs/login/WordPressLoginFlow/src/main/res/layout/login_username_password_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, [Type] Enhancement

#1522 SavedState Step 3 - Product List
  .idea/codeStyles/Project.xml
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductDetailNavigationTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/MiscExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductBackorderStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByAmountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/LiveDataDelegate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/ScopedViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyEditText.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: Architecture

#1523 SavedState Step 4 - Product Detail
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Architecture

#1552 Merge in latest changes from login library
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
  libs/login/gradle/wrapper/gradle-wrapper.properties
Labels: Login

#1551 Issue/1549 delete product image from db
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  build.gradle
Labels: Product Details

#1560 Issue/1556 product image tracks events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
Labels: Product Details, Tracks Events

#1524 SavedState Step 5 - Reviews
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductReview.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductReviewProduct.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/UIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ProductReviewModerationRequest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductVariantsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModelTest.kt
Labels: Architecture

#1561 Issue/1557 image service upload only
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesServiceWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
Labels: Product Details

#1525 SavedState Step 6 - Refund Details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailViewModel.kt
Labels: Architecture

#1566 Issue/1563 hide inventory variable products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: Product Details

#1575 Hotfix/3.1-v4-stats-rename-endpoint-fix
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Hotfix, Priority: High, Store Stats, [Type] Bug

#1573 Merge 3.1 into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
  fastlane/Fastfile
Labels: Releases

#1571 Issue/1567 multiple image uploads
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesServiceWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/layout/fragment_product_images.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1589 Bug fix: Lost Password link on self-hosted credentials screen doesn't work
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, [Type] Bug

#1553 Spike: Aztec integration without media support
  .idea/codeStyles/Project.xml
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_aztec_editor.xml
  WooCommerce/src/main/res/layout/product_property_view_vert.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  build.gradle
Labels: Product Details

#1569 Merge 3.0 into master
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/86.txt
  fastlane/metadata/android/ar/changelogs/88.txt
  fastlane/metadata/android/de-DE/changelogs/86.txt
  fastlane/metadata/android/de-DE/changelogs/88.txt
  fastlane/metadata/android/es-ES/changelogs/86.txt
  fastlane/metadata/android/es-ES/changelogs/88.txt
  fastlane/metadata/android/fr-FR/changelogs/86.txt
  fastlane/metadata/android/fr-FR/changelogs/88.txt
  fastlane/metadata/android/id/changelogs/86.txt
  fastlane/metadata/android/id/changelogs/88.txt
  fastlane/metadata/android/it-IT/changelogs/86.txt
  fastlane/metadata/android/it-IT/changelogs/88.txt
  fastlane/metadata/android/iw-IL/changelogs/86.txt
  fastlane/metadata/android/iw-IL/changelogs/88.txt
  fastlane/metadata/android/ja-JP/changelogs/86.txt
  fastlane/metadata/android/ja-JP/changelogs/88.txt
  fastlane/metadata/android/ko-KR/changelogs/86.txt
  fastlane/metadata/android/ko-KR/changelogs/88.txt
  fastlane/metadata/android/nl-NL/changelogs/86.txt
  fastlane/metadata/android/nl-NL/changelogs/88.txt
  fastlane/metadata/android/pt-BR/changelogs/86.txt
  fastlane/metadata/android/pt-BR/changelogs/88.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/86.txt
  fastlane/metadata/android/ru-RU/changelogs/88.txt
  fastlane/metadata/android/sv-SE/changelogs/86.txt
  fastlane/metadata/android/sv-SE/changelogs/88.txt
  fastlane/metadata/android/tr-TR/changelogs/86.txt
  fastlane/metadata/android/tr-TR/changelogs/88.txt
  fastlane/metadata/android/zh-CN/changelogs/86.txt
  fastlane/metadata/android/zh-CN/changelogs/88.txt
  fastlane/metadata/android/zh-TW/changelogs/86.txt
  fastlane/metadata/android/zh-TW/changelogs/88.txt
Labels: Releases

#1590 Issue/1568 image upload notification
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesNotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1596 Ensure popup works on Lollipop
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
Labels: Product Details

#1591 Issue/1577 image upload placeholder previews
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesNotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/layout/image_gallery_item.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1593 Merge 3.1 into master
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Releases

#1592 Merge 3.1 into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Releases

#1603 Add option in beta settings to switch on/off products
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product List, Tracks Events

#1604 Add a WIP banner to product list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsWIPNoticeCard.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_tools.xml
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/products_wip_notice.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
Labels: Product List, [Status] Needs Design Review

#1609 Extract lists to separate LiveData properties
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModelTest.kt
Labels: Product List, Product Review List

#1608 Issue/1607 product add image icon
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_add_image.xml
  WooCommerce/src/main/res/drawable/ripple_grey_framed.xml
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_images.xml
  WooCommerce/src/main/res/layout/image_gallery_item.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1605 Added option to display existing images in Aztec
  WooCommerce/build.gradle
  WooCommerce/proguard-rules.pro
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooCommerceGlideModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  build.gradle
  libs/login/WordPressLoginFlow/build.gradle
Labels: Product Details
