Repository woocommerce/woocommerce-android, pull requests merged in 2019-09, with the labels that each got.

#1402 Simple Product Reviews List
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NotificationModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductReview.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductReviewProduct.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/BottomNavigationPosition.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/notifications/NotifsListContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/notifications/NotifsListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/notifications/NotifsListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/notifications/NotifsListPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StringUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/main/res/layout/fragment_reviews_list.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Reviews

#1403 Product Reviews: Mark all as read
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/res/layout/action_menu_progress.xml
  WooCommerce/src/main/res/menu/menu_reviews_list_fragment.xml
Labels: Product Review Details, Product Review List, [Status] Not Ready for Merge

#1408 Issue/1407 product list bottom nav labels
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
Labels: Product List

#1396 Stats improvements - Step 5: Handle corner cases design review
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCToggleSingleOptionView.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/layout/my_store_stats_availability_notice.xml
  WooCommerce/src/main/res/layout/my_store_stats_reverted_notice.xml
  WooCommerce/src/main/res/layout/view_toggle_single_option.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/styles.xml
Labels: Store Stats, [Status] Needs Design Review

#1409 Product Reviews: Repository cleanup and list error handling
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductReview.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ActionStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/RequestResult.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CoroutineHelpers.kt
Labels: Product Review List

#1394 issue/1393-v4-stats-timezone-fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreDateRangeView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  build.gradle
Labels: Store Stats, [Type] Bug

#1413 Merge Release/2.6 into Master
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/73.txt
  fastlane/metadata/android/ar/changelogs/75.txt
  fastlane/metadata/android/de-DE/changelogs/73.txt
  fastlane/metadata/android/de-DE/changelogs/75.txt
  fastlane/metadata/android/es-ES/changelogs/73.txt
  fastlane/metadata/android/es-ES/changelogs/75.txt
  fastlane/metadata/android/fr-FR/changelogs/73.txt
  fastlane/metadata/android/fr-FR/changelogs/75.txt
  fastlane/metadata/android/id/changelogs/73.txt
  fastlane/metadata/android/id/changelogs/75.txt
  fastlane/metadata/android/it-IT/changelogs/73.txt
  fastlane/metadata/android/it-IT/changelogs/75.txt
  fastlane/metadata/android/iw-IL/changelogs/73.txt
  fastlane/metadata/android/iw-IL/changelogs/75.txt
  fastlane/metadata/android/ja-JP/changelogs/73.txt
  fastlane/metadata/android/ko-KR/changelogs/73.txt
  fastlane/metadata/android/ko-KR/changelogs/75.txt
  fastlane/metadata/android/nl-NL/changelogs/73.txt
  fastlane/metadata/android/nl-NL/changelogs/75.txt
  fastlane/metadata/android/pt-BR/changelogs/73.txt
  fastlane/metadata/android/pt-BR/changelogs/75.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/73.txt
  fastlane/metadata/android/ru-RU/changelogs/75.txt
  fastlane/metadata/android/sv-SE/changelogs/73.txt
  fastlane/metadata/android/sv-SE/changelogs/75.txt
  fastlane/metadata/android/tr-TR/changelogs/73.txt
  fastlane/metadata/android/tr-TR/changelogs/75.txt
  fastlane/metadata/android/zh-CN/changelogs/73.txt
  fastlane/metadata/android/zh-CN/changelogs/75.txt
  fastlane/metadata/android/zh-TW/changelogs/73.txt
  fastlane/metadata/android/zh-TW/changelogs/75.txt
Labels: Releases

#1404 Order List redesign - Step 1: Added TabLayout to the order list
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/MockedActivityBindingModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/MockedOrderListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListView.kt
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/order_list_view.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
Labels: Order List, [Status] Needs Design Review

#1414 Merge release 2.6 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/73.txt
  fastlane/metadata/android/ar/changelogs/75.txt
  fastlane/metadata/android/de-DE/changelogs/73.txt
  fastlane/metadata/android/de-DE/changelogs/75.txt
  fastlane/metadata/android/es-ES/changelogs/73.txt
  fastlane/metadata/android/es-ES/changelogs/75.txt
  fastlane/metadata/android/fr-FR/changelogs/73.txt
  fastlane/metadata/android/fr-FR/changelogs/75.txt
  fastlane/metadata/android/id/changelogs/73.txt
  fastlane/metadata/android/id/changelogs/75.txt
  fastlane/metadata/android/it-IT/changelogs/73.txt
  fastlane/metadata/android/it-IT/changelogs/75.txt
  fastlane/metadata/android/iw-IL/changelogs/73.txt
  fastlane/metadata/android/iw-IL/changelogs/75.txt
  fastlane/metadata/android/ja-JP/changelogs/73.txt
  fastlane/metadata/android/ko-KR/changelogs/73.txt
  fastlane/metadata/android/ko-KR/changelogs/75.txt
  fastlane/metadata/android/nl-NL/changelogs/73.txt
  fastlane/metadata/android/nl-NL/changelogs/75.txt
  fastlane/metadata/android/pt-BR/changelogs/73.txt
  fastlane/metadata/android/pt-BR/changelogs/75.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/73.txt
  fastlane/metadata/android/ru-RU/changelogs/75.txt
  fastlane/metadata/android/sv-SE/changelogs/73.txt
  fastlane/metadata/android/sv-SE/changelogs/75.txt
  fastlane/metadata/android/tr-TR/changelogs/73.txt
  fastlane/metadata/android/tr-TR/changelogs/75.txt
  fastlane/metadata/android/zh-CN/changelogs/73.txt
  fastlane/metadata/android/zh-CN/changelogs/75.txt
  fastlane/metadata/android/zh-TW/changelogs/73.txt
  fastlane/metadata/android/zh-TW/changelogs/75.txt
Labels: Releases

#1412 All Product Reviews: Open product review detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/notifications/ReviewDetailContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/notifications/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/notifications/ReviewDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/res/layout/fragment_review_detail.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: Product Review Details, Product Review List

#1401 Issue/1383 product list search
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/res/menu/menu_product_list_fragment.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: Product List

#1410 Manual refund flow
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ActivityExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BottomNavigationViewExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/CollectionUtilsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ViewExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/UIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/notifications/NotifsListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderRefundActionListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByAmountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/ResourceProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyEditText.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/layout/fragment_issue_refund.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_order_fulfillment.xml
  WooCommerce/src/main/res/layout/fragment_order_product_list.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_amount.xml
  WooCommerce/src/main/res/layout/fragment_refund_summary.xml
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/layout/order_detail_product_list.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_refunds.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  build.gradle
Labels: Refunds

#1427 issue/1426-missing-cursor-searchview
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/drawable/searchview_cursor.xml
  WooCommerce/src/main/res/values/styles.xml
Labels: Order List

#1436 Merge release 2.7 into develop
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
Labels: Releases
