Repository woocommerce/woocommerce-android, pull requests merged in 2020-03, with the labels that each got.

#2019 Dark Mode: Issue Refund and Refund Detail screens
  WooCommerce/src/main/res/drawable/refund_product_item_qty_bg.xml
  WooCommerce/src/main/res/layout/fragment_issue_refund.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_items.xml
  WooCommerce/src/main/res/layout/fragment_refund_detail.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/layout/refund_by_items_shipping.xml
  WooCommerce/src/main/res/layout/refunds_detail_product_list_item.xml
  WooCommerce/src/main/res/layout/refunds_product_list_item.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
Labels: Refunds, Style

#2025 Edits products - documentation, code clean up
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NumberExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductBackorderStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#2028 Merge 3.7 final into develop
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
  fastlane/metadata/android/ar/changelogs/112.txt
  fastlane/metadata/android/de-DE/changelogs/112.txt
  fastlane/metadata/android/es-ES/changelogs/109.txt
  fastlane/metadata/android/es-ES/changelogs/112.txt
  fastlane/metadata/android/fr-FR/changelogs/109.txt
  fastlane/metadata/android/fr-FR/changelogs/112.txt
  fastlane/metadata/android/id/changelogs/112.txt
  fastlane/metadata/android/it-IT/changelogs/112.txt
  fastlane/metadata/android/iw-IL/changelogs/112.txt
  fastlane/metadata/android/ja-JP/changelogs/112.txt
  fastlane/metadata/android/ko-KR/changelogs/112.txt
  fastlane/metadata/android/nl-NL/changelogs/112.txt
  fastlane/metadata/android/pt-BR/changelogs/109.txt
  fastlane/metadata/android/pt-BR/changelogs/112.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/112.txt
  fastlane/metadata/android/sv-SE/changelogs/112.txt
  fastlane/metadata/android/tr-TR/changelogs/112.txt
  fastlane/metadata/android/zh-CN/changelogs/112.txt
  fastlane/metadata/android/zh-TW/changelogs/112.txt
Labels: Releases

#2030 Merge 3.7 beta2, version info, metadata into master
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  fastlane/metadata/android/ar/changelogs/112.txt
  fastlane/metadata/android/de-DE/changelogs/112.txt
  fastlane/metadata/android/es-ES/changelogs/109.txt
  fastlane/metadata/android/es-ES/changelogs/112.txt
  fastlane/metadata/android/fr-FR/changelogs/109.txt
  fastlane/metadata/android/fr-FR/changelogs/112.txt
  fastlane/metadata/android/id/changelogs/112.txt
  fastlane/metadata/android/it-IT/changelogs/112.txt
  fastlane/metadata/android/iw-IL/changelogs/112.txt
  fastlane/metadata/android/ja-JP/changelogs/112.txt
  fastlane/metadata/android/ko-KR/changelogs/112.txt
  fastlane/metadata/android/nl-NL/changelogs/112.txt
  fastlane/metadata/android/pt-BR/changelogs/109.txt
  fastlane/metadata/android/pt-BR/changelogs/112.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/112.txt
  fastlane/metadata/android/sv-SE/changelogs/112.txt
  fastlane/metadata/android/tr-TR/changelogs/112.txt
  fastlane/metadata/android/zh-CN/changelogs/112.txt
  fastlane/metadata/android/zh-TW/changelogs/112.txt
Labels: Releases

#2029 Update Nokogiri to fix a warning
  Gemfile.lock
Labels: Tooling

#2024 Dark Mode: Colored Button Styling
  WooCommerce/src/main/res/color-night/button_colored_bg_selector.xml
  WooCommerce/src/main/res/color/button_colored_bg_selector.xml
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/shape.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Style

#2026 Issue/1867 edit products events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
Labels: Product Details, Tracks Events

#2038 Merge 3.8 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
Labels: Releases

#2039 Merge 3.8 code freeze into master
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NumberExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductBackorderStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTaxStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooPermissionUtils.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  fastlane/Fastfile
Labels: Releases

#2037 Fix item title wrapping in reunds
  WooCommerce/src/main/res/layout/refunds_product_list_item.xml
Labels: Low hanging fruit, Refunds

#1989 Issue/1955 negative revenue stats
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/res/values/dimens.xml
Labels: Store Stats

#2060 Merge 3.8 release notes into master
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#2061 issue/2052-virtual-product-anr-v3.8
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductDetailNavigationTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: [Status] Needs Design Review, [Type] Crash

#2062 Added logic to display product shipping class name instead of slug
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
Labels: Hotfix, Product Details, [Type] Bug

#2063 Added logic to show/hide stock status if manage stock is disabled/ena…
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: Hotfix, Product Details, [Type] Bug

#2064 Issue/2057 empty sku fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
Labels: Hotfix, Product Details, [Type] Bug

#2067 Added logic to set a min and max date when scheduling a sale
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
Labels: Hotfix, Product Details, [Type] Bug

#2072 Updated work in progress banner in products screen
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#2075 issue/2054-selected-product-price-field
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyEditText.kt
Labels: Product Details

#2065 Issue/2040 chart negative revenue design fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsBarChart.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/RoundedBarChartRenderer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/res/layout/dashboard_stats.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/dimens.xml
Labels: Store Stats

#2076 issue/2074-multi-click-event-crash-fix
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopEarnersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
Labels: Product List, [Type] Crash

#2084 Added logic to display stock status for all products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
Labels: Product Details

#2086 issue/2085-product-list-variants
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product List

#2042 Hack week/stats widget - Step 1: Display current day v4 stats, if available, for the current site
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStorePresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/WidgetService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/WidgetUpdater.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/stats/StatsTodayWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/stats/StatsWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/stats/TodayWidgetListItem.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/stats/TodayWidgetListProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/stats/TodayWidgetListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/stats/TodayWidgetListViewRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/widgets/stats/TodayWidgetUpdater.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WidgetUtils.kt
  WooCommerce/src/main/res/drawable-hdpi/stats_today_widget_preview.png
  WooCommerce/src/main/res/drawable-xhdpi/stats_today_widget_preview.png
  WooCommerce/src/main/res/drawable-xxhdpi/stats_today_widget_preview.png
  WooCommerce/src/main/res/drawable/bg_rectangle_white_radius_6dp.xml
  WooCommerce/src/main/res/layout/stats_widget_error.xml
  WooCommerce/src/main/res/layout/stats_widget_header.xml
  WooCommerce/src/main/res/layout/stats_widget_list.xml
  WooCommerce/src/main/res/layout/stats_widget_list_item.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/integers.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/xml/stats_today_widget_info.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/DashboardPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStorePresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/widgets/TodayWidgetListViewModelTest.kt
Labels: Hack Week, Store Stats

#2083 Added logic to display UP icon if product opened from products TAB
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Product Details

#2081 Issue/2034 product images shared viewmodel
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsBarChart.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/RoundedBarChartRenderer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopEarnersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/layout/dashboard_stats.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#2105 Merge 3.8 final into develop
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductDetailNavigationTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  fastlane/metadata/android/ar/changelogs/112.txt
  fastlane/metadata/android/ar/changelogs/115.txt
  fastlane/metadata/android/de-DE/changelogs/112.txt
  fastlane/metadata/android/de-DE/changelogs/115.txt
  fastlane/metadata/android/es-ES/changelogs/112.txt
  fastlane/metadata/android/es-ES/changelogs/115.txt
  fastlane/metadata/android/fr-FR/changelogs/112.txt
  fastlane/metadata/android/fr-FR/changelogs/115.txt
  fastlane/metadata/android/id/changelogs/112.txt
  fastlane/metadata/android/id/changelogs/115.txt
  fastlane/metadata/android/it-IT/changelogs/112.txt
  fastlane/metadata/android/it-IT/changelogs/115.txt
  fastlane/metadata/android/iw-IL/changelogs/112.txt
  fastlane/metadata/android/iw-IL/changelogs/115.txt
  fastlane/metadata/android/ja-JP/changelogs/112.txt
  fastlane/metadata/android/ja-JP/changelogs/115.txt
  fastlane/metadata/android/ko-KR/changelogs/112.txt
  fastlane/metadata/android/ko-KR/changelogs/115.txt
  fastlane/metadata/android/nl-NL/changelogs/112.txt
  fastlane/metadata/android/nl-NL/changelogs/115.txt
  fastlane/metadata/android/pt-BR/changelogs/112.txt
  fastlane/metadata/android/pt-BR/changelogs/115.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/112.txt
  fastlane/metadata/android/ru-RU/changelogs/115.txt
  fastlane/metadata/android/sv-SE/changelogs/112.txt
  fastlane/metadata/android/sv-SE/changelogs/115.txt
  fastlane/metadata/android/tr-TR/changelogs/112.txt
  fastlane/metadata/android/tr-TR/changelogs/115.txt
  fastlane/metadata/android/zh-CN/changelogs/112.txt
  fastlane/metadata/android/zh-CN/changelogs/115.txt
  fastlane/metadata/android/zh-TW/changelogs/112.txt
  fastlane/metadata/android/zh-TW/changelogs/115.txt
Labels: Releases

#2106 Merge 3.8 final into master
  WooCommerce/build.gradle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductDetailNavigationTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  fastlane/metadata/android/ar/changelogs/112.txt
  fastlane/metadata/android/ar/changelogs/115.txt
  fastlane/metadata/android/de-DE/changelogs/112.txt
  fastlane/metadata/android/de-DE/changelogs/115.txt
  fastlane/metadata/android/es-ES/changelogs/112.txt
  fastlane/metadata/android/es-ES/changelogs/115.txt
  fastlane/metadata/android/fr-FR/changelogs/112.txt
  fastlane/metadata/android/fr-FR/changelogs/115.txt
  fastlane/metadata/android/id/changelogs/112.txt
  fastlane/metadata/android/id/changelogs/115.txt
  fastlane/metadata/android/it-IT/changelogs/112.txt
  fastlane/metadata/android/it-IT/changelogs/115.txt
  fastlane/metadata/android/iw-IL/changelogs/112.txt
  fastlane/metadata/android/iw-IL/changelogs/115.txt
  fastlane/metadata/android/ja-JP/changelogs/112.txt
  fastlane/metadata/android/ja-JP/changelogs/115.txt
  fastlane/metadata/android/ko-KR/changelogs/112.txt
  fastlane/metadata/android/ko-KR/changelogs/115.txt
  fastlane/metadata/android/nl-NL/changelogs/112.txt
  fastlane/metadata/android/nl-NL/changelogs/115.txt
  fastlane/metadata/android/pt-BR/changelogs/112.txt
  fastlane/metadata/android/pt-BR/changelogs/115.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/112.txt
  fastlane/metadata/android/ru-RU/changelogs/115.txt
  fastlane/metadata/android/sv-SE/changelogs/112.txt
  fastlane/metadata/android/sv-SE/changelogs/115.txt
  fastlane/metadata/android/tr-TR/changelogs/112.txt
  fastlane/metadata/android/tr-TR/changelogs/115.txt
  fastlane/metadata/android/zh-CN/changelogs/112.txt
  fastlane/metadata/android/zh-CN/changelogs/115.txt
  fastlane/metadata/android/zh-TW/changelogs/112.txt
  fastlane/metadata/android/zh-TW/changelogs/115.txt
Labels: Releases

#2109 Merge 3.9 code freeze into master
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsBarChart.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/RoundedBarChartRenderer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopEarnersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyEditText.kt
  WooCommerce/src/main/res/layout/dashboard_stats.xml
  WooCommerce/src/main/res/layout/fragment_product_inventory.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/layout/refunds_product_list_item.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Releases

#2108 Merge 3.9 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  build.gradle
Labels: Releases

#2021 Dark Mode: Refund Summary Screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/res/layout/fragment_refund_summary.xml
  WooCommerce/src/main/res/layout/order_detail_refunds_info.xml
  WooCommerce/src/main/res/values/integers.xml
Labels: Refunds, Style

#2094 Issue/2033 product images update
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  build.gradle
Labels: Product Details

#2103 Remove Refunded status from the picker
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusSelectorDialog.kt
Labels: Order Details

#2104 Added logic to schedule sale indefinitely
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
Labels: Product Details

#2111 Added logic to display sale price even if it is zero
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: Product Details

#2100 Products release m1 design fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/res/layout/product_property_cardview.xml
  WooCommerce/src/main/res/layout/product_property_link_view.xml
Labels: Product Details

#2090 issue/2035-review-shimmer-empty-view-dark-mode
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
Labels: Product Review List

#2112 Fixed failing review list tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModelTest.kt
Labels: Product Review List

#2114 Dark Mode: Splash Screen
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/res/drawable-v23/bg_splash.xml
  WooCommerce/src/main/res/drawable-v23/img_woo_bubble_white.xml
  WooCommerce/src/main/res/drawable/bg_splash.xml
  WooCommerce/src/main/res/drawable/img_woo_bubble_white.png
  WooCommerce/src/main/res/drawable/login_toolbar_icon.xml
  WooCommerce/src/main/res/layout/toolbar_login.xml
  WooCommerce/src/main/res/values-v23/themes.xml
  WooCommerce/src/main/res/values-v27/themes.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Style

#2115 Dark Mode: Rename list divider color resource
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/res/drawable/card_expander_bg.xml
  WooCommerce/src/main/res/drawable/list_divider.xml
  WooCommerce/src/main/res/drawable/picture_frame.xml
  WooCommerce/src/main/res/layout/skeleton_notif_detail.xml
  WooCommerce/src/main/res/layout/skeleton_product_detail.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/styles.xml
Labels: Style

#2123 Crash fix: Init bottomNavView before setting navController listener
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Hotfix, [Type] Crash

#2119 Issue/2113 switch on products
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
Labels: Product Details

#2107 Issue/2093 product image delete r2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
Labels: Product Details

#2124 Order list: verify site exists before accessing it to prevent a crash
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListRepository.kt
Labels: Order List, [Type] Crash

#2134 Fixed crash when selecting a start date for sale without the end date
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
Labels: Hotfix, Product Details, [Type] Crash

#2125 Remove sale end button
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/Optional.kt
  WooCommerce/src/main/res/layout/fragment_product_pricing.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Status] Needs Design Review

#2137 Dark Mode: rename dimens resource file
  WooCommerce/src/main/res/values-sw600dp/dimens.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/dimens_old.xml
Labels: Tech Debt

#2127 Issue/2043 update stats banner
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsAvailabilityCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsRevertedNoticeCard.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_sync.xml
  WooCommerce/src/main/res/layout/my_store_stats_availability_notice.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Store Stats, [Status] Needs Design Review

#2140 issue/2139-show-bottom-nav-only-for-primary-fragments
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Architecture

#2138 Issue/2132 product settings toggle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#2141 Check for null products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
Labels: [Type] Crash

#2143 Merge 3.9-rc-2 into develop
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Releases

#2142 Merge 3.9 release notes into master
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
Labels: Releases

#2148 Fixed bug where the end date of sale was not displayed and incorrect sale dates were displayed in product detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
Labels: Product Details, [Type] Bug

#2151 Migrated View product link to options menu
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
Labels: Product Details

#2152 Removed the total orders section from product detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: Product Details

#2159 Crash: Use a thread-safe wrapper for the request set
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderFetcher.kt
Labels: Order List, [Type] Crash

#2160 Dark mode: fix bug with splash screen showing after switching themes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Style, [Type] Bug

#2162 Fixed crash when order note list adapter is null
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderDetailOrderNoteListView.kt
Labels: Order Details, [Type] Crash

#2150 Issue/2146 shipping class bug fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
Labels: Product Details, [Type] Bug

#2149 Fixed bug where discard dialog was displayed when default tax class was selected
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
Labels: Product Details, [Type] Bug

#2144 Issue/product image viewer r2 take2
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerUIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/res/layout/fragment_image_viewer.xml
  WooCommerce/src/main/res/layout/fragment_product_image_viewer.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details
