Repository woocommerce/woocommerce-android, pull requests merged in 2020-02, with the labels that each got.

#1876 Dark Mode: Fix AppBar TabLayout issues
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: [Type] Bug, [Type] Crash

#1882 Products release 1/1868 convert shipping class to fragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/res/layout/dialog_product_shipping_class_list.xml
  WooCommerce/src/main/res/layout/fragment_product_shipping_class_list.xml
  WooCommerce/src/main/res/layout/product_shipping_class_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: Product Details, [Status] Needs Design Review

#1889 Moved URL constant from order list to AppUrls.
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Order List

#1883 Create build folder when required
  fastlane/Fastfile
Labels: Tooling

#1888 issue/1881-androidx-browser-1.2.0
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ChromeCustomTabUtils.kt
Labels: Architecture

#1891 issue/1890-product-detail-entities
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: Product Details

#1887 Product release 1/shared viewmodel
  .idea/codeStyles/Project.xml
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductBackorderStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedSpinnerView.kt
  WooCommerce/src/main/res/layout/view_material_outlined_spinner.xml
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#1899 Dark mode: Remove cancel button from appearance settings
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
Labels: App Settings

#1904 Fix the new notification crash
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Hotfix, Notifications, Priority: High, [Type] Crash

#1907 Fix an arithmetics exception
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/RefundsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundProductListAdapter.kt
Labels: Hotfix, Refunds, [Type] Crash

#1911 Issue/1908 product list refresh
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: Product List

#1893 Dark mode: Review detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/res/color/toggle_button_text_color.xml
  WooCommerce/src/main/res/drawable/ic_product.xml
  WooCommerce/src/main/res/drawable/ic_user_circle_24dp.xml
  WooCommerce/src/main/res/layout/fragment_review_detail.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
Labels: [Status] Needs Design Review

#1896 Dark Mode: Badge Text styling
  WooCommerce/src/main/res/layout/order_badge_view.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Style

#1902 Products release 1/handle discard changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#1917 Updated material components to 1.1.0 release version
  WooCommerce/build.gradle
Labels: Architecture, Style

#1916 Issue/1790 product sale dates gmt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  build.gradle
Labels: Product Details

#1924 Merge 3.6 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
Labels: Releases

#1930 issue/1781-order-notes-class-cast-exception
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderNotesAdapter.kt
Labels: [Type] Crash

#1918 Dark Mode: Fix AppBar TabLayout issues - Take 2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: [Type] Bug

#1929 Issue/1928 woo log concurrent exception
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/WooLog.kt
Labels: App Settings

#1922 Dark Mode: Order Products Card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListView.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_order_product_list.xml
  WooCommerce/src/main/res/layout/order_detail_product_item.xml
  WooCommerce/src/main/res/layout/order_detail_product_list.xml
Labels: Order Details, Style

#1943 Merge 3.6 release notes into master
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#1923 Add support for uploading release builds
  fastlane/Fastfile
Labels: Releases, Tooling

#1942 Issue/1734 bottom nav native badging
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/res/drawable/badge_notifs.xml
  WooCommerce/src/main/res/drawable/badge_orders.xml
  WooCommerce/src/main/res/layout/notification_badge_view.xml
  WooCommerce/src/main/res/layout/order_badge_view.xml
Labels: Style

#1938 Update login lib with fix for signup sheet nav bar buttons visibility issue
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/values-v27/styles.xml
  libs/login/WordPressLoginFlow/src/main/res/values/styles.xml
Labels: [Type] Bug

#1951 Invalidate the options menu when returning from review detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
Labels: Product Review List

#1932 Dark Mode: Order Details Payment Card
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/layout/order_detail_refund_payment_item.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Order Details, Style

#1959 Dark Mode: Refresh with develop branch
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderNotesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/WooLog.kt
  fastlane/Fastfile
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/values-v27/styles.xml
  libs/login/WordPressLoginFlow/src/main/res/values/styles.xml
Labels: Style

#1961 Dark Mode: Minor Order Detail Products card tweak
  WooCommerce/src/main/res/layout/order_detail_product_list.xml
Labels: Order Details, Style

#1933 Dark Mode: Order Details Customer Info Card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/res/drawable/ic_arrow_down.xml
  WooCommerce/src/main/res/drawable/ic_arrow_up.xml
  WooCommerce/src/main/res/drawable/ic_email.xml
  WooCommerce/src/main/res/drawable/ic_menu_more_vert.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/order_detail_customer_info.xml
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Order Details, Style

#1963 Dark Mode: Order Detail Refunded Products and Shipment Tracking cards
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShipmentTrackingItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShipmentTrackingListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/RefundsInfoView.kt
  WooCommerce/src/main/res/drawable-v23/delete_button_bg.xml
  WooCommerce/src/main/res/drawable/button_bg_oval_secondary.xml
  WooCommerce/src/main/res/drawable/delete_button_bg.xml
  WooCommerce/src/main/res/drawable/ic_arrow_right.xml
  WooCommerce/src/main/res/drawable/ic_close.xml
  WooCommerce/src/main/res/layout/dialog_order_tracking_provider_list_header.xml
  WooCommerce/src/main/res/layout/fragment_login_discovery_error.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_order_fulfillment.xml
  WooCommerce/src/main/res/layout/order_detail_refunds_info.xml
  WooCommerce/src/main/res/layout/order_detail_shipment_tracking_item.xml
  WooCommerce/src/main/res/layout/order_detail_shipment_tracking_list.xml
  WooCommerce/src/main/res/layout/product_property_view_vert.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Order Details, Style, Woo Extensions

#1968 Shipping refund notice
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WooClickableSpan.kt
  WooCommerce/src/main/res/drawable/ic_info_outline_light_grey_min_24dp.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Refunds, [Status] Needs Design Review

#1954 Product release 1/update pricing
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringDateFormatExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TaxClass.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTaxStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/res/layout/fragment_product_pricing.xml
  WooCommerce/src/main/res/layout/view_material_outlined_currency_edittext.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  build.gradle
Labels: Product Details

#1934 Dark Mode: Order Detail Order Notes Card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderDetailOrderNoteItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderDetailOrderNoteListView.kt
  WooCommerce/src/main/res/drawable/ic_add.xml
  WooCommerce/src/main/res/drawable/ic_note_private.xml
  WooCommerce/src/main/res/drawable/ic_note_system.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/order_detail_note_item.xml
  WooCommerce/src/main/res/layout/order_detail_note_list.xml
  WooCommerce/src/main/res/layout/order_detail_note_list_header.xml
  WooCommerce/src/main/res/layout/skeleton_order_notes_list_item.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/dimens_old.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Order Details, Style

#1976 Modified YYYY to yyyy to fix crash when formatting date in API 21 devices
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
Labels: Product Details, [Type] Crash

#1978 Issue/1973 product title html entity fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: Product Details

#1984 Merge 3.6 final into develop
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/de-DE/changelogs/107.txt
  fastlane/metadata/android/es-ES/changelogs/109.txt
  fastlane/metadata/android/fr-FR/changelogs/107.txt
  fastlane/metadata/android/fr-FR/changelogs/109.txt
  fastlane/metadata/android/ko-KR/changelogs/107.txt
  fastlane/metadata/android/pt-BR/changelogs/107.txt
  fastlane/metadata/android/pt-BR/changelogs/109.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/107.txt
  fastlane/metadata/android/tr-TR/changelogs/107.txt
  fastlane/metadata/android/zh-TW/changelogs/107.txt
Labels: Releases

#1985 Merge 3.6 final into master
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/de-DE/changelogs/107.txt
  fastlane/metadata/android/es-ES/changelogs/109.txt
  fastlane/metadata/android/fr-FR/changelogs/107.txt
  fastlane/metadata/android/fr-FR/changelogs/109.txt
  fastlane/metadata/android/ko-KR/changelogs/107.txt
  fastlane/metadata/android/pt-BR/changelogs/107.txt
  fastlane/metadata/android/pt-BR/changelogs/109.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/107.txt
  fastlane/metadata/android/tr-TR/changelogs/107.txt
  fastlane/metadata/android/zh-TW/changelogs/107.txt
Labels: Releases

#1966 Dark Mode: Order Detail loading skeleton
  WooCommerce/src/main/res/layout/skeleton_order_detail.xml
  WooCommerce/src/main/res/layout/skeleton_order_detail_product_list.xml
  WooCommerce/src/main/res/layout/skeleton_order_product_list_item.xml
Labels: Order Details, Style

#1988 Update shipping refund notice
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/res/drawable/ic_info_outline_light_grey_min_24dp.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Refunds

#1987 issue/1986-image-viewer-toolbar-after-delete
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
Labels: Low hanging fruit, Product Details

#1958 Product release 1/1953 product shipping shared viewmodel
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingClass.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/res/layout/fragment_product_shipping.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/integers.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#1974 Dark Mode: Add order note screen
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/res/drawable/ic_note_public.xml
  WooCommerce/src/main/res/layout/fragment_add_order_note.xml
  WooCommerce/src/main/res/layout/view_toggle_single_option.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
Labels: Order Details, Style

#1992 Merge 3.7 Code Freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  build.gradle
Labels: Releases

#1977 Dark Mode: Order fulfillment Screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderDetailCustomerNoteView.kt
  WooCommerce/src/main/res/drawable/ic_quote.xml
  WooCommerce/src/main/res/layout/fragment_order_fulfillment.xml
  WooCommerce/src/main/res/layout/order_detail_customer_note.xml
Labels: Order Details, Style

#1997 Issue/1967 product release 1 crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductBackorderStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTaxStatus.kt
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
Labels: Product Details, [Type] Bug

#1994 Dark Mode: Review detail loading skeleton
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/res/layout/skeleton_notif_detail.xml
  WooCommerce/src/main/res/values/dimens.xml
Labels: Product Review Details, Style

#1990 Dark Mode: Shipment Tracking configuration views
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dialog/CustomDiscardDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderTrackingProviderListFragment.kt
  WooCommerce/src/main/res/drawable/ic_done_secondary.xml
  WooCommerce/src/main/res/layout/dialog_order_tracking_provider_list.xml
  WooCommerce/src/main/res/layout/dialog_order_tracking_provider_list_header.xml
  WooCommerce/src/main/res/layout/dialog_order_tracking_provider_list_item.xml
  WooCommerce/src/main/res/layout/fragment_add_order_note.xml
  WooCommerce/src/main/res/layout/fragment_add_shipment_tracking.xml
  WooCommerce/src/main/res/layout/skeleton_list_header.xml
  WooCommerce/src/main/res/layout/skeleton_notif_list.xml
  WooCommerce/src/main/res/layout/skeleton_tracking_provider_list.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Order Details, Style, Woo Extensions

#2007 Fix the refund notice wrapping
  WooCommerce/src/main/res/values/strings.xml
Labels: Refunds, [Type] Bug

#2006 Fix the incorrect shipping notice display
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
Labels: Refunds, [Type] Bug

#1983 Merge beta build and upload lanes
  fastlane/Fastfile
Labels: Tooling

#1979 Update FluxC commit to include the fix to lower max orders batch count
  build.gradle
Labels: FluxC, Order List

#2009 Dark Mode: Outlined button style
  WooCommerce/src/main/res/layout/fragment_product_images.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Style, [Status] Needs Design Review

#2012 Added logic to strip HTML tags from product name in Reviews
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
Labels: Product Review Details, Product Review List, [Type] Bug

#1982 issue/1981-remove-storage-permission
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooPermissionUtils.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Architecture, Product Details

#2014 Hotfix: Update FluxC hash
  build.gradle
Labels: FluxC, Hotfix

#2013 Merge 3.7 release notes into master
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Releases

#2008 Product release 1/1993 m1 beta editing
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#2010 Dark Mode: Dialogs
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/SupportHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/imageviewer/ImageViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventorySelectorDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooPermissionUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/AppRatingDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ConfirmationDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CustomProgressDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/NumberPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCPromoDialog.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_camera.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_image.xml
  WooCommerce/src/main/res/layout/confirmation_dialog.xml
  WooCommerce/src/main/res/layout/currency_amount_dialog.xml
  WooCommerce/src/main/res/layout/dialog_product_image_source.xml
  WooCommerce/src/main/res/layout/dialog_promo.xml
  WooCommerce/src/main/res/layout/number_picker_dialog.xml
  WooCommerce/src/main/res/layout/support_email_and_name_dialog.xml
  WooCommerce/src/main/res/layout/view_progress_dialog.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
Labels: Style, [Status] Needs Design Review

#2015 Dark Mode: Pull-to-refresh indicator
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ScrollChildSwipeRefreshLayout.kt
Labels: Style
