Repository woocommerce/woocommerce-android, pull requests merged in 2020-07, with the labels that each got.

#2593 Hotfix: Implement fix to set image property using new FluxC methods
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
Labels: Product Details

#2599 Switch to dedicated file on develop to upload strings for translation
  fastlane/Fastfile
  fastlane/resources/values/strings.xml
Labels: Tooling

#2600 Merge release/4.6 into develop
  Gemfile.lock
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Releases

#2607 Merge 4.6 release notes into Master
  Gemfile.lock
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Releases

#2606 Merge 4.6 release notes into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#2588 Issue/2189 update product tags
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/AppComponentTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailViewModel.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductTagsModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductTagsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductTag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/AddProductTagView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/layout/add_product_tag_view.xml
  WooCommerce/src/main/res/layout/fragment_product_tags.xml
  WooCommerce/src/main/res/layout/product_tag_list_item.xml
  WooCommerce/src/main/res/layout/skeleton_product_tag_list_item.xml
  WooCommerce/src/main/res/layout/skeleton_product_tags.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details, Tracks Events, [Type] Enhancement

#2564 Fixed bug where the product onSale was set to true when sale price was 0
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: Product Details, [Type] Bug

#2580 Make Stats V4 Default and remove stats store availability banner
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/ScreenshotTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/mystore/MyStoreScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SequenceExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/BottomNavigationPosition.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStorePresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsAvailabilityCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsAvailabilityListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/RevenueStatsAvailabilityFetcher.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Store Stats, [Type] Enhancement

#2611 Change background color to surface to match dark mode
  WooCommerce/src/main/res/layout/fragment_about.xml
Labels: App Settings

#2612 Switch to upload key for release bundle signing
  .configure
  .configure-files/automattic_upload.jks.enc
  .configure-files/gradle.properties.enc
  WooCommerce/build.gradle
Labels: Tooling

#2619 Merge Release/4.6 into Master
  .configure
  .configure-files/automattic_upload.jks.enc
  .configure-files/gradle.properties.enc
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/136.txt
  fastlane/metadata/android/ar/changelogs/140.txt
  fastlane/metadata/android/ar/short_description.txt
  fastlane/metadata/android/de-DE/changelogs/136.txt
  fastlane/metadata/android/de-DE/changelogs/140.txt
  fastlane/metadata/android/de-DE/short_description.txt
  fastlane/metadata/android/es-ES/changelogs/136.txt
  fastlane/metadata/android/es-ES/changelogs/140.txt
  fastlane/metadata/android/fr-FR/changelogs/140.txt
  fastlane/metadata/android/fr-FR/full_description.txt
  fastlane/metadata/android/id/changelogs/140.txt
  fastlane/metadata/android/id/full_description.txt
  fastlane/metadata/android/it-IT/changelogs/136.txt
  fastlane/metadata/android/it-IT/changelogs/140.txt
  fastlane/metadata/android/iw-IL/changelogs/136.txt
  fastlane/metadata/android/iw-IL/changelogs/140.txt
  fastlane/metadata/android/ja-JP/changelogs/136.txt
  fastlane/metadata/android/ja-JP/changelogs/140.txt
  fastlane/metadata/android/ko-KR/changelogs/136.txt
  fastlane/metadata/android/ko-KR/changelogs/140.txt
  fastlane/metadata/android/nl-NL/changelogs/136.txt
  fastlane/metadata/android/nl-NL/changelogs/140.txt
  fastlane/metadata/android/pt-BR/changelogs/136.txt
  fastlane/metadata/android/pt-BR/changelogs/140.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/140.txt
  fastlane/metadata/android/ru-RU/full_description.txt
  fastlane/metadata/android/sv-SE/changelogs/136.txt
  fastlane/metadata/android/sv-SE/changelogs/140.txt
  fastlane/metadata/android/sv-SE/short_description.txt
  fastlane/metadata/android/tr-TR/changelogs/136.txt
  fastlane/metadata/android/tr-TR/changelogs/140.txt
  fastlane/metadata/android/zh-CN/changelogs/136.txt
  fastlane/metadata/android/zh-CN/changelogs/140.txt
  fastlane/metadata/android/zh-TW/changelogs/136.txt
  fastlane/metadata/android/zh-TW/changelogs/140.txt
Labels: Releases

#2618 Merge Release/4.6 back into develop
  .configure
  .configure-files/automattic_upload.jks.enc
  .configure-files/gradle.properties.enc
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/136.txt
  fastlane/metadata/android/ar/changelogs/140.txt
  fastlane/metadata/android/ar/short_description.txt
  fastlane/metadata/android/de-DE/changelogs/136.txt
  fastlane/metadata/android/de-DE/changelogs/140.txt
  fastlane/metadata/android/de-DE/short_description.txt
  fastlane/metadata/android/es-ES/changelogs/136.txt
  fastlane/metadata/android/es-ES/changelogs/140.txt
  fastlane/metadata/android/fr-FR/changelogs/140.txt
  fastlane/metadata/android/fr-FR/full_description.txt
  fastlane/metadata/android/id/changelogs/140.txt
  fastlane/metadata/android/id/full_description.txt
  fastlane/metadata/android/it-IT/changelogs/136.txt
  fastlane/metadata/android/it-IT/changelogs/140.txt
  fastlane/metadata/android/iw-IL/changelogs/136.txt
  fastlane/metadata/android/iw-IL/changelogs/140.txt
  fastlane/metadata/android/ja-JP/changelogs/136.txt
  fastlane/metadata/android/ja-JP/changelogs/140.txt
  fastlane/metadata/android/ko-KR/changelogs/136.txt
  fastlane/metadata/android/ko-KR/changelogs/140.txt
  fastlane/metadata/android/nl-NL/changelogs/136.txt
  fastlane/metadata/android/nl-NL/changelogs/140.txt
  fastlane/metadata/android/pt-BR/changelogs/136.txt
  fastlane/metadata/android/pt-BR/changelogs/140.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/140.txt
  fastlane/metadata/android/ru-RU/full_description.txt
  fastlane/metadata/android/sv-SE/changelogs/136.txt
  fastlane/metadata/android/sv-SE/changelogs/140.txt
  fastlane/metadata/android/sv-SE/short_description.txt
  fastlane/metadata/android/tr-TR/changelogs/136.txt
  fastlane/metadata/android/tr-TR/changelogs/140.txt
  fastlane/metadata/android/zh-CN/changelogs/136.txt
  fastlane/metadata/android/zh-CN/changelogs/140.txt
  fastlane/metadata/android/zh-TW/changelogs/136.txt
  fastlane/metadata/android/zh-TW/changelogs/140.txt
Labels: Releases

#2620 Make Stats V4 Default
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/ScreenshotTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/mystore/MyStoreScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SequenceExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/BottomNavigationPosition.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStorePresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsAvailabilityCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsAvailabilityListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/RevenueStatsAvailabilityFetcher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Store Stats, [Type] Enhancement

#2579 Add Inventory to Variation details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantCardBuilder.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Variation Details

#2602 Products m3/add virtual switch
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details, [Type] Enhancement

#2624 Update Gradle plugin to 4.0.1
  build.gradle
Labels: Tooling

#2625 Update Kotlin to 1.3.72
  build.gradle
Labels: Tooling

#2627 Expand cursor window to 5mb for production builds running API 28+
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooWellSqlConfig.kt
Labels: [Type] Crash

#2603 Issue/2406 read only product type
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_product.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#2626 Update Product details screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductExternalLinkFragment.kt
Labels: Product Details

#2646 Add feature flag for the in-app feedback project
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: [Feat] In-app Feedback

#2617 Issue/2410 add product detail bottom sheet
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/res/layout/dialog_product_detail_bottom_sheet_list.xml
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/product_detail_bottom_sheet_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Type] Enhancement

#2559 Issue/2289 read only shipping labels
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/MockedOrderDetailModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/MockedOrderFulfillmentModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentProductListCardTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductListCardTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShippingLabelListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/AddressUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_customize.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_external.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_location.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_ship_from.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_ship_to.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/order_detail_product_item.xml
  WooCommerce/src/main/res/layout/order_detail_product_list.xml
  WooCommerce/src/main/res/layout/order_detail_shipping_label_list.xml
  WooCommerce/src/main/res/layout/order_detail_shipping_label_list_item.xml
  WooCommerce/src/main/res/layout/view_shipping_label_item.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  build.gradle
Labels: Order Details

#2658 Issue/2629 edit product sku
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/res/layout/fragment_product_inventory.xml
Labels: Product Details, [Type] Enhancement

#2628 Issue/2910 batch add product tags
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/LiveDataExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductTag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/AddProductTagView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/res/layout/add_product_tag_view.xml
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_tags.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details

#2663 Merge 4.7 code freeze and editorial to develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
Labels: Releases

#2651 Issue/2290 refund shipping labels
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShippingLabelListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelActionListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelsModule.kt
  WooCommerce/src/main/res/layout/fragment_shipping_label_refund.xml
  WooCommerce/src/main/res/layout/order_detail_shipping_label_list_item.xml
  WooCommerce/src/main/res/menu/menu_shipping_label.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_shipping_labels.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  build.gradle
Labels: Order Details, [Type] Enhancement

#2670 Added logic to display bottom sheet button if some product info is not available
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Hotfix, Product Details, [Type] Bug
