Repository woocommerce/woocommerce-android, pull requests merged in 2020-04, with the labels that each got.

#2167 Dark Mode: Fix y-axis label color
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
Labels: Store Stats, Style

#2173 Added logic to display shipping section with caption
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#2171 Fix shipping class not set since shipping class name is not found
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  build.gradle
Labels: Product Details

#2174 Fixed bug where 0 dimensions were updated when editing a product
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
Labels: Product Details, [Type] Bug

#2179 Dark Mode: Product Detail Loading skeleton
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/res/layout/product_property_read_more_view_layout.xml
  WooCommerce/src/main/res/layout/product_property_view_vert_layout.xml
  WooCommerce/src/main/res/layout/skeleton_notif_list_item.xml
  WooCommerce/src/main/res/layout/skeleton_product_detail.xml
  WooCommerce/src/main/res/layout/skeleton_product_secondary_card.xml
  WooCommerce/src/main/res/values/dimens_base.xml
Labels: Product Details, Style

#2166 Issue/2165 image viewer fullscreen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/anim/activity_scale_in.xml
  WooCommerce/src/main/res/anim/activity_scale_out.xml
  WooCommerce/src/main/res/drawable/ripple_grey_oval.xml
  WooCommerce/src/main/res/layout/fragment_image_viewer.xml
  WooCommerce/src/main/res/layout/fragment_product_image_viewer.xml
  WooCommerce/src/main/res/menu/menu_trash.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#2181 Update configuration
  .configure
  .configure-files/sentry.properties.enc
Labels: Tooling

#2177 Issue/2176 back press during image upload
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dialog/CustomDiscardDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#2180 Issue/2175 sale price validation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#2197 Dark Mode: Aztec Editor Fragment - product description editor
  WooCommerce/src/main/res/layout/fragment_aztec_editor.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Product Details, Style

#2195 Merge 3.9 final into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/115.txt
  fastlane/metadata/android/ar/changelogs/119.txt
  fastlane/metadata/android/de-DE/changelogs/115.txt
  fastlane/metadata/android/de-DE/changelogs/119.txt
  fastlane/metadata/android/es-ES/changelogs/115.txt
  fastlane/metadata/android/es-ES/changelogs/119.txt
  fastlane/metadata/android/fr-FR/changelogs/115.txt
  fastlane/metadata/android/fr-FR/changelogs/119.txt
  fastlane/metadata/android/id/changelogs/115.txt
  fastlane/metadata/android/id/changelogs/119.txt
  fastlane/metadata/android/it-IT/changelogs/115.txt
  fastlane/metadata/android/it-IT/changelogs/119.txt
  fastlane/metadata/android/iw-IL/changelogs/115.txt
  fastlane/metadata/android/iw-IL/changelogs/119.txt
  fastlane/metadata/android/ja-JP/changelogs/115.txt
  fastlane/metadata/android/ja-JP/changelogs/119.txt
  fastlane/metadata/android/ko-KR/changelogs/115.txt
  fastlane/metadata/android/ko-KR/changelogs/119.txt
  fastlane/metadata/android/nl-NL/changelogs/115.txt
  fastlane/metadata/android/nl-NL/changelogs/119.txt
  fastlane/metadata/android/pt-BR/changelogs/115.txt
  fastlane/metadata/android/pt-BR/changelogs/119.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/115.txt
  fastlane/metadata/android/ru-RU/changelogs/119.txt
  fastlane/metadata/android/sv-SE/changelogs/115.txt
  fastlane/metadata/android/sv-SE/changelogs/119.txt
  fastlane/metadata/android/tr-TR/changelogs/115.txt
  fastlane/metadata/android/tr-TR/changelogs/119.txt
  fastlane/metadata/android/zh-CN/changelogs/115.txt
  fastlane/metadata/android/zh-CN/changelogs/119.txt
  fastlane/metadata/android/zh-TW/changelogs/115.txt
  fastlane/metadata/android/zh-TW/changelogs/119.txt
Labels: Releases

#2196 Merge 3.9 final into master
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/115.txt
  fastlane/metadata/android/ar/changelogs/119.txt
  fastlane/metadata/android/de-DE/changelogs/115.txt
  fastlane/metadata/android/de-DE/changelogs/119.txt
  fastlane/metadata/android/es-ES/changelogs/115.txt
  fastlane/metadata/android/es-ES/changelogs/119.txt
  fastlane/metadata/android/fr-FR/changelogs/115.txt
  fastlane/metadata/android/fr-FR/changelogs/119.txt
  fastlane/metadata/android/id/changelogs/115.txt
  fastlane/metadata/android/id/changelogs/119.txt
  fastlane/metadata/android/it-IT/changelogs/115.txt
  fastlane/metadata/android/it-IT/changelogs/119.txt
  fastlane/metadata/android/iw-IL/changelogs/115.txt
  fastlane/metadata/android/iw-IL/changelogs/119.txt
  fastlane/metadata/android/ja-JP/changelogs/115.txt
  fastlane/metadata/android/ja-JP/changelogs/119.txt
  fastlane/metadata/android/ko-KR/changelogs/115.txt
  fastlane/metadata/android/ko-KR/changelogs/119.txt
  fastlane/metadata/android/nl-NL/changelogs/115.txt
  fastlane/metadata/android/nl-NL/changelogs/119.txt
  fastlane/metadata/android/pt-BR/changelogs/115.txt
  fastlane/metadata/android/pt-BR/changelogs/119.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/115.txt
  fastlane/metadata/android/ru-RU/changelogs/119.txt
  fastlane/metadata/android/sv-SE/changelogs/115.txt
  fastlane/metadata/android/sv-SE/changelogs/119.txt
  fastlane/metadata/android/tr-TR/changelogs/115.txt
  fastlane/metadata/android/tr-TR/changelogs/119.txt
  fastlane/metadata/android/zh-CN/changelogs/115.txt
  fastlane/metadata/android/zh-CN/changelogs/119.txt
  fastlane/metadata/android/zh-TW/changelogs/115.txt
  fastlane/metadata/android/zh-TW/changelogs/119.txt
Labels: Releases

#2199 Display floating bars only when there is negative revenue
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
Labels: Store Stats, [Type] Bug

#2205 Product details instrumentation tests
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/AppComponentTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/MockedProductDetailRepositoryModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/main/MainActivityTestRule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/MockedOrderDetailModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/MockedOrderFulfillmentModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/WcOrderTestUtils.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedOrderProductListModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailRepository.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedProductDetailViewModel.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedWooStore.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/MockedWooStoreModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductDetailNavigationTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/WcProductTestUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  build.gradle
Labels: Broken Tests

#2208 Update the FluxC hash
  build.gradle
Labels: FluxC

#2202 Merge 4.0 code freeze to develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
Labels: Releases

#2207 Update FluxC hash to fix stats crash issue
  build.gradle
Labels: Store Stats, [Type] Crash

#2217 issue/1798-add-#-to-order-number
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
Labels: Order List

#2209 Issue/2048 product short description
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_align_left.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#2212 Product Property: Fix margins for when the label is no longer visible in vertical mode
  WooCommerce/src/main/res/layout/product_property_view_vert_layout.xml
Labels: Product Details, Style

#2222 Merge 4.0 release notes to master
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#2221 Merge 4.0 release notes to develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#2227 Added logic to display shipping section only if product is not virtual
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: Product Details, [Type] Bug

#2225 issue/2224-product-detail-fetch-product
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#2204 Issue/2097 disappearing products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: Product List, [Type] Bug

#2226 Hotfix: Order date comparison bug
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TimeGroup.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
Labels: Hotfix, Order Details, Order List

#2232 issue/1470-product-detail-crash-fix-take3
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailRepository.kt
  build.gradle
Labels: Product Details

#2238 Dark Mode: Login Epilogue Screen
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginEmailHelpDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCElevatedLinearLayout.kt
  WooCommerce/src/main/res/drawable-night/img_woo_no_stores.xml
  WooCommerce/src/main/res/drawable/ic_woo_no_store.xml
  WooCommerce/src/main/res/drawable/img_woo_no_stores.xml
  WooCommerce/src/main/res/drawable/shadow_top.xml
  WooCommerce/src/main/res/layout-land/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/layout-land/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/layout/fragment_order_fulfillment.xml
  WooCommerce/src/main/res/layout/order_detail_product_list.xml
  WooCommerce/src/main/res/layout/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/layout/view_login_no_stores.xml
  WooCommerce/src/main/res/values-night/themes.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: App Settings, Login, Style

#2239 Merge 4.0-rc-2 to develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TimeGroup.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
Labels: Releases

#2249 Products/add sort filter ui
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortAndFiltersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCToggleOutlinedButton.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCToggleOutlinedSelectorButton.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/products_sort_and_filters_card.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Product List

#2200 Issue/1750 aztec design changes
  WooCommerce/src/main/res/layout/fragment_aztec_editor.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  build.gradle
Labels: Product Details

#2245 Dark Mode: Product price + inventory screens
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedSpinnerView.kt
  WooCommerce/src/main/res/drawable/ic_arrow_drop_down.xml
  WooCommerce/src/main/res/layout/fragment_product_inventory.xml
  WooCommerce/src/main/res/layout/fragment_product_pricing.xml
  WooCommerce/src/main/res/layout/fragment_product_shipping.xml
  WooCommerce/src/main/res/layout/view_material_outlined_currency_edittext.xml
  WooCommerce/src/main/res/layout/view_material_outlined_edittext.xml
  WooCommerce/src/main/res/layout/view_material_outlined_spinner.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Product Details, Style

#2240 Issue/2051 m2 update product status
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductDetailNavigationTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/BaseProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductStatusFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductStatusModule.kt
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/layout/fragment_product_status.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Settings

#2250 Issue/2049 m2 update catalog visibility
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVisibility.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductVisibilityFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductVisibilityModule.kt
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/layout/fragment_product_visibility.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_settings.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Settings

#2256 Dark Mode: Cleanup Round 1
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ActionableEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCSimpleEmptyView.kt
  WooCommerce/src/main/res/color/default_text_title_color.xml
  WooCommerce/src/main/res/drawable/ic_info_outline_24dp.xml
  WooCommerce/src/main/res/drawable/ic_info_outline_light_grey_min_24dp.xml
  WooCommerce/src/main/res/drawable/searchview_cursor.xml
  WooCommerce/src/main/res/layout/dialog_version_upgrade_required.xml
  WooCommerce/src/main/res/layout/fragment_product_pricing.xml
  WooCommerce/src/main/res/layout/fragment_product_variants.xml
  WooCommerce/src/main/res/layout/fragment_refund_detail.xml
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/layout/my_store_stats_reverted_notice.xml
  WooCommerce/src/main/res/layout/product_variant_list_item.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/layout/wc_simple_empty_view.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Style

#2262 Dark Mode: Cleanup Stragglers and minor views
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/SupportHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderNoteViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyLinkView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyReadMoreView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByAmountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ActionableEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CustomProgressDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCPromoDialog.kt
  WooCommerce/src/main/res/drawable/about_button_selector.xml
  WooCommerce/src/main/res/drawable/button_bordered_bg.xml
  WooCommerce/src/main/res/drawable/button_purple_bg.xml
  WooCommerce/src/main/res/drawable/button_white_bg.xml
  WooCommerce/src/main/res/drawable/card_expander_bg.xml
  WooCommerce/src/main/res/drawable/ic_block.xml
  WooCommerce/src/main/res/drawable/ic_cart.xml
  WooCommerce/src/main/res/drawable/ic_error_grey.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_checkmark.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_tools.xml
  WooCommerce/src/main/res/drawable/ic_hourglass_empty.xml
  WooCommerce/src/main/res/drawable/ic_jetpack.xml
  WooCommerce/src/main/res/drawable/ic_markerview_bubble.xml
  WooCommerce/src/main/res/drawable/ic_menu_filter.xml
  WooCommerce/src/main/res/drawable/ic_menu_notifications.xml
  WooCommerce/src/main/res/drawable/ic_menu_settings.xml
  WooCommerce/src/main/res/drawable/ic_quote_grey_dark_24dp.xml
  WooCommerce/src/main/res/drawable/list_header_bg.xml
  WooCommerce/src/main/res/layout/actionable_empty_view.xml
  WooCommerce/src/main/res/layout/dashboard_notice.xml
  WooCommerce/src/main/res/layout/dashboard_stats_marker_view.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_amount.xml
  WooCommerce/src/main/res/layout/my_store_stats_reverted_notice.xml
  WooCommerce/src/main/res/layout/order_detail_note_list_header.xml
  WooCommerce/src/main/res/layout/products_wip_notice.xml
  WooCommerce/src/main/res/layout/skeleton_order_list.xml
  WooCommerce/src/main/res/layout/skeleton_order_product_list.xml
  WooCommerce/src/main/res/layout/view_progress_dialog.xml
  WooCommerce/src/main/res/menu/menu_image_source.xml
  WooCommerce/src/main/res/menu/menu_share.xml
  WooCommerce/src/main/res/values-sw600dp/dimens.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/wc_colors.xml
Labels: Style

#2258 Issue/2050 m2 update slug
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSlugFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSlugModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/layout/fragment_product_slug.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_settings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Settings

#2257 Dark Mode: Radio Button Theme
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Style

#2260 issue/2248-wcandroid-always-updates-images
  build.gradle
Labels: Product Details

#2270 Fix the end sale date button removal
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_pricing.xml
Labels: Product Details, [Type] Bug

#2268 Dark Mode: Jetpack views
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginWhatIsJetpackDialogFragment.kt
  WooCommerce/src/main/res/drawable-night/img_login_jetpack_required.xml
  WooCommerce/src/main/res/drawable-night/img_what_is_jetpack.xml
  WooCommerce/src/main/res/drawable/img_login_jetpack_required.xml
  WooCommerce/src/main/res/drawable/img_what_is_jetpack.xml
  WooCommerce/src/main/res/layout-land/fragment_login_jetpack_required.xml
  WooCommerce/src/main/res/layout-land/fragment_login_what_is_jetpack.xml
  WooCommerce/src/main/res/layout/fragment_login_jetpack_required.xml
  WooCommerce/src/main/res/layout/fragment_login_what_is_jetpack.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Login, Style

#2269 Issue/2261 radio to the right
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductStatusFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductVisibilityFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_status.xml
  WooCommerce/src/main/res/layout/fragment_product_visibility.xml
Labels: Product Settings

#2265 Fix androidTest build after dark mode merges
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/OrderDetailNavigationTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/orders/OrderListItemTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductDetailNavigationTest.kt
Labels: Broken Tests

#2231 Product display price fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#2281 Dark Mode: Login welcome screens
  WooCommerce/src/main/res/color/button_colored_bg_white_selector.xml
  WooCommerce/src/main/res/drawable-night/img_bubbles.xml
  WooCommerce/src/main/res/drawable/img_bubbles.xml
  WooCommerce/src/main/res/drawable/img_slanted_rectangle.xml
  WooCommerce/src/main/res/drawable/img_slanted_rectangle_landscape.xml
  WooCommerce/src/main/res/drawable/img_woo_logo.xml
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/styles_login.xml
Labels: Login, Style

#2280 Dark Mode: Fix shadows in elevated custom component
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCElevatedLinearLayout.kt
Labels: Style

#2273 Merge 4.0 final into develop
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  fastlane/metadata/android/ar/changelogs/119.txt
  fastlane/metadata/android/ar/changelogs/122.txt
  fastlane/metadata/android/de-DE/changelogs/119.txt
  fastlane/metadata/android/de-DE/changelogs/122.txt
  fastlane/metadata/android/es-ES/changelogs/119.txt
  fastlane/metadata/android/es-ES/changelogs/122.txt
  fastlane/metadata/android/fr-FR/changelogs/119.txt
  fastlane/metadata/android/fr-FR/changelogs/122.txt
  fastlane/metadata/android/id/changelogs/119.txt
  fastlane/metadata/android/id/changelogs/122.txt
  fastlane/metadata/android/it-IT/changelogs/119.txt
  fastlane/metadata/android/it-IT/changelogs/122.txt
  fastlane/metadata/android/iw-IL/changelogs/119.txt
  fastlane/metadata/android/iw-IL/changelogs/122.txt
  fastlane/metadata/android/ja-JP/changelogs/119.txt
  fastlane/metadata/android/ja-JP/changelogs/122.txt
  fastlane/metadata/android/ko-KR/changelogs/119.txt
  fastlane/metadata/android/ko-KR/changelogs/122.txt
  fastlane/metadata/android/nl-NL/changelogs/119.txt
  fastlane/metadata/android/nl-NL/changelogs/122.txt
  fastlane/metadata/android/pt-BR/changelogs/119.txt
  fastlane/metadata/android/pt-BR/changelogs/122.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/119.txt
  fastlane/metadata/android/ru-RU/changelogs/122.txt
  fastlane/metadata/android/sv-SE/changelogs/119.txt
  fastlane/metadata/android/sv-SE/changelogs/122.txt
  fastlane/metadata/android/tr-TR/changelogs/119.txt
  fastlane/metadata/android/tr-TR/changelogs/122.txt
  fastlane/metadata/android/zh-CN/changelogs/119.txt
  fastlane/metadata/android/zh-CN/changelogs/122.txt
  fastlane/metadata/android/zh-TW/changelogs/119.txt
  fastlane/metadata/android/zh-TW/changelogs/122.txt
Labels: Releases

#2285 Dark Mode: Login theme status bar color fix
  WooCommerce/src/main/res/values/styles_login.xml
Labels: Login

#2287 Bugfix: order list tabs show up after marking order complete
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/TopLevelFragmentView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: [Type] Bug

#2276 Issue/2271 m2 enable reviews
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Settings

#2274 Merge 4.0 final into master
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TimeGroup.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  fastlane/metadata/android/ar/changelogs/119.txt
  fastlane/metadata/android/ar/changelogs/122.txt
  fastlane/metadata/android/de-DE/changelogs/119.txt
  fastlane/metadata/android/de-DE/changelogs/122.txt
  fastlane/metadata/android/es-ES/changelogs/119.txt
  fastlane/metadata/android/es-ES/changelogs/122.txt
  fastlane/metadata/android/fr-FR/changelogs/119.txt
  fastlane/metadata/android/fr-FR/changelogs/122.txt
  fastlane/metadata/android/id/changelogs/119.txt
  fastlane/metadata/android/id/changelogs/122.txt
  fastlane/metadata/android/it-IT/changelogs/119.txt
  fastlane/metadata/android/it-IT/changelogs/122.txt
  fastlane/metadata/android/iw-IL/changelogs/119.txt
  fastlane/metadata/android/iw-IL/changelogs/122.txt
  fastlane/metadata/android/ja-JP/changelogs/119.txt
  fastlane/metadata/android/ja-JP/changelogs/122.txt
  fastlane/metadata/android/ko-KR/changelogs/119.txt
  fastlane/metadata/android/ko-KR/changelogs/122.txt
  fastlane/metadata/android/nl-NL/changelogs/119.txt
  fastlane/metadata/android/nl-NL/changelogs/122.txt
  fastlane/metadata/android/pt-BR/changelogs/119.txt
  fastlane/metadata/android/pt-BR/changelogs/122.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/119.txt
  fastlane/metadata/android/ru-RU/changelogs/122.txt
  fastlane/metadata/android/sv-SE/changelogs/119.txt
  fastlane/metadata/android/sv-SE/changelogs/122.txt
  fastlane/metadata/android/tr-TR/changelogs/119.txt
  fastlane/metadata/android/tr-TR/changelogs/122.txt
  fastlane/metadata/android/zh-CN/changelogs/119.txt
  fastlane/metadata/android/zh-CN/changelogs/122.txt
  fastlane/metadata/android/zh-TW/changelogs/119.txt
  fastlane/metadata/android/zh-TW/changelogs/122.txt
Labels: Releases

#2288 Product filters - Step 1: UI for filters
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/res/layout/fragment_product_filter_list.xml
  WooCommerce/src/main/res/layout/fragment_product_filter_option_list.xml
  WooCommerce/src/main/res/layout/product_filter_list_item.xml
  WooCommerce/src/main/res/layout/product_filter_option_list_item.xml
  WooCommerce/src/main/res/layout/products_sort_and_filters_card.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_filters.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: Product List

#2277 Issue/2272 m2 purchase note
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsOptionValueView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_aztec_editor.xml
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Settings

#2308 Merge 4.1 release notes to develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#2311 Fix crash caused by invalid casting of AppBarLayout to Toolbar
  WooCommerce/src/main/res/layout/fragment_login_discovery_error.xml
Labels: Priority: High

#2300 Dark Mode: Convert straggler views + delete old styles file
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginEmailHelpDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginWhatIsJetpackDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderTrackingProviderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCPromoDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCSingleOptionTextView.kt
  WooCommerce/src/main/res/color/button_purple_bg_color.xml
  WooCommerce/src/main/res/color/color_on_primary_high_selector.xml
  WooCommerce/src/main/res/layout/fragment_login_discovery_error.xml
  WooCommerce/src/main/res/layout/fragment_product_variants.xml
  WooCommerce/src/main/res/layout/offline_status_bar.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values-sw600dp/dimens.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/wc_colors.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
Labels: Style

#2301 Dark Mode v2: Login no woo stores
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/drawable/img_gravatar_placeholder.xml
  WooCommerce/src/main/res/layout-land/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/layout/fragment_login_no_jetpack.xml
  WooCommerce/src/main/res/layout/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/view_login_user_info.xml
Labels: Login, Style

#2302 Dark Mode v2: Final Cleanup
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardTopEarnersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopEarnersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/BorderedImageView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/layout/currency_amount_dialog.xml
  WooCommerce/src/main/res/layout/dialog_version_upgrade_required.xml
  WooCommerce/src/main/res/layout/fragment_licenses.xml
  WooCommerce/src/main/res/layout/fragment_product_shipping.xml
  WooCommerce/src/main/res/layout/skeleton_site_picker_item.xml
  WooCommerce/src/main/res/values-sw600dp/dimens.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/integers.xml
  WooCommerce/src/main/res/values/wc_colors.xml
Labels: Style

#2296 Issue/2284 m2 external url
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductExternalLinkFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductExternalLinkModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_link.xml
  WooCommerce/src/main/res/layout/fragment_product_external_link.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Settings

#2319 Use the custom WCMaterialEditTextView for input fields in dialog
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/SupportHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/res/layout/support_email_and_name_dialog.xml
Labels: Style, Support

#2315 Issue/2117 step2 filter products
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ActivityExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortAndFiltersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/color/button_outlined_bg_selector.xml
  WooCommerce/src/main/res/color/button_outlined_stroke_selector.xml
  WooCommerce/src/main/res/color/button_outlined_text_selector.xml
  WooCommerce/src/main/res/layout/fragment_product_filter_option_list.xml
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/product_filter_list_item.xml
  WooCommerce/src/main/res/layout/product_filter_option_list_item.xml
  WooCommerce/src/main/res/layout/products_sort_and_filters_card.xml
  WooCommerce/src/main/res/menu/menu_clear.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  build.gradle
Labels: Product List

#2320 Dark Mode bugfixes: About screen + settings beta text
  WooCommerce/src/main/res/layout/fragment_about.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Style, [Type] Bug

#2307 Product list sorting
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortAndFiltersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/PreferencesWrapper.kt
  WooCommerce/src/main/res/drawable/bottomsheet_rounded.xml
  WooCommerce/src/main/res/layout/dialog_product_list_sorting.xml
  WooCommerce/src/main/res/layout/product_sorting_list_item.xml
  WooCommerce/src/main/res/layout/products_sort_and_filters_card.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: Product List

#2298 Issue/2230 m2 menu order
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductMenuOrderFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductMenuOrderModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_menu_order.xml
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_settings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Settings

#2333 Added logic to hide keyboard when exiting product detail and sub detail screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
Labels: Product Details, [Type] Bug

#2337 Removed variation from the product type enum class
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product List

#2338 Feature/products sort and filters
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ActivityExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortAndFiltersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/PreferencesWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCToggleOutlinedButton.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCToggleOutlinedSelectorButton.kt
  WooCommerce/src/main/res/color/button_outlined_bg_selector.xml
  WooCommerce/src/main/res/color/button_outlined_stroke_selector.xml
  WooCommerce/src/main/res/color/button_outlined_text_selector.xml
  WooCommerce/src/main/res/drawable/bottomsheet_rounded.xml
  WooCommerce/src/main/res/layout/dialog_product_list_sorting.xml
  WooCommerce/src/main/res/layout/fragment_product_filter_list.xml
  WooCommerce/src/main/res/layout/fragment_product_filter_option_list.xml
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/product_filter_list_item.xml
  WooCommerce/src/main/res/layout/product_filter_option_list_item.xml
  WooCommerce/src/main/res/layout/product_sorting_list_item.xml
  WooCommerce/src/main/res/layout/products_sort_and_filters_card.xml
  WooCommerce/src/main/res/menu/menu_clear.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_filters.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  build.gradle
Labels: Product List, [Type] Enhancement

#2340 Issue/2339 add tracking events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: Product Details, Product List, Tracks Events

#2334 Dark Mode v2: No stores error view
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/layout-land/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/layout/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/view_login_user_info.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Login, Style

#2343 Fix broken build on ProductDetailNavigationTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/products/ProductDetailNavigationTest.kt
Labels: Broken Tests

#2332 Dark Mode v2: Magic Link Sent tweaks
  WooCommerce/src/main/res/layout-land/login_magic_link_request_screen.xml
  WooCommerce/src/main/res/layout-land/login_magic_link_sent_screen.xml
  WooCommerce/src/main/res/layout/login_magic_link_request_content.xml
  WooCommerce/src/main/res/layout/login_magic_link_request_screen.xml
  WooCommerce/src/main/res/layout/login_magic_link_sent_content.xml
  WooCommerce/src/main/res/layout/login_magic_link_sent_screen.xml
  WooCommerce/src/main/res/values/styles_login.xml
Labels: Login, Style

#2317 Issue/2228 m2 visibility
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/BaseProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductCatalogVisibility.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductCatalogVisibilityFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductCatalogVisibilityModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductMenuOrderFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSlugFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductStatusFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductVisibility.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductVisibilityFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_catalog_visibility.xml
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/layout/fragment_product_status.xml
  WooCommerce/src/main/res/layout/fragment_product_visibility.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_settings.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Settings

#2294 Add instructions on how to get require realpath tool in Git pre-commit hook
  tools/team-props/git-hooks/pre-commit
Labels: Tooling

#2335 Dark Mode v2: What is jetpack dialog tweaks
  WooCommerce/src/main/res/layout-land/fragment_login_what_is_jetpack.xml
  WooCommerce/src/main/res/layout/fragment_login_what_is_jetpack.xml
  WooCommerce/src/main/res/values/colors_base.xml
Labels: Login

#2344 [2185] Display Product Categories on Product Page
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_folder.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
Labels: Product Details, [Type] Enhancement

#2349 Add indentation settings to .editorconfig
  .editorconfig
Labels: Tooling

#2353 Handle the case when the payment method is empty
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
Labels: Order Details, [Type] Bug

#2346 Use ContextCompat to load drawables where context is not reliable
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardTopEarnersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopEarnersView.kt
  WooCommerce/src/main/res/layout/top_earner_list_item.xml
Labels: Store Stats

#2345 Issue/m2 wp media library
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaGalleryView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooAnimUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/anim/pop.xml
  WooCommerce/src/main/res/drawable/wpmedia_picker_circle.xml
  WooCommerce/src/main/res/drawable/wpmedia_picker_circle_pressed.xml
  WooCommerce/src/main/res/drawable/wpmedia_picker_circle_selector.xml
  WooCommerce/src/main/res/layout/dialog_product_image_source.xml
  WooCommerce/src/main/res/layout/fragment_wpmedia_picker.xml
  WooCommerce/src/main/res/layout/fragment_wpmedia_viewer.xml
  WooCommerce/src/main/res/layout/wpmedia_gallery_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/type.xml
Labels: Product Details, Product Settings
