Repository woocommerce/woocommerce-android, pull requests merged in 2020-01, with the labels that each got.

#1764 Dark Mode: Bottom bar
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/res/color-night/color_on_surface.xml
  WooCommerce/src/main/res/color/color_on_primary_surface_emphasis_disabled.xml
  WooCommerce/src/main/res/color/color_on_primary_surface_emphasis_high.xml
  WooCommerce/src/main/res/color/color_on_primary_surface_emphasis_medium.xml
  WooCommerce/src/main/res/color/color_on_surface.xml
  WooCommerce/src/main/res/color/color_on_surface_emphasis_disabled.xml
  WooCommerce/src/main/res/color/color_on_surface_emphasis_high.xml
  WooCommerce/src/main/res/color/color_on_surface_emphasis_medium.xml
  WooCommerce/src/main/res/drawable/badge_notifs.xml
  WooCommerce/src/main/res/drawable/badge_orders.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_star_outline.xml
  WooCommerce/src/main/res/drawable/selector_bottom_navbar.xml
  WooCommerce/src/main/res/layout/activity_main.xml
  WooCommerce/src/main/res/layout/order_badge_view.xml
  WooCommerce/src/main/res/menu/menu_bottom_bar.xml
  WooCommerce/src/main/res/values-night/colors.xml
  WooCommerce/src/main/res/values-night/themes.xml
  WooCommerce/src/main/res/values/alphas.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/colors_old.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/type.xml
  WooCommerce/src/main/res/values/wc_colors.xml
  WooCommerce/src/main/res/values/wc_colors_old.xml
Labels: Style

#1789 Products release 1/update title
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyEditableView.kt
  WooCommerce/src/main/res/layout/product_property_editable_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
Labels: Product Details

#1785 Dark Mode: Dashboard Stats card (old version)
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsMarkerView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/res/layout/dashboard_main_stats_row.xml
  WooCommerce/src/main/res/layout/dashboard_notice.xml
  WooCommerce/src/main/res/layout/dashboard_stats.xml
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_order_fulfillment.xml
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/fragment_order_product_list.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_amount.xml
  WooCommerce/src/main/res/layout/fragment_refund_detail.xml
  WooCommerce/src/main/res/layout/fragment_refund_summary.xml
  WooCommerce/src/main/res/layout/view_alert_dialog.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values-night/colors.xml
  WooCommerce/src/main/res/values-sw600dp/dimens_old.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/colors_old.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/dimens_old.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/type.xml
  WooCommerce/src/main/res/values/wc_colors.xml
Labels: Style

#1759 Ux audit/stats
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/res/layout/dashboard_stats.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values/integers.xml
  build.gradle
Labels: Store Stats

#1787 Dark Mode: My Store Stats Card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/res/layout/activity_main.xml
  WooCommerce/src/main/res/layout/dashboard_stats.xml
  WooCommerce/src/main/res/layout/dashboard_top_earners.xml
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/layout/my_store_date_bar.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/layout/order_badge_view.xml
  WooCommerce/src/main/res/layout/view_toolbar.xml
  WooCommerce/src/main/res/values-night/themes.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/type.xml
  build.gradle
Labels: Style

#1788 Dark Mode: Dashboard Top Performers
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardTopEarnersView.kt
  WooCommerce/src/main/res/drawable/list_divider.xml
  WooCommerce/src/main/res/layout/dashboard_notice.xml
  WooCommerce/src/main/res/layout/dashboard_stats.xml
  WooCommerce/src/main/res/layout/dashboard_top_earners.xml
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_order_fulfillment.xml
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/fragment_order_product_list.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_amount.xml
  WooCommerce/src/main/res/layout/fragment_refund_detail.xml
  WooCommerce/src/main/res/layout/fragment_refund_summary.xml
  WooCommerce/src/main/res/layout/top_earner_list_item.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
  build.gradle
Labels: Style, [Status] Needs Design Review

#1791 Dark Mode: Top Performers v4 Card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopEarnersView.kt
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/layout/my_store_top_earners.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Store Stats, Style, [Status] Needs Design Review

#1792 Dark Mode: My Store Tab - Misc
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsAvailabilityCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsRevertedNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/color-v23/button_text_color_selector.xml
  WooCommerce/src/main/res/color/button_colored_bg_selector.xml
  WooCommerce/src/main/res/color/button_text_color_selector.xml
  WooCommerce/src/main/res/drawable/button_bordered_bg.xml
  WooCommerce/src/main/res/drawable/ic_arrow_down.xml
  WooCommerce/src/main/res/drawable/ic_arrow_down_black.xml
  WooCommerce/src/main/res/drawable/ic_arrow_up.xml
  WooCommerce/src/main/res/drawable/ic_arrow_up_black.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_gift.xml
  WooCommerce/src/main/res/drawable/stats_availability_expander_selector.xml
  WooCommerce/src/main/res/layout/dashboard_main_stats_row.xml
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_order_fulfillment.xml
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/fragment_order_product_list.xml
  WooCommerce/src/main/res/layout/my_store_date_bar.xml
  WooCommerce/src/main/res/layout/my_store_stats_availability_notice.xml
  WooCommerce/src/main/res/layout/my_store_stats_reverted_notice.xml
  WooCommerce/src/main/res/layout/my_store_top_earners.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values-night/colors.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/colors_old.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Store Stats, Style, [Status] Needs Design Review

#1795 Dark Mode: Order List Tab
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemIdentifier.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemUIType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/res/layout/actionable_empty_view.xml
  WooCommerce/src/main/res/layout/dashboard_top_earners.xml
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/my_store_top_earners.xml
  WooCommerce/src/main/res/layout/order_detail_note_list_note.xml
  WooCommerce/src/main/res/layout/order_detail_product_list_item.xml
  WooCommerce/src/main/res/layout/order_list_header.xml
  WooCommerce/src/main/res/layout/order_list_item.xml
  WooCommerce/src/main/res/layout/order_list_view.xml
  WooCommerce/src/main/res/layout/skeleton_order_list_item.xml
  WooCommerce/src/main/res/layout/skeleton_order_notes_list_item.xml
  WooCommerce/src/main/res/layout/skeleton_site_picker.xml
  WooCommerce/src/main/res/layout/skeleton_site_picker_item.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values-night/colors.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/type.xml
Labels: Order List, Style

#1806 Issue/1801 empty states search
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListEmptyUiState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UiHelpers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/drawable/ic_img_dark_empty_search.xml
  WooCommerce/src/main/res/drawable/ic_img_light_empty_search.xml
  WooCommerce/src/main/res/layout/actionable_empty_view.xml
  WooCommerce/src/main/res/layout/order_list_view.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: Style

#1799 Dark Mode: Search & filter views
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusListView.kt
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/order_status_list_item.xml
  WooCommerce/src/main/res/layout/order_status_list_view.xml
  WooCommerce/src/main/res/values/styles.xml
Labels: Order List, Style

#1800 Dark Mode: Order Status TagView
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusTag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/tags/TagConfig.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/tags/TagView.kt
  WooCommerce/src/main/res/values-night/colors.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/colors_old.xml
  WooCommerce/src/main/res/values/dimens_old.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/wc_colors.xml
Labels: Order Details, Order List, Style

#1804 Dark Mode: Product List Tab
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsWIPNoticeCard.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/product_list_item.xml
  WooCommerce/src/main/res/layout/products_wip_notice.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values-night/colors.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/wc_colors.xml
Labels: Product List, Style

#1809 Upgrade to latest navigation library version, use FragmentContainerView
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/res/layout/activity_app_settings.xml
  WooCommerce/src/main/res/layout/activity_main.xml
  build.gradle
Labels: Architecture

#1810 Add/Edit Products Release 1 - Update Product Inventory - Step 1
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringDateFormatExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyView.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_list_checkmark.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_money.xml
  WooCommerce/src/main/res/layout/product_property_view_vert.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1819 Merge 3.4 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
Labels: Releases

#1807 Dark Mode: Reviews List Tab
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/UnreadItemDecoration.kt
  WooCommerce/src/main/res/layout/fragment_reviews_list.xml
  WooCommerce/src/main/res/layout/notifs_list_item.xml
  WooCommerce/src/main/res/layout/order_list_item.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Product Review List, Style

#1820 3.4 Hotfix: Update FluxC commit hash
  build.gradle
Labels: FluxC, Hotfix, Order List

#1821 Update Fastlane to 2.140.0
  Gemfile
  Gemfile.lock
Labels: Tooling

#1813 Issue/1801 empty states store
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListEmptyUiState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ActionableEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCSimpleEmptyView.kt
  WooCommerce/src/main/res/drawable/img_dark_empty_search.xml
  WooCommerce/src/main/res/drawable/img_light_empty_my_store.xml
  WooCommerce/src/main/res/drawable/img_light_empty_search.xml
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/fragment_reviews_list.xml
  WooCommerce/src/main/res/layout/order_list_view.xml
  WooCommerce/src/main/res/layout/wc_empty_stats_view.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/layout/wc_simple_empty_view.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Dashboard

#1826 Hotfix: Evaluating date for time grouping
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TimeGroup.kt
Labels: Hotfix

#1822 Dark Mode: Main Settings Screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsOptionValueView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ChromeCustomTabUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StyleAttrUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCToggleSingleOptionView.kt
  WooCommerce/src/main/res/color/color_on_surface_medium_selector.xml
  WooCommerce/src/main/res/layout/activity_app_settings.xml
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/layout/view_option_with_active_setting.xml
  WooCommerce/src/main/res/layout/view_toggle_single_option.xml
  WooCommerce/src/main/res/layout/view_toolbar.xml
  WooCommerce/src/main/res/values-night/colors.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/type.xml
Labels: App Settings, Style

#1824 Dark Mode: Settings Site Picker List
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/layout/site_picker_item.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: App Settings, Style

#1828 Issue/1827 consolidate app urls
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginWhatIsJetpackDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsRevertedNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AboutFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/WooUpgradeRequiredDialog.kt
  WooCommerce/src/main/res/values/link_strings.xml
Labels: Low hanging fruit

#1823 Issue/1801 empty states orders
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListEmptyUiState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/drawable/img_light_empty_orders_looking_up.xml
  WooCommerce/src/main/res/drawable/img_light_empty_orders_no_orders.xml
  WooCommerce/src/main/res/drawable/img_light_empty_products.xml
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/order_list_view.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Style

#1832 Merge 3.4 release notes and rc-2 into master
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TimeGroup.kt
  build.gradle
Labels: Releases

#1833 Merge 3.4-rc-2 into develop
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TimeGroup.kt
  build.gradle
Labels: Releases

#1834 Dark Mode: Privacy Settings Page
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsCategoryHeaderView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsOptionValueView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsToggleOptionView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StyleAttrUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UiHelpers.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_bug.xml
  WooCommerce/src/main/res/drawable/ic_stats_24dp.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/layout/fragment_settings_privacy.xml
  WooCommerce/src/main/res/layout/top_earner_list_item.xml
  WooCommerce/src/main/res/layout/view_settings_toggle_option.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: App Settings, Style

#1830 Issue/1801 empty states reviews
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/drawable/img_light_empty_reviews.xml
  WooCommerce/src/main/res/layout/fragment_reviews_list.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Style

#1831 Issue/1801 empty states order list part2
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListEmptyUiState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/drawable/img_clapping_hands.xml
  WooCommerce/src/main/res/drawable/img_light_empty_orders_all_fulfilled.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: Style

#1835 Dark Mode: Settings About Page
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AboutFragment.kt
  WooCommerce/src/main/res/drawable-night/img_woo_bubble_colored.xml
  WooCommerce/src/main/res/drawable/img_woo_bubble_colored.xml
  WooCommerce/src/main/res/drawable/woo_bubble_white.xml
  WooCommerce/src/main/res/layout/activity_app_settings.xml
  WooCommerce/src/main/res/layout/fragment_about.xml
  WooCommerce/src/main/res/values-night/colors.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/dimens.xml
  WooCommerce/src/main/res/values/dimens_old.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: App Settings, Style

#1845 issue/reset-database
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooWellSqlConfig.kt
Labels: Architecture

#1838 Dark Mode: Beta Features Settings Page
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
Labels: App Settings, Style

#1811 Add/Edit Products Release 1 - Update Product Inventory - Step 2
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductBackorderStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventorySelectorDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedSpinnerView.kt
  WooCommerce/src/main/res/drawable/ic_arrow_drop_down_black.xml
  WooCommerce/src/main/res/layout/fragment_product_inventory.xml
  WooCommerce/src/main/res/layout/view_material_outlined_edittext.xml
  WooCommerce/src/main/res/layout/view_material_outlined_spinner.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
Labels: Product Details

#1843 Dark Mode: Settings Fine Tuning
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsButton.kt
  WooCommerce/src/main/res/layout/activity_help.xml
  WooCommerce/src/main/res/layout/dashboard_stats.xml
  WooCommerce/src/main/res/layout/fragment_about.xml
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_images.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/layout/fragment_settings_privacy.xml
  WooCommerce/src/main/res/layout/my_store_date_bar.xml
  WooCommerce/src/main/res/layout/product_property_cardview.xml
  WooCommerce/src/main/res/layout/product_property_editable_view.xml
  WooCommerce/src/main/res/layout/product_property_link_view.xml
  WooCommerce/src/main/res/layout/product_property_read_more_view.xml
  WooCommerce/src/main/res/layout/product_property_view_horz.xml
  WooCommerce/src/main/res/layout/product_property_view_vert.xml
  WooCommerce/src/main/res/layout/view_settings_toggle_option.xml
  WooCommerce/src/main/res/layout/view_toggle_single_option.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: Style

#1847 Issue/1839 review notification event
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModelTest.kt
  build.gradle
Labels: FluxC, Tracks Events

#1836 Feature/empty states master
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListEmptyUiState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UiHelpers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ActionableEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCSimpleEmptyView.kt
  WooCommerce/src/main/res/drawable/img_clapping_hands.xml
  WooCommerce/src/main/res/drawable/img_dark_empty_search.xml
  WooCommerce/src/main/res/drawable/img_light_empty_my_store.xml
  WooCommerce/src/main/res/drawable/img_light_empty_orders_all_fulfilled.xml
  WooCommerce/src/main/res/drawable/img_light_empty_orders_looking_up.xml
  WooCommerce/src/main/res/drawable/img_light_empty_orders_no_orders.xml
  WooCommerce/src/main/res/drawable/img_light_empty_products.xml
  WooCommerce/src/main/res/drawable/img_light_empty_reviews.xml
  WooCommerce/src/main/res/drawable/img_light_empty_search.xml
  WooCommerce/src/main/res/layout/actionable_empty_view.xml
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/layout/order_list_view.xml
  WooCommerce/src/main/res/layout/wc_empty_stats_view.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/layout/wc_simple_empty_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: Style

#1853 Pull the latest changes from the LoginLibrary
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/res/drawable-hdpi/ic_password_visibility.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-hdpi/ic_password_visibility_off.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-mdpi/ic_password_visibility.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-mdpi/ic_password_visibility_off.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-xhdpi/ic_password_visibility.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-xhdpi/ic_password_visibility_off.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-xxhdpi/ic_password_visibility.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-xxhdpi/ic_password_visibility_off.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-xxxhdpi/ic_password_visibility.png
  libs/login/WordPressLoginFlow/src/main/res/drawable-xxxhdpi/ic_password_visibility_off.png
  libs/login/WordPressLoginFlow/src/main/res/drawable/selector_password_visibility.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_input_row.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, [Type] Bug

#1855 Dark Mode: Update resource file naming conventions
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/colors_old.xml
  WooCommerce/src/main/res/values/wc_colors.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
  WooCommerce/src/main/res/values/wc_colors_old.xml
Labels: Style

#1852 Merge 3.4 final into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModelTest.kt
  build.gradle
  fastlane/metadata/android/ar/changelogs/101.txt
  fastlane/metadata/android/ar/changelogs/104.txt
  fastlane/metadata/android/de-DE/changelogs/101.txt
  fastlane/metadata/android/es-ES/changelogs/101.txt
  fastlane/metadata/android/es-ES/changelogs/104.txt
  fastlane/metadata/android/fr-FR/changelogs/101.txt
  fastlane/metadata/android/fr-FR/changelogs/104.txt
  fastlane/metadata/android/id/changelogs/101.txt
  fastlane/metadata/android/it-IT/changelogs/101.txt
  fastlane/metadata/android/iw-IL/changelogs/101.txt
  fastlane/metadata/android/ja-JP/changelogs/101.txt
  fastlane/metadata/android/ja-JP/changelogs/104.txt
  fastlane/metadata/android/ko-KR/changelogs/101.txt
  fastlane/metadata/android/ko-KR/changelogs/104.txt
  fastlane/metadata/android/nl-NL/changelogs/101.txt
  fastlane/metadata/android/nl-NL/changelogs/104.txt
  fastlane/metadata/android/pt-BR/changelogs/101.txt
  fastlane/metadata/android/pt-BR/changelogs/104.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/101.txt
  fastlane/metadata/android/ru-RU/changelogs/104.txt
  fastlane/metadata/android/sv-SE/changelogs/101.txt
  fastlane/metadata/android/tr-TR/changelogs/101.txt
  fastlane/metadata/android/tr-TR/changelogs/104.txt
  fastlane/metadata/android/zh-CN/changelogs/101.txt
  fastlane/metadata/android/zh-TW/changelogs/101.txt
  fastlane/metadata/android/zh-TW/changelogs/104.txt
Labels: Releases

#1851 Merge 3.4 final into master
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModelTest.kt
  build.gradle
  fastlane/metadata/android/ar/changelogs/101.txt
  fastlane/metadata/android/ar/changelogs/104.txt
  fastlane/metadata/android/de-DE/changelogs/101.txt
  fastlane/metadata/android/es-ES/changelogs/101.txt
  fastlane/metadata/android/es-ES/changelogs/104.txt
  fastlane/metadata/android/fr-FR/changelogs/101.txt
  fastlane/metadata/android/fr-FR/changelogs/104.txt
  fastlane/metadata/android/id/changelogs/101.txt
  fastlane/metadata/android/it-IT/changelogs/101.txt
  fastlane/metadata/android/iw-IL/changelogs/101.txt
  fastlane/metadata/android/ja-JP/changelogs/101.txt
  fastlane/metadata/android/ja-JP/changelogs/104.txt
  fastlane/metadata/android/ko-KR/changelogs/101.txt
  fastlane/metadata/android/ko-KR/changelogs/104.txt
  fastlane/metadata/android/nl-NL/changelogs/101.txt
  fastlane/metadata/android/nl-NL/changelogs/104.txt
  fastlane/metadata/android/pt-BR/changelogs/101.txt
  fastlane/metadata/android/pt-BR/changelogs/104.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/101.txt
  fastlane/metadata/android/ru-RU/changelogs/104.txt
  fastlane/metadata/android/sv-SE/changelogs/101.txt
  fastlane/metadata/android/tr-TR/changelogs/101.txt
  fastlane/metadata/android/tr-TR/changelogs/104.txt
  fastlane/metadata/android/zh-CN/changelogs/101.txt
  fastlane/metadata/android/zh-TW/changelogs/101.txt
  fastlane/metadata/android/zh-TW/changelogs/104.txt
Labels: Releases

#1850 Issue/1848 options menu base fragments
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Architecture

#1859 Merge 3.5 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values/strings.xml
Labels: Releases

#1846 Products release 1/1775 update shipping
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_shipping.xml
  WooCommerce/src/main/res/layout/dialog_product_shipping_class_list.xml
  WooCommerce/src/main/res/layout/fragment_product_shipping.xml
  WooCommerce/src/main/res/layout/product_shipping_class_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#1866 issue/1864-empty-reviews-list
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
Labels: Product Review List

#1857 Add automated beta uploads
  .configure
  .configure-files/google-upload-credentials.json.enc
  .gitignore
  fastlane/Fastfile
Labels: Tooling

#1865 Issue/1863 empty state fixes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/drawable/img_clapping_hands.xml
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/fragment_reviews_list.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: Style

#1872 Fix order detail payment paddings
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
Labels: [Status] Needs Design Review

#1870 Edit Products Release 1 - Update Product Inventory - Step 3
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductBackorderStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/res/layout/fragment_product_inventory.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details

#1844 Dark Mode: Help Screens
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/SupportHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/WooLogViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/AppThemeUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/main/res/layout/activity_help.xml
  WooCommerce/src/main/res/layout/activity_logviewer.xml
  WooCommerce/src/main/res/layout/logviewer_listitem.xml
  WooCommerce/src/main/res/layout/support_email_and_name_dialog.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
Labels: Style, Support, [Status] Needs Design Review

#1874 Merge 3.5 release notes into master
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#1862 Darkmode/1849 empty states
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/drawable-night/img_empty_my_store.xml
  WooCommerce/src/main/res/drawable-night/img_empty_orders_all_fulfilled.xml
  WooCommerce/src/main/res/drawable-night/img_empty_orders_loading.xml
  WooCommerce/src/main/res/drawable-night/img_empty_orders_no_orders.xml
  WooCommerce/src/main/res/drawable-night/img_empty_products.xml
  WooCommerce/src/main/res/drawable-night/img_empty_reviews.xml
  WooCommerce/src/main/res/drawable-night/img_empty_search.xml
  WooCommerce/src/main/res/drawable/img_clapping_hands.xml
  WooCommerce/src/main/res/drawable/img_dark_empty_search.xml
  WooCommerce/src/main/res/drawable/img_empty_my_store.xml
  WooCommerce/src/main/res/drawable/img_empty_orders_all_fulfilled.xml
  WooCommerce/src/main/res/drawable/img_empty_orders_loading.xml
  WooCommerce/src/main/res/drawable/img_empty_orders_no_orders.xml
  WooCommerce/src/main/res/drawable/img_empty_products.xml
  WooCommerce/src/main/res/drawable/img_empty_reviews.xml
  WooCommerce/src/main/res/drawable/img_empty_search.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/layout/wc_simple_empty_view.xml
Labels: Style

#1880 Issue/1879 1877 update libraries
  .idea/codeStyles/Project.xml
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  build.gradle
Labels: Architecture
