Repository woocommerce/woocommerce-android, pull requests merged in 2020-12, with the labels that each got.

#3234 Issue/3232 viewbinding main activity
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/layout/zs_activity_request.xml
Labels: Architecture

#3238 Use Log In instead of Get Started for Woo
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Login, Style

#3239 Update label on the email screen in the WPcom login email flow
  WooCommerce/src/main/res/values/strings.xml
Labels: Login, Style

#3228 Updates to the order payment details
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: [Type] Enhancement

#3245 Rename the installDeps gradle task to configureApply
  build.gradle
Labels: Tooling

#3242 Issue/3232 viewbinding settings activity
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AboutFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/LicensesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsOptionValueView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsToggleOptionView.kt
Labels: Architecture

#3243 Remove SKU from the list of products in order detail screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductItemView.kt
  WooCommerce/src/main/res/layout/order_detail_product_item.xml
Labels: Order Details, [Type] Enhancement

#3230 Shipping labels: State machine
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachine.kt
  WooCommerce/src/main/res/raw/licenses.html
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachineTest.kt
  build.gradle
Labels: Part of a WIP Feature, Shipping Labels

#3246 Merge release/5.6 into develop after Release Notes update
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#3231 Shipping labels: ViewModel
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingAddressValidator.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundViewModelTest.kt
Labels: Part of a WIP Feature, Shipping Labels

#3249 Fix the issue of trashing/spamming reviews opened from push notification
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
Labels: Product Review List, [Type] Bug

#3235 UL: Add new login tint color for secondary button icon
  WooCommerce/src/main/res/values/colors_login.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_optional_site_creds_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/colors.xml
Labels: Login, Style

#3236 Issue/3186 bold store address
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Login, Style

#3247 Issue/3232 viewbinding mystore
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreDateRangeView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsRevertedNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyStatsView.kt
  WooCommerce/src/main/res/layout/dashboard_stats.xml
Labels: Architecture

#3265 issue/3261-heart-alignment
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
Labels: App Settings

#3263 issue/3253-order-detail-missing-header-5.6
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Order List, [Type] Bug

#3264 issue/3254-product-list-extra-divider-5.6
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Order List, [Type] Bug

#3269 Hide the new downloadable files section if products M5 flag is not enabled
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
Labels: Product Details, [Type] Bug

#3270 Fix crash on Wordpress media library when multiselection is disabled
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaGalleryView.kt
Labels: Variation Details, [Type] Bug

#3266 Update button style to be unelevated and force to use Subtitle2
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Login, Style, [Status] Needs Design Review

#3257 Issue/3232 viewbinding order notes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderDetailOrderNoteItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderDetailOrderNoteListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderNoteViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderNotesAdapter.kt
  WooCommerce/src/main/res/layout/order_detail_note_list_note.xml
Labels: Architecture

#3274 issue/3252-order-list-search-shadow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Order List

#3278 issue/3276-extra-space-below-search-5.6
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/TopLevelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: Order List, Product List

#3277 Changed search cursor color so it's visible
  WooCommerce/src/main/res/drawable/searchview_cursor.xml
Labels: Order List, Product List

#3272 Hide the shipment tracking if the order has only virtual products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: Order Details, [Type] Bug

#3280 Stop the menu crash on Product details and add logs to identify the cause
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: Product Details, [Type] Bug

#3267 Fix "No Stores" view to reflect design changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/layout-land/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/layout/view_login_no_stores.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Login, Style, Tracks Events, [Status] Needs Design Review

#3282 Merging 5.6-rc-2 back into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaGalleryView.kt
Labels: Releases

#3279 Issue/3232 viewbinding order list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
Labels: Architecture, Order List

#3286 Fix MainActivity build failure
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: [Type] Bug

#3285 Add Navigation Animation
  WooCommerce/src/main/res/animator/ic_menu_dashboard_bar_left.xml
  WooCommerce/src/main/res/animator/ic_menu_dashboard_bar_middle.xml
  WooCommerce/src/main/res/animator/ic_menu_dashboard_bar_right.xml
  WooCommerce/src/main/res/animator/ic_menu_dashboard_line_bottom.xml
  WooCommerce/src/main/res/animator/ic_menu_orders_list_line_bottom.xml
  WooCommerce/src/main/res/animator/ic_menu_orders_list_line_top.xml
  WooCommerce/src/main/res/animator/ic_menu_orders_list_page_fold.xml
  WooCommerce/src/main/res/animator/ic_menu_orders_list_page_tab.xml
  WooCommerce/src/main/res/animator/ic_menu_products_list_circle.xml
  WooCommerce/src/main/res/animator/ic_menu_products_list_lid_clip.xml
  WooCommerce/src/main/res/animator/ic_menu_products_list_lid_path.xml
  WooCommerce/src/main/res/animator/ic_menu_products_list_square.xml
  WooCommerce/src/main/res/animator/ic_menu_products_list_triangle.xml
  WooCommerce/src/main/res/animator/ic_menu_reviews_inner_clip.xml
  WooCommerce/src/main/res/animator/ic_menu_reviews_outer_clip.xml
  WooCommerce/src/main/res/drawable/as_menu_dashboard.xml
  WooCommerce/src/main/res/drawable/as_menu_orders_list.xml
  WooCommerce/src/main/res/drawable/as_menu_products_list.xml
  WooCommerce/src/main/res/drawable/as_menu_reviews.xml
  WooCommerce/src/main/res/drawable/ic_menu_dashboard.xml
  WooCommerce/src/main/res/drawable/ic_menu_orders_list.xml
  WooCommerce/src/main/res/drawable/ic_menu_products_list.xml
  WooCommerce/src/main/res/drawable/ic_menu_reviews.xml
  WooCommerce/src/main/res/menu/menu_bottom_bar.xml
Labels: [Status] Needs Design Review, [Type] Task

#3237 Issue/2981 button styles
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/styles_login.xml
  WooCommerce/src/main/res/values/type.xml
Labels: Login, Style

#3294 UL: Site picker style tweaks
  WooCommerce/src/main/AndroidManifest.xml
Labels: Login, Style, [Status] Needs Design Review

#3290 Issue/3232 viewbinding product list take2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/FeatureWIPNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortAndFiltersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
Labels: Architecture, Product List

#3291 Fix issue with unable to open email from app on Android 11
  RELEASE-NOTES.txt
  WooCommerce/src/main/AndroidManifest.xml
Labels: Login, [Type] Bug

#3293 UL: Hide "what is jetpack" button when displaying list of stores
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/layout-land/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/view_login_no_stores.xml
Labels: Login, [Type] Bug

#3283 Shipping labels/add product ids
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  build.gradle
Labels: Shipping Labels, [Type] Enhancement

#3224 Shipping Labels: Creation workflow
  .idea/compiler.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Address.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreationStepView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachine.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_credit_card.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_globe.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_house.xml
  WooCommerce/src/main/res/layout/fragment_create_shipping_label.xml
  WooCommerce/src/main/res/layout/shipping_label_creation_step.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachineTest.kt
Labels: Part of a WIP Feature, Shipping Labels

#3288 Convert "Add order note" screen to MVVM
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNotePresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderNoteRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/AddOrderNotePresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteViewModelTest.kt
Labels: Architecture, Order Details

#3268 UL: Modified password and passwordless flow
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Login

#3297 Update playstore metadata translations
  fastlane/metadata/android/ar/changelogs/173.txt
  fastlane/metadata/android/ar/full_description.txt
  fastlane/metadata/android/de-DE/changelogs/173.txt
  fastlane/metadata/android/de-DE/full_description.txt
  fastlane/metadata/android/es-ES/changelogs/173.txt
  fastlane/metadata/android/es-ES/full_description.txt
  fastlane/metadata/android/fr-FR/changelogs/173.txt
  fastlane/metadata/android/fr-FR/full_description.txt
  fastlane/metadata/android/id/changelogs/173.txt
  fastlane/metadata/android/id/full_description.txt
  fastlane/metadata/android/it-IT/changelogs/173.txt
  fastlane/metadata/android/it-IT/full_description.txt
  fastlane/metadata/android/iw-IL/changelogs/173.txt
  fastlane/metadata/android/iw-IL/full_description.txt
  fastlane/metadata/android/ja-JP/changelogs/173.txt
  fastlane/metadata/android/ja-JP/full_description.txt
  fastlane/metadata/android/ko-KR/changelogs/173.txt
  fastlane/metadata/android/ko-KR/full_description.txt
  fastlane/metadata/android/nl-NL/changelogs/173.txt
  fastlane/metadata/android/nl-NL/full_description.txt
  fastlane/metadata/android/pt-BR/changelogs/173.txt
  fastlane/metadata/android/pt-BR/full_description.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/173.txt
  fastlane/metadata/android/ru-RU/full_description.txt
  fastlane/metadata/android/sv-SE/changelogs/173.txt
  fastlane/metadata/android/sv-SE/full_description.txt
  fastlane/metadata/android/tr-TR/changelogs/173.txt
  fastlane/metadata/android/tr-TR/full_description.txt
  fastlane/metadata/android/zh-CN/changelogs/173.txt
  fastlane/metadata/android/zh-CN/full_description.txt
  fastlane/metadata/android/zh-TW/changelogs/173.txt
  fastlane/metadata/android/zh-TW/full_description.txt
Labels: Releases

#3305 Issue/3296 Fix issue of menu disappearing after device rotation in order child fragments
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Order Details, [Type] Bug

#3301 Issue/3232 viewbinding review list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/res/layout/order_list_header.xml
Labels: Architecture, Product Review Details, Product Review List

#3307 Override the Zendesk empty tickets view to fix dark mode
  WooCommerce/src/main/res/layout/zs_activity_request_list_scene_empty.xml
Labels: Style, Support, [Type] Bug

#3306 Convert AddOrderShipmentTrackingFragment to MVVM
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrdersModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderActionListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/Carrier.kt
  WooCommerce/src/main/res/layout/dialog_order_tracking_provider_list.xml
  WooCommerce/src/main/res/layout/fragment_add_shipment_tracking.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/AddOrderTrackingProviderListPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingViewModelTest.kt
Labels: Architecture, Order Details

#3303 Merge release/5.6 into develop after 3 successive betas + fixing conflicts
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/TopLevelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/drawable/searchview_cursor.xml
Labels: Releases

#3310 issue/3309-product-list-options-menu
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: Product List

#3311 Issue/3240 bottom nav overlaps fab
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/res/layout/activity_main.xml
  WooCommerce/src/main/res/layout/fragment_product_list.xml
Labels: Product List

#3284 Issue/3176 shipping label refund changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShippingLabelsAdapter.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Shipping Labels

#3312 Support removing an image from a product variation
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details, [Type] Enhancement

#3316 Fix dialog result-handling
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: Architecture

#3315 Convert "shipment tracking providers" screen to MVVM
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderShipmentProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/OrderShipmentProvidersRepository.kt
  WooCommerce/src/main/res/layout/dialog_order_tracking_provider_list.xml
  WooCommerce/src/main/res/menu/menu_shipment_tracking_providers.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/AddOrderTrackingProviderListPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListViewModelTest.kt
Labels: Architecture, Order Details

#3323 issue/3322-scroll-to-top-expand-toolbar
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: UI fix

#3320 issue/3317-order-list-settings-menu
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
Labels: Order List

#3324 Issue/3321 toolbar expand on rotation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: Architecture

#3327 Merge release/5.6 into develop (final)
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/173.txt
  fastlane/metadata/android/ar/changelogs/179.txt
  fastlane/metadata/android/de-DE/changelogs/173.txt
  fastlane/metadata/android/de-DE/changelogs/179.txt
  fastlane/metadata/android/es-ES/changelogs/173.txt
  fastlane/metadata/android/es-ES/changelogs/179.txt
  fastlane/metadata/android/fr-FR/changelogs/173.txt
  fastlane/metadata/android/fr-FR/changelogs/179.txt
  fastlane/metadata/android/id/changelogs/173.txt
  fastlane/metadata/android/id/changelogs/179.txt
  fastlane/metadata/android/it-IT/changelogs/173.txt
  fastlane/metadata/android/it-IT/changelogs/179.txt
  fastlane/metadata/android/iw-IL/changelogs/173.txt
  fastlane/metadata/android/iw-IL/changelogs/179.txt
  fastlane/metadata/android/ja-JP/changelogs/173.txt
  fastlane/metadata/android/ja-JP/changelogs/179.txt
  fastlane/metadata/android/ko-KR/changelogs/173.txt
  fastlane/metadata/android/ko-KR/changelogs/179.txt
  fastlane/metadata/android/nl-NL/changelogs/173.txt
  fastlane/metadata/android/nl-NL/changelogs/179.txt
  fastlane/metadata/android/pt-BR/changelogs/173.txt
  fastlane/metadata/android/pt-BR/changelogs/179.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/173.txt
  fastlane/metadata/android/ru-RU/changelogs/179.txt
  fastlane/metadata/android/sv-SE/changelogs/173.txt
  fastlane/metadata/android/sv-SE/changelogs/179.txt
  fastlane/metadata/android/tr-TR/changelogs/173.txt
  fastlane/metadata/android/tr-TR/changelogs/179.txt
  fastlane/metadata/android/zh-CN/changelogs/173.txt
  fastlane/metadata/android/zh-CN/changelogs/179.txt
  fastlane/metadata/android/zh-TW/changelogs/173.txt
  fastlane/metadata/android/zh-TW/changelogs/179.txt
Labels: Releases

#3330 Order details loading refactor
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ViewExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: Order Details

#3333 Merge release/5.7 to develop after code freeze
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#3328 Issue/3232 viewbinding order detail p1
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailRefundsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShipmentTrackingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShippingLabelsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailOrderNotesView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailOrderStatusView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailProductListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailRefundsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailShipmentTrackingListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailShippingLabelsView.kt
Labels: Architecture, Order Details

#3331 Unified Login: Not a WordPress Site error flow
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginSiteCheckErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WooLoginFragmentModule.kt
  WooCommerce/src/main/res/layout-land/fragment_login_site_check_error.xml
  WooCommerce/src/main/res/layout/fragment_login_site_check_error.xml
  WooCommerce/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, Tracks Events, [Status] Needs Design Review

#3340 Order details crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Order Details

#3336 Login: Fix backstack when jumping back to the Prologue screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: Login, Tech Debt

#3329 Product Attributes: Use the correct hex for interpunct
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductItemView.kt
Labels: Order Details, [Type] Bug

#3337 Betafix: Add back the orderRefreshLayout PTR handling.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Order List, [Type] Bug

#3345 Merge hotfix/5.6.1 AND hotfix/5.6.2 into develop
  WooCommerce/build.gradle
Labels: Releases

#3352 Merge hotfix/5.6.2 into trunk
  WooCommerce/build.gradle
  build.gradle
Labels: Releases

#3360 Only show the FAB when a top level fragment is showing
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: Product Details, Product List

#3357 Merge release/5.7 into develop after new beta + Release Notes update
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Releases

#3363 Beta Fix: Fix broken "reset password" link on site creds login screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: [Type] Bug

#3361 Merge 5.7 rc 3 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: Releases

#3362 Unified Login: Fix secondary help button alignment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginJetpackRequiredFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/layout-land/fragment_login_jetpack_required.xml
  WooCommerce/src/main/res/layout-land/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/layout/fragment_login_jetpack_required.xml
  WooCommerce/src/main/res/layout/view_login_no_stores.xml
Labels: Login, [Type] Bug

#3365 issue/3344-product-list-crash-fix
  WooCommerce/src/main/res/layout/fragment_product_list.xml
Labels: Product List, [Type] Crash

#3334 Issue/3232 viewbinding order detail p2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelInfoFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreationStepView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListFragment.kt
  WooCommerce/src/main/res/layout/dialog_order_tracking_provider_list_header.xml
Labels: Architecture, Order Details

#3367 Merge Hotfix/5.6.3 into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  build.gradle
Labels: Releases

#3358 Issue/3232 viewbinding product detail p1
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AddProductElementView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/LinkedProductsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductExternalLinkFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyCardView.kt
Labels: Architecture, Product Details

#3370 issue/enable-m5-for-all
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: Product Details

#3376 Merge release 5.7 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Releases

#3378 Fix ripple for logout button in settings
  WooCommerce/src/main/res/values/styles_base.xml
Labels: App Settings, Style

#3380 Fix ripple effect of "add more details" button in product details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListAdapter.kt
  WooCommerce/src/main/res/layout-land/fragment_login_jetpack_required.xml
  WooCommerce/src/main/res/layout-land/fragment_login_what_is_jetpack.xml
  WooCommerce/src/main/res/layout-land/view_login_no_stores.xml
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/layout/dialog_order_tracking_provider_list_item.xml
  WooCommerce/src/main/res/layout/dialog_promo.xml
  WooCommerce/src/main/res/layout/dialog_version_upgrade_required.xml
  WooCommerce/src/main/res/layout/fragment_info_screen.xml
  WooCommerce/src/main/res/layout/fragment_login_jetpack_required.xml
  WooCommerce/src/main/res/layout/fragment_login_no_jetpack.xml
  WooCommerce/src/main/res/layout/fragment_login_no_wpcom_account_found.xml
  WooCommerce/src/main/res/layout/fragment_login_what_is_jetpack.xml
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_pricing.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_items.xml
  WooCommerce/src/main/res/layout/fragment_review_detail.xml
  WooCommerce/src/main/res/layout/fragment_settings_privacy.xml
  WooCommerce/src/main/res/layout/order_detail_customer_info.xml
  WooCommerce/src/main/res/layout/order_detail_note_list.xml
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/layout/order_detail_shipment_tracking_list.xml
  WooCommerce/src/main/res/layout/order_detail_shipping_label_list_item.xml
  WooCommerce/src/main/res/layout/product_filter_option_list_item.xml
  WooCommerce/src/main/res/layout/product_property_read_more_view_layout.xml
  WooCommerce/src/main/res/layout/refund_by_items_shipping.xml
  WooCommerce/src/main/res/layout/shipping_label_creation_step.xml
  WooCommerce/src/main/res/layout/view_login_no_stores.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: [Type] Bug
