Repository woocommerce/woocommerce-android, pull requests merged in 2020-08, with the labels that each got.

#2672 Support new MimeType declaration on MediaStore calls
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerRepository.kt
  build.gradle
Labels: FluxC

#2664 Variant visibility switch
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/VariationDetailRepository.kt
  WooCommerce/src/main/res/menu/menu_variation_detail_fragment.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Tracks Events, Variation Details

#2673 Issue/2667 shipment tracking bug fix
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
Labels: Order Details, [Type] Bug

#2665 Variant/variation name refactoring
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductVariantsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/res/layout/fragment_variation_detail.xml
  WooCommerce/src/main/res/layout/fragment_variation_list.xml
  WooCommerce/src/main/res/layout/skeleton_variation_detail.xml
  WooCommerce/src/main/res/layout/variation_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
Labels: Product Details, Product List, Variation Details

#2666 Variation description
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationNavigator.kt
Labels: Variation Details

#2674 Fix the failing product detail unit tests
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
Labels: Broken Tests

#2675 Edit variation price
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/Fragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_pricing.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModelTest.kt
  build.gradle
Labels: Product Details, Variation Details

#2678 Fix flaky variation list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
Labels: Variation list

#2679 Multiple observers crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NavController.kt
Labels: [Type] Crash

#2704 Release/4.7
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  fastlane/metadata/android/ar/changelogs/140.txt
  fastlane/metadata/android/ar/changelogs/143.txt
  fastlane/metadata/android/de-DE/changelogs/140.txt
  fastlane/metadata/android/de-DE/changelogs/143.txt
  fastlane/metadata/android/es-ES/changelogs/140.txt
  fastlane/metadata/android/es-ES/changelogs/143.txt
  fastlane/metadata/android/fr-FR/changelogs/140.txt
  fastlane/metadata/android/fr-FR/changelogs/143.txt
  fastlane/metadata/android/id/changelogs/140.txt
  fastlane/metadata/android/id/changelogs/143.txt
  fastlane/metadata/android/it-IT/changelogs/140.txt
  fastlane/metadata/android/it-IT/changelogs/143.txt
  fastlane/metadata/android/iw-IL/changelogs/140.txt
  fastlane/metadata/android/iw-IL/changelogs/143.txt
  fastlane/metadata/android/ja-JP/changelogs/140.txt
  fastlane/metadata/android/ja-JP/changelogs/143.txt
  fastlane/metadata/android/ko-KR/changelogs/140.txt
  fastlane/metadata/android/ko-KR/changelogs/143.txt
  fastlane/metadata/android/nl-NL/changelogs/140.txt
  fastlane/metadata/android/nl-NL/changelogs/143.txt
  fastlane/metadata/android/pt-BR/changelogs/140.txt
  fastlane/metadata/android/pt-BR/changelogs/143.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/140.txt
  fastlane/metadata/android/ru-RU/changelogs/143.txt
  fastlane/metadata/android/sv-SE/changelogs/140.txt
  fastlane/metadata/android/tr-TR/changelogs/140.txt
  fastlane/metadata/android/tr-TR/changelogs/143.txt
  fastlane/metadata/android/tr-TR/short_description.txt
  fastlane/metadata/android/zh-CN/changelogs/140.txt
  fastlane/metadata/android/zh-CN/changelogs/143.txt
  fastlane/metadata/android/zh-TW/changelogs/140.txt
  fastlane/metadata/android/zh-TW/changelogs/143.txt
Labels: Releases

#2705 Remove duplicated string in sv-SV
  WooCommerce/src/main/res/values-sv/strings.xml
Labels: Localization

#2701 Do not attempt to hide a null empty_view
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Order List, [Type] Crash

#2713 Update FluxC to 1.6.18
  build.gradle
  libs/login/WordPressLoginFlow/build.gradle
Labels: [Type] Enhancement

#2715 Merge Release/4.8 back into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/Fastfile
  fastlane/resources/values/strings.xml
  libs/login/WordPressLoginFlow/build.gradle
Labels: Releases

#2712 Issue/2322 update product type
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dialog/CustomDiscardDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_cloud_outline.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_up_right.xml
  WooCommerce/src/main/res/drawable/ic_widgets.xml
  WooCommerce/src/main/res/layout/product_detail_bottom_sheet_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details, [Type] Enhancement

#2714 Issue/2191 display product reviews
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/models/ProductProperty.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/viewholders/RatingBarViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/res/drawable/ic_reviews.xml
  WooCommerce/src/main/res/layout/product_property_view_vert_layout.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Type] Enhancement

#2717 Variations: No price warning banners
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/adapters/ProductPropertiesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/models/ProductProperty.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/viewholders/PropertyGroupViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/viewholders/PropertyViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/viewholders/SwitchViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/viewholders/WarningViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/PriceUtils.kt
  WooCommerce/src/main/res/layout/fragment_variation_list.xml
  WooCommerce/src/main/res/layout/product_property_view_vert_layout.xml
  WooCommerce/src/main/res/layout/product_property_warning_layout.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
Labels: Variation Details, Variation list

#2718 Visibility syntax sugar
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardTopEarnersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopEarnersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderTrackingProviderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ParentCategoryListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaGalleryView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooAnimUtils.kt
Labels: Tech Debt

#2702 Bump Tracks library version to 1.2.1
  WooCommerce/build.gradle
Labels: Tracks Events

#2719 Merge Release/4.8 into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#2726 Update text to point to ideas board
  .github/ISSUE_TEMPLATE/Enhancement.md
Labels: [Type] Task

#2727 Issue/2708 Display downloadable files in the product details
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductFile.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AddProductElementView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDownloadsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDownloadsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDownloadsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StringUtils.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_align_justify.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_cloud.xml
  WooCommerce/src/main/res/layout/add_product_element_view.xml
  WooCommerce/src/main/res/layout/fragment_product_categories_list.xml
  WooCommerce/src/main/res/layout/fragment_product_downloads_list.xml
  WooCommerce/src/main/res/layout/product_downloads_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
  build.gradle
Labels: Part of a WIP Feature, Product Details

#2720 Feat/products 2706 add product action
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductAddTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/product_detail_bottom_sheet_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_type_bottom_sheet.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: Part of a WIP Feature, Product Details, Product List

#2729 Hotfix: Hide M3 features if feature flag disabled
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
Labels: Hotfix

#2739 Pinpoint Android executor to the last JDK 8 image
  .circleci/config.yml
Labels: Tooling

#2738 Issue/2737 Fix the behavior of the "discard changes" dialog in product details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/BaseFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByAmountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundConfirmationDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundItemsPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
Labels: Product Details, Refunds, [Type] Bug

#2730 Issue/2709 Update downloadable files for a product
  .circleci/config.yml
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDownloadsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDownloadsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadsSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadsSettingsModule.kt
  WooCommerce/src/main/res/layout/fragment_product_download_details.xml
  WooCommerce/src/main/res/layout/fragment_product_downloads_settings.xml
  WooCommerce/src/main/res/layout/product_downloads_list_item.xml
  WooCommerce/src/main/res/menu/menu_product_download_details.xml
  WooCommerce/src/main/res/menu/menu_product_downloads_list.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsViewModelTest.kt
Labels: Product Details, [Status] Needs Design Review, [Type] Enhancement

#2741 Use the `main` branch of mobile secrets
  .configure
  .ruby-version
Labels: [Type] Enhancement

#2748 Fix product reviews
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
Labels: Broken Tests, Product Details

#2742 Issue/2710 Delete downloadable files
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/BaseFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dialog/WooDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/BaseProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsViewModelTest.kt
Labels: Part of a WIP Feature, Product Details, [Type] Enhancement

#2747 Issue/2745 Add ability to mark/unmark a product as downloadable from product settings
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/res/layout/dialog_uncheck_is_downloadable_warning.xml
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Part of a WIP Feature, Product Details, [Type] Enhancement

#2676 Integrate UI with the Stats V4 Top Performers API
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStorePresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/layout/my_store_top_performers.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStorePresenterTest.kt
Labels: Store Stats

#2771 Merge Release/4.9 back into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#2770 Feat/products 2707 simple product details add images
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
Labels: Product Details

#2772 Product details: Image Update
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
Labels: Product Details, [Type] Bug

#2773 Unified Login: Site Address Flow
  WooCommerce/build.gradle
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragment.kt
  WooCommerce/src/main/res/drawable/img_slanted_rectangle.xml
  WooCommerce/src/main/res/drawable/img_slanted_rectangle_landscape.xml
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-land/login_magic_link_request_screen.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/login_magic_link_request_content.xml
  WooCommerce/src/main/res/layout/login_magic_link_request_screen.xml
  WooCommerce/src/main/res/layout/login_magic_link_sent_content.xml
  WooCommerce/src/main/res/layout/toolbar_login.xml
  WooCommerce/src/main/res/menu/menu_login.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/shape.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_login.xml
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_optional_site_creds_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_magic_link_sent_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login

#2788 Added fix to update the product title only if there are any changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: Product Details, [Type] Crash

#2791 Issue/2781 incorrect product type fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_types.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Type] Bug

#2787 Merge Release/4.9 into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_types.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Releases

#2795 Feat/add new product api call
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details

#2798 Tests/add product
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppConfigModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/ProductUtils.kt
Labels: Product Details

#2799 Replaced current CrowdSignal Survey URL with the Production one
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
Labels: [Feat] In-app Feedback
