Repository woocommerce/woocommerce-android, pull requests merged in 2020-09, with the labels that each got.

#2794 Pass missing navargs when opening ProductImagesFragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesModule.kt
Labels: Product Details, [Type] Crash

#2796 Update appcompat library to latest stable version: 1.2.0
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/res/layout/fragment_review_detail.xml
  WooCommerce/src/main/res/layout/product_property_link_view_layout.xml
  WooCommerce/src/main/res/layout/product_property_warning_layout.xml
Labels: App Settings, Style, [Type] Crash

#2807 Woo/order detail shipment fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
Labels: Order Details, [Type] Bug

#2774 Issue/2630 adding grouped products
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AddProductElementView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/OnActionModeEventListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionItemKeyProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListItemLookup.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StringUtils.kt
  WooCommerce/src/main/res/drawable/list_primary_selector.xml
  WooCommerce/src/main/res/layout/add_product_element_view.xml
  WooCommerce/src/main/res/layout/fragment_grouped_product_list.xml
  WooCommerce/src/main/res/layout/fragment_product_categories_list.xml
  WooCommerce/src/main/res/layout/product_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModelTest.kt
  build.gradle
Labels: Product Details, [Type] Enhancement

#2804 Woo/add flipper
  WooCommerce/build.gradle
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/InterceptorModule.kt
  build.gradle
Labels: Tech Debt

#2813 Fix bundletool installation
  .circleci/config.yml
Labels: Tooling

#2817 Merge 4.9-rc-3 back into develop
  .circleci/config.yml
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
Labels: Releases

#2808 issue/2659 track shipments
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShipmentTrackingUrls.kt
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Order Details, [Type] Enhancement

#2806 Edit Products M3: bug fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/BaseProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_visibility.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Type] Bug

#2803 Unified Login: wpcom flow
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/login/WelcomeScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-land/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/layout/view_login_user_info.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Login

#2821 issue/2615-runtime-exception
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
Labels: [Type] Crash

#2824 Added logic to display M3 banner only if M3 features are enabled
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/res/layout/products_wip_notice.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Type] Bug

#2775 Issue/2630 search grouped products
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModel.kt
Labels: Product Details, Tracks Events, [Type] Enhancement

#2825 Merge Release/4.9 back into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/res/layout/products_wip_notice.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  fastlane/metadata/android/ar/changelogs/146.txt
  fastlane/metadata/android/ar/changelogs/150.txt
  fastlane/metadata/android/de-DE/changelogs/146.txt
  fastlane/metadata/android/de-DE/changelogs/150.txt
  fastlane/metadata/android/es-ES/changelogs/146.txt
  fastlane/metadata/android/fr-FR/changelogs/146.txt
  fastlane/metadata/android/fr-FR/changelogs/150.txt
  fastlane/metadata/android/id/changelogs/146.txt
  fastlane/metadata/android/id/changelogs/150.txt
  fastlane/metadata/android/it-IT/changelogs/146.txt
  fastlane/metadata/android/it-IT/changelogs/150.txt
  fastlane/metadata/android/iw-IL/changelogs/146.txt
  fastlane/metadata/android/iw-IL/changelogs/150.txt
  fastlane/metadata/android/ja-JP/changelogs/146.txt
  fastlane/metadata/android/ja-JP/changelogs/150.txt
  fastlane/metadata/android/ko-KR/changelogs/146.txt
  fastlane/metadata/android/ko-KR/changelogs/150.txt
  fastlane/metadata/android/nl-NL/changelogs/146.txt
  fastlane/metadata/android/nl-NL/changelogs/150.txt
  fastlane/metadata/android/pt-BR/changelogs/146.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/146.txt
  fastlane/metadata/android/ru-RU/changelogs/150.txt
  fastlane/metadata/android/sv-SE/changelogs/146.txt
  fastlane/metadata/android/sv-SE/changelogs/150.txt
  fastlane/metadata/android/tr-TR/changelogs/146.txt
  fastlane/metadata/android/tr-TR/changelogs/150.txt
  fastlane/metadata/android/zh-CN/changelogs/146.txt
  fastlane/metadata/android/zh-CN/changelogs/150.txt
  fastlane/metadata/android/zh-TW/changelogs/146.txt
  fastlane/metadata/android/zh-TW/changelogs/150.txt
Labels: Releases

#2827 Merge Release/5.0 back into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#2811 Product details: Decouple image gallery from product details
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ListExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NavController.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesServiceWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCProductImageGalleryView.kt
  WooCommerce/src/main/res/navigation/nav_graph_image_gallery.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details

#2823 Tests: Fix connected screenshot test
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/mystore/StatsComponent.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/mystore/settings/SettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/values/ids.xml
Labels: Broken Tests

#2829 Merge Release/5.0 back into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#2834 Switch configuration to trunk
  .configure
  Gemfile.lock
  fastlane/Pluginfile
Labels: Tooling

#2835 Products m3 crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ParentCategoryListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoriesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsAdapter.kt
  WooCommerce/src/main/res/layout/parent_category_list_item.xml
  WooCommerce/src/main/res/layout/product_category_list_item.xml
Labels: Product Details, [Type] Crash

#2812 Create display conditionals for the Feedback Request Card
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NumberExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/AppRatingDialog.kt
Labels: [Feat] In-app Feedback, [Type] Task

#2839 Fix Jalapeno Build on CI
  .configure
  WooCommerce/build.gradle
Labels: Tooling

#2836 Unified Login: Add tracks for login w/ site address - flow and interaction events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTrackerWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
Labels: Login, Tracks Events

#2833 Unified Login: Store picker and error screens
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerContract.kt
  WooCommerce/src/main/res/layout/activity_site_picker.xml
Labels: Login

#2841 Unified Login: Find connected email help - track events
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginEmailHelpDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragmentModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragmentModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WooLoginFragmentModule.kt
Labels: Login, Tracks Events

#2845 Unified login: Hide TOS buttons if not in signup mode during login
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen.xml
Labels: Login

#2843 Unified Login: Track events for WPcom login flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
Labels: Login, Tracks Events

#2847 Review List: Add Bottom Margin to All Reviews in List
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/res/layout/notifs_list_item.xml
Labels: Product Review List, UI fix

#2853 Show actual count of orders by order status in order search screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusListView.kt
Labels: Order List, [Type] Task

#2849 Fix ambiguous reference error in FluxC
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  build.gradle
Labels: FluxC, Tech Debt

#2427 Add jalapeno build flavor
  .circleci/config.yml
  .configure
  .configure-files/google-services.json.enc
  WooCommerce/build.gradle
  WooCommerce/google-services.json-example
  WooCommerce/src/jalapeno/ic_launcher-playstore.png
  WooCommerce/src/jalapeno/res/drawable-v23/img_woo_bubble_white.xml
  WooCommerce/src/jalapeno/res/drawable/img_woo_bubble_white.png
  WooCommerce/src/jalapeno/res/mipmap-anydpi-v26/ic_launcher.xml
  WooCommerce/src/jalapeno/res/mipmap-anydpi-v26/ic_launcher_round.xml
  WooCommerce/src/jalapeno/res/mipmap-hdpi/ic_launcher.png
  WooCommerce/src/jalapeno/res/mipmap-hdpi/ic_launcher_foreground.png
  WooCommerce/src/jalapeno/res/mipmap-hdpi/ic_launcher_round.png
  WooCommerce/src/jalapeno/res/mipmap-mdpi/ic_launcher.png
  WooCommerce/src/jalapeno/res/mipmap-mdpi/ic_launcher_foreground.png
  WooCommerce/src/jalapeno/res/mipmap-mdpi/ic_launcher_round.png
  WooCommerce/src/jalapeno/res/mipmap-xhdpi/ic_launcher.png
  WooCommerce/src/jalapeno/res/mipmap-xhdpi/ic_launcher_foreground.png
  WooCommerce/src/jalapeno/res/mipmap-xhdpi/ic_launcher_round.png
  WooCommerce/src/jalapeno/res/mipmap-xxhdpi/ic_launcher.png
  WooCommerce/src/jalapeno/res/mipmap-xxhdpi/ic_launcher_foreground.png
  WooCommerce/src/jalapeno/res/mipmap-xxhdpi/ic_launcher_round.png
  WooCommerce/src/jalapeno/res/mipmap-xxxhdpi/ic_launcher.png
  WooCommerce/src/jalapeno/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  WooCommerce/src/jalapeno/res/mipmap-xxxhdpi/ic_launcher_round.png
  WooCommerce/src/jalapeno/res/values/colors.xml
  WooCommerce/src/jalapeno/res/values/ic_launcher_background.xml
  WooCommerce/src/jalapeno/res/values/strings.xml
  WooCommerce/src/main/res/drawable-v23/bg_splash.xml
  WooCommerce/src/main/res/drawable/bg_splash.xml
  WooCommerce/src/main/res/values-v23/themes.xml
  WooCommerce/src/main/res/values-v27/themes.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/wasabi/res/drawable-v23/img_woo_bubble_white.xml
  WooCommerce/src/wasabi/res/drawable/img_woo_bubble_white.png
Labels: Tooling

#2855 Fix login flow memory leaks
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
Labels: Tech Debt

#2852 Issue/hack week update nbradbury
  .idea/codeStyles/Project.xml
  WooCommerce/build.gradle
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackSurveyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusSelectorDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ApplicationLifecycleMonitor.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ConfirmationDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/NumberPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedSpinnerView.kt
Labels: Architecture

#2842 M4: Add simple products
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppConfigModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductAddTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/product_detail_bottom_sheet_list_item.xml
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_type_bottom_sheet.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/ProductUtils.kt
Labels: Product Details, Product List

#2850 Add support for jdk11
  .circleci/config.yml
  WooCommerce/build.gradle
Labels: Tech Debt

#2856 Issue/2844 order detail refactor order status card
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailModuleOld.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailOrderStatusView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusTag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrdersModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailOrderStatusView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: Architecture, Order Details

#2862 Order detail/update fluxc changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNotePresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/OrderNoteRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentPresenterTest.kt
  build.gradle
Labels: Architecture, Order Details

#2857 Added logic to display shipping lines warning card for an order
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
Labels: Architecture, Order Details

#2864 Merge Release/5.0 back into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ParentCategoryListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoriesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsAdapter.kt
  WooCommerce/src/main/res/layout/parent_category_list_item.xml
  WooCommerce/src/main/res/layout/product_category_list_item.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/150.txt
  fastlane/metadata/android/ar/changelogs/152.txt
  fastlane/metadata/android/de-DE/changelogs/150.txt
  fastlane/metadata/android/de-DE/changelogs/152.txt
  fastlane/metadata/android/es-ES/changelogs/152.txt
  fastlane/metadata/android/fr-FR/changelogs/150.txt
  fastlane/metadata/android/fr-FR/changelogs/152.txt
  fastlane/metadata/android/id/changelogs/150.txt
  fastlane/metadata/android/id/changelogs/152.txt
  fastlane/metadata/android/it-IT/changelogs/150.txt
  fastlane/metadata/android/it-IT/changelogs/152.txt
  fastlane/metadata/android/iw-IL/changelogs/150.txt
  fastlane/metadata/android/iw-IL/changelogs/152.txt
  fastlane/metadata/android/ja-JP/changelogs/150.txt
  fastlane/metadata/android/ja-JP/changelogs/152.txt
  fastlane/metadata/android/ko-KR/changelogs/150.txt
  fastlane/metadata/android/ko-KR/changelogs/152.txt
  fastlane/metadata/android/nl-NL/changelogs/150.txt
  fastlane/metadata/android/nl-NL/changelogs/152.txt
  fastlane/metadata/android/pt-BR/changelogs/152.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/150.txt
  fastlane/metadata/android/ru-RU/changelogs/152.txt
  fastlane/metadata/android/sv-SE/changelogs/150.txt
  fastlane/metadata/android/sv-SE/changelogs/152.txt
  fastlane/metadata/android/tr-TR/changelogs/150.txt
  fastlane/metadata/android/zh-CN/changelogs/150.txt
  fastlane/metadata/android/zh-CN/changelogs/152.txt
  fastlane/metadata/android/zh-TW/changelogs/150.txt
  fastlane/metadata/android/zh-TW/changelogs/152.txt
Labels: Releases

#2858 Add In-App Feedback Tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackCompletedFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackRequestCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackSurveyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsWIPNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/AppRatingDialog.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
Labels: Tracks Events, [Feat] In-app Feedback

#2867 Remove in app feedback feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: [Feat] In-app Feedback, [Type] Task

#2868 Fix crashes in product detail sub-screens
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsOptionValueView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedSpinnerView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCToggleSingleOptionView.kt
Labels: Product Details

#2860 Refactored customer info card section in Order Detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Address.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShippingLabelListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/AddressUtils.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Architecture, Order Details

#2879 Fix another login memory leak
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
Labels: Hack Week, [Type] Bug

#2861 Refactored payment info card section in Order Detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
Labels: Architecture, Order Details

#2866 Issue/2844 order detail refactor order notes card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailOrderNotesView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemUIType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListListener.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
Labels: Architecture, Order Details

#2882 Hotfix: Fix Login with Google flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: Hotfix, Login, [Type] Bug

#2871 Issue/2844 order detail refactor refunds card
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SequenceExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Refund.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailRefundsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailRefundsView.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Architecture, Order Details

#2872 Added logic to display product list section for an order
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Refund.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailProductListView.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
Labels: Architecture, Order Details

#2891 issue/update-build-tools-30
  WooCommerce/build.gradle
Labels: Architecture

#2873 Issue/2844 order detail refactor shipment trakings card
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderShipmentTracking.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShipmentTrackingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailShipmentTrackingListView.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/order_detail_shipment_tracking_list.xml
  WooCommerce/src/main/res/layout/order_detail_shipment_tracking_list_item.xml
Labels: Architecture, Order Details

#2888 Merge Release/5.1 back into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#2874 Issue/2844 order detail refactor shipping labels card
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Address.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Refund.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShippingLabelListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderFulfillmentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShippingLabelsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailShippingLabelsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenterTest.kt
Labels: Architecture, Order Details

#2893 Merge release notes for Release/5.1 into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#2899 Add inventory and shipping properties to variable products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
Labels: Product Details

#2885 Make survey loading dialog dismissal capable of allowing state loss
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackSurveyFragment.kt
Labels: [Type] Bug, [Type] Crash

#2904 Hotfix/2890 link styles
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/res/values/styles_login.xml
Labels: Hotfix, Login

#2875 Issue/2844 order detail refactor update order status
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderCustomerHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderStatusSelectorDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailOrderStatusView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailRefundsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: Architecture, Order Details

#2910 Hotfix: bypass site address check for WPcom username login screen
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
Labels: Hotfix, Login

#2914 Unified Login - Fix email help link crash from SitePickerActivity
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WooLoginFragmentModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerModule.kt
Labels: Login, [Type] Crash

#2915 Unified login bugfix: error message and scroll
  WooCommerce/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen.xml
Labels: Login, [Type] Bug

#2916 Unified Login bugfix: Make site address password screen scrollable
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_optional_site_creds_screen.xml
Labels: Login, [Type] Bug

#2917 Unfied login: Use 'store' instead of 'site' consistently throughout the login process
  WooCommerce/src/main/res/values/strings.xml
Labels: Login, Style

#2918 Unified login: Track event login step fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkSentFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
Labels: Login, Tracks Events

#2876 Issue/2844 order detail refactor add order note
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderNote.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShippingLabelsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailOrderNotesView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailShippingLabelsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundFragment.kt
Labels: Architecture, Order Details

#2877 Issue/2844 order detail refactor shipment tracking actions
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderShipmentTracking.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShippingLabelListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderShipmentTrackingHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShipmentTrackingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShippingLabelsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailShipmentTrackingListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelItemView.kt
  WooCommerce/src/main/res/layout/view_shipping_label_item.xml
  WooCommerce/src/main/res/menu/menu_order_detail_shipment_tracking_actions.xml
Labels: Architecture, Order Details

#2926 Unified login: Login discovery error view (style + tracks events)
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginDiscoveryErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WooLoginFragmentModule.kt
  WooCommerce/src/main/res/layout/fragment_login_discovery_error.xml
  WooCommerce/src/main/res/values/styles_login.xml
Labels: Login, Priority: High, Tracks Events

#2925 Unified Login: Login Epilogue tracks events
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
Labels: Login, Priority: High, Tracks Events

#2859 Hack Week: Switch in-app reviews to google's new Reviews API
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/AppUpgradeActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  build.gradle
Labels: Hack Week

#2931 Fix for the navigation result handler being called multiple times
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
Labels: Architecture

#2930 Merge Release 5.1-rc-2 into develop
  .circleci/config.yml
  WooCommerce/build.gradle
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginDiscoveryErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WooLoginFragmentModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerModule.kt
  WooCommerce/src/main/res/layout/fragment_login_discovery_error.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_login.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkSentFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_optional_site_creds_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen.xml
Labels: Releases

#2924 Issue/2889 trash product
  .idea/codeStyles/Project.xml
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/AppUpgradeActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details, [Status] Needs Design Review

#2928 Add product/variation inventory ViewModel unit tests
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModelTest.kt
Labels: Tests

#2934 Issue/2889 trash product tests
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: Product Details, Product List, Tests

#2927 Adds FluxC as composite build
  .gitignore
  .idea/compiler.xml
  WooCommerce/build.gradle
  local-builds.gradle-example
  settings.gradle
Labels: Tooling

#2936 Remove Products M3 feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsWIPNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
Labels: Releases

#2870 Fix unit tests locale
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringDateFormatExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreDateRangeView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailOrderStatusView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShipmentTrackingItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyStatsView.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/DateUtilsTest.kt
Labels: Broken Tests

#2878 Issue/2844 order detail refactor fulfill order
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailModuleOld.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPaymentView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailRefundListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailShippingLabelListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderRefundActionListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusSelectorDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/RefundsInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailProductListView.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
Labels: Architecture, Order Details

#2941 Unit test improvements
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/viewmodel/CoroutinesUtils.kt
Labels: Tests
