Repository woocommerce/woocommerce-android, pull requests merged in 2020-10, with the labels that each got.

#2945 Fix: Navigation result lost
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: Architecture

#2943 Unified Login: No WPcom found error screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WooLoginFragmentModule.kt
  WooCommerce/src/main/res/color/button_colored_bg_white_selector.xml
  WooCommerce/src/main/res/drawable-night/img_wpcom_error.xml
  WooCommerce/src/main/res/drawable/img_wpcom_error.xml
  WooCommerce/src/main/res/layout/fragment_login_no_wpcom_account_found.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/type.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Login

#2948 Display stock status in variation list items
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListAdapter.kt
Labels: Variation list

#2940 Issue/2905 draft product option
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Status] Needs Design Review

#2952 Issue/2949 product detail trashed badge
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductStatusFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_status.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details

#2946 Issue/2938 draft product discard
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dialog/CustomDiscardDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
Labels: Product Details

#2953 Issue/2783 variation sale
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
Labels: Variation list

#2950 Merge Release/5.1 back into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/152.txt
  fastlane/metadata/android/de-DE/changelogs/152.txt
  fastlane/metadata/android/es-ES/changelogs/152.txt
  fastlane/metadata/android/es-ES/changelogs/155.txt
  fastlane/metadata/android/fr-FR/changelogs/152.txt
  fastlane/metadata/android/fr-FR/changelogs/155.txt
  fastlane/metadata/android/id/changelogs/152.txt
  fastlane/metadata/android/it-IT/changelogs/152.txt
  fastlane/metadata/android/it-IT/changelogs/155.txt
  fastlane/metadata/android/iw-IL/changelogs/152.txt
  fastlane/metadata/android/iw-IL/changelogs/155.txt
  fastlane/metadata/android/ja-JP/changelogs/152.txt
  fastlane/metadata/android/ja-JP/changelogs/155.txt
  fastlane/metadata/android/ko-KR/changelogs/152.txt
  fastlane/metadata/android/nl-NL/changelogs/152.txt
  fastlane/metadata/android/pt-BR/changelogs/152.txt
  fastlane/metadata/android/pt-BR/changelogs/155.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/152.txt
  fastlane/metadata/android/ru-RU/changelogs/155.txt
  fastlane/metadata/android/sv-SE/changelogs/152.txt
  fastlane/metadata/android/sv-SE/changelogs/155.txt
  fastlane/metadata/android/zh-CN/changelogs/152.txt
  fastlane/metadata/android/zh-TW/changelogs/152.txt
  fastlane/metadata/android/zh-TW/changelogs/155.txt
Labels: Releases

#2935 feature/2889 trash project master
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: Product Details, Product List

#2956 Add flow: External products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductAddTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: Product Details

#2959 Disable product type pre-selection
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: Product List

#2958 Update the navigation result comments
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
Labels: Documentation

#2932 Issue/2295 shipping label info screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/LabelFormatOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelInfoFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelPaperSizeSelectorDialog.kt
  WooCommerce/src/main/res/drawable-night/img_label_option_label.xml
  WooCommerce/src/main/res/drawable-night/img_label_option_legal.xml
  WooCommerce/src/main/res/drawable-night/img_label_option_letter.xml
  WooCommerce/src/main/res/drawable-night/img_print_with_phone.xml
  WooCommerce/src/main/res/drawable/img_label_option_label.xml
  WooCommerce/src/main/res/drawable/img_label_option_legal.xml
  WooCommerce/src/main/res/drawable/img_label_option_letter.xml
  WooCommerce/src/main/res/drawable/img_print_with_phone.xml
  WooCommerce/src/main/res/layout/fragment_label_format_options.xml
  WooCommerce/src/main/res/layout/fragment_print_shipping_label.xml
  WooCommerce/src/main/res/layout/fragment_print_shipping_label_info.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
  build.gradle
Labels: Order Details, [Type] Enhancement

#2957 Merge/release 5.2 back into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#2971 Shipping labels/unit tests + tracking events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderShipmentTrackingHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/PrintShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/ShippingLabelRefundViewModelTest.kt
Labels: Order Details, Tracks Events

#2972 Merge release notes for release/5.2 back into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
Labels: Releases

#2962 Issue/2743 product detail animations
  WooCommerce/src/main/res/anim/activity_slide_in_from_left.xml
  WooCommerce/src/main/res/anim/activity_slide_in_from_right.xml
  WooCommerce/src/main/res/anim/activity_slide_out_to_left.xml
  WooCommerce/src/main/res/anim/activity_slide_out_to_right.xml
  WooCommerce/src/main/res/navigation/nav_graph_add_product_category.xml
  WooCommerce/src/main/res/navigation/nav_graph_image_gallery.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_filters.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/integers.xml
Labels: Product Details

#2977 Issue/2974 slide transitions
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/layout/fragment_review_detail.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_refunds.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
Labels: Style

#2986 Change Feedback card UI reference to the correct one
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
Labels: [Type] Crash

#2991 issue/2975-remove-product-review-list-ripple
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
Labels: Product Details, Product Review Details

#2995 Allow option to single tap a product for selection
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemViewHolder.kt
Labels: Product Details

#2976 Fix multiple crashes in Product detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
Labels: Product Details, [Type] Crash

#2996 Variation details: Remove shipping class
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
Labels: Variation Details

#2997 Issue/2968 update product type fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
Labels: Product Details, [Type] Bug

#2994 Issue/2983 home screen settings
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_cog_white_24dp.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/menu/menu_action_bar.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: App Settings

#3006 Hotfix: Use correct fragment tag during login
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: Hotfix, Login

#2993 Product details: Enable variable products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductAddTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details, [Status] Needs Design Review

#3002 Hotfix: The inventory data
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyView.kt
  WooCommerce/src/main/res/layout/fragment_product_inventory.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
Labels: Product Details

#3000 Issue/2978 product rating count
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Product Details, [Status] Needs Design Review

#3009 Hotfix: Fix google login issue
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Hotfix, Login, Priority: High

#3003 Issue/2975 review detail from product review list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: Product Review Details

#3007 origin/issue/2998-grouped-product-background
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemViewHolder.kt
Labels: Product List

#3008 issue/2992-feedback-dismiss
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: Product List

#3010 Issue/2987 password product visibility
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: Product Details

#3011 issue/2990-hide-product-detail-progress-dialog
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: Product Details, [Type] Bug

#3004 UL: Merge updates from the Login Library
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/AuthOptions.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkSentFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/util/AvatarHelper.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPLoginInputRow.java
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_password_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
  libs/login/gradle/wrapper/gradle-wrapper.jar
  libs/login/gradle/wrapper/gradle-wrapper.properties
  libs/login/gradlew
  libs/login/gradlew.bat
Labels: Login

#3012 Merge release 5.2-rc-2 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyView.kt
  WooCommerce/src/main/res/layout/fragment_product_inventory.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Releases

#3014 issue/update-gradle-for-AS4.1
  .idea/compiler.xml
  build.gradle
Labels: Architecture

#3018 Issue/2939 deleted products
  .idea/compiler.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details

#3028 Update Slack Channel in CONTRIBUTING
  CONTRIBUTING.md
Labels: Documentation

#3031 Issue/3030 shipping labels banner
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/FeatureWIPNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsWIPNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/feature_wip_notice.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Order Details, Shipping Labels

#3033 Issue/3032 filters crash
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: Product List, [Type] Crash

#3024 issue/2869-slow-order-screens
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductListAdapter.kt
Labels: Order Details

#3039 Add M4 tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
Labels: Tracks Events

#3035 Add M4 beta switch
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/feature_wip_notice.xml
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: App Settings

#3036 Merge Release/5.2 back into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/es-ES/changelogs/155.txt
  fastlane/metadata/android/es-ES/changelogs/158.txt
  fastlane/metadata/android/fr-FR/changelogs/155.txt
  fastlane/metadata/android/fr-FR/changelogs/158.txt
  fastlane/metadata/android/it-IT/changelogs/155.txt
  fastlane/metadata/android/iw-IL/changelogs/155.txt
  fastlane/metadata/android/iw-IL/changelogs/158.txt
  fastlane/metadata/android/ja-JP/changelogs/155.txt
  fastlane/metadata/android/ko-KR/changelogs/158.txt
  fastlane/metadata/android/pt-BR/changelogs/155.txt
  fastlane/metadata/android/pt-BR/changelogs/158.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/155.txt
  fastlane/metadata/android/ru-RU/changelogs/158.txt
  fastlane/metadata/android/sv-SE/changelogs/155.txt
  fastlane/metadata/android/sv-SE/changelogs/158.txt
  fastlane/metadata/android/zh-TW/changelogs/155.txt
  fastlane/metadata/android/zh-TW/changelogs/158.txt
Labels: Releases

#3049 Update release notes for 5.3
  RELEASE-NOTES.txt
Labels: Releases

#3048 Merge Release/5.3 back to develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#3043 Issue/3034 order product list images
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailProductListView.kt
Labels: Order List

#3056 Issue/3040 linked products menu
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_reblog.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Product Details

#3052 Hide the product list and shipment tracking section if shipping labels are available
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
Labels: Order Details, Shipping Labels, [Type] Bug

#3064 Fixed crash when there were no products for an order
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: Order Details, Priority: High, [Type] Crash

#3065 issue/3058-order-detail-crash-fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailProductListView.kt
Labels: Order Details, [Type] Crash

#3071 Merge Release/5.3 into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  build.gradle
Labels: Releases

#3023 Enforce use of bundle exec in Fastfile
  fastlane/Fastfile
Labels: Tooling

#3070 Remove the add variable product option
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductAddTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Product List

#3075 Issue/3069 shipping labels text changes
  WooCommerce/src/main/res/values/strings.xml
Labels: Order Details, Shipping Labels

#3076 Merge Release/5.3 back into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductAddTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Releases

#3060 Issue/3041 linked products summary
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/LinkedProductsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/LinkedProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StringUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/ResourceProvider.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_arrow_up.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_sync.xml
  WooCommerce/src/main/res/layout/fragment_linked_products.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Product Details

#3089 issue/3088-missing-argument-selectedImage
  WooCommerce/src/main/res/navigation/nav_graph_image_gallery.xml
Labels: Product Details

#3073 Issue/30420 linked products screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/LinkedProductsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/res/layout/fragment_linked_products.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModelTest.kt
Labels: Product Details

#3092 Updatethe complete_codefreeze lane
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Releases

#3093 CONTRIBUTING.md: Add information about our PR merge policy
  CONTRIBUTING.md
Labels: Documentation

#3096 Added missing flag when adding shipment tracking for an order
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/AddOrderShipmentTrackingFragment.kt
Labels: Order Details, [Type] Bug

#3097 issue/3087-media-gallery-view-crash-fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerFragment.kt
Labels: Product Details, [Type] Crash

#3098 issue/3081-filter-option-crash-fix
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryFragment.kt
Labels: Product Details, [Type] Crash

#3055 Add crowdsignal survey URL rule
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/feedback/SurveyTypeTest.kt
Labels: [Feat] In-app Feedback, [Type] Enhancement

#3091 Feature/linked products master
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/LinkedProductsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/LinkedProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StringUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/ResourceProvider.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_arrow_up.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_reblog.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_sync.xml
  WooCommerce/src/main/res/layout/fragment_linked_products.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModelTest.kt
  build.gradle
Labels: Product Details

#3090 Issue/3079 hide already selected products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModelTest.kt
Labels: Product Details

#3104 Issue/2908 add category typecast crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
Labels: Product Details, [Type] Crash

#3105 Issue/2985 ul label fix
  WooCommerce/src/main/res/values/strings.xml
Labels: Login

#3106 Issue/3101 db downgrade crash
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooWellSqlConfig.kt
Labels: [Type] Crash

#3062 Display product attributes in order detail
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderDetailProductItemView.kt
  WooCommerce/src/main/res/layout/order_detail_product_item.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Order Details, [Type] Enhancement

#3103 Add example format in RELEASE-NOTES
  RELEASE-NOTES.txt
Labels: Tooling

#3112 Switch the string validation command to lint
  fastlane/Fastfile
Labels: Tooling

#3113 Pinpoint OpenJDK version to 11 in the CircleCI Release build task
  .circleci/config.yml
Labels: Tooling

#3102 Issue/3072 tag suggestions
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/AddProductTagView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsRepository.kt
  build.gradle
Labels: Product Details

#3108 UL: Store Picker & Store address screen tweaks
  WooCommerce/src/main/res/drawable/ic_help_24dp.xml
  WooCommerce/src/main/res/layout/activity_site_picker.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Login, Style
