Repository woocommerce/woocommerce-android, pull requests merged in 2021-04, with the labels that each got.

#3775 Fix issue of popping backstack after saving state
  WooCommerce/src/main/kotlin/com/woocommerce/android/navigation/KeepStateNavigator.kt
Labels: type: bug, type: crash

#3778 Drop assisted inject redundant library
  WooCommerce/build.gradle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/AppComponentTest.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/AppComponentDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelAssistedFactoriesModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ViewModelAssistedFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelAddressViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCarrierRatesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressSuggestionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingPackageSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSortingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/AddProductDownloadViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/edit/EditVariationAttributesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerViewModel.kt
Labels: Tech Debt

#3781 Remove redundant API call to fetch order status count when app is first opened
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
Labels: Tech Debt

#3791 Fix layout of Shipping Label format options screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/LabelFormatOptionsFragment.kt
  WooCommerce/src/main/res/layout/fragment_label_format_options.xml
Labels: Shipping Labels, type: bug

#3772 Update Woo with latest changes to the login library
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/login/PasswordScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/login/SiteAddressScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesNotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/res/color/button_outlined_bg_selector.xml
  WooCommerce/src/main/res/color/button_outlined_stroke_selector.xml
  WooCommerce/src/main/res/drawable/shadow_top.xml
  WooCommerce/src/main/res/layout/fragment_product_image_viewer.xml
  WooCommerce/src/main/res/layout/fragment_wpmedia_viewer.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/themes.xml
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/GoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseDiscoveryFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupConfirmationFragment.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/di/LoginFragmentModule.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/res/drawable-ldrtl-v18/ic_arrow_left_white_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_arrow_left_white_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_domains_grey_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_gridicons_user_circle_100dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_lock_grey_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_placeholder_blavatar_grey_lighten_20_40dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_user_circle_grey_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_user_grey_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/login_email_alert.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/shape_oval_green.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/shape_oval_red.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/shape_oval_translucent.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen_old.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_form_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_confirmation_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_email_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_magic_link_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values-v23/themes.xml
  libs/login/WordPressLoginFlow/src/main/res/values/colors.xml
  libs/login/WordPressLoginFlow/src/main/res/values/dimens.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/src/main/res/values/themes.xml
Labels: Login, Tech Debt

#3782 Prevent editing/updating non-whole decimal value stock quantity.
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NumberExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StringUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationTestUtils.kt
  build.gradle
Labels: Product Details, Product List

#3766 Card-Present payments: Establishing connection to a mocked reader
  WooCommerce/src/debug/AndroidManifest.xml
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/CardReaderSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_settings_card_reader.xml
  libs/cardreader/build.gradle
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderDiscoveryEvents.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderStatus.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/wrappers/LogWrapper.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/wrappers/TerminalWrapper.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImplTest.kt
Labels: Card Present Payments

#3793 issue/3790-jumbled-epilogue
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/res/layout/activity_site_picker.xml
Labels: Login

#3798 Refresh order details after a shipping label refund
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
Labels: Shipping Labels, type: bug

#3768 Move most CardReaderModule's classes to debug package and add its dependencies only in debug builds
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  libs/cardreader/build.gradle
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/CardReaderManagerFactory.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/TokenProvider.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/temporary/ApiEndpoints.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/temporary/CardReaderStoreImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/temporary/ConnectionToken.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/wrappers/LogWrapper.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/wrappers/TerminalWrapper.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
Labels: Card Present Payments

#3780 Add support for connecting to a hw card reader
  WooCommerce/src/debug/AndroidManifest.xml
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/CardReaderSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_settings_card_reader.xml
  libs/cardreader/build.gradle
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/CardReaderManagerFactory.kt
Labels: Card Present Payments

#3794 Introduce payment manager
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/actions/CollectPaymentAction.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentAction.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/actions/ProcessPaymentAction.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/wrappers/PaymentIntentParametersFactory.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/wrappers/TerminalWrapper.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardPaymentStatus.kt
Labels: Card Present Payments

#3774 Removed redundant stats v4 availability check when app is opened
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/RevenueStatsAvailabilityFetcher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
Labels: Store Stats, Tech Debt

#3795 Collect payments from order detail
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/values/strings.xml
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/CardReaderManagerFactory.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/TokenProvider.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/actions/CollectPaymentAction.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/temporary/ApiEndpoints.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/temporary/CardReaderStoreImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/temporary/ConnectionToken.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
Labels: Card Present Payments

#3806 Run unit tests in CardReaderModule on CI
  .circleci/config.yml
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImplTest.kt
Labels: Card Present Payments

#3800 Merge release/6.3 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/available_languages.xml
  fastlane/metadata/android/ar/changelogs/204.txt
  fastlane/metadata/android/ar/changelogs/206.txt
  fastlane/metadata/android/de-DE/changelogs/204.txt
  fastlane/metadata/android/de-DE/changelogs/206.txt
  fastlane/metadata/android/es-ES/changelogs/204.txt
  fastlane/metadata/android/es-ES/changelogs/206.txt
  fastlane/metadata/android/fr-FR/changelogs/204.txt
  fastlane/metadata/android/fr-FR/changelogs/206.txt
  fastlane/metadata/android/id/changelogs/204.txt
  fastlane/metadata/android/id/changelogs/206.txt
  fastlane/metadata/android/it-IT/changelogs/204.txt
  fastlane/metadata/android/it-IT/changelogs/206.txt
  fastlane/metadata/android/iw-IL/changelogs/204.txt
  fastlane/metadata/android/iw-IL/changelogs/206.txt
  fastlane/metadata/android/ja-JP/changelogs/204.txt
  fastlane/metadata/android/ja-JP/changelogs/206.txt
  fastlane/metadata/android/ko-KR/changelogs/204.txt
  fastlane/metadata/android/ko-KR/changelogs/206.txt
  fastlane/metadata/android/nl-NL/changelogs/204.txt
  fastlane/metadata/android/nl-NL/changelogs/206.txt
  fastlane/metadata/android/pt-BR/changelogs/204.txt
  fastlane/metadata/android/pt-BR/changelogs/206.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/204.txt
  fastlane/metadata/android/ru-RU/changelogs/206.txt
  fastlane/metadata/android/sv-SE/changelogs/204.txt
  fastlane/metadata/android/sv-SE/changelogs/206.txt
  fastlane/metadata/android/tr-TR/changelogs/204.txt
  fastlane/metadata/android/tr-TR/changelogs/206.txt
  fastlane/metadata/android/zh-CN/changelogs/204.txt
  fastlane/metadata/android/zh-CN/changelogs/206.txt
  fastlane/metadata/android/zh-TW/changelogs/204.txt
  fastlane/metadata/android/zh-TW/changelogs/206.txt
Labels: Releases

#3802 issue/3673-product-status-crash-fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductStatusFragment.kt
Labels: Product Details, type: crash

#3805 Add payload to fetch sites action
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerPresenter.kt
  build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginWpcomService.java
Labels: type: task

#3804 issue/3532-variations-crash-fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListAdapter.kt
Labels: Variation list, type: crash

#3765 Purchase shipping labels p1
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabelPackage.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingPackage.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingRate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCarrierRatesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPackagesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachine.kt
  WooCommerce/src/main/res/drawable-night/img_label_purchased.xml
  WooCommerce/src/main/res/drawable/img_label_purchased.xml
  WooCommerce/src/main/res/layout/fragment_print_shipping_label.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachineTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingPackageSelectorViewModelTest.kt
Labels: Shipping Labels, [Status] Needs Design Review, type: enhancement

#3809 Merge release/6.4 into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#3815 Merge release/6.4 into develop (Release Notes)
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#3799 issue/3781-rename-attribute
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/RenameAttributeFragment.kt
  WooCommerce/src/main/res/layout/fragment_rename_attribute.xml
  WooCommerce/src/main/res/menu/menu_attribute_terms.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Variation list

#3666 Shipping refund: Add shipping lines selection in order refund selection screen.
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/RefundsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundShippingListAdapter.kt
  WooCommerce/src/main/res/layout/fragment_refund_by_items.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/layout/refund_by_items_shipping.xml
  WooCommerce/src/main/res/layout/refund_shipping_list_item.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Refunds

#3814 Extract code related to reader connection to ConnectionManager
  libs/cardreader/build.gradle
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/CardReaderManagerFactory.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManager.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentAction.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImplTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManagerTest.kt
Labels: Card Present Payments

#3796 Add tests for PaymentManager
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/helpers/CoroutineTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/viewmodel/CoroutinesUtils.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/CollectPaymentActionTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentActionTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/ProcessPaymentActionTest.kt
Labels: Card Present Payments

#3820 Issue/3725 refactor card reader manager step 2
  .idea/codeStyles/Project.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/CardReaderSettingsFragment.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/CardReaderImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/CardReaderManagerFactory.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManager.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/connection/actions/DiscoverReadersAction.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReader.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderDiscoveryEvents.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImplTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManagerTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/connection/actions/DiscoverReadersActionTest.kt
Labels: Card Present Payments

#3810 Shipping Label Packages: fetch the correct weight of variations
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModelTest.kt
Labels: Shipping Labels, type: bug

#3803 issue/3761-login-crash-fix
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
Labels: Login, type: crash

#3786 Shipping Labels Purchase: unit tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentViewModelTest.kt
Labels: Shipping Labels, Tests

#3827 Shipping Labels: creation eligibility check
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreationFeatures.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  build.gradle
Labels: Shipping Labels, type: enhancement

#3773 ContinuationWrapper
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/wpmediapicker/WPMediaPickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ContinuationWrapper.kt
Labels: Architecture

#3759 Shipping labels M3 tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelAddressViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCarrierRatesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressSuggestionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressValidator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachine.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentViewModelTest.kt
Labels: Shipping Labels, Tracks Events

#3834 issue/3833-update-product-attributes-bug-fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
Labels: Product Details, Variation Details, priority: high, type: bug

#3828 Don't hide the keyboard after submitting an order list search
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: Order List

#3837 Issue/3824 remove "kotlin extensions plugin"
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
Labels: dependencies

#3839 Merge release/6.4 into develop (rc-2)
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
Labels: Releases

#3823 Turn connectToReader into a suspendable function
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/CardReaderSettingsFragment.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImplTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManagerTest.kt
Labels: Card Present Payments

#3844 Shipping Labels: enable M3 features
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Shipping Labels

#3831 Shipping Labels: pre-populate weight in packages step
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabelPackage.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingPackage.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPackagesAdapter.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachineTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingPackageSelectorViewModelTest.kt
  build.gradle
Labels: Shipping Labels, type: enhancement

#3848 issue/3841-phoneno-format-nullpointer-fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/PhoneUtils.kt
Labels: Order Details, type: crash

#3840 issue/3835-dont-update-attributes-unless-changed
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  build.gradle
Labels: Variation Details

#3849 Disable reprinting and refund of expired labels
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/adapters/ProductPropertiesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/viewholders/ProductPropertyViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/viewholders/WarningViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCWarningBanner.kt
  WooCommerce/src/main/res/layout/fragment_edit_shipping_label_payment.xml
  WooCommerce/src/main/res/layout/fragment_print_shipping_label.xml
  WooCommerce/src/main/res/layout/fragment_shipping_label_refund.xml
  WooCommerce/src/main/res/layout/fragment_variation_list.xml
  WooCommerce/src/main/res/layout/product_property_warning_layout.xml
  WooCommerce/src/main/res/layout/view_banner_warning.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundViewModelTest.kt
  build.gradle
Labels: Shipping Labels, type: bug

#3855 Shipping Labels: disable shipping label creation if WCS version is lower than 1.25.11
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/WooPlugin.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: Shipping Labels, priority: high

#3859 Merge 6.4 final into develop
  Gemfile.lock
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/metadata/android/ar/changelogs/206.txt
  fastlane/metadata/android/ar/changelogs/209.txt
  fastlane/metadata/android/de-DE/changelogs/206.txt
  fastlane/metadata/android/de-DE/changelogs/209.txt
  fastlane/metadata/android/es-ES/changelogs/206.txt
  fastlane/metadata/android/es-ES/changelogs/209.txt
  fastlane/metadata/android/fr-FR/changelogs/206.txt
  fastlane/metadata/android/fr-FR/changelogs/209.txt
  fastlane/metadata/android/id/changelogs/206.txt
  fastlane/metadata/android/id/changelogs/209.txt
  fastlane/metadata/android/it-IT/changelogs/206.txt
  fastlane/metadata/android/it-IT/changelogs/209.txt
  fastlane/metadata/android/iw-IL/changelogs/206.txt
  fastlane/metadata/android/iw-IL/changelogs/209.txt
  fastlane/metadata/android/ja-JP/changelogs/206.txt
  fastlane/metadata/android/ja-JP/changelogs/209.txt
  fastlane/metadata/android/ko-KR/changelogs/206.txt
  fastlane/metadata/android/ko-KR/changelogs/209.txt
  fastlane/metadata/android/nl-NL/changelogs/206.txt
  fastlane/metadata/android/nl-NL/changelogs/209.txt
  fastlane/metadata/android/pt-BR/changelogs/206.txt
  fastlane/metadata/android/pt-BR/changelogs/209.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/206.txt
  fastlane/metadata/android/ru-RU/changelogs/209.txt
  fastlane/metadata/android/sv-SE/changelogs/206.txt
  fastlane/metadata/android/sv-SE/changelogs/209.txt
  fastlane/metadata/android/tr-TR/changelogs/206.txt
  fastlane/metadata/android/tr-TR/changelogs/209.txt
  fastlane/metadata/android/zh-CN/changelogs/206.txt
  fastlane/metadata/android/zh-CN/changelogs/209.txt
  fastlane/metadata/android/zh-TW/changelogs/206.txt
  fastlane/metadata/android/zh-TW/changelogs/209.txt
Labels: Releases

#3861 Updates callsites for get_prs_list
  fastlane/Fastfile
Labels: Tooling

#3865 Merge 6.5 code freeze into develop
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/Fastfile
  fastlane/resources/values/strings.xml
Labels: Releases

#3866 Color fix for "Package Details" icon.
  WooCommerce/src/main/res/drawable/ic_gridicons_customize.xml
Labels: Shipping Labels, UI fix, Variation Details

#3678 Update app illustrations.
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/drawable-night/img_empty_my_store.xml
  WooCommerce/src/main/res/drawable-night/img_empty_orders_all_fulfilled.xml
  WooCommerce/src/main/res/drawable-night/img_empty_orders_loading.xml
  WooCommerce/src/main/res/drawable-night/img_empty_orders_no_orders.xml
  WooCommerce/src/main/res/drawable-night/img_empty_products.xml
  WooCommerce/src/main/res/drawable-night/img_empty_reviews.xml
  WooCommerce/src/main/res/drawable-night/img_empty_search.xml
  WooCommerce/src/main/res/drawable-night/img_login_jetpack_required.xml
  WooCommerce/src/main/res/drawable-night/img_print_with_phone.xml
  WooCommerce/src/main/res/drawable-night/img_what_is_jetpack.xml
  WooCommerce/src/main/res/drawable-night/img_woo_no_stores.xml
  WooCommerce/src/main/res/drawable-night/img_wpcom_error.xml
  WooCommerce/src/main/res/drawable/img_empty_my_store.xml
  WooCommerce/src/main/res/drawable/img_empty_orders_all_fulfilled.xml
  WooCommerce/src/main/res/drawable/img_empty_orders_loading.xml
  WooCommerce/src/main/res/drawable/img_empty_orders_no_orders.xml
  WooCommerce/src/main/res/drawable/img_empty_products.xml
  WooCommerce/src/main/res/drawable/img_empty_reviews.xml
  WooCommerce/src/main/res/drawable/img_empty_search.xml
  WooCommerce/src/main/res/drawable/img_login_jetpack_required.xml
  WooCommerce/src/main/res/drawable/img_print_with_phone.xml
  WooCommerce/src/main/res/drawable/img_what_is_jetpack.xml
  WooCommerce/src/main/res/drawable/img_woo_no_stores.xml
  WooCommerce/src/main/res/drawable/img_wpcom_error.xml
  WooCommerce/src/main/res/layout/fragment_login_what_is_jetpack.xml
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/layout/wc_empty_view.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
Labels: [Status] Needs Design Review, type: enhancement

#3867 Handle exception in case the device has no PDF reader app.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Shipping Labels, type: crash

#3864 Init Connect and Scan fragments + VMs
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/CardReaderSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/scan/CardReaderScanFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/scan/CardReaderScanModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/scan/CardReaderScanViewModel.kt
  WooCommerce/src/main/res/layout/fragment_settings_card_reader.xml
  WooCommerce/src/main/res/layout/fragment_settings_card_reader_connect.xml
  WooCommerce/src/main/res/layout/fragment_settings_card_reader_scan.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModelTest.kt
Labels: Card Present Payments

#3876 Merge 6.4.1 into 6.5
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/Fastfile
Labels: Releases

#3858 Inject `DateUtils` into DI graph
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppConfigModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreDateRangeView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailShipmentTrackingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailShipmentTrackingListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCarrierRatesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCarrierRatesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyStatsView.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
Labels: type: enhancement

#3797 Generate and Delete variations
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeListFragment.kt
  WooCommerce/src/main/res/layout/fragment_variation_list.xml
  WooCommerce/src/main/res/menu/menu_variation_detail_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
  build.gradle
Labels: Product Details, Variation list

#3873 issue/3869-use-for-variations-true-take2
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductAttribute.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductGlobalAttribute.kt
Labels: Variation Details

#3874 Introduce CardReaderPaymentDialog
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ActivityBindingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/di/CardReaderPaymentModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderModule.kt
  WooCommerce/src/main/res/layout/fragment_card_reader_payment.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
Labels: Card Present Payments

#3878 Merge 6.5-rc-2 into develop
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/Fastfile
Labels: Releases

#3838 Update default Gradle memory from configure apply to 6G
  .circleci/config.yml
  .configure
  .configure-files/gradle.properties.enc
Labels: Tooling

#3890 Updated Woo with FluxC changes
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/AppComponentTest.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/AppComponentDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  build.gradle
Labels: Tech Debt

#3822 issue/3812-variation-detail-from-order
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderProductActionListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModelTest.kt
Labels: Variation Details

#3884 First iteration on the implementation of CardReaderPaymentViewModel
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardPaymentStatus.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
Labels: Card Present Payments

#3877 Merge 6.4.1 into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/Fastfile
Labels: Releases

#3894 issue/3887-rename-attribute-confirm
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/RenameAttributeFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
Labels: Variation Details

#3900 issue/3880-virtual-products-ui-update
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductAddTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_settings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/model/IProductTest.kt
Labels: Product Details, [Status] Needs Design Review

#3907 Merge 6.5 release notes into develop
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#3910 Shipping Labels: fix crash when address validation fails
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachine.kt
Labels: Shipping Labels, type: crash

#3891 Integrate `Automattic-Tracks-Android 2.0.0`
  WooCommerce/build.gradle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/AppComponentTest.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/AppComponentDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppConfigModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CrashUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/CrashLoggingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/locale/ContextBasedLocaleProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/locale/LocaleProvider.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/DateUtilsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProviderTest.kt
Labels: Tracks Events, type: enhancement

#3917 Shipping Labels: fix issue of incomplete addresses in the printed label
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Address.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressValidator.kt
Labels: Shipping Labels, priority: high, type: bug

#3785 Use HTTP API calls to trigger release jobs
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/env.example
Labels: Tooling

#3903 CardPayments Payments Flow UI
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/res/drawable/ic_card_reader.xml
  WooCommerce/src/main/res/drawable/ic_celebration.xml
  WooCommerce/src/main/res/layout/fragment_card_reader_payment.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
Labels: Card Present Payments

#3825 Shipping Refund: Process shipping refund
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Refund.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModelTest.kt
  build.gradle
Labels: Refunds, [Status] Not Ready for Merge, type: enhancement

#3918 Shipping Labels: Select the suggested address by default
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressSuggestionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressSuggestionViewModel.kt
  WooCommerce/src/main/res/layout/fragment_shipping_label_address_suggestion.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressSuggestionViewModelTest.kt
Labels: Shipping Labels, priority: low, type: bug

#3921 issue/3906-save-reordered-attribute-terms
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeTermsListAdapter.kt
Labels: Variation Details

#3922 Update Error Message if the Site is not WP
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/res/layout-land/fragment_login_site_check_error.xml
  WooCommerce/src/main/res/layout/fragment_login_site_check_error.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Login

#3930 issue/3929-tests-for-reordered-terms
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
Labels: Variation Details

#3912 Handle attributes disabled for variations usage
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/edit/EditVariationAttributesViewModel.kt
  build.gradle
Labels: Product Details, Variation Details, Variation list

#3932 issue/fix-failing-test-in-develop
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: Architecture

#3928 Added logic to fetch site and user info only if user is logged in
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
Labels: Tech Debt

#3933 Add support for retry to PaymentManager
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardPaymentStatus.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
Labels: Card Present Payments

#3931 Improve Jetpack Proxy query parameters syntax
  build.gradle
Labels: [Status] Not Ready for Merge, type: enhancement

#3934 Add Payment error dialog and retry payment support
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/res/drawable/img_products_error.xml
  WooCommerce/src/main/res/layout/fragment_card_reader_payment.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
Labels: Card Present Payments

#3908 Add wildcard ignore for .configure-files folder
  .gitignore
Labels: Tooling

#3897 issue/3895-edittext-clears-itself
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/AddProductTagView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/res/layout/fragment_rename_attribute.xml
Labels: Architecture

#3882 Replace FAB with empty state button on Empty Product screen.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: type: enhancement

#3944 Removed virtual option from product filters
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
Labels: Product List, type: bug

#3947 Update Dagger components to use `OkHttClientModule`
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/AppComponentTest.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/AppComponentDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppComponent.kt
  build.gradle
Labels: FluxC

#3943 Issue/3726 capture payment endpoint
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  build.gradle
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImpl.kt
  libs/cardreader/src/debug/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderStore.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
Labels: Card Present Payments

#3898 Variations Tracks support
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
Labels: Tracks Events, Variation Details, Variation list

#3942 issue/3941-single-term-drag-and-drop
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeTermsListAdapter.kt
Labels: Variation Details

#3914 Updates the release toolkit version
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  tools/exported-language-codes.csv
  tools/get-translated-release-notes.sh
  tools/release-notes-language-codes.csv
  tools/update-translations.sh
Labels: Tooling

#3950 Fix crash when deleting Attribute Terms
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeTermsListAdapter.kt
Labels: Variation Details, type: crash

#3948 Fixe rare crash when fetching store's plugins
  build.gradle
Labels: Shipping Labels, type: crash
