Repository woocommerce/woocommerce-android, pull requests merged in 2022-03, with the labels that each got.

#5941 Remove selected store setting
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/mystore/settings/SettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/RequestCodes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/ClearCardReaderData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerPresenter.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/ClearCardReaderDataTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/AppSettingsPresenterTest.kt
Labels: type: enhancement

#5959 Add Buildkite Release Builds
  .buildkite/commands/release-build.sh
  .buildkite/release-builds.yml
  .circleci/config.yml
  fastlane/Fastfile
Labels: category: tooling

#5952 Fix/hide inbox button
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenu.kt
Labels: type: bug, feature: more menu

#5926 Issue/5923 product tags recycler crash
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsFragment.kt
Labels: feature: product details

#5949 Add stripe sdk to licenses
  WooCommerce/src/main/res/raw/licenses.html
Labels: feature: app settings

#5929 Improve CurrencyEditText
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/LiveDataExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/fees/OrderCreationFeeFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/fees/OrderCreationFeeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderCreationShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderCreationShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ParameterRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/models/SiteParameters.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundByAmountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyEditText.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/res/layout/currency_amount_dialog.xml
  WooCommerce/src/main/res/layout/dialog_simple_payments.xml
  WooCommerce/src/main/res/layout/fragment_order_creation_fee.xml
  WooCommerce/src/main/res/layout/fragment_order_creation_shipping.xml
  WooCommerce/src/main/res/layout/fragment_refund_by_amount.xml
  WooCommerce/src/main/res/layout/view_material_outlined_currency_edittext.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/fees/OrderCreationFeeViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderCreationShippingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreateCustomPackageViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingPackageSelectorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/widgets/CurrencyEditTextTest.kt
  build.gradle
Labels: type: enhancement, feature: product details, feature: order creation

#5977 Subtracting last product quantity to zero in Order Creation calls full product view
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/MapItemToProductUiModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationProductsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModel.kt
Labels: type: enhancement, feature: order creation

#5979 Add support for IPP for booking orders requiring confirmation
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/WCOrderModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentCollectibilityChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentCollectibilityCheckerTest.kt
Labels: feature: mobile payments

#5972 Remove existing product type from the Product Type Bottom Sheet
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypeBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModelTest.kt
Labels: type: bug, category: parity

#5963 Issue/5962 product detail bottom sheet exception
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: type: crash, feature: product details

#5911 Issue/5877 new inbox screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/Inbox.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuFragment.kt
  WooCommerce/src/main/res/layout/fragment_inbox.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: inbox, compose

#5968 IPP Canada: Make IPP work for Interac payments
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
Labels: feature: mobile payments

#5966 Show skeletons when loading review list for the first time after login
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
Labels: type: bug, feature: review list

#5969 Issue/5961 Add payment method, country, currency for IPP events
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTrackingInfoProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/CardPaymentStatus.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
Labels: feature: mobile payments

#5956 Make payment section always visible
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CreateOrUpdateOrderDraft.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/fees/OrderCreationFeeFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/fees/OrderCreationFeeViewModel.kt
  WooCommerce/src/main/res/layout/fragment_order_creation_fee.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/fees/OrderCreationFeeViewModelTest.kt
Labels: type: enhancement, feature: order creation

#5971 Fix the mixed out orders notes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderNote.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteViewModelTest.kt
  build.gradle
Labels: type: bug, feature: order details, priority: high

#5983 Issue/5980 no such element product list filter
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListAdapter.kt
Labels: type: crash, feature: product list

#5985 Order creation M2 tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModel.kt
Labels: category: analytics, feature: order creation

#5990 [Order Creation] support of negative shipping and fees
  WooCommerce/src/main/res/layout/fragment_order_creation_fee.xml
  WooCommerce/src/main/res/layout/fragment_order_creation_shipping.xml
Labels: type: enhancement, feature: order creation

#5991 Issue/5982 New Canada IPP event
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTracker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
Labels: category: analytics, feature: mobile payments

#5981 Issue/5967 email sent note
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewState.kt
  WooCommerce/src/main/res/layout/card_reader_payment_dialog.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
Labels: needs: design, feature: mobile payments

#5987 Remove order creation M2 feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/ItemOperationsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: order creation

#5998 Merge 8.7 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#5717 Issue/5386 Rename WCOrderModel
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/OrderEntityExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/WCOrderModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/addons/AddonRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/addons/AddonRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/addons/AddonTestFixtures.kt
Labels: status: do not merge, type: technical debt

#5984 Issue/5877 inbox emptycase skeletons
  WooCommerce/src/main/kotlin/com/woocommerce/android/compose/animations/SkeletonAnimation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/Inbox.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/res/drawable-night/img_empty_inbox.xml
  WooCommerce/src/main/res/drawable/img_empty_inbox.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: inbox, compose

#6002 Issue/6001 order creation landscape
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/res/layout/fragment_order_creation_fee.xml
  WooCommerce/src/main/res/layout/fragment_order_creation_shipping.xml
  WooCommerce/src/main/res/layout/layout_address_form.xml
  WooCommerce/src/main/res/values/attrs.xml
Labels: feature: order creation

#6004 Issue/6003 order creation customer exception
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/AddressViewModel.kt
Labels: type: crash, feature: order creation

#6011 [Order creation] Validate billing email when Done button tapped
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/AddressViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/BaseAddressEditingFragment.kt
Labels: feature: order creation

#5685 Issue/5382 remove local ID from WcOrderModel
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/OrderEntityExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/WCOrderModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderShipmentTracking.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/OrderEditingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/fulfill/OrderFulfillViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemIdentifier.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemUIType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/TakePaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/addons/AddonRepository.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderFullfillViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/addons/AddonRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/addons/AddonTestFixtures.kt
  build.gradle
Labels: status: do not merge

#6015 Grouping Product total, taxes and order total so they can be dictated together during order creation
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
Labels: category: accessibility

#6006 Grouping customer's name and email to be dictated together in the Order Creation Screen
  WooCommerce/src/main/res/layout/layout_order_creation_customer_info.xml
Labels: category: accessibility

#6018 Add 8.7 Release Notes
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#6016 State list hides last item
  WooCommerce/src/main/res/layout/fragment_search_filter.xml
Labels: type: bug, feature: order creation

#5965 Add Debounced Scrolling to Analytics Usage Tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ViewExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/layout/my_store_top_performers.xml
Labels: feature: home screen

#6023 Fix issue of disappearing notification badges when the app is restored
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
Labels: type: bug, feature: notifications

#6024 Shipping Labels: fix crash issue of the payment method Webview
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewFragment.kt
Labels: type: crash, priority: high, feature: shipping labels

#6031 Issue/5884 state country search single line
  WooCommerce/src/main/res/layout/fragment_search_filter.xml
Labels: feature: order creation

#6026 Use a trimmed search query for country/state search filter
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/searchfilter/SearchFilterViewModel.kt
Labels: feature: order creation

#6034 Coupons: Add "Coupons" button to More Menu
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MenuUiButton.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenu.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/drawable/ic_more_menu_coupons.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: coupons

#6036 issue/5820-order-creation-show-billing-not-accessible
  WooCommerce/src/main/res/layout/layout_order_creation_customer_info.xml
Labels: category: accessibility, feature: order creation

#6020 Remove `MetaData` from `com.woocommerce.android.model.Order`
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/MetaData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/addons/AddonRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/model/OrderItemTest.kt
  WooCommerce/src/test/resources/mocks/order_items.json
  build.gradle
Labels: feature: order details, type: crash

#6029 Issue/5808 order creation image dictated
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationProductsAdapter.kt
  WooCommerce/src/main/res/layout/order_creation_product_item.xml
  WooCommerce/src/main/res/layout/product_list_item.xml
  WooCommerce/src/main/res/layout/view_stepper.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: category: accessibility, feature: order creation

#6028 issue/5807-order-creation-headings
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
  WooCommerce/src/main/res/layout/order_creation_section.xml
Labels: category: accessibility, feature: order creation

#6049 Configure JaCoCo
  build.gradle
  config/gradle/jacoco.gradle
Labels: type: enhancement, category: tooling

#6053 Merge 8.7 final into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/284.txt
  fastlane/metadata/android/ar/changelogs/286.txt
  fastlane/metadata/android/de-DE/changelogs/284.txt
  fastlane/metadata/android/de-DE/changelogs/286.txt
  fastlane/metadata/android/es-ES/changelogs/284.txt
  fastlane/metadata/android/es-ES/changelogs/286.txt
  fastlane/metadata/android/fr-FR/changelogs/284.txt
  fastlane/metadata/android/fr-FR/changelogs/286.txt
  fastlane/metadata/android/id/changelogs/284.txt
  fastlane/metadata/android/id/changelogs/286.txt
  fastlane/metadata/android/it-IT/changelogs/284.txt
  fastlane/metadata/android/it-IT/changelogs/286.txt
  fastlane/metadata/android/iw-IL/changelogs/284.txt
  fastlane/metadata/android/iw-IL/changelogs/286.txt
  fastlane/metadata/android/ja-JP/changelogs/284.txt
  fastlane/metadata/android/ja-JP/changelogs/286.txt
  fastlane/metadata/android/ko-KR/changelogs/284.txt
  fastlane/metadata/android/ko-KR/changelogs/286.txt
  fastlane/metadata/android/nl-NL/changelogs/284.txt
  fastlane/metadata/android/nl-NL/changelogs/286.txt
  fastlane/metadata/android/pt-BR/changelogs/284.txt
  fastlane/metadata/android/pt-BR/changelogs/286.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/284.txt
  fastlane/metadata/android/ru-RU/changelogs/286.txt
  fastlane/metadata/android/sv-SE/changelogs/284.txt
  fastlane/metadata/android/sv-SE/changelogs/286.txt
  fastlane/metadata/android/tr-TR/changelogs/284.txt
  fastlane/metadata/android/tr-TR/changelogs/286.txt
  fastlane/metadata/android/zh-CN/changelogs/284.txt
  fastlane/metadata/android/zh-CN/changelogs/286.txt
  fastlane/metadata/android/zh-TW/changelogs/284.txt
  fastlane/metadata/android/zh-TW/changelogs/286.txt
Labels: Releases

#6027 Issue/5806 order creation status accessibility
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailOrderStatusView.kt
  WooCommerce/src/main/res/layout/order_detail_order_status.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: category: accessibility, feature: order creation

#6061 Update ruby version to 2.7.4
  .ruby-version
Labels: category: tooling

#6062 Merge 8.8 code freeze to trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/Pluginfile
  fastlane/resources/values/strings.xml
Labels: category: releases

#6051 issue/6050 Use card details based on payment method type
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/PaymentChargeRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/PaymentChargeRepositoryTest.kt
  build.gradle
Labels: status: do not merge

#6037 Refactor Review Moderation logic to decouple ReviewListFragment and ReviewDetailFragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ActionRequest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/UIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/OnRequestModerateReviewEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ProductReviewModerationRequest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModeration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationConsumer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationUi.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationHandlerTests.kt
  build.gradle
Labels: type: enhancement, feature: review list, feature: review details

#6040 issue/5819-order-creation-no-pauses-in-address
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
Labels: category: accessibility, feature: order creation

#6075 Fix `JaCoCo` integration
  config/gradle/jacoco.gradle
Labels: type: bug, category: tooling

#6000 HackWeek. Login Automattion
  quicklogin/.gitignore
  quicklogin/build.gradle
  quicklogin/src/main/AndroidManifest.xml
  quicklogin/src/main/kotlin/com/woocommerce/android/quicklogin/QuickLoginWordpress.kt
  quicklogin/woo_login.sh
  settings.gradle
Labels: category: tooling, feature: login

#6065 Remove eventbus and stateful-ness for Update Variation action
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  build.gradle
Labels: type: enhancement

#6025 Use Automattic-Tracks-Android library from S3 Maven
  WooCommerce/build.gradle
Labels: category: tooling

#6039 Fixes issue/3496-product-pricing-bug-fix
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/BigDecimalExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModelTest.kt
Labels: type: bug, feature: product details

#6071 Fix variations ANR
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/edit/EditVariationAttributesViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModelTest.kt
Labels: type: crash, feature: variation details

#6068 Issue/6063 order creation product search
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionViewModel.kt
  WooCommerce/src/main/res/layout/fragment_order_creation_product_selection.xml
Labels: feature: order creation

#5755 Upgrade Gradle to 7.4 & AGP to 7.1.1
  WooCommerce/build.gradle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/helpers/CoroutineTestUtils.kt
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  settings.gradle
Labels: Tooling

#6059 [Coupons] UI Design for Coupons List Screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/StringUtils.kt
  WooCommerce/src/main/res/layout/fragment_coupon_list.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: category: design, status: feature-flagged, feature: coupons

#6066 [Coupons] M1 Empty Screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponList.kt
  WooCommerce/src/main/res/drawable/img_empty_coupon_list.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: status: feature-flagged, feature: coupons

#6082 issue/6081-variation-attribute-term-fail
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
Labels: feature: review details

#6030 Issue/5870 load inbox notes from api
  WooCommerce/src/main/kotlin/com/woocommerce/android/compose/utils/SpannedTextUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/Inbox.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: type: task, feature: inbox

#6074 Issue/6069 order creation product auto search
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionViewModel.kt
Labels: type: enhancement, feature: order creation

#6041 Issue/5811 order creation dictate quantity change
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/StepperView.kt
  WooCommerce/src/main/res/layout/view_stepper.xml
Labels: category: accessibility, feature: order creation

#6067 [Coupons] Add WIP Feedback Form
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/res/layout/fragment_coupon_list.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: status: feature-flagged, feature: coupons

#6052 Refactor Review Moderation logic part 2: handle queuing
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModeration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationConsumer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationUi.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationHandlerTests.kt
Labels: type: enhancement, feature: review list, feature: review details

#6084 Issue/6077 Remove fetching and passing customer id from the app
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/CardReaderModule.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderStore.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/PaymentManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentAction.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/PaymentInfo.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentActionTest.kt
Labels: feature: mobile payments

#6086 Update Kotlin to 1.6.10 & Compose to 1.1.1
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/viewmodel/BaseUnitTest.kt
  build.gradle
  settings.gradle
Labels: Tooling

#6087 Fix build speed issue
  WooCommerce/build.gradle
  build.gradle
  libs/cardreader/build.gradle
Labels: type: enhancement, category: tooling

#6093 Navigation: remove the NavArgs workaround
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/SavedStateHandleExt.kt
Labels: type: task, type: technical debt

#6094 Merge 8.8 release notes to trunk
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: category: releases

#6083 Add Order creation view model unit test coverage
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModelTest.kt
Labels: category: unit tests, feature: order creation

#6099 Fix price loss in Product Details
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: type: bug, feature: product details, priority: high

#6072 Issue/5922 Show tax breakdown
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsFragmentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/taxes/OrderTaxesAdapter.kt
  WooCommerce/src/main/res/layout/fragment_simple_payments.xml
  WooCommerce/src/main/res/layout/order_tax_item.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsFragmentViewModelTests.kt
Labels: type: enhancement, feature: order creation

#6076 Update repo setup instructions
  README.md
Labels: type: enhancement, type: documentation

#6103 Release notes to reflect l2/l3 data removal
  RELEASE-NOTES.txt
Labels: feature: mobile payments

#6090 Refactor VariationDetailRepository into stateless repo
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModelTest.kt
  build.gradle
Labels: type: enhancement, feature: variation details

#6032 order creation - accessibility - Set headings to order list screen and order creation customer details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/res/layout/layout_address_form.xml
  WooCommerce/src/main/res/layout/order_list_header.xml
Labels: category: accessibility

#6097 Refactor ProductDetailViewModel: reduce size of saved data
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductSettingsFragment.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: type: crash, feature: product details

#6112 Set `wasabiDebug` a default developer variant
  WooCommerce/build.gradle
Labels: type: enhancement, category: tooling

#6114 Fix feature feedback tag tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/FeedbackPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/addons/order/OrderedAddonFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/addons/order/OrderedAddonViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/model/FeatureFeedbackSettingsTest.kt
Labels: type: bug, feature: send feedback

#6109 Coupon repository and real data fetching
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringDateFormatExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Coupon.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductCategory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponRepository.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: coupons

#6092 Remove order creation experimental toggle
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: order creation

#6128 Extract declaration of search typing delay value to app constants
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppConstants.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsFragment.kt
Labels: type: technical debt
