Repository woocommerce/woocommerce-android, pull requests merged in 2022-08, with the labels that each got.

#7047 Add mark to complete swipe action
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/SwipeToComplete.kt
  WooCommerce/src/main/res/layout/order_list_header.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: Bulk Order Actions

#7076 Fix crash in ProductImageViewerFragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
Labels: type: crash, feature: product details

#7081 issue/7071-linked-product-promo-tweaks
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/Banner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/promobanner/PromoBanner.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: product details

#7050 Animation to the payments badge
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MenuUiButton.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
Labels: feature: mobile payments

#7065 Collect button to the hub screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_money_on_surface.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#7080 Set name using fragment tag to add transactions into back stack
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: type: bug

#7078 Fix crash in order creation form
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
Labels: type: crash, feature: order creation

#7060 Update to Sentry SDK 6.3.0. Provide flows for users app context.
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/CrashLoggingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProvider.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProviderTest.kt
  build.gradle
  settings.gradle
Labels: type: enhancement, category: tooling, category: performance

#7099 [UI Tests] Added CODEOWNERS for WCAndroid.
  CODEOWNERS
Labels: category: ui tests

#7101 Firebase remote config improvements
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooCommerce.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/DataStoreRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigManager.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ApplicationModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/PrologueVariant.kt
  WooCommerce/src/main/res/xml/remote_config_values.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepositoryTests.kt
Labels: type: task, category: architecture

#7091 Change the manifest to set the splash theme to the main activity
  WooCommerce/src/main/AndroidManifest.xml
Labels: type: technical debt

#7069 Sentry performance integration. Provide `OrderDetails` transaction
  WooCommerce/build.gradle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/di/DummyInterceptorModule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/performance/WooRequestFormatterTest.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/di/DebugInterceptorModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTrackerWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/InterceptorModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/performance/WooRequestFormatter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailsTransactionLauncher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/CrashLoggingModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/SpecifyPerformanceMonitoringConfig.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProvider.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailsTransactionLauncherTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/crashlogging/SpecifyPerformanceMonitoringConfigTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProviderTest.kt
Labels: status: do not merge

#7103 Add OrderList performance transaction
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListTransactionLauncher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/list/OrderListTransactionLauncherTest.kt
Labels: feature: order list, category: performance

#7086 Update Google Play description
  WooCommerce/metadata/full_description.txt
Labels: Releases

#7082 Perform mark complete swipe action
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/UIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusUpdateSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderStatusSelectorDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/fulfill/OrderFulfillViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemUIType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/SwipeToComplete.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderFullfillViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  build.gradle
Labels: feature: Bulk Order Actions

#7093 Glance to swipeable item
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/SwipeToComplete.kt
  WooCommerce/src/main/res/values/dimens_base.xml
Labels: feature: Bulk Order Actions

#7104 Swipe to complete analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
Labels: feature: Bulk Order Actions

#7092 issue/7053-product-detail-loaded-event
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: category: analytics, feature: product details

#7072 Login Local Notification: Show help notification if merchants entered incorrect WordPress.com email during login
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/localnotifications/LoginHelpNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/localnotifications/LoginNotificationScheduler.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: notifications, feature: login

#7094 Introduce waiting time track capability
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/WaitingTimeTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTransactionLauncher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailsTransactionLauncher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListTransactionLauncher.kt
Labels: type: task, category: analytics

#7108 Remove `checkstyle` plugin
  .buildkite/pipeline.yml
  .gitignore
  README.md
  WooCommerce/build.gradle
  build.gradle
  config/checkstyle.xml
  docs/coding-style.md
  docs/project-overview.md
Labels: type: enhancement, category: tooling

#7074 Prologue survey experiment
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/PrologueExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/PrologueVariant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/SiteLoginExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueCarouselFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueSurveyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/res/color/survey_button_text_selector.xml
  WooCommerce/src/main/res/drawable/survey_button_selector.xml
  WooCommerce/src/main/res/layout-land/fragment_login_prologue_carousel.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue_carousel.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue_carousel.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue_survey.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepositoryTests.kt
Labels: feature: login

#7090 [Login] Allow installing Woo for non-woo sites
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/layout/fragment_wpcom_webview.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/WooLog.kt
Labels: type: enhancement, feature: login

#7114 Swipe to complete feature
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/UIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusUpdateSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderStatusSelectorDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/fulfill/OrderFulfillViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemUIType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/SwipeToComplete.kt
  WooCommerce/src/main/res/layout/order_list_header.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderFullfillViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  build.gradle
Labels: feature: order list, feature: Bulk Order Actions

#7117 issue/search-sku-release-notes
  RELEASE-NOTES.txt
Labels: feature: product list

#7119 Update release toolkit to 5.2.0
  Gemfile.lock
  fastlane/Pluginfile
Labels: category: tooling

#7120 Merge/release 9.7 into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/314.txt
  fastlane/metadata/android/ar/changelogs/316.txt
  fastlane/metadata/android/de-DE/changelogs/314.txt
  fastlane/metadata/android/de-DE/changelogs/316.txt
  fastlane/metadata/android/es-ES/changelogs/314.txt
  fastlane/metadata/android/es-ES/changelogs/316.txt
  fastlane/metadata/android/fr-FR/changelogs/314.txt
  fastlane/metadata/android/fr-FR/changelogs/316.txt
  fastlane/metadata/android/id/changelogs/314.txt
  fastlane/metadata/android/id/changelogs/316.txt
  fastlane/metadata/android/it-IT/changelogs/314.txt
  fastlane/metadata/android/it-IT/changelogs/316.txt
  fastlane/metadata/android/iw-IL/changelogs/314.txt
  fastlane/metadata/android/iw-IL/changelogs/316.txt
  fastlane/metadata/android/ja-JP/changelogs/314.txt
  fastlane/metadata/android/ja-JP/changelogs/316.txt
  fastlane/metadata/android/ko-KR/changelogs/314.txt
  fastlane/metadata/android/ko-KR/changelogs/316.txt
  fastlane/metadata/android/nl-NL/changelogs/314.txt
  fastlane/metadata/android/nl-NL/changelogs/316.txt
  fastlane/metadata/android/pt-BR/changelogs/314.txt
  fastlane/metadata/android/pt-BR/changelogs/316.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/314.txt
  fastlane/metadata/android/ru-RU/changelogs/316.txt
  fastlane/metadata/android/sv-SE/changelogs/314.txt
  fastlane/metadata/android/sv-SE/changelogs/316.txt
  fastlane/metadata/android/tr-TR/changelogs/314.txt
  fastlane/metadata/android/tr-TR/changelogs/316.txt
  fastlane/metadata/android/zh-CN/changelogs/314.txt
  fastlane/metadata/android/zh-CN/changelogs/316.txt
  fastlane/metadata/android/zh-TW/changelogs/314.txt
  fastlane/metadata/android/zh-TW/changelogs/316.txt
Labels: Releases

#7079 Magic-link sent screen experiment
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/MagicLinkSentScreenExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: feature: login

#7123 Fix: For WordPress.com sites, show Email login without site credentials option.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: type: enhancement, feature: login

#7124 Automatic magic link request experiment
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/LoginFragmentsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/AutomaticMagicLinkRequestExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/MagicLinkSentScreenExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/PrologueExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/SiteLoginExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailPasswordFragment.kt
  WooCommerce/src/main/res/drawable/bg_rounded_box.xml
  WooCommerce/src/main/res/drawable/ic_email_black.xml
  WooCommerce/src/main/res/layout/fragment_login_email_password.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: login

#7127 Enhanced magic link request experiment
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/MagicLinkRequestExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailPasswordFragment.kt
  WooCommerce/src/main/res/layout/fragment_login_email_password.xml
  WooCommerce/src/main/res/layout/login_form_screen.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: login

#7131 Merge 9.8 code freeze and release notes to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7085 Fix payment navigation during new more flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#7095 Run onboarding check on the ipp hub screen in async way
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/res/layout/fragment_card_reader_hub.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#7105 Implement navigation on click on the error text on the hub screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/res/layout/card_reader_learn_more_section.xml
  WooCommerce/src/main/res/layout/fragment_card_reader_hub.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#7106 Remove ipp settings from the main settings
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
Labels: feature: mobile payments

#7115 Сonsider removing upsell ipp banner from the settings screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/Banner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/BannerDismissDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/MainPresenterTest.kt
Labels: feature: mobile payments

#7136 change background color of the card reader upsell banner
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/Banner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/BannerDismissDialog.kt
Labels: feature: mobile payments

#7128 Activate: Hide "Enter your store address" button in "No WPCom Account Found" screen if from "Enter Site Address" flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
Labels: type: enhancement, feature: login

#7130 Feature/6989 iteration iii local notifications
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/localnotifications/LoginHelpNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/localnotifications/LoginHelpNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/localnotifications/LoginNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailPasswordFragment.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: type: enhancement, feature: notifications, feature: login

#7133 Change navigation of the simple payments in the orders
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderCreationBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/SimplePaymentsMovedBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/res/layout/dialog_simple_payments_moved_bottom_sheet.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_simple_payments.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: simple payments

#7134 More IPP: Project tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: category: analytics, feature: mobile payments

#7132 Issue/7053 track linked products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/LinkedProductsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/layout/fragment_grouped_product_list.xml
Labels: category: analytics, feature: product details

#7147 Activate: Add "What is WordPress.com" button on "No WPCom account found" screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
  WooCommerce/src/main/res/layout/fragment_login_no_wpcom_account_found.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7159 Pass onboarding error to avoid another onboarding check
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#7162 Activate: Add analytics for "What is WordPress.com" button on "No WPcom Account Found" screen.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
Labels: category: analytics, feature: login

#7164 Update release notes
  RELEASE-NOTES.txt
Labels: type: enhancement

#7150 Project: Mooooore IPP
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MenuUiButton.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuNewFeatureHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderCreationBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/SimplePaymentsMovedBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/Banner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/BannerDismissDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_money_on_surface.xml
  WooCommerce/src/main/res/layout/card_reader_hub_list_item.xml
  WooCommerce/src/main/res/layout/card_reader_learn_more_section.xml
  WooCommerce/src/main/res/layout/dialog_simple_payments_moved_bottom_sheet.xml
  WooCommerce/src/main/res/layout/fragment_card_reader_hub.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_simple_payments.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuNewFeatureHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/MainPresenterTest.kt
Labels: feature: mobile payments

#7157 Set correct LoginMode when opening LoginActivity from notifications
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: type: bug, feature: login

#7148 [Login] List non-Woo stores in the site picker to allow installing Woo
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_notice.xml
  WooCommerce/src/main/res/layout/fragment_site_picker.xml
  WooCommerce/src/main/res/layout/site_picker_item.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: type: enhancement, feature: login

#7169 Avoid disabling androidX startup completely
  WooCommerce/src/main/AndroidManifest.xml
Labels: type: bug

#7173 Create new milestones with 7 day duration
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: category: tooling

#7163 Activate: Simplify various wordings on the "No WPCom Account Found" screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: login

#7171 Improve order detail loading time
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: type: enhancement, feature: order details

#7174 Ignore notifications when site is not selected
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationMessageHandler.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/push/NotificationMessageHandlerTest.kt
Labels: type: crash

#7180 Merge 9.9 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7185 Fix crash about Order Creation fragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: type: crash, feature: order editing

#7188 Issue/7186 custom fields dark mode
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomFieldsCard.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/order_detail_custom_fields_card.xml
Labels: feature: order details

#7102 issue/7097-explat-aa-test
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ExperimentationModule.kt
Labels: feature: product details

#7125 Nullability fix when updating core-ktx from 1.7.0 to 1.8.0
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DeviceInfo.kt
Labels: type: enhancement

#7177 Add logic during on boarding to check if Cash on Delivery is enabled or not in the store.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
Labels: feature: mobile payments

#7200 Disable Edit menu until order exists
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
Labels: feature: order details

#7191 Issue/7190 prevent duplicate calls order details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: type: enhancement, feature: order details

#7113 Introduces CHANGELOG.md
  CHANGELOG.md
Labels: category: tooling

#7178 Issue/7145 cash on delivery error state onboarding
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/res/layout/fragment_card_reader_onboarding_cod_disabled.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#7218 Immutable notification in fluxc
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailRepository.kt
  build.gradle
Labels: dependency update

#7204 Fix null order in detail screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: feature: order details, type: crash

#7205 Integrate cash on delivery API into the View Model
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#7203 Add tracking for linked product promo
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: category: analytics, feature: product details

#7187 Activate: Login button swap experiment
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/LoginButtonSwapExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueSwappedFragment.kt
  WooCommerce/src/main/res/layout-land/fragment_login_prologue_swapped.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue_swapped.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue_swapped.xml
Labels: feature: login

#7212 Do not show cod disabled state when it is skipped previously
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#7224 Send description field to COD enable POST request.
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  build.gradle
Labels: status: do not merge, feature: mobile payments

#7226 Issue/7052 explat UI integration
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ExperimentationModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
Labels: feature: product details

#7193 The new "learn more" button on the connection dialog
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/LearnMoreUrlProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/res/layout/card_reader_connect_dialog.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/LearnMoreUrlProviderTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#7228 Issue/7227 tracking for cod
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: category: analytics, feature: mobile payments

#7231 Add release notes for cash on delivery project
  RELEASE-NOTES.txt
Labels: feature: mobile payments

#7232 Feature cash on delivery
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/res/layout/fragment_card_reader_onboarding_cod_disabled.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  build.gradle
Labels: feature: mobile payments

#7223 [Login] Site discovery post-login, part 1
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/ProgressDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/FetchSiteInfo.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: type: enhancement, feature: login

#7225 [Login] Site discovery post-login, part 2
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Buttons.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/FetchSiteInfo.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7241 Merge 9.9 final to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreateEditViewModelTest.kt
  fastlane/metadata/android/ar/changelogs/318.txt
  fastlane/metadata/android/ar/changelogs/320.txt
  fastlane/metadata/android/de-DE/changelogs/318.txt
  fastlane/metadata/android/de-DE/changelogs/320.txt
  fastlane/metadata/android/es-ES/changelogs/318.txt
  fastlane/metadata/android/es-ES/changelogs/320.txt
  fastlane/metadata/android/fr-FR/changelogs/318.txt
  fastlane/metadata/android/fr-FR/changelogs/320.txt
  fastlane/metadata/android/id/changelogs/318.txt
  fastlane/metadata/android/id/changelogs/320.txt
  fastlane/metadata/android/it-IT/changelogs/318.txt
  fastlane/metadata/android/it-IT/changelogs/320.txt
  fastlane/metadata/android/iw-IL/changelogs/318.txt
  fastlane/metadata/android/iw-IL/changelogs/320.txt
  fastlane/metadata/android/ja-JP/changelogs/318.txt
  fastlane/metadata/android/ja-JP/changelogs/320.txt
  fastlane/metadata/android/ko-KR/changelogs/318.txt
  fastlane/metadata/android/ko-KR/changelogs/320.txt
  fastlane/metadata/android/nl-NL/changelogs/318.txt
  fastlane/metadata/android/nl-NL/changelogs/320.txt
  fastlane/metadata/android/pt-BR/changelogs/318.txt
  fastlane/metadata/android/pt-BR/changelogs/320.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/318.txt
  fastlane/metadata/android/ru-RU/changelogs/320.txt
  fastlane/metadata/android/sv-SE/changelogs/318.txt
  fastlane/metadata/android/sv-SE/changelogs/320.txt
  fastlane/metadata/android/tr-TR/changelogs/318.txt
  fastlane/metadata/android/tr-TR/changelogs/320.txt
  fastlane/metadata/android/zh-CN/changelogs/318.txt
  fastlane/metadata/android/zh-CN/changelogs/320.txt
  fastlane/metadata/android/zh-TW/changelogs/318.txt
  fastlane/metadata/android/zh-TW/changelogs/320.txt
Labels: Releases

#7246 Fix build issues with release 10
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
Labels: Releases

#7248 Merge 10.0 code freeze to trunk
  CHANGELOG.md
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7239 Replace deprecated "readParcelable", "getParcelable", "getserializable" and "getParcelableArrayList" methods usage
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DataContainerExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/mediapicker/MediaPickerUtil.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/CurrencyAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedCurrencyEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedEditTextView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCMaterialOutlinedSpinnerView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCSavedState.kt
Labels: type: technical debt

#7233 Show onboarding error when pending requirements present
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#7256 Fix the onBackPressed() deprecation warnings
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/WooLogViewerActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackCompletedFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginSiteCheckErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/BaseProductFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdatePriceFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
Labels: type: enhancement

#7260 Fix missing/wrongly named tracks events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
Labels: category: analytics

#7264 Merge 9.9.1 hotfix to release/10.0
  WooCommerce/build.gradle
Labels: Releases

#7265 Merge 10.0-rc-2 to trunk
  WooCommerce/build.gradle
Labels: Releases

#7262 Implicitly add instructions when COD is enabled.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  build.gradle
Labels: feature: mobile payments

#7243 Conditional request plugins data
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: type: enhancement, feature: order details

#7220 issue/7219-no-such-element-order-creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreateEditProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreateEditProductSelectionViewModel.kt
Labels: feature: order creation

#7286 Merge 10.0 final to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/320.txt
  fastlane/metadata/android/ar/changelogs/324.txt
  fastlane/metadata/android/de-DE/changelogs/320.txt
  fastlane/metadata/android/de-DE/changelogs/324.txt
  fastlane/metadata/android/es-ES/changelogs/320.txt
  fastlane/metadata/android/es-ES/changelogs/324.txt
  fastlane/metadata/android/fr-FR/changelogs/320.txt
  fastlane/metadata/android/fr-FR/changelogs/324.txt
  fastlane/metadata/android/id/changelogs/320.txt
  fastlane/metadata/android/id/changelogs/324.txt
  fastlane/metadata/android/it-IT/changelogs/320.txt
  fastlane/metadata/android/it-IT/changelogs/324.txt
  fastlane/metadata/android/iw-IL/changelogs/320.txt
  fastlane/metadata/android/iw-IL/changelogs/324.txt
  fastlane/metadata/android/ja-JP/changelogs/320.txt
  fastlane/metadata/android/ja-JP/changelogs/324.txt
  fastlane/metadata/android/ko-KR/changelogs/320.txt
  fastlane/metadata/android/ko-KR/changelogs/324.txt
  fastlane/metadata/android/nl-NL/changelogs/320.txt
  fastlane/metadata/android/nl-NL/changelogs/324.txt
  fastlane/metadata/android/pt-BR/changelogs/320.txt
  fastlane/metadata/android/pt-BR/changelogs/324.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/320.txt
  fastlane/metadata/android/ru-RU/changelogs/324.txt
  fastlane/metadata/android/sv-SE/changelogs/320.txt
  fastlane/metadata/android/sv-SE/changelogs/324.txt
  fastlane/metadata/android/tr-TR/changelogs/320.txt
  fastlane/metadata/android/tr-TR/changelogs/324.txt
  fastlane/metadata/android/zh-CN/changelogs/320.txt
  fastlane/metadata/android/zh-CN/changelogs/324.txt
  fastlane/metadata/android/zh-TW/changelogs/320.txt
  fastlane/metadata/android/zh-TW/changelogs/324.txt
Labels: Releases

#7289 Update CHANGELOG.md
  CHANGELOG.md
Labels: Releases

#7290 Merge 10.1 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7270 [UI Tests] Enable `productListShowsAllProducts`.
  WooCommerce/src/androidTest/assets/mocks/mappings/wpcom/experiments.json
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/products/ProductListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/products/SingleProductScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/util/Screen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/main/ProductsUITest.kt
  fastlane/Fastfile
Labels: category: ui tests

#7296 [UI Tests] - Re-enable orders UI test
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/2201/2201_detailed.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_all_detailed.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_any_detailed.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_create_empty.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_create_simple_product.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_select_simple_product.json
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/orders/SingleOrderScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/main/OrdersUITest.kt
Labels: feature: order list, category: ui tests

#7271 Feature/7254 reduce infinite loading
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
  build.gradle
Labels: type: enhancement

#7301 Use latest changes in Tracks
  WooCommerce/build.gradle
Labels: category: analytics

#7305 Activate: Remote site credentials experiement
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/SiteLoginExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: feature: login

#7279 Validate shipping address
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/AddressValidator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/AddressValidatorTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  build.gradle
Labels: type: task, feature: order details

#7304 Feature/6617 save last selected granularity
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: type: enhancement, feature: stats

#7308 Add product path to product leaderboard request when available
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  build.gradle
Labels: type: enhancement, status: do not merge, feature: stats

#7309 Restore the original email login screen for self-hosted sites
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: feature: login

#7311 [Login] extract the account mismatch view to a separate screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/AccountRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/AppSettingsPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: type: task, feature: login
