Repository woocommerce/woocommerce-android, pull requests merged in 2022-11, with the labels that each got.

#7654 IAP: Integration tests prep
  libs/iap/build.gradle
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPBillingClientProvider.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPBillingClientWrapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPLifecycleObserver.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManagerFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanFactory.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPTestDataHelper.kt
Labels: feature: in-app purchase

#7694 Update Apache Commons Text to 1.10.0
  WooCommerce/build.gradle
  build.gradle
Labels: category: tooling, type: technical debt

#7688 IAP: Handle VM death during IAP in progress
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseActivity.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseViewModel.kt
  WooCommerce/src/debug/res/layout/activity_iapshowcase.xml
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPExt.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPPurchasesUpdatedListener.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/model/IAPPurchaseResult.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/PurchaseWPComPlanActions.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
Labels: feature: in-app purchase

#7691 IAP: Test for `isWPComPlanPurchased` function
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPTestDataHelper.kt
Labels: feature: in-app purchase

#7692 IAP: Integration tests on fetching product detail
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPTestDataHelper.kt
Labels: feature: in-app purchase

#7696 issue-3554 Product search results filtering
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: feature: product list

#7678 Enhanced webview store creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/WebView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/layout-land/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/layout/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store creation

#7693 Clean up old webview store creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
Labels: feature: store creation

#7705 Ignore fetch account errors during signup
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepository.kt
Labels: type: bug, feature: store creation

#7703 Date range selection UI adjustments
  WooCommerce/src/main/res/drawable/bg_calendar_gray_circle.xml
  WooCommerce/src/main/res/layout/analytics_date_range_card_view.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
Labels: type: enhancement, feature: analytics

#7634 [Simplified Login] Prologue screen changes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: category: design, feature: login

#7714 Fix crash when scanning non WooCommerce Qr codes
  libs/barcode/src/main/java/com/woocommerce/android/barcode/QrCodeScanningFragment.kt
  libs/barcode/src/main/res/values/strings.xml
Labels: type: crash, feature: login

#7689 Remove the option to enable simulated reader from gradle
  WooCommerce/build.gradle
Labels: type: enhancement

#7723 Fix build issue
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
Labels: type: task

#7676 Remove feature flag to show "Get started" button always
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpCredentialsValidator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/FakeDispatcher.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepositoryTest.kt
Labels: feature: store creation

#7684 Improve simulated reader toggle on dev options screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement

#7719 IAP: Handle cases when connection to billing service has failed
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPBillingClientStateHandler.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManagerFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/model/IAPBillingClientConnectionResult.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
Labels: feature: in-app purchase

#7725 [HotFix] Fix crash when launching magic link screen on API < 23
  build.gradle
Labels: type: crash, feature: login

#7727 Merge 10.9.1 final into `release/11.0`
  build.gradle
Labels: Releases

#7729 Merge 11.0-rc-2 into `trunk`
  WooCommerce/build.gradle
  build.gradle
Labels: Releases

#7716 Extract JITM analytics into a separate class
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/jitm/JitmTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#7718 Dynamic UTM params from api response
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/WooCommerceComUTMProviderTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooCommerceComUTMProviderModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreUtmProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UtmProvider.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments

#7677 [Simplified login] site picker changes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NavController.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/AddStoreBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/views/LoginNoStoresView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/views/LoginUserInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCBottomSheetDialogFragment.kt
  WooCommerce/src/main/res/drawable-night/img_woo_no_stores.xml
  WooCommerce/src/main/res/drawable/bg_rounded_box.xml
  WooCommerce/src/main/res/drawable/img_woo_no_stores.xml
  WooCommerce/src/main/res/layout-land/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/layout/dialog_site_picker_add_store_bottom_sheet.xml
  WooCommerce/src/main/res/layout/fragment_site_picker.xml
  WooCommerce/src/main/res/layout/site_picker_item.xml
  WooCommerce/src/main/res/layout/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/layout/view_login_user_info.xml
  WooCommerce/src/main/res/layout/view_login_user_info_centered.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: type: enhancement, feature: login

#7731 Fix JITM Banner UI issue on the My Store screen when the store has no stats
  WooCommerce/src/main/res/layout/fragment_my_store.xml
Labels: feature: mobile payments

#7715 Store creation flow exit improvements
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store creation

#7724 [Simplified login] Align both variants in the unknown email screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
Labels: type: enhancement, feature: login

#7711 Issue/7709 simplified login password
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailPasswordFragment.kt
  WooCommerce/src/main/res/layout/fragment_login_email_password.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, status: do not merge, feature: login

#7739 Add charts to stats sections
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrdersStat.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/RevenueStat.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/LineChart.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationSectionView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationSectionViewState.kt
  WooCommerce/src/main/res/layout/analytics_information_section_view.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
  build.gradle
Labels: feature: analytics

#7736 Feature/bulk update stock quantity
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateAttrPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateAttrPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdatePriceFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdatePriceViewModel.kt
  WooCommerce/src/main/res/layout/fragment_variations_bulk_update_attr_picker.xml
  WooCommerce/src/main/res/layout/fragment_variations_bulk_update_inventory.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: analytics

#7741 Update `compileSdkVersion` for `barcode` module (from `31` to `33`)
  libs/barcode/build.gradle
  libs/barcode/src/main/java/com/woocommerce/android/barcode/QrCodeScanningFragment.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/ScopedExecutor.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/Utils.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/CameraSizePair.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/CameraSource.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/FrameProcessorBase.kt
Labels: category: tooling, type: technical debt

#7734 [Simplified Login] Design update for illustration and "OR" divider design and color
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/fragment_login_email_screen.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/woo_login_or_layout.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
Labels: category: design, feature: login

#7740 Feature/add qr code scan on magic link sent
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginMagicLinkSentImprovedFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/qrcode/CameraPermissionUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/qrcode/QrCodeLoginListener.kt
  WooCommerce/src/main/res/layout/fragment_login_magic_link_sent_improved.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7746 Updated release notes for 11.1
  CHANGELOG.md
Labels: Releases

#7747 Merge 11.1 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7732 Feature/7720 domain selection screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/TextFields.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationQuestionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/AddStoreBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_store_creation.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store creation

#7748 Add WebView store creation unit tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModelTest.kt
Labels: Testing, feature: store creation

#7755 A8C Libs S3 and Fetch Style Plugin
  build.gradle
  settings.gradle
Labels: category: tooling

#7726 IAP: hit the backend if makepurchase called when its been purchased already
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseActivity.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseViewModel.kt
  WooCommerce/src/debug/res/layout/activity_iapshowcase.xml
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPExt.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWpComPlanHandler.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanFactory.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPTestDataHelper.kt
Labels: feature: in-app purchase

#7763 [Simplified login] Fix the wording of the button "try another account" in the control variant
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
Labels: type: bug, feature: login

#7762 [Login] remove the prologue survey
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/PrologueExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueSurveyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/res/layout/fragment_login_prologue_survey.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepositoryTests.kt
Labels: type: task, feature: login

#7764 Number crash on bulk update variations
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateInventoryViewModel.kt
Labels: type: crash, feature: product details

#7761 Feature/7720 domain selection fetch api logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainSuggestionsRepository.kt
Labels: type: enhancement, feature: store creation

#7772 Experiments/remove ab test jetpack timeout override
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/JetpackTimeoutExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: type: enhancement

#7766 [Simplified login] Navigation solution for the native Jetpack installation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/JetpackActivationContainerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/JetpackActivationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/res/layout/fragment_login_jetpack_activation_container.xml
  WooCommerce/src/main/res/navigation/nav_graph_jetpack_activation.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_site_picker.xml
Labels: type: task, feature: login

#7781 Hide upsell card reader banner
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooCommerceComUTMProviderModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/BannerDismissDialog.kt
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: feature: mobile payments

#7776 Adjust quarter date range selection options to work with Visitor stats
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: feature: analytics

#7799 Hide visitor stats on custom range
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationViewState.kt
Labels: feature: stats

#7777 Introduce delta percentage to Visitors stats card
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/VisitorsStat.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
Labels: feature: analytics

#7730 Add Jetpack site stats to the Analytics Hub
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/VisitorsStat.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/main/res/layout/fragment_analytics.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: feature: analytics

#7784 Replace deprecated menu usage
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCarrierRatesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreateCustomPackageFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreateServicePackageFragment.kt
Labels: type: technical debt

#7783 Fix the merge of merge/11.1-rc-2 <- trunk
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/AddStoreBottomSheetFragment.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModelTest.kt
Labels: category: releases, Releases

#7767 IAP: Prepare for merging the feature branch to trunk
  WooCommerce/src/release/AndroidManifest.xml
Labels: feature: in-app purchase

#7801 Issue/7753 track visitor stats
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubTransactionLauncher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: feature: stats

#7800 Fix analytics Today and Yesterday previous date range comparison
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCalculator.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCalculatorTest.kt
Labels: type: bug, feature: analytics

#7803 Adjust analytics hub feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/listcard/AnalyticsListCardView.kt
  WooCommerce/src/main/res/layout/fragment_analytics.xml
Labels: feature: analytics

#7818 Fix logic of navigation after account creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepositoryTest.kt
Labels: type: bug, feature: login

#7829 Make email text field single line and handle keyboard actions properly
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpScreen.kt
Labels: type: enhancement

#7778 Merge 11.1-rc-2 to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateInventoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/AddStoreBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_site_picker.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: Releases

#7830 Update release notes for 11.2
  CHANGELOG.md
Labels: Releases

#7834 Merge 11.1 final to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepositoryTest.kt
  fastlane/Fastfile
  fastlane/metadata/android/ar/changelogs/353.txt
  fastlane/metadata/android/ar/changelogs/357.txt
  fastlane/metadata/android/de-DE/changelogs/353.txt
  fastlane/metadata/android/de-DE/changelogs/357.txt
  fastlane/metadata/android/es-ES/changelogs/353.txt
  fastlane/metadata/android/es-ES/changelogs/357.txt
  fastlane/metadata/android/fr-FR/changelogs/353.txt
  fastlane/metadata/android/fr-FR/changelogs/357.txt
  fastlane/metadata/android/id/changelogs/353.txt
  fastlane/metadata/android/id/changelogs/357.txt
  fastlane/metadata/android/it-IT/changelogs/353.txt
  fastlane/metadata/android/it-IT/changelogs/357.txt
  fastlane/metadata/android/iw-IL/changelogs/353.txt
  fastlane/metadata/android/iw-IL/changelogs/357.txt
  fastlane/metadata/android/ja-JP/changelogs/353.txt
  fastlane/metadata/android/ja-JP/changelogs/357.txt
  fastlane/metadata/android/ko-KR/changelogs/353.txt
  fastlane/metadata/android/ko-KR/changelogs/357.txt
  fastlane/metadata/android/nl-NL/changelogs/353.txt
  fastlane/metadata/android/nl-NL/changelogs/357.txt
  fastlane/metadata/android/pt-BR/changelogs/353.txt
  fastlane/metadata/android/pt-BR/changelogs/357.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/353.txt
  fastlane/metadata/android/ru-RU/changelogs/357.txt
  fastlane/metadata/android/sv-SE/changelogs/353.txt
  fastlane/metadata/android/sv-SE/changelogs/357.txt
  fastlane/metadata/android/tr-TR/changelogs/353.txt
  fastlane/metadata/android/tr-TR/changelogs/357.txt
  fastlane/metadata/android/zh-CN/changelogs/353.txt
  fastlane/metadata/android/zh-CN/changelogs/357.txt
  fastlane/metadata/android/zh-TW/changelogs/353.txt
  fastlane/metadata/android/zh-TW/changelogs/357.txt
Labels: Releases

#7835 Merge 11.2 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7789 Replace deprecated menu usages
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/receipt/ReceiptPreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsCustomerNoteFragment.kt
Labels: type: technical debt

#7820 Replace deprecated menu usages
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ParentCategoryListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductCatalogVisibilityFragment.kt
Labels: type: technical debt

#7774 [Simplified Login] experiment for Jetpack Installation
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/JetpackInstallationExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryViewModel.kt
Labels: type: task, feature: login

#7798 Replace deprecated menu usages
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
Labels: type: technical debt

#7771 IAP: handle multiple invocation startpurchase
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
Labels: feature: in-app purchase

#7840 Replace deprecated menu usages
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWCShippingFragment.kt
Labels: type: technical debt

#7844 Removes simple payments from the orders list
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/OrderListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/screenshot/ScreenshotTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersUITest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderCreationBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/SimplePaymentsMovedBottomSheetFragment.kt
  WooCommerce/src/main/res/layout/dialog_order_creation_bottom_sheet.xml
  WooCommerce/src/main/res/layout/dialog_simple_payments_moved_bottom_sheet.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: mobile payments

#7854 Fix leftovers from "fixing kotlin compiler warnings" project
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProvider.kt
Labels: type: technical debt

#7855 Remove "See Report" button
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/listcard/AnalyticsListCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/analytics_information_card_view.xml
  WooCommerce/src/main/res/layout/analytics_list_card_view.xml
  WooCommerce/src/main/res/layout/skeleton_analytics_information_card.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: type: task, feature: analytics

#7862 Generate all variations entrypoint
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_variation_list.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: variation list

#7828 Replace deprecated menu usage
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/settings/ProductVisibilityFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdatePriceFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeFragment.kt
Labels: type: technical debt

#7810 Replace deprecated menu usages
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryFragment.kt
Labels: type: technical debt

#7885 Store creation flow crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModel.kt
Labels: type: crash

#7850 [Simplified login] initial screen for Jeptack installation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/TextExts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/JetpackActivationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryViewModel.kt
  WooCommerce/src/main/res/drawable-hdpi/img_connect_jetpack.webp
  WooCommerce/src/main/res/drawable-hdpi/img_install_jetpack.webp
  WooCommerce/src/main/res/drawable-ldpi/img_connect_jetpack.webp
  WooCommerce/src/main/res/drawable-ldpi/img_install_jetpack.webp
  WooCommerce/src/main/res/drawable-mdpi/img_connect_jetpack.webp
  WooCommerce/src/main/res/drawable-mdpi/img_install_jetpack.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_connect_jetpack.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_install_jetpack.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_connect_jetpack.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_install_jetpack.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_connect_jetpack.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_install_jetpack.webp
  WooCommerce/src/main/res/navigation/nav_graph_jetpack_activation.xml
  WooCommerce/src/main/res/navigation/nav_graph_site_picker.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7878 Feature/7863 name picker step
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreCreationQuestionsFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_store_creation.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: store creation

#7865 Improve AnalyticsViewModel visitors unit tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: feature: analytics

#7864 Algorithm for generating variation candidates
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/domain/GenerateVariationCandidates.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/domain/GenerateVariationCandidatesTest.kt
Labels: type: task, feature: variation list

#7888 [Tooling] Allow installable builds to soft-fail if re-run
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: category: tooling

#7892 IAP: documentation for developers
  docs/iap-module.md
  docs/images/iap-module-diagram.webp
Labels: type: documentation, feature: in-app purchase

#7894 Store creation: Plans screen design update & crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/plans/PlansScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/plans/PlansViewModel.kt
  WooCommerce/src/main/res/drawable-hdpi/img_plan.webp
  WooCommerce/src/main/res/drawable-ldpi/img_plan.webp
  WooCommerce/src/main/res/drawable-mdpi/img_plan.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_plan.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_plan.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_plan.webp
  WooCommerce/src/main/res/values/dimens_base.xml
Labels: feature: store creation

#7852 Merge IAP feature to the trunk
  .buildkite/pipeline.yml
  WooCommerce/build.gradle
  WooCommerce/src/debug/AndroidManifest.xml
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPDebugLogWrapper.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseActivity.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseViewModel.kt
  WooCommerce/src/debug/res/layout/activity_iapshowcase.xml
  WooCommerce/src/debug/res/values/strings.xml
  WooCommerce/src/release/AndroidManifest.xml
  build.gradle
  docs/iap-module.md
  docs/images/iap-module-diagram.webp
  libs/iap/.gitignore
  libs/iap/build.gradle
  libs/iap/proguard-rules.pro
  libs/iap/src/main/AndroidManifest.xml
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPBillingClientProvider.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPBillingClientStateHandler.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPBillingClientWrapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPBillingFlowParamsBuilder.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPExt.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPInMapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManagerFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPOutMapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPPeriodicPurchaseStatusChecker.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPPurchasesUpdatedListener.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/model/IAPBillingClientConnectionResult.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/model/IAPParams.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/model/IAPProductDetailsResponse.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/model/IAPPurchaseResult.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/network/IAPMobilePayAPI.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/network/model/CreateAndConfirmOrderResponse.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWpComPlanHandler.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPActivityWrapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPLogWrapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/PurchaseWPComPlanActions.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/IAPError.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/IAPSupportedResult.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/WPComIsPurchasedResult.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/WPComProductResult.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/WPComPurchaseResult.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPTestDataHelper.kt
  settings.gradle
Labels: feature: in-app purchase

#7895 Merge 11.2 final to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/357.txt
  fastlane/metadata/android/ar/changelogs/359.txt
  fastlane/metadata/android/de-DE/changelogs/357.txt
  fastlane/metadata/android/de-DE/changelogs/359.txt
  fastlane/metadata/android/es-ES/changelogs/357.txt
  fastlane/metadata/android/es-ES/changelogs/359.txt
  fastlane/metadata/android/fr-FR/changelogs/357.txt
  fastlane/metadata/android/fr-FR/changelogs/359.txt
  fastlane/metadata/android/id/changelogs/357.txt
  fastlane/metadata/android/id/changelogs/359.txt
  fastlane/metadata/android/it-IT/changelogs/357.txt
  fastlane/metadata/android/it-IT/changelogs/359.txt
  fastlane/metadata/android/iw-IL/changelogs/357.txt
  fastlane/metadata/android/iw-IL/changelogs/359.txt
  fastlane/metadata/android/ja-JP/changelogs/357.txt
  fastlane/metadata/android/ja-JP/changelogs/359.txt
  fastlane/metadata/android/ko-KR/changelogs/357.txt
  fastlane/metadata/android/ko-KR/changelogs/359.txt
  fastlane/metadata/android/nl-NL/changelogs/357.txt
  fastlane/metadata/android/nl-NL/changelogs/359.txt
  fastlane/metadata/android/pt-BR/changelogs/357.txt
  fastlane/metadata/android/pt-BR/changelogs/359.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/357.txt
  fastlane/metadata/android/ru-RU/changelogs/359.txt
  fastlane/metadata/android/sv-SE/changelogs/357.txt
  fastlane/metadata/android/sv-SE/changelogs/359.txt
  fastlane/metadata/android/tr-TR/changelogs/357.txt
  fastlane/metadata/android/tr-TR/changelogs/359.txt
  fastlane/metadata/android/zh-CN/changelogs/357.txt
  fastlane/metadata/android/zh-CN/changelogs/359.txt
  fastlane/metadata/android/zh-TW/changelogs/357.txt
  fastlane/metadata/android/zh-TW/changelogs/359.txt
Labels: Releases

#7897 Exclude variation duplicates from variation candidates
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/domain/GenerateVariationCandidates.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/domain/GenerateVariationCandidatesTest.kt
Labels: type: task, feature: variation list

#7868 Replace deprecated menu usages
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreateEditProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/BaseAddressEditingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreateCustomPackageFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepositoryTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CashOnDeliverySettingsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/manuals/CardReaderManualsViewModelTest.kt
  build.gradle
Labels: type: technical debt

#7871 7845 fix orientation change menu hiding
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginDiscoveryErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginMagicLinkSentImprovedFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/fees/OrderCreateEditFeeFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/notes/OrderCreateEditCustomerNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreateEditProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderCreateEditShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/BaseOrderEditingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterCategoriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelAddressFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCarrierRatesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreateCustomPackageFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreateServicePackageFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/receipt/ReceiptPreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsCustomerNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/ProductDownloadsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdatePriceFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
Labels: type: bug

#7905 Update release notes for 11.3
  CHANGELOG.md
Labels: Releases

#7902 Merge 11.3 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/release/AndroidManifest.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7908 Read `version` for `update_appstore_strings` from codebase
  fastlane/Fastfile
Labels: category: tooling

#7872 [Simplified login] Site credentials step for native jetpack installation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/sitecredentials/JetpackActivationSiteCredentialsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/sitecredentials/JetpackActivationSiteCredentialsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/sitecredentials/JetpackActivationSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/sitecredentials/WPApiSiteRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_jetpack_activation.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7880 [Simplified login] UI for Jetpack Activation steps
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/UiStringExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/components/JetpackToWoo.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/sitecredentials/JetpackActivationSiteCredentialsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/sitecredentials/JetpackActivationSiteCredentialsScreen.kt
  WooCommerce/src/main/res/navigation/nav_graph_jetpack_activation.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7887 Generate variations dialogs
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/domain/GenerateVariationCandidates.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
Labels: type: task, feature: variation list

#7901 Feature/fix wrong text styles
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/mystoresummary/MyStoreSummaryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerScreen.kt
Labels: type: enhancement, feature: store creation

#7879 Feature/7720 domain suggestions UI updates
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/TextFields.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/NewStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/mystoresummary/MyStoreSummaryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/mystoresummary/MyStoreSummaryViewModel.kt
  WooCommerce/src/main/res/drawable-night/domain_example.xml
  WooCommerce/src/main/res/drawable/domain_example.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: store creation

#7898 IAP: Expose acknowledgement status from `isWPcomPlanPurchased` method
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseViewModel.kt
  docs/iap-module.md
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPExt.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/WPComIsPurchasedResult.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
Labels: feature: in-app purchase

#7915 IAP: site id is part of the constructor but its not available during isIapSupported call
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseActivity.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/purchase/IAPShowcasePurchaseFragment.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/purchase/IAPShowcasePurchaseViewModel.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/supportcheck/IAPShowcaseSupportCheckerFragment.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/supportcheck/IAPShowcaseSupportCheckerViewModel.kt
  WooCommerce/src/debug/res/layout/activity_iapshowcase.xml
  WooCommerce/src/debug/res/layout/fragment_iap_showcase_purchase.xml
  WooCommerce/src/debug/res/layout/fragment_iap_showcase_support_checker.xml
  WooCommerce/src/debug/res/values/strings.xml
  docs/iap-module.md
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWpComPlanSupportCheckerImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/PurchaseWPComPlanActions.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/PurchaseWpComPlanSupportChecker.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWPComPlanActionsTest.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPPurchaseWpComPlanSupportCheckerTest.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPTestDataHelper.kt
  libs/iap/src/test/kotlin/com/woocommerce/android/iap/pub/IAPTestPreparationHelper.kt
Labels: feature: in-app purchase

#7893 Generate all variations complete flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/domain/GenerateVariationCandidates.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/domain/GenerateVariationCandidatesTest.kt
  build.gradle
Labels: type: task, feature: variation list

#7922 Add new login prologue illustration
  WooCommerce/src/main/res/drawable-hdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-ldpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-mdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-night-hdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-night-ldpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-night-mdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-night-xhdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-night-xxhdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-night-xxxhdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-night/img_prologue_reviews.xml
  WooCommerce/src/main/res/drawable-xhdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_prologue.webp
  WooCommerce/src/main/res/drawable/img_prologue_reviews.xml
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
Labels: category: design

#7874 [UI Tests] Fix cancelling of failing UI tests
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/InitializationRule.kt
Labels: category: ui tests

#7913 Issue/7876 generate variations tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
Labels: feature: variation list, feature: analytics

#7939 Gradle Wrapper Validation
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .github/workflows/gradle-wrapper-validation.yml
Labels: category: tooling

#7935 Generate variations with bottom sheet picker
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/GenerateVariationPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/res/layout/dialog_generate_variations.xml
  WooCommerce/src/main/res/layout/fragment_variation_list.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
Labels: type: enhancement, feature: variation list

#7889 [Simplified login] Happy path for Jetpack activation steps
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/PluginRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/JetpackActivationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
  build.gradle
Labels: type: enhancement, feature: login

#7920 [Simplified login] Enhance WPComWebView for jetpack connection usage
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryFragment.kt
  WooCommerce/src/main/res/anim/no_anime.xml
  WooCommerce/src/main/res/anim/slide_down.xml
  WooCommerce/src/main/res/anim/slide_down_fade_out.xml
  WooCommerce/src/main/res/anim/slide_up.xml
  WooCommerce/src/main/res/anim/slide_up_fade_in.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: type: enhancement, status: do not merge, feature: login

#7936 [Simplified login] Error handling for Jetpack installation
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/PluginRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/JetpackActivationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/components/JetpackToWoo.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/drawable-hdpi/img_jetpack_connection_dismissed.webp
  WooCommerce/src/main/res/drawable-mdpi/img_jetpack_connection_dismissed.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_jetpack_connection_dismissed.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_jetpack_connection_dismissed.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_jetpack_connection_dismissed.webp
  WooCommerce/src/main/res/navigation/nav_graph_jetpack_activation.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7950 [Simplified login] Update design for the Jetpack Installation initial screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/sitecredentials/JetpackActivationSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/start/JetpackActivationStartViewModel.kt
  WooCommerce/src/main/res/drawable/ic_globe.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7938 Fetch JITM on pull to refresh in MyStore screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: type: task, feature: jitm

#7955 Updated release notes for 11.4
  CHANGELOG.md
Labels: Releases

#7934 include ssr into support tickets
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/help/HelpViewModelTest.kt
Labels: type: enhancement

#7923 Feature/7918 native store creation tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/mystoresummary/MyStoreSummaryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/mystoresummary/MyStoreSummaryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/plans/PlansViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModel.kt
Labels: type: enhancement, feature: store creation

#7947 Woo Activate: Native store creation with webview checkout
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/NewStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/mystoresummary/MyStoreSummaryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/plans/PlansScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/plans/PlansViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModelTest.kt
  build.gradle
Labels: feature: store creation

#7956 [Simplified login] Improve animation to error state during Jetpack Installation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/components/JetpackToWoo.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainScreen.kt
Labels: type: enhancement, feature: login

#7958 Merge 11.3 final to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/359.txt
  fastlane/metadata/android/ar/changelogs/361.txt
  fastlane/metadata/android/de-DE/changelogs/359.txt
  fastlane/metadata/android/de-DE/changelogs/361.txt
  fastlane/metadata/android/es-ES/changelogs/359.txt
  fastlane/metadata/android/es-ES/changelogs/361.txt
  fastlane/metadata/android/fr-FR/changelogs/359.txt
  fastlane/metadata/android/fr-FR/changelogs/361.txt
  fastlane/metadata/android/id/changelogs/359.txt
  fastlane/metadata/android/id/changelogs/361.txt
  fastlane/metadata/android/it-IT/changelogs/359.txt
  fastlane/metadata/android/it-IT/changelogs/361.txt
  fastlane/metadata/android/iw-IL/changelogs/359.txt
  fastlane/metadata/android/ja-JP/changelogs/359.txt
  fastlane/metadata/android/ja-JP/changelogs/361.txt
  fastlane/metadata/android/ko-KR/changelogs/359.txt
  fastlane/metadata/android/ko-KR/changelogs/361.txt
  fastlane/metadata/android/nl-NL/changelogs/359.txt
  fastlane/metadata/android/nl-NL/changelogs/361.txt
  fastlane/metadata/android/pt-BR/changelogs/359.txt
  fastlane/metadata/android/pt-BR/changelogs/361.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/359.txt
  fastlane/metadata/android/ru-RU/changelogs/361.txt
  fastlane/metadata/android/sv-SE/changelogs/359.txt
  fastlane/metadata/android/sv-SE/changelogs/361.txt
  fastlane/metadata/android/tr-TR/changelogs/359.txt
  fastlane/metadata/android/tr-TR/changelogs/361.txt
  fastlane/metadata/android/zh-CN/changelogs/359.txt
  fastlane/metadata/android/zh-CN/changelogs/361.txt
  fastlane/metadata/android/zh-TW/changelogs/359.txt
  fastlane/metadata/android/zh-TW/changelogs/361.txt
Labels: Releases

#7959 Merge 11.4 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7963 feat: fetch all variations before generating candidates
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/GenerateVariationPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationRepository.kt
  WooCommerce/src/main/res/layout/dialog_generate_variations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
Labels: type: bug, feature: variation list

#7967 Fix: Navigation from `Products > Filter > Filter options` "Show products" button
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListFragment.kt
Labels: feature: product list

#7969 IAP: Flow diagram to the doc
  docs/iap-module.md
  docs/images/iap-flow.png
Labels: feature: in-app purchase

#7966 Irrelevant JITM Banner does not disappear when pull to refresh
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/Banner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/BannerState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/promobanner/PromoBanner.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
Labels: type: bug, feature: jitm
