Repository woocommerce/woocommerce-android, pull requests merged in 2022-10, with the labels that each got.

#7413 MenuProvider usage for CustomerListFragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListFragment.kt
Labels: type: technical debt

#7476 Merge 10.5 final into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/332.txt
  fastlane/metadata/android/ar/changelogs/336.txt
  fastlane/metadata/android/de-DE/changelogs/332.txt
  fastlane/metadata/android/es-ES/changelogs/332.txt
  fastlane/metadata/android/fr-FR/changelogs/332.txt
  fastlane/metadata/android/id/changelogs/332.txt
  fastlane/metadata/android/it-IT/changelogs/332.txt
  fastlane/metadata/android/iw-IL/changelogs/332.txt
  fastlane/metadata/android/ja-JP/changelogs/332.txt
  fastlane/metadata/android/ko-KR/changelogs/332.txt
  fastlane/metadata/android/nl-NL/changelogs/332.txt
  fastlane/metadata/android/pt-BR/changelogs/332.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/332.txt
  fastlane/metadata/android/ru-RU/changelogs/336.txt
  fastlane/metadata/android/sv-SE/changelogs/332.txt
  fastlane/metadata/android/tr-TR/changelogs/332.txt
  fastlane/metadata/android/zh-CN/changelogs/332.txt
  fastlane/metadata/android/zh-TW/changelogs/332.txt
Labels: Releases

#7333 Display manuals per country
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/manuals/CardReaderManualsSupportedReadersMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/manuals/CardReaderManualsViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/manuals/CardReaderManualsSupportedReaderMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/manuals/CardReaderManualsViewModelTest.kt
  libs/cardreader/build.gradle
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/config/CardReaderConfig.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/config/CardReaderConfigForCanada.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/config/CardReaderConfigForUSA.kt
Labels: feature: mobile payments

#7460 Stats widget with workmanager
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/WidgetService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/WidgetUpdater.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/WidgetUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/GetWidgetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/StatsWidgetProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/GetWidgetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/TodayStatsWidgetProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/TodayStatsWidgetUIHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/TodayStatsWidgetUpdater.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/TodayWidgetListRemoteViewsFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/TodayWidgetListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/TodayWidgetUpdater.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/UpdateTodayStatsWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/main/res/layout/stats_widget_daily.xml
  WooCommerce/src/main/res/layout/stats_widget_info.xml
  WooCommerce/src/main/res/values/integers.xml
  WooCommerce/src/main/res/values/styles_widget.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/appwidgets/stats/GetWidgetStatsTest.kt
Labels: feature: Widgets

#7480 Merge 10.6 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#7454 [UI Tests] - Update Android emulator model and version
  fastlane/Fastfile
Labels: type: task, category: ui tests

#7479 Update fluxC version with fix
  RELEASE-NOTES.txt
  build.gradle
Labels: type: bug

#7477 [Activate] Remove the button swap experiment
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/LoginButtonSwapExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueSwappedFragment.kt
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-land/fragment_login_prologue_swapped.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue_swapped.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue_swapped.xml
Labels: feature: login

#7486 [Activate] Remove the magic link experiment request experiment
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/MagicLinkRequestExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailPasswordFragment.kt
  WooCommerce/src/main/res/layout/fragment_login_email_password.xml
  WooCommerce/src/main/res/layout/login_form_screen.xml
Labels: feature: login

#7471 [Login] Allow connecting Jetpack when signing in using WPCom credentials
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/TextFields.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: type: enhancement, feature: login

#7411 Feature/6618 limit stats refresh
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformers.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/push/NotificationMessageHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
  build.gradle
Labels: status: do not merge

#7485 [Login] Implement WPCom auto login in the Jetpack connection WebView
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewAuthenticator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/WebView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorViewModel.kt
Labels: type: enhancement, status: do not merge, feature: login

#7494 Display site name on site verification error snackbar
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
Labels: type: bug

#7490 Support IPP deep link
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/ResolveAppLink.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/ResolveAppLinkTest.kt
Labels: type: enhancement, feature: mobile payments

#7489 Add Developer Option screen files
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsViewModel.kt
  WooCommerce/src/main/res/layout/fragment_developer_options.xml
Labels: type: enhancement

#7488 [Activate] Remove the magic link sent experiment
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/ExperimentTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/MagicLinkSentScreenExperiment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: feature: login

#7497 Added release notes for 10.7
  CHANGELOG.md
Labels: Releases

#7500 issue/fix-whats-new-link
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
Labels: feature: login

#7481 QR code login feature
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooPermissionUtils.kt
  WooCommerce/src/main/res/layout/fragment_login_email_screen.xml
  WooCommerce/src/main/res/values/strings.xml
  libs/barcode/.gitignore
  libs/barcode/build.gradle
  libs/barcode/src/main/AndroidManifest.xml
  libs/barcode/src/main/java/com/woocommerce/android/barcode/QrCodeScanningFragment.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/ScopedExecutor.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/Utils.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/CameraReticleAnimator.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/CameraSizePair.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/CameraSource.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/CameraSourcePreview.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/FrameMetadata.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/FrameProcessor.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/FrameProcessorBase.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/GraphicOverlay.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/camera/WorkflowModel.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/detection/BarcodeConfirmingGraphic.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/detection/BarcodeField.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/detection/BarcodeGraphicBase.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/detection/BarcodeLoadingGraphic.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/detection/BarcodeProcessor.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/detection/BarcodeReticleGraphic.kt
  libs/barcode/src/main/java/com/woocommerce/android/barcode/settings/PreferenceUtils.kt
  libs/barcode/src/main/res/drawable/barcode_field_box.xml
  libs/barcode/src/main/res/drawable/ic_close_vd_white_24.xml
  libs/barcode/src/main/res/drawable/ic_help.xml
  libs/barcode/src/main/res/layout/barcode_bottom_sheet.xml
  libs/barcode/src/main/res/layout/barcode_field.xml
  libs/barcode/src/main/res/layout/camera_preview_overlay.xml
  libs/barcode/src/main/res/layout/fragment_live_barcode.xml
  libs/barcode/src/main/res/layout/top_action_bar_in_live_camera.xml
  libs/barcode/src/main/res/navigation/nav_graph_barcode_scanner.xml
  libs/barcode/src/main/res/values/colors.xml
  libs/barcode/src/main/res/values/dimens.xml
  libs/barcode/src/main/res/values/strings.xml
  settings.gradle
Labels: feature: login

#7501 Merge 10.6 final to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailFragment.kt
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/336.txt
  fastlane/metadata/android/ar/changelogs/340.txt
  fastlane/metadata/android/de-DE/changelogs/340.txt
  fastlane/metadata/android/es-ES/changelogs/340.txt
  fastlane/metadata/android/fr-FR/changelogs/340.txt
  fastlane/metadata/android/id/changelogs/340.txt
  fastlane/metadata/android/it-IT/changelogs/340.txt
  fastlane/metadata/android/iw-IL/changelogs/340.txt
  fastlane/metadata/android/ja-JP/changelogs/340.txt
  fastlane/metadata/android/ko-KR/changelogs/340.txt
  fastlane/metadata/android/nl-NL/changelogs/340.txt
  fastlane/metadata/android/pt-BR/changelogs/340.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/336.txt
  fastlane/metadata/android/ru-RU/changelogs/340.txt
  fastlane/metadata/android/sv-SE/changelogs/340.txt
  fastlane/metadata/android/tr-TR/changelogs/340.txt
  fastlane/metadata/android/zh-CN/changelogs/340.txt
  fastlane/metadata/android/zh-TW/changelogs/340.txt
Labels: Releases

#7491 [Login] Explanation for account invitation when having an account mismatch using a WPCom site
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dialog/WooDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: type: enhancement, feature: login

#7503 Merge 10.7 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#7508 Fix issue with Jetpack connection in site credentials flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewAuthenticator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: type: bug, feature: login

#7518 Add `detektAll --auto-correct` prompt
  build.gradle
Labels: type: enhancement, category: tooling

#7502 Add dev options screen UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsViewModel.kt
  WooCommerce/src/main/res/layout/developer_options_list_item.xml
  WooCommerce/src/main/res/layout/developer_options_togglable_item.xml
  WooCommerce/src/main/res/layout/fragment_developer_options.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement

#7523 issue/7517-product-search-sku-analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: category: analytics, feature: product list

#7520 Empty IAP module
  build.gradle
  libs/iap/.gitignore
  libs/iap/build.gradle
  libs/iap/proguard-rules.pro
  settings.gradle
Labels: feature: in-app purchase

#7369 Usage of menu provide on the LoginSiteCheckErrorFragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginSiteCheckErrorFragment.kt
Labels: type: technical debt

#7521 IAP: Core logic
  .buildkite/pipeline.yml
  libs/iap/src/main/AndroidManifest.xml
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPExt.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPInMapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPLifecycleObserver.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManagerFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPOutMapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPPurchasesUpdatedListener.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/model/IAPProductDetailsResponse.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPLogWrapper.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/IAPBillingErrorType.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/IAPParams.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/IAPProductInfo.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/model/IAPPurchaseResponse.kt
Labels: feature: in-app purchase

#7535 Signed-in card reader purchase from upsell banner PR
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
Labels: type: enhancement, feature: mobile payments

#7524 IAP: WP specific layer on top of the core logic
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPManagerPlanSitePurchaseManagerImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPStore.kt
Labels: feature: in-app purchase

#7539 Merge 10.7 final into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewAuthenticator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/340.txt
  fastlane/metadata/android/ar/changelogs/342.txt
  fastlane/metadata/android/de-DE/changelogs/340.txt
  fastlane/metadata/android/de-DE/changelogs/342.txt
  fastlane/metadata/android/es-ES/changelogs/340.txt
  fastlane/metadata/android/es-ES/changelogs/342.txt
  fastlane/metadata/android/fr-FR/changelogs/340.txt
  fastlane/metadata/android/fr-FR/changelogs/342.txt
  fastlane/metadata/android/id/changelogs/340.txt
  fastlane/metadata/android/id/changelogs/342.txt
  fastlane/metadata/android/it-IT/changelogs/340.txt
  fastlane/metadata/android/it-IT/changelogs/342.txt
  fastlane/metadata/android/iw-IL/changelogs/340.txt
  fastlane/metadata/android/iw-IL/changelogs/342.txt
  fastlane/metadata/android/ja-JP/changelogs/340.txt
  fastlane/metadata/android/ja-JP/changelogs/342.txt
  fastlane/metadata/android/ko-KR/changelogs/340.txt
  fastlane/metadata/android/ko-KR/changelogs/342.txt
  fastlane/metadata/android/nl-NL/changelogs/340.txt
  fastlane/metadata/android/nl-NL/changelogs/342.txt
  fastlane/metadata/android/pt-BR/changelogs/340.txt
  fastlane/metadata/android/pt-BR/changelogs/342.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/340.txt
  fastlane/metadata/android/ru-RU/changelogs/342.txt
  fastlane/metadata/android/sv-SE/changelogs/340.txt
  fastlane/metadata/android/sv-SE/changelogs/342.txt
  fastlane/metadata/android/tr-TR/changelogs/340.txt
  fastlane/metadata/android/tr-TR/changelogs/342.txt
  fastlane/metadata/android/zh-CN/changelogs/340.txt
  fastlane/metadata/android/zh-CN/changelogs/342.txt
  fastlane/metadata/android/zh-TW/changelogs/340.txt
  fastlane/metadata/android/zh-TW/changelogs/342.txt
Labels: Releases

#7542 Updated release notes for 10.8
  CHANGELOG.md
Labels: Releases

#7544 Merge 10.8 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#7548 Add "view analytics" button
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/menu/menu_analytics.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: category: analytics

#7549 feat: remove analytics from bottom bar
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/res/menu/menu_bottom_bar.xml
Labels: category: analytics

#7543 Remove A/B and A/A tests code
  WooCommerce/src/androidTest/assets/mocks/mappings/wpcom/experiments.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ExperimentationModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
Labels: type: task, feature: product details

#7561 fix: unit tests execution
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCalculatorTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
Labels: type: task, feature: analytics

#7554 Issue/7532 add utm params for card reader pages
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/WooCommerceComUTMProviderTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooCommerceComUTMProviderModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UtmProvider.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#7545 Handle Jetpack Connection for non-connected sites
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/TextExts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: type: enhancement, feature: login

#7585 Update MediaPicker to 0.1.1
  build.gradle
Labels: dependency update

#7581 Adding lazy init to avoid crash
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
Labels: type: crash

#7528 IAP: Showcase
  WooCommerce/build.gradle
  WooCommerce/src/debug/AndroidManifest.xml
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPDebugLogWrapper.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseActivity.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseViewModel.kt
  WooCommerce/src/debug/res/layout/activity_iapshowcase.xml
  WooCommerce/src/debug/res/values/strings.xml
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPLifecycleObserver.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
Labels: feature: in-app purchase

#7555 IAP: Stub for the creating an order API
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/network/IAPMobilePayAPI.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/network/model/CreateAndConfirmOrderResponse.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanFactory.kt
Labels: feature: in-app purchase

#7565 Feature/7510 account creation network
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationQuestionsFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_store_creation.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: type: enhancement, feature: store creation

#7599 Updated release notes for 10.9
  CHANGELOG.md
Labels: Releases

#7598 Merge 10.8 final into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  fastlane/metadata/android/ar/changelogs/342.txt
  fastlane/metadata/android/ar/changelogs/344.txt
  fastlane/metadata/android/de-DE/changelogs/342.txt
  fastlane/metadata/android/de-DE/changelogs/344.txt
  fastlane/metadata/android/es-ES/changelogs/342.txt
  fastlane/metadata/android/es-ES/changelogs/344.txt
  fastlane/metadata/android/fr-FR/changelogs/342.txt
  fastlane/metadata/android/fr-FR/changelogs/344.txt
  fastlane/metadata/android/id/changelogs/342.txt
  fastlane/metadata/android/id/changelogs/344.txt
  fastlane/metadata/android/it-IT/changelogs/342.txt
  fastlane/metadata/android/it-IT/changelogs/344.txt
  fastlane/metadata/android/iw-IL/changelogs/342.txt
  fastlane/metadata/android/iw-IL/changelogs/344.txt
  fastlane/metadata/android/ja-JP/changelogs/342.txt
  fastlane/metadata/android/ja-JP/changelogs/344.txt
  fastlane/metadata/android/ko-KR/changelogs/342.txt
  fastlane/metadata/android/ko-KR/changelogs/344.txt
  fastlane/metadata/android/nl-NL/changelogs/342.txt
  fastlane/metadata/android/nl-NL/changelogs/344.txt
  fastlane/metadata/android/pt-BR/changelogs/342.txt
  fastlane/metadata/android/pt-BR/changelogs/344.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/342.txt
  fastlane/metadata/android/ru-RU/changelogs/344.txt
  fastlane/metadata/android/sv-SE/changelogs/342.txt
  fastlane/metadata/android/sv-SE/changelogs/344.txt
  fastlane/metadata/android/tr-TR/changelogs/342.txt
  fastlane/metadata/android/tr-TR/changelogs/344.txt
  fastlane/metadata/android/zh-CN/changelogs/342.txt
  fastlane/metadata/android/zh-CN/changelogs/344.txt
  fastlane/metadata/android/zh-TW/changelogs/342.txt
  fastlane/metadata/android/zh-TW/changelogs/344.txt
Labels: Releases

#7604 Issue-6968 Consolidate `Intent.ACTION_SENDTO` and `ACTION_DIAL` calls
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderCustomerHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/customfields/CustomOrderFieldsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelAddressFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/receipt/ReceiptPreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ActivityUtils.kt
Labels: type: technical debt

#7597 Analytics button improvements
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/menu/menu_analytics.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: type: enhancement, category: analytics, category: design

#7615 fix: crash on updating widgets with app no running
  build.gradle
Labels: type: crash, feature: Widgets

#7601 Merge 10.9 code freeze into trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#7617 [Simplified login] revert the `getCurrentVariant` change
  WooCommerce/src/main/kotlin/com/woocommerce/android/experiment/SimplifiedLoginExperiment.kt
Labels: feature: login

#7587 Add helper functions to make convertion from EventBus events to coroutines easier
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/AccountRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CoroutineHelpers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/EventBusCoroutines.kt
Labels: type: task

#7602 Store creation using a webview
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout-land/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/layout/view_login_epilogue_button_bar.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store creation

#7595 Implement statement descriptor sanitation
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderPaymentViewModelTest.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentAction.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/PaymentInfo.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/StatementDescriptor.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/StatementDescriptorTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentActionTest.kt
Labels: type: bug, type: crash, feature: mobile payments

#7633 [10.9-rc2] fix: update bottom nav positions
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/BottomNavigationPosition.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: type: crash, feature: more menu

#7631 [10.8.1] Fix crash on getting `UserAgent` from background thread.
  build.gradle
Labels: type: crash, feature: Widgets

#7635 [10.9-rc2] Fix crash on getting `UserAgent` from background thread.
  build.gradle
Labels: type: crash, feature: Widgets

#7583 Issue/7572 analytics custom date range
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCalculator.kt
  WooCommerce/src/main/res/layout/analytics_date_range_card_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: feature: analytics

#7640 Fix percentage labels in Analytics Hub
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
Labels: type: bug, status: do not merge, feature: analytics

#7647 Fixed the Today & Yesterday date ranges
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCalculator.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCalculatorTest.kt
Labels: feature: analytics

#7607 Remove Analytics feature flag. Show only Milestone 1 features in release.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/analytics_information_card_view.xml
  WooCommerce/src/main/res/layout/fragment_analytics.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
Labels: feature: analytics

#7648 Use `sp` for the TagView so it handles large fonts
  WooCommerce/src/main/res/layout/analytics_information_section_view.xml
Labels: feature: analytics

#7637 feat: add performance monitoring for analytics hub
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubTransactionLauncher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: category: performance, feature: analytics

#7641 Merge 10.9-rc-2 into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/BottomNavigationPosition.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  build.gradle
Labels: Releases

#7650 Fetch newly created account
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepository.kt
Labels: type: crash, feature: login

#7600 Login and signup navigation changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationFragment.kt
  WooCommerce/src/main/res/layout/activity_login.xml
  WooCommerce/src/main/res/layout/fragment_store_creation.xml
  WooCommerce/src/main/res/navigation/nav_graph_login.xml
  WooCommerce/src/main/res/navigation/nav_graph_store_creation.xml
Labels: type: task, feature: login, feature: store creation

#7649 Analytics hub tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
Labels: feature: analytics

#7626 Top performers with date period
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc-analytics/reports_leaderboards-custom.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
  build.gradle
Labels: feature: analytics

#7664 Issue/analytics large font revenue
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationSectionView.kt
  WooCommerce/src/main/res/layout/analytics_information_section_view.xml
Labels: feature: analytics

#7556 Analytics Hub - Milestone 1
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc-analytics/reports_leaderboards-custom.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrdersStat.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductsStat.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/RevenueStat.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubTransactionLauncher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCalculator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationSectionView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationSectionViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/informationcard/AnalyticsInformationViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/listcard/AnalyticsListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/listcard/AnalyticsListCardItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/listcard/AnalyticsListCardItemViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/listcard/AnalyticsListCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/listcard/AnalyticsListViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/analytics_date_range_card_view.xml
  WooCommerce/src/main/res/layout/analytics_information_card_view.xml
  WooCommerce/src/main/res/layout/analytics_information_section_view.xml
  WooCommerce/src/main/res/layout/analytics_list_card_item.xml
  WooCommerce/src/main/res/layout/analytics_list_card_item_view.xml
  WooCommerce/src/main/res/layout/analytics_list_card_view.xml
  WooCommerce/src/main/res/layout/fragment_analytics.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/layout/skeleton_analytics_information_card.xml
  WooCommerce/src/main/res/layout/skeleton_analytics_list_card.xml
  WooCommerce/src/main/res/layout/skeleton_analytics_list_item.xml
  WooCommerce/src/main/res/menu/menu_analytics.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCalculatorTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
  build.gradle
Labels: feature: analytics

#7667 Add missing release notes for the Analytics Hub feature
  RELEASE-NOTES.txt
Labels: feature: analytics

#7666 Enhancement/date card selectable
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/daterangeselector/AnalyticsDateRangeCardView.kt
  WooCommerce/src/main/res/layout/analytics_date_range_card_view.xml
Labels: type: enhancement, feature: analytics

#7660 Tracks for JITM dismiss success
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#7659 Tracks for JITM dismiss tapped
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#7658 Tracks for JITM CTA tapped
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#7657 Tracks for JITM displayed
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#7656 Tracks for JITM fetch failure
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#7662 Feature/7510 add login access
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement

#7652 Integrate JITM fetch API and the UI
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/jitm.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooCommerceComUTMProviderModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/Banner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/BannerState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/promobanner/PromoBanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
Labels: feature: mobile payments

#7653 Integrate JITM dismiss api
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  build.gradle
Labels: feature: mobile payments

#7655 Tracks for JITM fetch success
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#7643 Update `minSdkVersion` (from `21` to `24`)
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/jalapeno/res/drawable-v31/img_woo_bubble_white.xml
  WooCommerce/src/jalapeno/res/drawable/img_woo_bubble_white.png
  WooCommerce/src/jalapeno/res/drawable/img_woo_bubble_white.xml
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DataContainerExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/EditTextExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/WidgetUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/SwipeToComplete.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/AppThemeUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/SystemVersionUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooPermissionUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/ActionableEmptyView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCSavedState.kt
  WooCommerce/src/main/res/drawable-v23/bg_splash.xml
  WooCommerce/src/main/res/drawable-v23/delete_button_bg.xml
  WooCommerce/src/main/res/drawable/bg_splash.xml
  WooCommerce/src/main/res/drawable/delete_button_bg.xml
  WooCommerce/src/main/res/drawable/img_woo_bubble_white.png
  WooCommerce/src/main/res/drawable/img_woo_bubble_white.xml
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
  WooCommerce/src/main/res/layout/order_creation_section.xml
  WooCommerce/src/main/res/layout/order_detail_payment_info.xml
  WooCommerce/src/main/res/layout/order_detail_product_list.xml
  WooCommerce/src/main/res/layout/order_detail_shipment_tracking_list.xml
  WooCommerce/src/main/res/layout/order_detail_shipping_label_list.xml
  WooCommerce/src/main/res/layout/order_detail_shipping_label_list_item.xml
  WooCommerce/src/main/res/layout/refund_by_items_fees.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/main/res/layout/refund_by_items_shipping.xml
  WooCommerce/src/main/res/values-v23/themes.xml
  WooCommerce/src/main/res/values/themes.xml
  WooCommerce/src/wasabi/res/drawable/img_woo_bubble_white.png
  WooCommerce/src/wasabi/res/drawable/img_woo_bubble_white.xml
  libs/barcode/build.gradle
  settings.gradle
Labels: category: tooling, type: technical debt

#7661 Add simulated card reader toggle logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsTest.kt
Labels: type: enhancement

#7669 Merge 10.9 final into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/344.txt
  fastlane/metadata/android/ar/changelogs/349.txt
  fastlane/metadata/android/de-DE/changelogs/344.txt
  fastlane/metadata/android/de-DE/changelogs/349.txt
  fastlane/metadata/android/es-ES/changelogs/344.txt
  fastlane/metadata/android/es-ES/changelogs/349.txt
  fastlane/metadata/android/fr-FR/changelogs/344.txt
  fastlane/metadata/android/fr-FR/changelogs/349.txt
  fastlane/metadata/android/id/changelogs/344.txt
  fastlane/metadata/android/id/changelogs/349.txt
  fastlane/metadata/android/it-IT/changelogs/344.txt
  fastlane/metadata/android/it-IT/changelogs/349.txt
  fastlane/metadata/android/iw-IL/changelogs/344.txt
  fastlane/metadata/android/iw-IL/changelogs/349.txt
  fastlane/metadata/android/ja-JP/changelogs/344.txt
  fastlane/metadata/android/ja-JP/changelogs/349.txt
  fastlane/metadata/android/ko-KR/changelogs/344.txt
  fastlane/metadata/android/ko-KR/changelogs/349.txt
  fastlane/metadata/android/nl-NL/changelogs/344.txt
  fastlane/metadata/android/nl-NL/changelogs/349.txt
  fastlane/metadata/android/pt-BR/changelogs/344.txt
  fastlane/metadata/android/pt-BR/changelogs/349.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/344.txt
  fastlane/metadata/android/ru-RU/changelogs/349.txt
  fastlane/metadata/android/sv-SE/changelogs/344.txt
  fastlane/metadata/android/sv-SE/changelogs/349.txt
  fastlane/metadata/android/tr-TR/changelogs/344.txt
  fastlane/metadata/android/tr-TR/changelogs/349.txt
  fastlane/metadata/android/zh-CN/changelogs/344.txt
  fastlane/metadata/android/zh-CN/changelogs/349.txt
  fastlane/metadata/android/zh-TW/changelogs/344.txt
  fastlane/metadata/android/zh-TW/changelogs/349.txt
Labels: Releases

#7582 IAP: handle the case when new purchase is not delivered to the call back
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseViewModel.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPPurchasesUpdatedListener.kt
Labels: feature: in-app purchase

#7616 IAP: Configuration change handling
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseActivity.kt
  WooCommerce/src/debug/kotlin/com.woocommerce.android/iapshowcase/IAPShowcaseViewModel.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPLifecycleObserver.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManager.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/core/IAPManagerFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/internal/planpurchase/IAPPurchaseWPComPlanActionsImpl.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/IAPSitePurchasePlanFactory.kt
  libs/iap/src/main/java/com/woocommerce/android/iap/pub/PurchaseWPComPlanActions.kt
Labels: feature: in-app purchase

#7639 [Simplified login] Not WordPress.com account screen changes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/AccountRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoWPcomAccountFoundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/UnifiedLoginTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/layout/fragment_login_email_screen.xml
  WooCommerce/src/main/res/layout/fragment_login_no_wpcom_account_found.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: login

#7679 Added release notes for 11.0
  CHANGELOG.md
Labels: Releases

#7681 Fix duplicate year to date in date range selector
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: analytics

#7682 Add missing analytics hub tracks triggers
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
Labels: feature: analytics

#7685 Merge 11.0 code freeze into `trunk`
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsViewModelTest.kt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases
