Repository woocommerce/woocommerce-android, pull requests merged in 2022-06, with the labels that each got.

#6594 Issue/6585 onboarding SL banner UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailInstallWcShippingBanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/drawable-night/img_shipping_labels_banner.xml
  WooCommerce/src/main/res/drawable/img_shipping_labels_banner.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/order_detail_install_wc_shipping_banner.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: feature: shipping labels

#6620 Issue/6585 onboarding sl banner display logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepositoryTest.kt
Labels: type: enhancement, feature: order details, feature: shipping labels

#6683 Support "Done" button when in Edit mode
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreationViewModelTest.kt
Labels: feature: order editing

#6664 Issue/6585 add dismiss button to banner
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailInstallWcShippingBanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ScalableImageView.kt
  WooCommerce/src/main/res/layout/order_detail_install_wc_shipping_banner.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepositoryTest.kt
Labels: type: enhancement, feature: order details, feature: shipping labels

#6682 Clear handler's message queue on fragment's destroy to avoid potential memory leaks
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
Labels: type: enhancement, feature: home screen

#6698 Issue/6586 wcs onboarding cta screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailInstallWcShippingBanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWcShippingFlowFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWcShippingFlowViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWcShippingOnboardingScreen.kt
  WooCommerce/src/main/res/drawable/ic_install_wcs_onboarding_bullet_buy.xml
  WooCommerce/src/main/res/drawable/ic_install_wcs_onboarding_bullet_disccounts.xml
  WooCommerce/src/main/res/drawable/ic_install_wcs_onboarding_bullet_print.xml
  WooCommerce/src/main/res/layout/order_detail_install_wc_shipping_banner.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: type: enhancement, feature: shipping labels

#6680 Use Fastlane APIs to interact with Git when committing metadata
  fastlane/Fastfile
Labels: category: tooling, category: i18n

#6602 [Coupons] Categories selector, part 1: fetching and pagination and UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategoryListHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategoryTreeItem.kt
  WooCommerce/src/main/res/navigation/nav_graph_coupons.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: coupons

#6634 [Coupons] Product category selector functionality: selecting and submitting
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, status: do not merge, feature: coupons

#6689 Issue/6214 rtl fragment anim
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/res/anim-ldrtl/default_enter_anim.xml
  WooCommerce/src/main/res/anim-ldrtl/default_exit_anim.xml
  WooCommerce/src/main/res/anim-ldrtl/default_pop_enter_anim.xml
  WooCommerce/src/main/res/anim-ldrtl/default_pop_exit_anim.xml
  WooCommerce/src/main/res/anim/default_enter_anim.xml
  WooCommerce/src/main/res/anim/default_exit_anim.xml
  WooCommerce/src/main/res/anim/default_pop_enter_anim.xml
  WooCommerce/src/main/res/anim/default_pop_exit_anim.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_simple_payments.xml
  WooCommerce/src/main/res/values/styles_base.xml
  WooCommerce/src/main/res/values/themes.xml
Labels: type: bug, category: i18n

#6699 Add a cancel button to the payment collection modal
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentViewState.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderPaymentViewModelTest.kt
Labels: feature: mobile payments

#6685 Issue/6511 order detail datetime
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailOrderStatusView.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: order details

#6694 Change existing cancel button to keep searching when a card reader is found add a new cancel button
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewState.kt
  WooCommerce/src/main/res/layout/card_reader_connect_dialog.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewModelTest.kt
Labels: feature: mobile payments

#6687 Show card payment option on payment methods based on cpp eligibility
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
Labels: feature: mobile payments

#6717 Remove Unneeded CircleCI Jobs
  .circleci/config.yml
Labels: Testing

#6710 Issue/6212 product quantity accessibility hint
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationProductsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/StepperView.kt
  WooCommerce/src/main/res/layout/view_stepper.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: category: accessibility, feature: order creation

#6700 Add is editable field
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  build.gradle
Labels: feature: order editing

#6703 Preparatory `Fastfile` refactor before updating strings localization code
  fastlane/Fastfile
Labels: category: tooling, category: i18n

#6715 Set Fragment Title to Card Reader Hub screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/cardreader/hub/CardReaderHubFragment.kt
Labels: feature: mobile payments

#6709 Disable non editable fields
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CreateOrUpdateOrderDraft.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationProductsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreateOrUpdateOrderDraftTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreationViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreationViewModelTest.kt
Labels: feature: order editing

#6724 Customer info is read only if UOE flag is enabled
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomerInfoView.kt
Labels: feature: order editing

#6720 Product variation price bulk update
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/ValuesGroupType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateAttrPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateAttrPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdatePriceFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdatePriceViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationsBulkUpdateUtils.kt
  WooCommerce/src/main/res/layout/fragment_variations_bulk_update_attr_picker.xml
  WooCommerce/src/main/res/layout/fragment_variations_bulk_update_price.xml
  WooCommerce/src/main/res/menu/menu_variation_list_fragment.xml
  WooCommerce/src/main/res/menu/menu_variations_bulk_update.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
Labels: feature: variation list

#6722 [Coupons] Search for categories
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/TextFields.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategoryListHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategoryTreeItem.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategoryListHandlerTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/FlowUtils.kt
  build.gradle
Labels: type: enhancement, status: do not merge, feature: coupons

#6723 [Coupons] exclude products and categories
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/CouponRestrictionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/CouponRestrictionsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/CouponRestrictionsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/selector/ProductCategorySelectorViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_coupons.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, status: do not merge, feature: coupons

#6727 [Shipping Labels Onboarding] Small improvements to the CTA scree
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWcShippingOnboardingScreen.kt
Labels: type: enhancement, feature: shipping labels

#6718 Move Dependency Tree Diffing to Buildkite
  .buildkite/commands/dependency-tree-diff.sh
  .buildkite/pipeline.yml
  .circleci/config.yml
Labels: Tooling

#6738 Merge 9.4 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#6741 Fix `localize_libs` lane indentation
  fastlane/Fastfile
Labels: category: tooling

#6745 [Coupons] Banner fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: coupons

#6721 Order details show refunded shipping lines in refund summary
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailRefundsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailRefundsLineBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/ResourceProvider.kt
  WooCommerce/src/main/res/layout/order_detail_refund_payment_item.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailRefundsLineBuilderTest.kt
Labels: feature: refunds

#6708 Change for the condition when refund button is available
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/model/OrderTest.kt
Labels: feature: mobile payments

#6751 Replace AnalyticsTracker with AnalyticsTrackerWrapper
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/CouponsListViewModelTests.kt
Labels: category: analytics, type: technical debt, feature: coupons

#6754 Fix parsing of the variations field
  build.gradle
Labels: type: crash, feature: product details, feature: product list

#6762 Merge 9.3.1 hotfix to release/9.4
  WooCommerce/build.gradle
  build.gradle
Labels: Releases

#6763 Merge 9.4-rc-2 to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: Releases

#6749 Issue/6744 replace analyticstracker with analyticstrackerwrapper
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModelTest.kt
Labels: category: analytics, type: technical debt, feature: refunds

#6767 Order detail: Billing section restore expanded/collapsed state on orientation change.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomerInfoView.kt
Labels: type: bug, feature: order details

#6777 Merge 9.4 release notes to trunk
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#6758 Track simple payments separately and normal payments when select payment screen is reused
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/RefundsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/PaymentChargeRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundAmountDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundByAmountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundConfirmationDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundFeeListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundItemsPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundShippingListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundsArgs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsFragmentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundsArgs.kt
  WooCommerce/src/main/res/layout/fragment_refund_by_amount.xml
  WooCommerce/src/main/res/layout/fragment_refund_detail.xml
  WooCommerce/src/main/res/layout/fragment_refund_summary.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/navigation/nav_graph_refunds.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/refunds/PaymentChargeRepositoryTest.kt
  config/detekt/baseline.xml
Labels: category: analytics, feature: mobile payments

#6740 Issue/6622 payment gateway selection screen
  WooCommerce/src/main/res/drawable-hdpi/ic_stripe.png
  WooCommerce/src/main/res/drawable-hdpi/ic_wcpay.png
  WooCommerce/src/main/res/drawable-xhdpi/ic_stripe.png
  WooCommerce/src/main/res/drawable-xhdpi/ic_wcpay.png
  WooCommerce/src/main/res/drawable-xxhdpi/ic_stripe.png
  WooCommerce/src/main/res/drawable-xxhdpi/ic_wcpay.png
  WooCommerce/src/main/res/drawable/ic_checkmark_purple.xml
  WooCommerce/src/main/res/drawable/ic_credit_card_give.xml
  WooCommerce/src/main/res/layout/fragment_card_reader_onboarding_select_payment_gateway.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: mobile payments

#6781 Enable detecting non SDK API usages in Strict Mode
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/SystemVersionUtils.kt
Labels: type: task

#6757 Write unit test to verify track event is triggered properly in OrderCreationRepository
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationRepositoryTest.kt
Labels: category: analytics, type: technical debt, feature: order creation

#6783 Issue/6761 flipper crash
  WooCommerce/src/debug/kotlin/com.woocommerce.android/WooCommerceDebug.kt
Labels: type: crash, category: architecture

#6787 Issue/6622 remove checkmark file
  WooCommerce/src/main/res/drawable/ic_checkmark_purple.xml
  WooCommerce/src/main/res/layout/fragment_card_reader_onboarding_select_payment_gateway.xml
Labels: type: enhancement, feature: mobile payments

#6789 The payment link option in the menu on order details should be removed
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/res/menu/menu_order_detail.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationRepositoryTest.kt
Labels: feature: mobile payments, feature: simple payments

#6797 Shipping Labels Onboarding: Pre-install screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWCShippingFlow.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWCShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWCShippingOnboarding.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWCShippingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWCShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWcShippingFlowViewModel.kt
  WooCommerce/src/main/res/drawable/ic_arrow_forward_rounded.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: shipping labels

#6784 issue/6782-simple-payments-backstack
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/TakePaymentFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_simple_payments.xml
Labels: feature: simple payments

#6792 Fix Addons survey URL
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/addons/order/OrderedAddonFragment.kt
Labels: feature: order details

#6748 Issue/6716 order creation customer search
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/AddressViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: order creation

#6807 Check if selected site exists before showing the eligibility screen (targeting 9.4)
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: type: crash, feature: login

#6734 Non-editable order warning message
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/ExpandableMessageView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreationSectionView.kt
  WooCommerce/src/main/res/drawable/ic_lock.xml
  WooCommerce/src/main/res/layout/fragment_order_creation_form.xml
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
  WooCommerce/src/main/res/layout/order_creation_section.xml
  WooCommerce/src/main/res/layout/view_expandable_message.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/xml/view_expandable_message_scene.xml
Labels: feature: order editing

#6804 Fix crash when signing in to a site with Http Auth enabled
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginNoJetpackFragment.kt
  WooCommerce/src/main/res/layout/fragment_login_no_jetpack.xml
Labels: type: crash, priority: high

#6810 [Coupons] Product selector filtering
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductListHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_coupons.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: coupons

#6815 Merge 9.5 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#6808 Update edit flow title
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
Labels: feature: order editing

#6774 Replace AnalyticsTracker with AnalyticsTrackerWrapper, write tests in MyStoreViewModel
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: category: analytics, type: technical debt

#6822 [Kotlin Warnings As Errors] Quick Login Module - Enable All Warnings as Errors
  quicklogin/build.gradle
Labels: type: technical debt, Tooling

#6795 Create shared preference for storing Plugin explicitly selected flag.
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
Labels: feature: mobile payments

#6831 Merge 9.5 release notes to trunk
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#6826 Issue/order creation customer search update
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: order creation

#6839 Track event about the onboarding failure when collecting payment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#6837 issue/prepare-for-product-sku-search
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
Labels: feature: product list

#6842 Fix product list search empty view
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
Labels: feature: product list
