Repository woocommerce/woocommerce-android, pull requests merged in 2022-04, with the labels that each got.

#6129 Remove `CODEOWNERS` config
  .github/CODEOWNERS
Labels: category: tooling

#6125 Use `jalapeno` for running CI checks
  .buildkite/pipeline.yml
Labels: category: tooling

#6123 Issue/6120 Removes setting receipt email
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentAction.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentActionTest.kt
Labels: feature: mobile payments

#6136 Add `flagNoFullScreen` IME options to the Percentage fee Edit Text
  WooCommerce/src/main/res/layout/fragment_order_creation_fee.xml
Labels: feature: order creation

#6140 Fix: Hidden last item in coupon list.
  WooCommerce/src/main/res/layout/fragment_coupon_list.xml
Labels: feature: coupons

#6107 Product Details: refactor menu handling
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/res/menu/menu_product_detail_fragment.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
Labels: type: task, feature: product details

#6142 Issue/6131 order creation product overlap
  WooCommerce/src/main/res/layout/fragment_order_creation_product_details.xml
Labels: feature: order creation

#6153 Simplify Buildkite installable build conditional
  .buildkite/pipeline.yml
Labels: category: tooling

#6150 Merge 8.8 final to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/286.txt
  fastlane/metadata/android/ar/changelogs/289.txt
  fastlane/metadata/android/de-DE/changelogs/286.txt
  fastlane/metadata/android/de-DE/changelogs/289.txt
  fastlane/metadata/android/es-ES/changelogs/286.txt
  fastlane/metadata/android/es-ES/changelogs/289.txt
  fastlane/metadata/android/fr-FR/changelogs/286.txt
  fastlane/metadata/android/fr-FR/changelogs/289.txt
  fastlane/metadata/android/id/changelogs/286.txt
  fastlane/metadata/android/id/changelogs/289.txt
  fastlane/metadata/android/it-IT/changelogs/286.txt
  fastlane/metadata/android/it-IT/changelogs/289.txt
  fastlane/metadata/android/iw-IL/changelogs/286.txt
  fastlane/metadata/android/iw-IL/changelogs/289.txt
  fastlane/metadata/android/ja-JP/changelogs/286.txt
  fastlane/metadata/android/ja-JP/changelogs/289.txt
  fastlane/metadata/android/ko-KR/changelogs/286.txt
  fastlane/metadata/android/ko-KR/changelogs/289.txt
  fastlane/metadata/android/nl-NL/changelogs/286.txt
  fastlane/metadata/android/nl-NL/changelogs/289.txt
  fastlane/metadata/android/pt-BR/changelogs/286.txt
  fastlane/metadata/android/pt-BR/changelogs/289.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/286.txt
  fastlane/metadata/android/ru-RU/changelogs/289.txt
  fastlane/metadata/android/sv-SE/changelogs/286.txt
  fastlane/metadata/android/sv-SE/changelogs/289.txt
  fastlane/metadata/android/tr-TR/changelogs/286.txt
  fastlane/metadata/android/tr-TR/changelogs/289.txt
  fastlane/metadata/android/zh-CN/changelogs/286.txt
  fastlane/metadata/android/zh-CN/changelogs/289.txt
  fastlane/metadata/android/zh-TW/changelogs/286.txt
  fastlane/metadata/android/zh-TW/changelogs/289.txt
Labels: Releases

#6100 [Coupons] Coupon Summary screen UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CouponUtils.kt
  WooCommerce/src/main/res/layout/fragment_coupon_details.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: category: design, status: feature-flagged, feature: coupons

#6163 Merge 8.9 code freeze to trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: category: releases

#6160 Use wasabi flavour for the quicklogin module
  quicklogin/build.gradle
  quicklogin/src/main/kotlin/com/woocommerce/android/quicklogin/QuickLoginWordpress.kt
  quicklogin/woo_login.sh
Labels: type: technical debt

#6166 R8 rule to keep fromSavedStateHandle
  WooCommerce/proguard-rules.pro
Labels: type: crash

#6167 More logs to the dependency tree script
  tools/dependency-tree-diff/dependency-tree-diff.sh
Labels: type: technical debt

#6021 Issue/5648 Refactoring of the payment navigation
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/ClearCardReaderDataAction.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentCollectibilityChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentCurrencySupportedChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentErrorMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/receipt/ReceiptEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/receipt/ReceiptPreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/receipt/ReceiptPreviewViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/statuschecker/CardReaderStatusCheckerDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/statuschecker/CardReaderStatusCheckerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsDialogViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/TakePaymentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/TakePaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/detail/CardReaderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/detail/CardReaderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderWelcomeDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderWelcomeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/tutorial/CardReaderTutorialDialogFragment.kt
  WooCommerce/src/main/res/layout/card_reader_status_checker_dialog.xml
  WooCommerce/src/main/res/navigation/nav_graph_card_reader_flow.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_simple_payments.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentCollectibilityCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentCurrencySupportedCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentErrorMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/ClearCardReaderDataActionTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/ReceiptPreviewViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/AppSettingsPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/detail/CardReaderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/hub/CardReaderHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderWelcomeViewModelTest.kt
Labels: feature: mobile payments

#6170 [Order Creation] don't set status in order draft update requests
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationRepository.kt
Labels: type: enhancement, feature: order creation

#6172 Hackweek/product list adapters
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/variations/OrderCreationVariationSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemDiffCallback.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemDiffUtil.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
Labels: feature: product list

#6171 [Coupons] introduce a CouponDetailsRepository
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: type: task, feature: coupons

#6182 Site picker crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerActivity.kt
Labels: type: crash

#6183 Merge 8.9-rc-2 to trunk
  WooCommerce/build.gradle
  WooCommerce/proguard-rules.pro
Labels: category: releases

#6181 [Coupons] Load and show performance report
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/CouponPerformanceReport.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CouponUtils.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: coupons

#6180 [DO NOT MERGE] Add Gradle Enterprise to Project
  build.gradle
  settings.gradle
Labels: Tooling

#6152 Issue/6132 order creation long customer note
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyReadMoreView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCActionableEmptyLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCReadMoreTextView.kt
  WooCommerce/src/main/res/layout/wc_read_more_textview_layout.xml
  WooCommerce/src/main/res/values/integers.xml
Labels: feature: order creation

#6197 Merge 8.9 release notes to trunk
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: category: releases

#6196 Move localize_libs & send_strings_for_translation to complete_code_freeze
  fastlane/Fastfile
Labels: category: tooling

#6195 issue/6194-order-creation-email-whitespace
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/AddressViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsFragmentViewModel.kt
Labels: feature: simple payments, feature: order creation

#6204 Introduce the CARD_READER_MANUALS feature flag file.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/manuals/CardReaderManualsFeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: enhancement, feature: mobile payments

#6192 Use of AppPrefs instead of AppPrefsWrapper
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModelTest.kt
Labels: type: technical debt, feature: mobile payments

#6185 [Coupons] Coupons summary section
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/components/CouponExpirationLabel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CouponUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/ScopedViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: coupons

#6188 Fix product sale dates different than what's selected in the date picker
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductPricingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/PriceUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/DateUtilsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/PriceUtilsTest.kt
Labels: type: bug, feature: product details

#6162 Hackweek/order adapters
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderStatusListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/adapter/OrderFilterCategoryAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/adapter/OrderFilterOptionAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelCustomsFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPaymentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPaymentMethodsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelServicePackageAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingPackagesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/taxes/OrderTaxesAdapter.kt
Labels: feature: order details, feature: order list, feature: shipping labels

#6106 Send code coverage reports to CodeCov
  .buildkite/commands/upload-code-coverage.sh
  .buildkite/pipeline.yml
  codecov.yml
  config/gradle/jacoco.gradle
Labels: type: enhancement, category: tooling

#6219 Issue/6147 card reader manuals add view model file
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/manuals/CardReaderManualsViewModel.kt
Labels: type: enhancement, feature: mobile payments

#6199 Hackweek/remaining adapters
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/adapter/MultipleCardReadersFoundAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/whatsnew/FeatureAnnouncementDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/whatsnew/FeatureAnnouncementListAdapter.kt
Labels: type: enhancement

#6222 Disable CodeCov PR status
  codecov.yml
Labels: type: enhancement, category: tooling

#6122 Issue/5870 save inbox notes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/Inbox.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/FetchInboxNotes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxNotesModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/ObserveInboxNotes.kt
  build.gradle
Labels: status: do not merge, feature: inbox

#6190 Issue/6168 handling bug related to receipt email
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentAction.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/PaymentInfo.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentActionTest.kt
Labels: feature: mobile payments

#6226 Adding the fragment_card_reader_manuals.xml file
  WooCommerce/src/main/res/layout/fragment_card_reader_manuals.xml
Labels: type: enhancement, feature: mobile payments

#6233 Improve build variants comments
  WooCommerce/build.gradle
Labels: type: documentation

#6229 [Coupons] fix some UI inconsistencies in the list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/components/CouponExpirationLabel.kt
Labels: type: enhancement, feature: coupons

#6237 Do not check if onboarding complete, but always show card payment option
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/TakePaymentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/TakePaymentViewModel.kt
Labels: feature: simple payments

#6231 Merge 8.9-rc-3 to trunk
  WooCommerce/build.gradle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentAction.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/PaymentInfo.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentManagerTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentActionTest.kt
Labels: category: releases, Releases

#6238 [Coupons] Put Coupons Management behind Beta Features instead of Feature Flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: coupons

#6240 Change reported file format for detekt violations
  WooCommerce/build.gradle
Labels: category: tooling

#6165 [Coupons] Coupon Details Menu UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CouponUtils.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: category: design, status: feature-flagged, feature: coupons

#6158 Issue/5875 handle inbox note action
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/Inbox.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/FetchInboxNotes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxNotesModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/inbox/InboxViewModelTest.kt
  build.gradle
Labels: type: task, feature: inbox

#6232 Make plugin slug consistent with ios
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTracker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTrackerTest.kt
Labels: category: analytics, feature: mobile payments

#6224 Added androidx.lifecycle:lifecycle-process as dependency to the quicklogin module
  quicklogin/build.gradle
Labels: type: bug

#6252 issue/6250-fee-amount-currency
  WooCommerce/src/main/res/layout/fragment_order_creation_fee.xml
  WooCommerce/src/main/res/layout/fragment_order_creation_shipping.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: order creation

#6253 issue/6249-order-creation-addresses-dark-mode
  WooCommerce/src/main/res/layout/layout_order_creation_customer_info.xml
Labels: feature: order creation

#6254 issue/6248-order-creation-dark-mode-buttons
  WooCommerce/src/main/res/color/action_menu_fg_selector.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: feature: order creation

#6230 Issue/6217 flux update to store searched products
  build.gradle
Labels: feature: product list, feature: order creation

#6257 issue/6042-customer-address-state-margin
  WooCommerce/src/main/res/layout/layout_address_form.xml
Labels: feature: order creation

#6256 Issue/6211 order creation done button
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/notes/OrderCreationCustomerNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsCustomerNoteFragment.kt
Labels: feature: simple payments, feature: order creation

#6264 Issue/6262 fix order filters count
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/data/OrderFiltersRepository.kt
Labels: type: bug, feature: order list

#6234 Survey type inbox note
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/Inbox.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxNotesModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxRepository.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/inbox/InboxViewModelTest.kt
Labels: feature: inbox

#6274 Fix failing test in OrderDetailViewModel after migrating coroutines from 1.5 to 1.6
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
Labels: feature: order details

#6276 Sync Coupons.kt with recently merged change in FluxC
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Coupon.kt
  build.gradle
Labels: type: enhancement

#6259 Move sort filter card in the products screen to the RecyclerView
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemDiffCallback.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/products_list_sort_filter_item.xml
Labels: type: bug, category: design, feature: product list

#6270 issue/6269-simple-payment-track-copy-link
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/TakePaymentViewModel.kt
Labels: category: analytics, feature: simple payments

#6267 Nick/order creation product adapter
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationProductsAdapter.kt
Labels: feature: order creation

#6263 Remove AppBarLayout shadow from products filter screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/res/layout/activity_main.xml
Labels: type: bug, feature: product list

#6268 Issue/6258 order creation quantity
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/MapItemToProductUiModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationProductsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModelTest.kt
Labels: feature: order creation

#6278 [Coupons] hide the feature on release versions
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
Labels: feature: coupons

#6272 Use BaseUnitTest.testBlocking everywhere across the main module
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/common/UserEligibilityErrorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/common/UserEligibilityFetcherTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsUsageTracksEventEmitterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderFullfillViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentCollectibilityCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentCurrencySupportedCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/ReceiptPreviewViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/editing/OrderEditingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/editing/address/AddressViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/ShippingLabelRefundViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressSuggestionViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreateCustomPackageViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelCreateServicePackageViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachineTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingPackageSelectorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/simplepayments/SimplePaymentsFragmentViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderTrackingProviderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/AppSettingsPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderLocationRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/detail/CardReaderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/update/CardReaderUpdateViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/GroupedProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductInventoryViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductPricingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductShippingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/VariationListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/addons/AddonRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/addons/order/OrderedAddonViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/PaymentChargeRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/crashlogging/UploadEncryptedLogsTest.kt
Labels: type: enhancement, category: unit tests

#6242 [Coupons] unit tests for coupon details
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Coupon.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CouponUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/CouponTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModelTest.kt
Labels: category: unit tests, feature: coupons

#6138 Issue/5711 interac refund error handling
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManagerFactory.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/InteracRefundManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/RefundErrorMapper.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/CardInteracRefundStatus.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/InteracRefundManagerTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/RefundErrorMapperTest.kt
Labels: feature: mobile payments

#6260 Coupons: Paged loading
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/InfiniteListHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponRepository.kt
  build.gradle
Labels: feature: coupons

#6175 [Coupons] Coupon Details Menu Functionality
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CouponUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/CouponTestUtils.kt
Labels: status: feature-flagged, feature: coupons

#6156 Issue/5711 interac refund navigation logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/statuschecker/CardReaderStatusCheckerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/simplepayments/TakePaymentFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/tutorial/CardReaderTutorialDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_card_reader_flow.xml
  WooCommerce/src/main/res/navigation/nav_graph_refunds.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#6275 Remove legacy "You can refund taxes in wpadmin" msg
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModelTest.kt
Labels: feature: refunds

#6287 Issue/6286 show permission dialog
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooPermissionUtils.kt
  WooCommerce/src/main/res/drawable/img_location.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/connect/CardReaderConnectViewModelTest.kt
Labels: type: enhancement, feature: mobile payments

#6251 Disable CodeCov expired reports validation
  codecov.yml
Labels: category: tooling

#6266 Issue/5556 coupons search
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/animations/SkeletonAnimation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/SavedStateFlow.kt
  WooCommerce/src/main/res/menu/menu_search.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: coupons

#6157 Issue/5711 interac refund UI state
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderInteracRefundErrorMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderInteracRefundableChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/PaymentChargeRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundConfirmationDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_refunds.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderInteracRefundErrorMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderInteracRefundableCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/PaymentChargeRepositoryTest.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManagerFactory.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/InteracRefundManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/RefundErrorMapper.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/CardInteracRefundStatus.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/RefundParams.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/CardReaderManagerImplTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/InteracRefundManagerTest.kt
Labels: feature: mobile payments

#6282 Merge 8.9 final to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/289.txt
  fastlane/metadata/android/ar/changelogs/293.txt
  fastlane/metadata/android/de-DE/changelogs/289.txt
  fastlane/metadata/android/de-DE/changelogs/293.txt
  fastlane/metadata/android/es-ES/changelogs/289.txt
  fastlane/metadata/android/es-ES/changelogs/293.txt
  fastlane/metadata/android/fr-FR/changelogs/289.txt
  fastlane/metadata/android/fr-FR/changelogs/293.txt
  fastlane/metadata/android/id/changelogs/289.txt
  fastlane/metadata/android/id/changelogs/293.txt
  fastlane/metadata/android/it-IT/changelogs/289.txt
  fastlane/metadata/android/it-IT/changelogs/293.txt
  fastlane/metadata/android/iw-IL/changelogs/289.txt
  fastlane/metadata/android/iw-IL/changelogs/293.txt
  fastlane/metadata/android/ja-JP/changelogs/289.txt
  fastlane/metadata/android/ja-JP/changelogs/293.txt
  fastlane/metadata/android/ko-KR/changelogs/289.txt
  fastlane/metadata/android/ko-KR/changelogs/293.txt
  fastlane/metadata/android/nl-NL/changelogs/289.txt
  fastlane/metadata/android/nl-NL/changelogs/293.txt
  fastlane/metadata/android/pt-BR/changelogs/289.txt
  fastlane/metadata/android/pt-BR/changelogs/293.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/289.txt
  fastlane/metadata/android/ru-RU/changelogs/293.txt
  fastlane/metadata/android/sv-SE/changelogs/289.txt
  fastlane/metadata/android/sv-SE/changelogs/293.txt
  fastlane/metadata/android/tr-TR/changelogs/289.txt
  fastlane/metadata/android/tr-TR/changelogs/293.txt
  fastlane/metadata/android/zh-CN/changelogs/289.txt
  fastlane/metadata/android/zh-CN/changelogs/293.txt
  fastlane/metadata/android/zh-TW/changelogs/289.txt
  fastlane/metadata/android/zh-TW/changelogs/293.txt
Labels: Releases

#6300 Merge 9.0 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: category: releases

#6236 Issue/5876 dismiss all notes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxRepository.kt
  WooCommerce/src/main/res/menu/menu_inbox.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: inbox

#6284 issue/6111-step1-site-picker-changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerPresenter.kt
  build.gradle
Labels: feature: app settings, type: technical debt

#6306 Exclude `Automattic-Tracks-Android` from Dependabot
  .github/dependabot.yml
Labels: category: tooling

#6285 Feature/6186/UI test order with simple product
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_create.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_create_empty.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_create_simple_product.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_select_simple_product.json
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/orders/OrderCreationScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/orders/OrderSelectProductScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/screenshots/orders/SingleOrderScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/ui/main/OrdersUITest.kt
  WooCommerce/src/main/res/layout/fragment_order_creation_product_selection.xml
Labels: category: ui tests, feature: order creation

#6247 Issue/6244 Swipe to refresh
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/Inbox.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxNotesModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/inbox/InboxViewModelTest.kt
  build.gradle
Labels: type: task, feature: inbox

#6277 Issue/6261 inbox tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
Labels: type: task, status: do not merge, category: analytics, feature: inbox

#6280 Show snackbar when there is an error syncing Inbox
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/domain/InboxRepository.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: type: task, status: do not merge, feature: inbox

#6318 Enable the beta switch for coupons
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
Labels: feature: coupons

#6314 [Coupons] Use existing dimens value for Compose screens' various dimensions
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/res/values/dimens_base.xml
Labels: category: design, feature: coupons

#6321 [Coupons] Make coupon details scrollable.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
Labels: feature: coupons, compose

#6301 Issue/6056 interac refund failure event
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTracker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
Labels: category: analytics, feature: mobile payments

#6341 Update Fastlane and `release-toolkit` plus remove unused variables from `Fastfile`
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: category: tooling

#6342 Machine re-indent `Fastfile`
  fastlane/Fastfile
Labels: category: tooling

#6303 Fetching plugin if missing and block the button if fetching in progress
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/PaymentChargeRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/IssueRefundViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/refunds/PaymentChargeRepositoryTest.kt
Labels: feature: mobile payments

#6331 [Coupons] fix sorting and updating
  build.gradle
Labels: type: bug, feature: coupons

#6022 Allow multiple products selections
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CreateOrUpdateOrderDraft.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/ItemOperationsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationProductsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreationSectionView.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreateOrUpdateOrderDraftTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreationViewModelTest.kt
Labels: type: enhancement, feature: order creation

#6320 Show selected tab when restoring state in MyStore
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
Labels: type: bug, feature: home screen

#6328 [Coupons] Dismiss menu on click
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
Labels: feature: coupons

#6336 [Coupons] add missing section to the description
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringDateFormatExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Coupon.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CouponUtils.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/CouponTestUtils.kt
Labels: type: bug, feature: coupons

#6294 Issue/6119 refactor fetch variations
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationRepository.kt
  build.gradle
Labels: feature: variation list

#6322 Add minimum supported plugin version to card reader config
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/config/CardReaderConfig.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/config/CardReaderConfigForCanada.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/config/CardReaderConfigForUSA.kt
Labels: feature: mobile payments

#6344 Merge 9.0 release notes into trunk
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#6316 [Coupons] Delete Coupon UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: category: design, feature: coupons, compose

#6350 [Coupons] Delete Coupon Functionality
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/WooLog.kt
Labels: feature: coupons

#6356 Extract scrollview out of settings activity and added only where needed
  WooCommerce/src/main/res/layout/activity_app_settings.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/layout/fragment_settings_privacy.xml
Labels: type: task, feature: app settings

#6340 [Coupons] M1 analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsViewModel.kt
Labels: feature: coupons

#6291 Issue/5878 filter by api version
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/domain/MoreMenuRepository.kt
Labels: type: task, feature: inbox

#6354 Revert 6259 issue/3260 move productsortandfilterscard into recyclerview
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemDiffCallback.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/products_list_sort_filter_item.xml
Labels: type: bug, priority: high, feature: product list

#6368 Updates BBPOs card reader manual link
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
Labels: feature: mobile payments

#6148 Refactor currency formatter
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/CurrencyFormatter.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/CurrencyFormatterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/DefaultCurrencyFormatterTest.kt
Labels: type: enhancement, type: task

#6366 Merge 9.0-rc-2 to trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemDiffCallback.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
  WooCommerce/src/main/res/layout/products_list_sort_filter_item.xml
Labels: category: releases

#6255 Move responsability of managing Toolbar aspects to the Fragments
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/BaseFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/TopLevelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/AppBarStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreationProductDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/PrintingInstructionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/CustomerOrderNoteEditingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/BillingAddressEditingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/ShippingAddressEditingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterCategoriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/notes/AddOrderNoteFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/LabelFormatOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelInfoFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/tracking/AddOrderShipmentTrackingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterOptionListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/refunds/IssueRefundFragment.kt
Labels: type: enhancement, category: architecture

#6393 remove "usd" from the amount too small error message
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: mobile payments

#6380 Quick win: Remove custom `android_update_metadata_source` action
  fastlane/Fastfile
  fastlane/actions/android_update_metadata_source.rb
Labels: category: tooling, category: i18n

#6352 Issue/6339 react to beta switch
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/domain/MoreMenuRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/LiveDataUtils.kt
Labels: type: bug, feature: coupons

#6399 Fix issue where price was cleared on attribute change
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModelTest.kt
Labels: feature: variation details

#6402 Gradle Enterprise: Obfuscate personal data
  settings.gradle
Labels: category: tooling

#6373 Return to default detekt, ktlint settings regarding wild card imports
  .editorconfig
  config/detekt/baseline.xml
  config/detekt/detekt.yml
  docs/coding-style.md
Labels: category: tooling

#6311 Issue/6310 inbox UI glitches
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/animations/SkeletonAnimation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/Inbox.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
Labels: type: task, feature: inbox, compose

#6394 Add Interac refund canceled event on back press while Interac refund is in progress
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/cardreader/payment/CardReaderPaymentViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/cardreader/CardReaderTracker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/cardreader/CardReaderPaymentViewModelTest.kt
Labels: category: analytics, feature: mobile payments

#6411 Update release notes
  RELEASE-NOTES.txt
Labels: type: enhancement

#6407 Removing xml file and adding Composeview directly to the Fragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/cardreader/manuals/CardReaderManualsFragment.kt
  WooCommerce/src/main/res/layout/fragment_card_reader_manuals.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: mobile payments
