Repository woocommerce/woocommerce-android, pull requests merged in 2023-09, with the labels that each got.

#9698 [Data Sprint] Fix keys nameing for "application_store_snapshot" event
  WooCommerce/src/main/kotlin/com/woocommerce/android/tracker/TrackStoreSnapshot.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/tracker/TrackStoreSnapshotTest.kt
Labels: feature: analytics

#9710 Issue/9706 onboarding wcpay instruction
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsPreSetupFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsPreSetupScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsTermsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsTermsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/drawable-night/img_woo_payments_logo.xml
  WooCommerce/src/main/res/drawable/img_woo_payments_logo.xml
  WooCommerce/src/main/res/drawable/img_woo_payments_store_onboarding_setup_dialog.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store onboarding

#9714 WooPayments setup: auto dismiss WebView and celebration screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsSetupCelebrationDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/res/drawable/ic_check_rounded.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: store onboarding

#9720 WooPayments setup: tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsPreSetupFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsTermsFragment.kt
Labels: feature: analytics, feature: store onboarding

#9693 Add discount edit screen tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountViewModelTest.kt
Labels: feature: order creation

#9673 [Hazmat Shipping] Remove hazmat feature flag and release it
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPackagesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: shipping labels

#9703 [Data Sprint] Track selected site url in the all events
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/tools/SelectedSite.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/AccountRepository.kt
Labels: feature: analytics

#9690 [Mobile Payments] Handle a payment plugin not installed with API call
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingErrorCtaClickHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewState.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingErrorCtaClickHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#9672 [Manual Taxes #1] Analytics events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/taxes/TaxRatesInfoDialogFragment.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: feature: analytics

#9729 [Tooling] Modernize Prototype Build comment
  .buildkite/commands/prototype-build.sh
  .buildkite/pipeline.yml
  fastlane/Fastfile
Labels: category: tooling

#9728 [Mobile Payments] Handle plugin not activated with API call
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingErrorCtaClickHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewState.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingErrorCtaClickHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#9733 Merge 15.2 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#9736 Fix/9654 local notification fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/summary/StoreCreationSummaryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
Labels: feature: notifications, priority: high

#9742 Schedule local notifications sooner in the store creation flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/StoreInstallationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/summary/StoreCreationSummaryViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/StoreInstallationViewModelTest.kt
Labels: feature: notifications, feature: store creation

#9744 Fix/9743 properly schedule notifications
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
Labels: feature: notifications, priority: high

#9747 Cherrypicked local notification fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/StoreInstallationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/summary/StoreCreationSummaryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/StoreInstallationViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
Labels: priority: high

#9732 [Mobile Payments] Handle WCPay plugin setup not finished with auth webview
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingErrorCtaClickHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewState.kt
  WooCommerce/src/main/res/layout/fragment_card_reader_onboarding_wcpay.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingErrorCtaClickHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#9759 [Manual Taxes M2] tax selector empty state
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/taxes/rates/TaxRateSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/taxes/rates/TaxRateSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/taxes/rates/TaxRateSelectorViewModel.kt
  WooCommerce/src/main/res/drawable-night/img_empty_tax.xml
  WooCommerce/src/main/res/drawable/img_empty_tax.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: order creation

#9757 Tracking order products loaded
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderProduct.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: type: task, feature: order details, feature: analytics

#9761 Update product detail loaded
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: type: task, feature: product details, feature: analytics

#9764 [Mobile Payments] Record country for tracking in the onboarding check class too
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
Labels: feature: mobile payments, feature: analytics

#9740 [Mobile Payments] Handle stripe requirements overdue with chrome
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingErrorCtaClickHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewState.kt
  WooCommerce/src/main/res/layout/fragment_card_reader_onboarding_stripe.xml
  WooCommerce/src/main/res/layout/fragment_card_reader_onboarding_wcpay.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingErrorCtaClickHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: feature: mobile payments

#9741 Support additional file types as Product Downloadables [Part 1]
  WooCommerce/src/main/kotlin/com/woocommerce/android/mediapicker/MediaPickerMimeTypeProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/mediapicker/MediaPickerSetupFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/AddProductDownloadBottomSheetFragment.kt
  build.gradle
Labels: type: task, status: do not merge, feature: product details

#9771 [UI Tests] Don't show feature announcement if running a test.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
Labels: category: ui tests

#9745 Support additional file types as Product Downloadables [Part 2]
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/FileUploadUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaFilesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/AddProductDownloadBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/downloads/AddProductDownloadViewModel.kt
  WooCommerce/src/main/res/layout/dialog_product_add_downloadable_file.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  config/detekt/baseline.xml
Labels: type: enhancement, status: do not merge, feature: product details

#9770 [Mobile Payments] Add tracks event when onboarding check was successful
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#9782 Specify android agent in Buildkite pipeline
  .buildkite/pipeline.yml
Labels: category: tooling

#9772 [Store Onboarding] Show an explanation screen before opening the Payment's task WebView
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/PaymentsPreSetupFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/PaymentsPreSetupScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsSetupInstructionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsSetupInstructionsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: type: bug, feature: store onboarding

#9748 HACK Week: Add pagination support to attribute terms view
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeTermsListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeTermsListHandler.kt
  WooCommerce/src/main/res/layout/fragment_add_attribute_terms.xml
  build.gradle
Labels: type: bug, feature: variation details

#9754 HACK Week: Introduce Attribute terms ViewModel unit tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsViewModelTest.kt
Labels: type: enhancement, feature: variation details

#9766 HACK Week: Introduce Attribute terms list handler unit tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/attributes/AddAttributeTermsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeTermTestFixtures.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributeTermsListHandlerTest.kt
Labels: feature: variation details

#9763 Merge 15.3 code freeze into trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#9799 Merge 15.4 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#9805 Disable ShippingZones feature
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: app settings

#9807 Product Creation with AI: MainViewModel
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Toolbar.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAISubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: type: task, feature: product details

#9798 Product Creation With AI: eligibilty checks
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AddProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/IsAIProductDescriptionEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilderTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelGenerateVariationFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
  build.gradle
Labels: type: enhancement, feature: product details

#9803 Product Creation with AI: entry bottom sheet
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/BottomSheetHandle.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Toolbar.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/WooPaymentsSetupCelebrationDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AddProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAISubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: product details

#9775 [Hazmat Shipping] Add hazmat tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPackagesAdapter.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModelTest.kt
Labels: type: task, feature: shipping labels

#9809 Product Creation with AI: update eligibility criteria
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AddProductNavigator.kt
Labels: type: enhancement, feature: product details

#9814 Feature/9804 subscreen about your product
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AboutProductSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AboutProductSubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIViewModel.kt
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: product selector

#9813 Product Creation with AI: Product Name subscreen UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSharingBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubScreen.kt
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: product details, compose

#9812 Product Creation with AI: product preview UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: product details

#9802 Product Creation with AI: UI for Product Name Generation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AIProductNameBottomSheet.kt
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: compose, feature: store onboarding

#9824 Merge 15.4 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/457.txt
  fastlane/metadata/android/de-DE/changelogs/457.txt
  fastlane/metadata/android/en-US/changelogs/455.txt
  fastlane/metadata/android/en-US/changelogs/457.txt
  fastlane/metadata/android/es-ES/changelogs/457.txt
  fastlane/metadata/android/fr-FR/changelogs/457.txt
  fastlane/metadata/android/id/changelogs/457.txt
  fastlane/metadata/android/it-IT/changelogs/457.txt
  fastlane/metadata/android/iw-IL/changelogs/457.txt
  fastlane/metadata/android/ja-JP/changelogs/457.txt
  fastlane/metadata/android/ko-KR/changelogs/457.txt
  fastlane/metadata/android/nl-NL/changelogs/457.txt
  fastlane/metadata/android/pt-BR/changelogs/457.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/457.txt
  fastlane/metadata/android/sv-SE/changelogs/457.txt
  fastlane/metadata/android/tr-TR/changelogs/457.txt
  fastlane/metadata/android/zh-CN/changelogs/457.txt
  fastlane/metadata/android/zh-TW/changelogs/457.txt
Labels: Releases

#9816 Feature/9811 open tone bottom sheet
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AboutProductSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AboutProductSubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubScreen.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: product details

#9823 Product Creation with AI: Product Name subscreen functionality
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubViewModel.kt
Labels: feature: product details

#9779 [Mobile Payments] Payments hub to the right package and appearance animation fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooCommerceComUTMProviderModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubTapToPayUnavailableHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListFragment.kt
  WooCommerce/src/main/res/layout/fragment_payments_hub.xml
  WooCommerce/src/main/res/layout/payments_hub_gap_between_sections.xml
  WooCommerce/src/main/res/layout/payments_hub_header.xml
  WooCommerce/src/main/res/layout/payments_hub_list_item.xml
  WooCommerce/src/main/res/layout/payments_hub_toggelable_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubTapToPayUnavailableHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewModelTest.kt
Labels: feature: mobile payments

#9815 Product Creation with AI: product preview logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/StringExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSharingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/BuildProductPreviewProperties.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubViewModel.kt
Labels: type: enhancement, feature: product details

#9795 [Manual Taxes M3] Add Tracking events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/taxes/rates/TaxRateSelectorViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/taxes/TaxRateSelectorViewModelTest.kt
Labels: feature: order creation

#9819 Product Creation with AI: AI prompt and networking
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIPrompts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSharingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubViewModel.kt
Labels: type: enhancement, feature: product details

#9837 Merge 15.5 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#9831 Product Creation With AI: wiring and aligning the sub-screens
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AboutProductSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AboutProductSubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAISubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: product details

#9784 Adding product types to order creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
Labels: type: task, feature: analytics, feature: woo express support

#9839 Product Creation with AI: miscellaneous fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIPrompts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ParameterRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubViewModel.kt
Labels: type: task, feature: product details

#9834 Product Creation with AI: saving product + navigation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIViewModel.kt
Labels: type: enhancement, feature: product details

#9826 [Mobile Payments] Simple payments tax calculation total bug fix
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsFragmentViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsViewModelTests.kt
Labels: feature: mobile payments

#9844 Product Creation with AI: Error handling
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductPreviewSubViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: product details

#9846 REST API: fix login issue when WordPress is installed in a custom subdirectory
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsScreen.kt
  build.gradle
Labels: type: bug, feature: login

#9845 Product Creation with AI: Analytics for product name generation
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AIProductNameBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AIProductNameViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubViewModel.kt
Labels: feature: store onboarding

#9849 Release notes fix
  RELEASE-NOTES.txt
Labels: category: releases

#9867 Merge 15.5 final into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/457.txt
  fastlane/metadata/android/ar/changelogs/459.txt
  fastlane/metadata/android/de-DE/changelogs/457.txt
  fastlane/metadata/android/de-DE/changelogs/459.txt
  fastlane/metadata/android/en-US/changelogs/457.txt
  fastlane/metadata/android/en-US/changelogs/459.txt
  fastlane/metadata/android/es-ES/changelogs/457.txt
  fastlane/metadata/android/es-ES/changelogs/459.txt
  fastlane/metadata/android/fr-FR/changelogs/457.txt
  fastlane/metadata/android/fr-FR/changelogs/459.txt
  fastlane/metadata/android/id/changelogs/457.txt
  fastlane/metadata/android/id/changelogs/459.txt
  fastlane/metadata/android/it-IT/changelogs/457.txt
  fastlane/metadata/android/it-IT/changelogs/459.txt
  fastlane/metadata/android/iw-IL/changelogs/457.txt
  fastlane/metadata/android/iw-IL/changelogs/459.txt
  fastlane/metadata/android/ja-JP/changelogs/457.txt
  fastlane/metadata/android/ja-JP/changelogs/459.txt
  fastlane/metadata/android/ko-KR/changelogs/457.txt
  fastlane/metadata/android/ko-KR/changelogs/459.txt
  fastlane/metadata/android/nl-NL/changelogs/457.txt
  fastlane/metadata/android/nl-NL/changelogs/459.txt
  fastlane/metadata/android/pt-BR/changelogs/457.txt
  fastlane/metadata/android/pt-BR/changelogs/459.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/457.txt
  fastlane/metadata/android/ru-RU/changelogs/459.txt
  fastlane/metadata/android/sv-SE/changelogs/457.txt
  fastlane/metadata/android/sv-SE/changelogs/459.txt
  fastlane/metadata/android/tr-TR/changelogs/457.txt
  fastlane/metadata/android/tr-TR/changelogs/459.txt
  fastlane/metadata/android/zh-CN/changelogs/457.txt
  fastlane/metadata/android/zh-CN/changelogs/459.txt
  fastlane/metadata/android/zh-TW/changelogs/457.txt
  fastlane/metadata/android/zh-TW/changelogs/459.txt
Labels: Releases

#9866 Move versions from `build.gradle` to `version.properties`
  WooCommerce/build.gradle
  version.properties
Labels: category: tooling

#9869 Merge 15.6 code freeze to trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#9865 WCAndroid: Update Fastfile with version model
  Gemfile
  Gemfile.lock
  WooCommerce/build.gradle
  fastlane/Fastfile
  version.properties
Labels: category: tooling
