Repository woocommerce/woocommerce-android, pull requests merged in 2023-07, with the labels that each got.

#9342 Merge 14.2 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/428.txt
  fastlane/metadata/android/ar/changelogs/430.txt
  fastlane/metadata/android/de-DE/changelogs/428.txt
  fastlane/metadata/android/de-DE/changelogs/430.txt
  fastlane/metadata/android/en-US/changelogs/428.txt
  fastlane/metadata/android/en-US/changelogs/430.txt
  fastlane/metadata/android/es-ES/changelogs/428.txt
  fastlane/metadata/android/es-ES/changelogs/430.txt
  fastlane/metadata/android/fr-FR/changelogs/428.txt
  fastlane/metadata/android/fr-FR/changelogs/430.txt
  fastlane/metadata/android/id/changelogs/428.txt
  fastlane/metadata/android/id/changelogs/430.txt
  fastlane/metadata/android/it-IT/changelogs/428.txt
  fastlane/metadata/android/it-IT/changelogs/430.txt
  fastlane/metadata/android/iw-IL/changelogs/428.txt
  fastlane/metadata/android/iw-IL/changelogs/430.txt
  fastlane/metadata/android/ja-JP/changelogs/428.txt
  fastlane/metadata/android/ja-JP/changelogs/430.txt
  fastlane/metadata/android/ko-KR/changelogs/428.txt
  fastlane/metadata/android/ko-KR/changelogs/430.txt
  fastlane/metadata/android/nl-NL/changelogs/428.txt
  fastlane/metadata/android/nl-NL/changelogs/430.txt
  fastlane/metadata/android/pt-BR/changelogs/428.txt
  fastlane/metadata/android/pt-BR/changelogs/430.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/428.txt
  fastlane/metadata/android/ru-RU/changelogs/430.txt
  fastlane/metadata/android/sv-SE/changelogs/428.txt
  fastlane/metadata/android/sv-SE/changelogs/430.txt
  fastlane/metadata/android/tr-TR/changelogs/428.txt
  fastlane/metadata/android/tr-TR/changelogs/430.txt
  fastlane/metadata/android/zh-CN/changelogs/428.txt
  fastlane/metadata/android/zh-CN/changelogs/430.txt
  fastlane/metadata/android/zh-TW/changelogs/428.txt
  fastlane/metadata/android/zh-TW/changelogs/430.txt
Labels: Releases

#9343 Merge 14.3 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  fastlane/Fastfile
  fastlane/resources/values/strings.xml
Labels: Releases

#9329 improve validation error msg when addin coupons in order creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/OrderCreateCouponEditFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/OrderCreateCouponEditScreen.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: order creation, feature: order editing

#9325 [TTP] Change min required android version to 10
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/TapToPayAvailabilityStatus.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/TapToPayAvailabilityStatusTest.kt
Labels: feature: mobile payments

#9301 Parsing error fetching orders
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpOrigin.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/ExpandableNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/view_expandable_notice_card.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: type: bug, feature: order list

#9294 Analytics performance: Introduce analytics data store for Timestamps
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelection.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStoreTest.kt
Labels: type: task, feature: analytics

#9330 [JITM] Pass OS version, device name, NFC and locale
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmQueryParamsEncoder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmStoreInMemoryCache.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/QueryParamsEncoder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DeviceInfo.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/jitm/JitmStoreInMemoryCacheTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/JitmQueryParamsEncoderTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/QueryParamsEncoderTest.kt
Labels: feature: mobile payments

#9358 [Instrumented Tests] Added support for Buildkite Test Analytics
  .buildkite/pipeline.yml
Labels: category: ui tests

#9333 AI Product description: Powered by AI link
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyButtonView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/models/ProductProperty.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/viewholders/ButtonViewHolder.kt
  WooCommerce/src/main/res/layout/product_property_button_view_layout.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: product details

#9336 AI Product description: Add API calls
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: product details

#9340 AI Product description: Event tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: feature: product details

#9341 AI Product description: AI button in Aztec editor
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/res/drawable/box_button_bg.xml
  WooCommerce/src/main/res/layout/fragment_aztec_editor.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: product details

#9348 AI Product Sharing: Refactor logic for showing or hiding Share button on Product details.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: feature: product details

#9346 [TTP] Track TTP unavailable reason when TTP universal link is used
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#9371 [UI Tests] Use `depends_on` instead of `wait` for test analytics.
  .buildkite/pipeline.yml
Labels: category: ui tests

#9349 [Customer Search] Customer search list with pagination
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewState.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
  build.gradle
Labels: status: do not merge, feature: order creation

#9383 Added release notes for 14.4
  CHANGELOG.md
Labels: Releases

#9387 Merge 14.3 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/430.txt
  fastlane/metadata/android/ar/changelogs/432.txt
  fastlane/metadata/android/de-DE/changelogs/430.txt
  fastlane/metadata/android/de-DE/changelogs/432.txt
  fastlane/metadata/android/en-US/changelogs/430.txt
  fastlane/metadata/android/en-US/changelogs/432.txt
  fastlane/metadata/android/es-ES/changelogs/430.txt
  fastlane/metadata/android/es-ES/changelogs/432.txt
  fastlane/metadata/android/fr-FR/changelogs/430.txt
  fastlane/metadata/android/fr-FR/changelogs/432.txt
  fastlane/metadata/android/id/changelogs/430.txt
  fastlane/metadata/android/id/changelogs/432.txt
  fastlane/metadata/android/it-IT/changelogs/430.txt
  fastlane/metadata/android/it-IT/changelogs/432.txt
  fastlane/metadata/android/iw-IL/changelogs/430.txt
  fastlane/metadata/android/iw-IL/changelogs/432.txt
  fastlane/metadata/android/ja-JP/changelogs/430.txt
  fastlane/metadata/android/ja-JP/changelogs/432.txt
  fastlane/metadata/android/ko-KR/changelogs/430.txt
  fastlane/metadata/android/ko-KR/changelogs/432.txt
  fastlane/metadata/android/nl-NL/changelogs/430.txt
  fastlane/metadata/android/nl-NL/changelogs/432.txt
  fastlane/metadata/android/pt-BR/changelogs/430.txt
  fastlane/metadata/android/pt-BR/changelogs/432.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/430.txt
  fastlane/metadata/android/ru-RU/changelogs/432.txt
  fastlane/metadata/android/sv-SE/changelogs/430.txt
  fastlane/metadata/android/sv-SE/changelogs/432.txt
  fastlane/metadata/android/tr-TR/changelogs/430.txt
  fastlane/metadata/android/tr-TR/changelogs/432.txt
  fastlane/metadata/android/zh-CN/changelogs/430.txt
  fastlane/metadata/android/zh-CN/changelogs/432.txt
  fastlane/metadata/android/zh-TW/changelogs/430.txt
  fastlane/metadata/android/zh-TW/changelogs/432.txt
Labels: Releases

#9362 9352 [Product discount] Order Create > Product Details refactoring
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/details/OrderCreateEditProductDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/details/OrderCreateEditProductDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreateEditProductDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ProductUtils.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_product_details.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: order creation, feature: order editing

#9388 [Customer Search] Adds bouncing on search query change
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order creation

#9376 [Scanned and Deliver] Improve permission handling flow
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScannerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScanningFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScanningViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScanningViewModelTest.kt
Labels: feature: mobile payments

#9393 [FIX] If IPP banner data is null then show other banners on the orders screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: feature: order list

#9392 [Product discount] Manual product discount flow
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/UnifiedOrderScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/TypedTextField.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/AutoSyncOrder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/AutoSyncPriceModifier.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/ItemOperationsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/OrderCreateCouponEditFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/OrderCreateCouponEditScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/details/OrderCreateEditProductDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/details/OrderCreateEditProductDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/CalculateItemDiscountAmount.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/CurrencySymbolFinder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/GetItemDiscountAmountText.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/CalculateItemDiscountAmountTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountViewModelTest.kt
Labels: feature: order creation, feature: order editing

#9385 [TTP] Remove feature and beta feature flags
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubTapToPayUnavailableHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/IsTapToPayEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/TapToPayAvailabilityStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubTapToPayUnavailableHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/TapToPayAvailabilityStatusTest.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/InteracRefundManager.kt
Labels: feature: mobile payments

#9406 Improve QR code quality
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/QRCode.kt
Labels: type: enhancement

#9403 Fix/UI glitches blaze banner
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeBanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeBannerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeWebViewViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: type: bug, type: enhancement

#9411 [Product discount] Final touches
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditProductsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/details/OrderCreateEditProductDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/details/OrderCreateEditProductDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_product_details.xml
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
  WooCommerce/src/main/res/layout/product_item_view.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/product/details/OrderCreateEditProductDetailsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/product/discount/OrderCreateEditProductDiscountViewModelTest.kt
Labels: feature: order creation, feature: order editing

#9359 [Customer Search] Loading, error and empty states
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/SearchLayoutWithParams.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order creation

#9416 [UI Test] - Wait for customer notes screen to load before adding text
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/UnifiedOrderScreen.kt
Labels: type: task, category: ui tests

#9424 Merge 14.5 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#9389 [Customer Search] Open a list in the top position when first page is loaded
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewState.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order creation

#9413 Change navigation from review details from popback to navigating back to review list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
Labels: type: enhancement, feature: review list, feature: review details

#9426 [TTP] Add learn more link to the TTP summary screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModelTest.kt
Labels: feature: mobile payments

#9366 use new reports endpoint to fetch top performer products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  build.gradle
Labels: category: performance, feature: analytics

#9428 [TTP] Testing TTP makes other payment methods disabled
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewState.kt
  WooCommerce/src/main/res/layout/card_reader_hub_header.xml
  WooCommerce/src/main/res/layout/fragment_select_payment_method.xml
  WooCommerce/src/main/res/layout/item_select_payment_method_double_row.xml
  WooCommerce/src/main/res/layout/item_select_payment_method_single_row.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#9400 [Customer Search] Add loading indicator when a customer selected and we fetch more data
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewState.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order creation

#9404 [Customer Search] Modify navigation so after customer details confirmed order creation screen is shown
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: order creation

#9412 [Customer Search] Handle older 800 versions of WC where "all" param is not supported as search
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListGetSupportedSearchModes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListIsAdvancedSearchSupported.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListGetSupportedSearchModesTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListIsAdvancedSearchSupportedTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order creation

#9437 [Customer Search] Polish the UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/SearchLayoutWithParams.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/res/layout/layout_address_form.xml
Labels: feature: order creation

#9322 Avoid foreground services on API 34+
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesJobService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesNotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesServiceWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/SystemVersionUtils.kt
  settings.gradle
Labels: type: technical debt

#9436 Issue/9254 filter products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
Labels: type: bug, feature: mobile payments

#9448 Added release notes for 14.6
  CHANGELOG.md
Labels: Releases

#9320 Analytics Performance: adjust analytics hub to use stored data
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/UpdateAnalyticsHubStats.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubTestFixtures.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/UpdateAnalyticsHubStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStoreTest.kt
Labels: type: task, feature: analytics

#9338 Analytics Performance: Support custom selection timestamps
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/UpdateAnalyticsHubStats.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/UpdateAnalyticsHubStatsTest.kt
Labels: type: task, feature: analytics

#9364 Analytics Performance: Analytics pull to refresh force update
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/UpdateAnalyticsHubStats.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/UpdateAnalyticsHubStatsTest.kt
Labels: type: task, feature: analytics

#9455 Merge 14.5 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/436.txt
  fastlane/metadata/android/de-DE/changelogs/436.txt
  fastlane/metadata/android/en-US/changelogs/434.txt
  fastlane/metadata/android/en-US/changelogs/436.txt
  fastlane/metadata/android/es-ES/changelogs/436.txt
  fastlane/metadata/android/fr-FR/changelogs/436.txt
  fastlane/metadata/android/id/changelogs/436.txt
  fastlane/metadata/android/it-IT/changelogs/436.txt
  fastlane/metadata/android/iw-IL/changelogs/436.txt
  fastlane/metadata/android/ja-JP/changelogs/436.txt
  fastlane/metadata/android/ko-KR/changelogs/436.txt
  fastlane/metadata/android/nl-NL/changelogs/436.txt
  fastlane/metadata/android/pt-BR/changelogs/436.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/436.txt
  fastlane/metadata/android/sv-SE/changelogs/436.txt
  fastlane/metadata/android/tr-TR/changelogs/436.txt
  fastlane/metadata/android/zh-CN/changelogs/436.txt
  fastlane/metadata/android/zh-TW/changelogs/436.txt
Labels: Releases

#9439 [Customer Search] Edit customer flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/AddressViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/editing/address/AddressViewModelTest.kt
Labels: feature: mobile payments

#9433 display SKU on scan failure snack bar
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: feature: mobile payments

#9434 Analytics Performance: add pull-to-refresh tracks to analytics hub
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
Labels: type: task, feature: analytics

#9449 [UI Tests] Fix a flaky point in "e2eCreateOrderTest"
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/UnifiedOrderScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersUITest.kt
Labels: category: ui tests

#9461 [Customer Search] Better handle empty customers for the old WC (<8.0.0) users
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListGetSupportedSearchModes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewState.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListGetSupportedSearchModesTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order creation

#9466 Add Coupon selector files for order creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/selector/CouponSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/selector/CouponSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/selector/CouponSelectorViewModel.kt
Labels: feature: coupons, feature: order creation

#9440 Analytics Performance: Improve Analytics revenue in-memory cache system
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsRepository.kt
Labels: type: task, feature: analytics

#9479 Observe last update top performers
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/res/layout/my_store_top_performers.xml
Labels: type: enhancement, feature: stats

#9471 Observe last update my store stats
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/ObserveLastUpdate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/layout/dashboard_main_stats_row.xml
  WooCommerce/src/main/res/layout/my_store_top_performers.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: type: task, feature: stats

#9438 Feature/9435 schedule 6h local notification
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/StoreInstallationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: notifications

#9457 Refactor analytics data store
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/ObserveLastUpdate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/layout/dashboard_main_stats_row.xml
  WooCommerce/src/main/res/layout/my_store_top_performers.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStoreTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
Labels: type: enhancement, feature: stats

#9468 Feature/9435 notification survey screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/freetrial/FreeTrialSurveyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/freetrial/FreeTrialSurveyScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/freetrial/FreeTrialSurveyViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: notifications

#9456 Top performant products timestamp
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/ObserveLastUpdate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/layout/dashboard_main_stats_row.xml
  WooCommerce/src/main/res/layout/my_store_top_performers.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStoreTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
Labels: feature: stats

#9464 Check for orders locally first
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  build.gradle
Labels: type: enhancement, feature: stats

#9460 [Mobile Payments] Use another pattern to determine installed plugin
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/help/HelpViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
Labels: feature: mobile payments

#9482 [Add new coupon] Coupon type picker
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/create/CouponTypePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/create/CouponTypePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/create/CouponTypePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/main/res/drawable/ic_coupon_fixed_cart.xml
  WooCommerce/src/main/res/drawable/ic_coupon_fixed_product.xml
  WooCommerce/src/main/res/drawable/ic_coupon_percentage.xml
  WooCommerce/src/main/res/navigation/nav_graph_coupons.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModelTests.kt
Labels: status: do not merge, feature: coupons

#9481 [Customer Search] address design feedback
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListDisplayTextHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListGetSupportedSearchModes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListSearchResultsHighlighter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewState.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListDisplayTextHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListSearchResultsHighlighterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order creation

#9454 My store using timestamp last synced
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/ObserveLastUpdate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/layout/dashboard_main_stats_row.xml
  WooCommerce/src/main/res/layout/my_store_top_performers.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStoreTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
Labels: feature: stats

#9494 Analytics Performance: Introduce last update info to Analytics Hub
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/daterangeselector/AnalyticsHubDateRangeCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/ObserveLastUpdate.kt
  WooCommerce/src/main/res/layout/analytics_date_range_card_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
Labels: type: task, feature: analytics

#9427 [Build] Upgrade Gradle to 8.2.1 and AGP to 8.1.0
  .java-version
  WooCommerce/build.gradle
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/TabNavComponent.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/login/EmailAddressScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/login/MagicLinkScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/login/PasswordScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/login/SiteAddressScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/login/WelcomeScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/moremenu/MoreMenuScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/MyStoreScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/StatsComponent.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/settings/BetaFeaturesScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/settings/SettingsScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/notifications/NotificationsScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/CardReaderPaymentScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/CustomerDetailsScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/OrderListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/PaymentSelectionScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/SingleOrderScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/UnifiedOrderScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/ProductListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/SingleProductScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/reviews/ReviewsListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/reviews/SingleReviewScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/shared/FilterScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ContextExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductCategory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/JetpackInstallProgressDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/GetIPPFeedbackBannerData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoryItemUiModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
  build.gradle
  config/gradle/include_builds.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  quicklogin/build.gradle
  settings.gradle
Labels: category: tooling, type: technical debt

#9498 Merge 14.6 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/441.txt
  fastlane/metadata/android/de-DE/changelogs/441.txt
  fastlane/metadata/android/en-US/changelogs/441.txt
  fastlane/metadata/android/es-ES/changelogs/441.txt
  fastlane/metadata/android/fr-FR/changelogs/441.txt
  fastlane/metadata/android/id/changelogs/441.txt
  fastlane/metadata/android/it-IT/changelogs/441.txt
  fastlane/metadata/android/iw-IL/changelogs/441.txt
  fastlane/metadata/android/ja-JP/changelogs/441.txt
  fastlane/metadata/android/ko-KR/changelogs/441.txt
  fastlane/metadata/android/nl-NL/changelogs/441.txt
  fastlane/metadata/android/pt-BR/changelogs/441.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/441.txt
  fastlane/metadata/android/sv-SE/changelogs/441.txt
  fastlane/metadata/android/tr-TR/changelogs/441.txt
  fastlane/metadata/android/zh-CN/changelogs/441.txt
  fastlane/metadata/android/zh-TW/changelogs/441.txt
Labels: Releases

#9492 Disconnect card reader and clear reader cached credentials when we switch payment gateway
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: type: crash, feature: mobile payments

#9475 Issue/9372 local SKU product search
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductListHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorRepository.kt
Labels: type: enhancement, feature: order creation
