Repository woocommerce/woocommerce-android, pull requests merged in 2023-05, with the labels that each got.

#8895 EU-bound Shipping Notice: Create EU shipping banner
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/banner/ShippingNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_create_shipping_label.xml
  WooCommerce/src/main/res/layout/shipping_notice_banner.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: shipping labels

#8910 EU-bound Shipping Notice: Add EU shipping notice to `Customs` view
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsFragment.kt
  WooCommerce/src/main/res/layout/fragment_shipping_customs.xml
Labels: type: task, feature: shipping labels

#8918 EU-bound Shipping Notice: Add shipping notice `Learn more` and `Dismiss` behaviors
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/banner/ShippingNoticeCard.kt
Labels: type: task, feature: shipping labels

#8909 Remove remote config for performance monitoring
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/SpecifyPerformanceMonitoringConfig.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/crashlogging/SpecifyPerformanceMonitoringConfigTest.kt
Labels: type: task

#8923 Merge 13.4 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#8925 Allow Site Credentials login form on Account Mismatch Error Screen to be scrollable
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
Labels: type: enhancement, feature: login

#8917 Fix the variation generation bottom sheet disappearing
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundSummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/GenerateVariationBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/GenerateVariationBottomSheetViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/GenerateVariationPickerDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/attributes/AttributesAddedFragment.kt
  WooCommerce/src/main/res/layout/fragment_generate_variations_bottom_sheet.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/GenerateVariationBottomSheetViewModelTest.kt
Labels: type: bug, feature: variation list

#8921 [JITM] Add support for SVG for JITMs + dark mode
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmModal.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/banner/Banner.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/jitm/JitmViewModelTest.kt
Labels: feature: jitm

#8930 Feature/testing new store onboaridng use case
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/ShouldShowOnboarding.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/ShouldShowOnboardingTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModelTest.kt
Labels: feature: store onboarding

#8931 Move completed task to the end of the list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
Labels: feature: store onboarding

#8929 Do not show draft products in popular and Last Sold sections
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModelTest.kt
Labels: type: bug

#8926 Possible code readability improvement for Jetpack-related view models
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/benefits/JetpackActivationEligibilityErrorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/benefits/JetpackBenefitsViewModel.kt
Labels: type: enhancement, feature: REST API

#8960 Unit tests for JetpackBenefitsViewModel
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/jetpack/benefits/JetpackBenefitsViewModelTest.kt
Labels: feature: login

#8959 Search persistence fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: feature: order list, feature: product list

#8892 [IPP] Update stripe SDK
  build.gradle
  libs/cardreader/build.gradle
  settings.gradle
Labels: feature: mobile payments, dependency update

#8904 [TTP] Add new badge to TTP row
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewState.kt
  WooCommerce/src/main/res/drawable/ic_badge_new.xml
  WooCommerce/src/main/res/layout/card_reader_hub_list_item.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
Labels: feature: mobile payments

#8965 Added release notes for 13.5
  CHANGELOG.md
Labels: Releases

#8928 [TTP] Add badges to highlight TTP on more menu button and menu screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuNewFeatureHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/TapToPayAvailabilityStatus.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuNewFeatureHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/TapToPayAvailabilityStatusTest.kt
Labels: feature: mobile payments

#8934 Bring back SSR in Zendesk tickets
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/SupportModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/SupportHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/zendesk/ZendeskEnvironmentDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/zendesk/ZendeskTicketRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/ZendeskTicketRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/help/HelpViewModelTest.kt
Labels: type: task, feature: support

#8950 feat: add privacy choices feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: privacy

#8924 EU-bound Shipping Notice: Introduce EU customs rule check
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/banner/CheckEUShippingScenario.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/banner/CheckEUShippingScenarioTest.kt
Labels: type: task, feature: shipping labels

#8971 Merge 13.4 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/408.txt
  fastlane/metadata/android/ar/changelogs/410.txt
  fastlane/metadata/android/de-DE/changelogs/408.txt
  fastlane/metadata/android/de-DE/changelogs/410.txt
  fastlane/metadata/android/en-US/changelogs/408.txt
  fastlane/metadata/android/en-US/changelogs/410.txt
  fastlane/metadata/android/es-ES/changelogs/408.txt
  fastlane/metadata/android/es-ES/changelogs/410.txt
  fastlane/metadata/android/fr-FR/changelogs/408.txt
  fastlane/metadata/android/fr-FR/changelogs/410.txt
  fastlane/metadata/android/id/changelogs/408.txt
  fastlane/metadata/android/id/changelogs/410.txt
  fastlane/metadata/android/it-IT/changelogs/408.txt
  fastlane/metadata/android/it-IT/changelogs/410.txt
  fastlane/metadata/android/iw-IL/changelogs/408.txt
  fastlane/metadata/android/iw-IL/changelogs/410.txt
  fastlane/metadata/android/ja-JP/changelogs/408.txt
  fastlane/metadata/android/ja-JP/changelogs/410.txt
  fastlane/metadata/android/ko-KR/changelogs/408.txt
  fastlane/metadata/android/ko-KR/changelogs/410.txt
  fastlane/metadata/android/nl-NL/changelogs/408.txt
  fastlane/metadata/android/nl-NL/changelogs/410.txt
  fastlane/metadata/android/pt-BR/changelogs/408.txt
  fastlane/metadata/android/pt-BR/changelogs/410.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/408.txt
  fastlane/metadata/android/ru-RU/changelogs/410.txt
  fastlane/metadata/android/sv-SE/changelogs/408.txt
  fastlane/metadata/android/sv-SE/changelogs/410.txt
  fastlane/metadata/android/tr-TR/changelogs/408.txt
  fastlane/metadata/android/tr-TR/changelogs/410.txt
  fastlane/metadata/android/zh-CN/changelogs/408.txt
  fastlane/metadata/android/zh-CN/changelogs/410.txt
  fastlane/metadata/android/zh-TW/changelogs/408.txt
  fastlane/metadata/android/zh-TW/changelogs/410.txt
Labels: Releases

#8935 EU-Bound Shipping Notice: Add customs description constraints
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/CustomsPackage.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/banner/ShippingNoticeCard.kt
  WooCommerce/src/main/res/layout/shipping_customs_line_list_item.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: shipping labels

#8972 Merge 13.5 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#8962 Insufficient stock status support
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/MapItemToProductUiModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ProductUtils.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModelTest.kt
  build.gradle
Labels: type: enhancement, feature: woo express support

#8958 EU-Bound Shipping Notice: Release feature
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: shipping labels

#8977 Variations: Fix the rotation bug
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
Labels: feature: variation list

#8983 EU-Bound Shipping Notice: Add Tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/banner/ShippingNoticeCard.kt
Labels: type: task, feature: shipping labels

#8984 Subscription variation event
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
Labels: type: enhancement, feature: analytics

#8995 Enable coupons management by default
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/domain/MoreMenuRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/domain/MoreMenuRepositoryTest.kt
  fastlane/resources/values/strings.xml
Labels: feature: coupons

#8968 Privacy screen redesign
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModel.kt
  WooCommerce/src/main/res/layout/fragment_settings_privacy.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: privacy

#8914 [JITM] JITM to Orders
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppConfigModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: feature: jitm

#8974 [TTP] Test TTP on a emulator
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/TapToPayAvailabilityStatus.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/TapToPayAvailabilityStatusTest.kt
Labels: feature: mobile payments

#8990 [STP] Feature flag enabled in debug builds
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: mobile payments

#8978 Add More Privacy Options row
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/icons/OpenInNew.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsScreen.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: privacy

#8996 Issue/8942 business logic google code scanner
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/CodeScannerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/res/layout/order_creation_section.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CodeScannerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: feature: mobile payments

#9014 [FIX] FeedbackPrefs as injectable object
  WooCommerce/src/main/kotlin/com/woocommerce/android/FeedbackPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/AppConfigModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/addons/order/OrderedAddonViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/addons/order/OrderedAddonViewModelTest.kt
Labels: type: technical debt

#8975 [TTP] When tax is added then autorefund doesn't work because amount missmatches
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModelTest.kt
Labels: feature: mobile payments

#9016 Adjust to improved privacy screen design
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsPolicesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsPoliciesScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: privacy

#8980 Support tapping on links
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsPolicesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsPoliciesScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModel.kt
Labels: feature: privacy

#8992 Remove tracking from Analytics switch action in Privacy Screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModel.kt
Labels: type: task, feature: privacy

#9018 Remove check for hasWooCommerce while installing site
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationConst.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/ObserveSiteInstallation.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/installation/ObserveSiteInstallationTest.kt
Labels: type: bug, feature: store creation

#9022 Sort country list alphabetically based on country name
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerViewModel.kt
Labels: type: bug, feature: store creation

#9005 Activate: Remove pre-login notifications
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/WooNotificationBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/localnotifications/LoginHelpNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailPasswordFragment.kt
Labels: feature: login

#9008 [STP] Tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#9029 Merge 13.5 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/410.txt
  fastlane/metadata/android/ar/changelogs/412.txt
  fastlane/metadata/android/de-DE/changelogs/410.txt
  fastlane/metadata/android/de-DE/changelogs/412.txt
  fastlane/metadata/android/en-US/changelogs/410.txt
  fastlane/metadata/android/en-US/changelogs/412.txt
  fastlane/metadata/android/es-ES/changelogs/410.txt
  fastlane/metadata/android/es-ES/changelogs/412.txt
  fastlane/metadata/android/fr-FR/changelogs/410.txt
  fastlane/metadata/android/fr-FR/changelogs/412.txt
  fastlane/metadata/android/id/changelogs/410.txt
  fastlane/metadata/android/id/changelogs/412.txt
  fastlane/metadata/android/it-IT/changelogs/410.txt
  fastlane/metadata/android/it-IT/changelogs/412.txt
  fastlane/metadata/android/iw-IL/changelogs/410.txt
  fastlane/metadata/android/iw-IL/changelogs/412.txt
  fastlane/metadata/android/ja-JP/changelogs/410.txt
  fastlane/metadata/android/ja-JP/changelogs/412.txt
  fastlane/metadata/android/ko-KR/changelogs/410.txt
  fastlane/metadata/android/ko-KR/changelogs/412.txt
  fastlane/metadata/android/nl-NL/changelogs/410.txt
  fastlane/metadata/android/nl-NL/changelogs/412.txt
  fastlane/metadata/android/pt-BR/changelogs/410.txt
  fastlane/metadata/android/pt-BR/changelogs/412.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/410.txt
  fastlane/metadata/android/ru-RU/changelogs/412.txt
  fastlane/metadata/android/sv-SE/changelogs/410.txt
  fastlane/metadata/android/sv-SE/changelogs/412.txt
  fastlane/metadata/android/tr-TR/changelogs/410.txt
  fastlane/metadata/android/tr-TR/changelogs/412.txt
  fastlane/metadata/android/zh-CN/changelogs/410.txt
  fastlane/metadata/android/zh-CN/changelogs/412.txt
  fastlane/metadata/android/zh-TW/changelogs/410.txt
  fastlane/metadata/android/zh-TW/changelogs/412.txt
Labels: Releases

#9030 Merge 13.6 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#8991 [STP] Add scan to pay button to the payment method selection screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewState.kt
  WooCommerce/src/main/res/drawable/ic_baseline_qr_code_scanner.xml
  WooCommerce/src/main/res/layout/fragment_select_payment_method.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
Labels: feature: mobile payments

#9039 fix: crash on trial period calculation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/CalculatePlanRemainingPeriod.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/plans/domain/CalculatePlanRemainingPeriodTest.kt
Labels: type: bug, feature: free trial

#8997 [STP] QR generation composable component
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/QRCode.kt
Labels: feature: mobile payments, compose

#8994 [STP] Adds a screen with QR that encodes sharable payment url
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/QRCode.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SharePaymentUrl.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/scantopay/ScanToPayDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/scantopay/ScanToPayScreen.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
Labels: status: do not merge, feature: mobile payments

#9032 [STP] Remove feature flag. Release Notes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
Labels: feature: mobile payments

#9007 Keep Tracks choice up-to-date with WPCOM
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModelTest.kt
Labels: type: task, feature: privacy

#9045 [FIX] Pass order id so we it doesn't crash in runtime
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
Labels: type: crash

#9012 Activate: Reorganize the notifications code
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/notifications/NotificationsScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/screenshot/ScreenshotTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/notifications/push/FCMMessageService.kt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/NotificationModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NotificationModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Notification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationChannelType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationsProcessingService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/UnseenReviewsCountHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/WooNotificationBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/WooNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LoginHelpNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LoginHelpNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LoginNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/FCMMessageService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/NotificationAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/NotificationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/RegisterDevice.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/domain/MarkAllReviewsAsSeen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/domain/MarkReviewAsSeen.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/model/NotificationTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/notifications/push/NotificationRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/notifications/push/NotificationTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/notifications/push/RegisterDeviceTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/notifications/push/UnseenReviewsCountHandlerTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModelTest.kt
Labels: feature: notifications

#9048 Pass order id so we it doesn't crash in runtime
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
Labels: feature: order details, type: crash, priority: high

#9052 Merge 13.5.1 hotfix into `release/3.6`
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
Labels: Releases

#9043 EU-Bound Shipping Notice: Fix Shipping banner content
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingCustomsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/banner/ShippingNoticeCard.kt
  WooCommerce/src/main/res/layout/shipping_notice_banner.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: bug, feature: shipping labels

#9051 Provide ViewModel by viewModels
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/customfields/CustomOrderFieldsFragment.kt
Labels: type: enhancement

#9044 [STP] Address design feedback
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Buttons.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/scantopay/ScanToPayDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/scantopay/ScanToPayScreen.kt
  WooCommerce/src/main/res/values/styles_base.xml
Labels: category: design, feature: mobile payments

#9024 Core support for creating order with coupon
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/AutoSyncOrder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/AutoSyncPriceModifier.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditionScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditionViewModelTest.kt
  build.gradle
Labels: feature: order creation

#9066 Coupon validation
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/CouponValidator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditionScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditionViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditionViewModelTest.kt
Labels: feature: order creation

#9067 Order with coupon: analytics events tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreateEditViewModelTest.kt
Labels: category: analytics, feature: order creation

#9063 Make login prologue responsive to different text lenghts
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
Labels: type: bug, feature: login

#9028 Parent child products data
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderProduct.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductChildItemListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductItemListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailProductListView.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  build.gradle
Labels: type: enhancement, feature: order details, feature: woo express support

#9072 Added release notes for 13.7
  CHANGELOG.md
Labels: Releases

#9041 Activate: Local notification scheduling
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Notification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationChannelType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationsProcessingService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/WooNotificationBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/WooNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/ConditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LoginHelpNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LoginHelpNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LoginNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
Labels: feature: notifications

#9034 Use new FluxC code to trigger close account API request and handle errors
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/AccountRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/CloseAccountViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/signup/SignUpRepositoryTest.kt
  build.gradle
Labels: type: enhancement, feature: login

#9054 Code scanner UI in the order detail screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreateEditSectionView.kt
  WooCommerce/src/main/res/drawable/ic_barcode.xml
Labels: feature: mobile payments

#9053 Order creation - Integrate search product by SKU for barcode scanning
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreateEditSectionView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModel.kt
  WooCommerce/src/main/res/drawable/ic_barcode.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  build.gradle
Labels: status: do not merge, feature: mobile payments

#9078 Merge 13.6 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/412.txt
  fastlane/metadata/android/ar/changelogs/416.txt
  fastlane/metadata/android/de-DE/changelogs/412.txt
  fastlane/metadata/android/de-DE/changelogs/416.txt
  fastlane/metadata/android/en-US/changelogs/412.txt
  fastlane/metadata/android/en-US/changelogs/416.txt
  fastlane/metadata/android/es-ES/changelogs/412.txt
  fastlane/metadata/android/es-ES/changelogs/416.txt
  fastlane/metadata/android/fr-FR/changelogs/412.txt
  fastlane/metadata/android/fr-FR/changelogs/416.txt
  fastlane/metadata/android/id/changelogs/412.txt
  fastlane/metadata/android/id/changelogs/416.txt
  fastlane/metadata/android/it-IT/changelogs/412.txt
  fastlane/metadata/android/it-IT/changelogs/416.txt
  fastlane/metadata/android/iw-IL/changelogs/412.txt
  fastlane/metadata/android/iw-IL/changelogs/416.txt
  fastlane/metadata/android/ja-JP/changelogs/412.txt
  fastlane/metadata/android/ja-JP/changelogs/416.txt
  fastlane/metadata/android/ko-KR/changelogs/412.txt
  fastlane/metadata/android/ko-KR/changelogs/416.txt
  fastlane/metadata/android/nl-NL/changelogs/412.txt
  fastlane/metadata/android/nl-NL/changelogs/416.txt
  fastlane/metadata/android/pt-BR/changelogs/412.txt
  fastlane/metadata/android/pt-BR/changelogs/416.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/412.txt
  fastlane/metadata/android/ru-RU/changelogs/416.txt
  fastlane/metadata/android/sv-SE/changelogs/412.txt
  fastlane/metadata/android/sv-SE/changelogs/416.txt
  fastlane/metadata/android/tr-TR/changelogs/412.txt
  fastlane/metadata/android/tr-TR/changelogs/416.txt
  fastlane/metadata/android/zh-CN/changelogs/412.txt
  fastlane/metadata/android/zh-CN/changelogs/416.txt
  fastlane/metadata/android/zh-TW/changelogs/412.txt
  fastlane/metadata/android/zh-TW/changelogs/416.txt
Labels: Releases

#9079 Merge 13.7 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#9069 Code scanner UI in the order listing screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/res/menu/menu_order_list_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: status: do not merge, feature: mobile payments

#9031 Composite products hierarchy in order details
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
Labels: type: enhancement, feature: woo express support

#9047 Privacy Choices: Banner UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerScreen.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: privacy

#9076 Activate: Add notification permission request to store creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
Labels: feature: notifications

#9064 Privacy banner presentation logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/IsUsersCountryGdprCompliant.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/ShouldShowPrivacyBanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/TelephonyManagerProvider.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/IsUsersCountryGdprCompliantTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/ShouldShowPrivacyBannerTest.kt
  build.gradle
Labels: feature: privacy

#9070 Sync WPCOM status with Privacy Banner state
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTrackerWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/AppInitializerTest.kt
Labels: type: task, status: do not merge, feature: privacy

#9082 Barcode scanning - Handle failure case
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/CodeScannerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/GoogleCodeScannerErrorMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CodeScannerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/GoogleCodeScannerErrorMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: feature: mobile payments

#9083 Increment product quantity when the same product is scanned more than one time
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
Labels: feature: mobile payments

#9085 Activate: Store creation done local notification
  WooCommerce/src/androidTest/assets/mocks/mappings/wpcom/feature_flags.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/ConditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/summary/StoreCreationSummaryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/summary/StoreCreationSummaryViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: notifications

#9084 Activate: Show "Share" CTA next to ellipsis menu if Save/Publish option is not shown there.
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
Labels: feature: product details

#9092 Privacy Screen: Fix retry button
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTrackerWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModelTest.kt
Labels: feature: privacy

#9093 Privacy Choices: Handle Save CTA
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/ShouldShowPrivacyBanner.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/DeveloperOptionsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/ShouldShowPrivacyBannerTest.kt
Labels: feature: privacy

#9094 Activate: Store creation incomplete notification
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Notification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/iap/CheckIapEligibilityFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/summary/StoreCreationSummaryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_site_picker.xml
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModelTest.kt
Labels: feature: notifications

#9086 Issue/expand collapse grouped products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderProduct.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductItemListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailProductListView.kt
  WooCommerce/src/main/res/layout/order_detail_product_group_item.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/OrderProductMapperTest.kt
Labels: type: enhancement, feature: order details

#9102 Feature/9080 share store my store tab
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/res/drawable/ic_share_24dp.xml
  WooCommerce/src/main/res/menu/menu_my_store_fragment.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: store onboarding

#9110 Analytics for scanned and deliver
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/UIMessageResolver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/res/drawable/ic_barcode.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#9113 [FIX] Order editing crash after activity death
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/OrderEditingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailCustomerInfoView.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
Labels: type: crash

#9125 Scanned and deliver final PR to turn off the feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/IsAddProductViaBarcodeScanningEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: mobile payments

#9106 Activate: 1 day after trial expiration notification
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/StoreInstallationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/StoreInstallationViewModelTest.kt
Labels: feature: notifications

#9107 Privacy Banner: handle Settings CTA
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/RequestedAnalyticsValue.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ActivityUtils.kt
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
Labels: feature: privacy

#9116 Privacy Choices: fix phone carrier returning lowercase country code
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/IsUsersCountryGdprCompliant.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/IsUsersCountryGdprCompliantTest.kt
Labels: type: bug, feature: privacy

#9117 Privacy Screen: update copy and links
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/PrivacySettingsViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: privacy

#9120 feat: make Privacy Banner undismissable
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerFragment.kt
Labels: feature: privacy

#9122 Privacy Choices: clear if user selected shared preferences choice on log out
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
Labels: type: bug, feature: privacy

#9124 Add Privacy Banner analytics events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerViewModel.kt
Labels: type: task, feature: privacy

#9098 [STP] Set max screen brightness on ScanToPayDialogFragment
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ActivityExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/scantopay/ScanToPayDialogFragment.kt
Labels: feature: mobile payments

#9108 [UI Tests] Refactored `e2eCreateOrderTest`.
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/2201/2201_detailed.json
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/orders/orders_create_simple_product.json
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/util/DataClasses.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/SingleOrderScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersUITest.kt
Labels: category: ui tests

#9129 Track barcode format when the product search via SKU fails
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/CodeScannerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/GoogleBarcodeFormatMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CodeScannerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/GoogleBarcodeFormatMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: feature: mobile payments, feature: analytics

#9075 Add new prop to `ORDER_CREATION_SUCCESS` event
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
Labels: category: analytics, feature: order creation

#9128 Added release notes for 13.8
  CHANGELOG.md
Labels: Releases

#9127 Feature/9080 refactor to include site visibility
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  build.gradle
Labels: feature: store onboarding

#9134 Fix/hide banner after plan upgrade
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/dispatcher/PlanUpgradeStartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/dispatcher/PlanUpgradeStartViewModelTest.kt
Labels: feature: store onboarding

#9137 Privacy Choices: do not crash on empty ip code
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/IsUsersCountryGdprCompliant.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/domain/IsUsersCountryGdprCompliantTest.kt
Labels: type: bug, priority: high

#9138 Merge 13.7 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/416.txt
  fastlane/metadata/android/ar/changelogs/418.txt
  fastlane/metadata/android/de-DE/changelogs/416.txt
  fastlane/metadata/android/de-DE/changelogs/418.txt
  fastlane/metadata/android/en-US/changelogs/416.txt
  fastlane/metadata/android/en-US/changelogs/418.txt
  fastlane/metadata/android/es-ES/changelogs/416.txt
  fastlane/metadata/android/es-ES/changelogs/418.txt
  fastlane/metadata/android/fr-FR/changelogs/416.txt
  fastlane/metadata/android/fr-FR/changelogs/418.txt
  fastlane/metadata/android/id/changelogs/416.txt
  fastlane/metadata/android/id/changelogs/418.txt
  fastlane/metadata/android/it-IT/changelogs/416.txt
  fastlane/metadata/android/it-IT/changelogs/418.txt
  fastlane/metadata/android/iw-IL/changelogs/416.txt
  fastlane/metadata/android/iw-IL/changelogs/418.txt
  fastlane/metadata/android/ja-JP/changelogs/416.txt
  fastlane/metadata/android/ja-JP/changelogs/418.txt
  fastlane/metadata/android/ko-KR/changelogs/416.txt
  fastlane/metadata/android/ko-KR/changelogs/418.txt
  fastlane/metadata/android/nl-NL/changelogs/416.txt
  fastlane/metadata/android/nl-NL/changelogs/418.txt
  fastlane/metadata/android/pt-BR/changelogs/416.txt
  fastlane/metadata/android/pt-BR/changelogs/418.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/416.txt
  fastlane/metadata/android/ru-RU/changelogs/418.txt
  fastlane/metadata/android/sv-SE/changelogs/416.txt
  fastlane/metadata/android/sv-SE/changelogs/418.txt
  fastlane/metadata/android/tr-TR/changelogs/416.txt
  fastlane/metadata/android/tr-TR/changelogs/418.txt
  fastlane/metadata/android/zh-CN/changelogs/416.txt
  fastlane/metadata/android/zh-CN/changelogs/418.txt
  fastlane/metadata/android/zh-TW/changelogs/416.txt
  fastlane/metadata/android/zh-TW/changelogs/418.txt
Labels: Releases

#9140 Merge 13.8 code freeze into trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#9023 [JITM] Add possibility to stub response with locally provided json for testing
  WooCommerce/build.gradle
  WooCommerce/src/debug/assets/jitm_testing.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmStoreWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/jitm/JitmStoreWrapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/jitm/JitmViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/WooLog.kt
Labels: feature: jitm

#9155 fix: make privacy banner scrollable
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/privacy/banner/PrivacyBannerScreen.kt
Labels: type: bug, feature: privacy
