Repository woocommerce/woocommerce-android, pull requests merged in 2023-03, with the labels that each got.

#8380 [Support Requests] Integrate Support Request Form UI with Zendesk API rules
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModelTest.kt
Labels: feature: support

#8363 IPP: Reduce size of CardReaderPaymentsViewModel
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentOrderHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentReaderTypeStateProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentReceiptHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentViewModelEvent.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentOrderHelperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentReaderTypeStateProviderTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentReceiptHelperTest.kt
Labels: type: technical debt, feature: mobile payments

#8429 Domain change: Admin access check
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainDashboardScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainDashboardViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store onboarding

#8430 Fix crash when `adminUrl` is missing
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/JetpackInstallProgressDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/error/notwoo/LoginNotWooViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundViewModel.kt
Labels: type: crash, feature: REST API

#8421 [REST API] handle WordPress.com connection for sites already connected to Jetpack
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/GoToStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/JetpackActivationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/dispatcher/JetpackActivationDispatcherFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/dispatcher/JetpackActivationDispatcherViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComPasswordFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComPasswordViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComPostLoginViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_jetpack_activation.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
Labels: type: enhancement, status: do not merge, status: feature-flagged, feature: REST API

#8438 Update GitHub issue templates.
  .github/ISSUE_TEMPLATE/Enhancement.md
  .github/ISSUE_TEMPLATE/Feature_request.md
Labels: type: task

#8444 Domain change: Analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainDashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainPurchaseViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainSearchViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/FreeDomainRegistrationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/PurchaseSuccessfulViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store onboarding

#8418 TTP: Order creation from TTP summary screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModelTest.kt
Labels: feature: mobile payments

#8437 feat: enable Java 8+ API desugaring support
  WooCommerce/build.gradle
Labels: type: enhancement

#8432 [Support Requests] Remove dropped ticket sections
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/res/layout/activity_help.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: support

#8448 Create new stores private by default
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationRepository.kt
Labels: type: bug, feature: store creation

#8455 [Support Requests] Fully enable support request form and remove Feature Flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/SupportModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModelTest.kt
Labels: feature: support

#8443 Refactor of ProductSelectorViewModel's selection result data model
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/CouponRestrictionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/CouponRestrictionsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_coupons.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_selector.xml
Labels: feature: coupons, feature: order creation

#8461 Added release notes for 12.6
  CHANGELOG.md
Labels: Releases

#8453 Update the theme used to create new stores
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/plans/PlansViewModel.kt
Labels: type: enhancement, feature: store creation

#8447 REST API: Magic Link for WordPress.com authentication, Part 1
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkProperties.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WPComLoginRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/components/UserInfo.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationMagicLinkRequestFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationMagicLinkRequestScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationMagicLinkRequestViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComEmailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComEmailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComPasswordFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComPasswordScreen.kt
  WooCommerce/src/main/res/navigation/nav_graph_jetpack_activation.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: type: enhancement, status: feature-flagged, feature: REST API

#8468 Merge release/12.5 into trunk (`final`)
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/JetpackInstallProgressDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/error/notwoo/LoginNotWooViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/387.txt
  fastlane/metadata/android/ar/changelogs/389.txt
  fastlane/metadata/android/de-DE/changelogs/387.txt
  fastlane/metadata/android/de-DE/changelogs/389.txt
  fastlane/metadata/android/es-ES/changelogs/387.txt
  fastlane/metadata/android/es-ES/changelogs/389.txt
  fastlane/metadata/android/fr-FR/changelogs/387.txt
  fastlane/metadata/android/fr-FR/changelogs/389.txt
  fastlane/metadata/android/id/changelogs/387.txt
  fastlane/metadata/android/id/changelogs/389.txt
  fastlane/metadata/android/it-IT/changelogs/387.txt
  fastlane/metadata/android/it-IT/changelogs/389.txt
  fastlane/metadata/android/iw-IL/changelogs/387.txt
  fastlane/metadata/android/iw-IL/changelogs/389.txt
  fastlane/metadata/android/ja-JP/changelogs/387.txt
  fastlane/metadata/android/ja-JP/changelogs/389.txt
  fastlane/metadata/android/ko-KR/changelogs/387.txt
  fastlane/metadata/android/ko-KR/changelogs/389.txt
  fastlane/metadata/android/nl-NL/changelogs/387.txt
  fastlane/metadata/android/nl-NL/changelogs/389.txt
  fastlane/metadata/android/pt-BR/changelogs/387.txt
  fastlane/metadata/android/pt-BR/changelogs/389.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/387.txt
  fastlane/metadata/android/ru-RU/changelogs/389.txt
  fastlane/metadata/android/sv-SE/changelogs/387.txt
  fastlane/metadata/android/sv-SE/changelogs/389.txt
  fastlane/metadata/android/tr-TR/changelogs/387.txt
  fastlane/metadata/android/tr-TR/changelogs/389.txt
  fastlane/metadata/android/zh-CN/changelogs/387.txt
  fastlane/metadata/android/zh-CN/changelogs/389.txt
  fastlane/metadata/android/zh-TW/changelogs/387.txt
  fastlane/metadata/android/zh-TW/changelogs/389.txt
Labels: Releases

#8477 Domain change: Remove feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/domain/DomainSuggestionsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: store onboarding

#8481 [Support Requests] Replace jetpack tag with WCPay tag from ipp ticket
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
Labels: feature: support

#8484 [Build] Remove Gradle Enterprise from Project
  build.gradle
  config/gradle/gradle_build_cache.gradle
  config/gradle/gradle_build_scan.gradle
  settings.gradle
Labels: category: tooling

#8478 Merge release/12.6-rc-1 into trunk (`beta`)
  Gemfile
  Gemfile.lock
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/domain/DomainSuggestionsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#8426 TTP: Test payment collection flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsFragmentViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModelTest.kt
Labels: feature: mobile payments

#8480 [Support Requests] Add tracks to support request form
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModelTest.kt
Labels: feature: support

#8493 [REST API] Fixes to the home widget
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/GetWidgetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/TodayStatsWidgetUIHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/appwidgets/stats/GetWidgetStatsTest.kt
Labels: type: bug, feature: Widgets, feature: REST API

#8486 [Support Requests] [Beta fix] Fix support request form dark mode
  WooCommerce/src/main/res/layout/activity_support_request_form.xml
Labels: type: bug, feature: support

#8500 Merge release/12.6-rc-2 into trunk (`beta`)
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/GetWidgetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/TodayStatsWidgetUIHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/main/res/layout/activity_support_request_form.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/appwidgets/stats/GetWidgetStatsTest.kt
Labels: Releases

#8498 Analytics hub survey banner
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackBanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackSurveyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/feedback_banner.xml
  WooCommerce/src/main/res/layout/fragment_analytics.xml
  WooCommerce/src/main/res/values/attrs.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
Labels: feature: send feedback, feature: analytics

#8499 Analytics hub feedback banner tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
Labels: feature: send feedback, feature: analytics

#8513 Update all instances of `bash-cache` to `ci-toolkit`
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: category: tooling

#8506 Unit test analytic hub track events
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
Labels: type: enhancement, feature: analytics

#8483 Hackweek: Fix toolbar color
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ChromeCustomTabUtils.kt
Labels: type: technical debt

#8515 Issue/8514 restore rest api tag
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
Labels: type: bug, priority: high, feature: support, feature: REST API

#8482 IPP feedback survey bug fix
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/GetIPPFeedbackBannerData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/ShouldShowFeedbackBanner.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/GetIPPFeedbackBannerDataTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/ShouldShowFeedbackBannerTest.kt
  build.gradle
Labels: type: bug, feature: mobile payments

#8516 [Mobile Payments] Missing datewords on error message
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: type: bug, feature: mobile payments

#8470 [REST API] Magic Link for WordPress.com authentication - part 2
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkInterceptViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/MagicLinkProperties.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/JetpackActivationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationMagicLinkHandlerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationMagicLinkHandlerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationMagicLinkHandlerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComPostLoginViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_jetpack_activation.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, status: feature-flagged, feature: REST API

#8523 Added release notes for 12.7
  CHANGELOG.md
Labels: Releases

#8530 Merge release/12.6 into trunk (`final`)
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/Fastfile
  fastlane/metadata/android/ar/changelogs/389.txt
  fastlane/metadata/android/ar/changelogs/392.txt
  fastlane/metadata/android/de-DE/changelogs/389.txt
  fastlane/metadata/android/de-DE/changelogs/392.txt
  fastlane/metadata/android/en-US/changelogs/392.txt
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/short_description.txt
  fastlane/metadata/android/en-US/title.txt
  fastlane/metadata/android/es-ES/changelogs/389.txt
  fastlane/metadata/android/es-ES/changelogs/392.txt
  fastlane/metadata/android/fr-FR/changelogs/389.txt
  fastlane/metadata/android/fr-FR/changelogs/392.txt
  fastlane/metadata/android/id/changelogs/389.txt
  fastlane/metadata/android/id/changelogs/392.txt
  fastlane/metadata/android/it-IT/changelogs/389.txt
  fastlane/metadata/android/it-IT/changelogs/392.txt
  fastlane/metadata/android/iw-IL/changelogs/389.txt
  fastlane/metadata/android/iw-IL/changelogs/392.txt
  fastlane/metadata/android/ja-JP/changelogs/389.txt
  fastlane/metadata/android/ja-JP/changelogs/392.txt
  fastlane/metadata/android/ko-KR/changelogs/389.txt
  fastlane/metadata/android/ko-KR/changelogs/392.txt
  fastlane/metadata/android/nl-NL/changelogs/389.txt
  fastlane/metadata/android/nl-NL/changelogs/392.txt
  fastlane/metadata/android/pt-BR/changelogs/389.txt
  fastlane/metadata/android/pt-BR/changelogs/392.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/389.txt
  fastlane/metadata/android/ru-RU/changelogs/392.txt
  fastlane/metadata/android/sv-SE/changelogs/389.txt
  fastlane/metadata/android/sv-SE/changelogs/392.txt
  fastlane/metadata/android/tr-TR/changelogs/389.txt
  fastlane/metadata/android/tr-TR/changelogs/392.txt
  fastlane/metadata/android/zh-CN/changelogs/389.txt
  fastlane/metadata/android/zh-CN/changelogs/392.txt
  fastlane/metadata/android/zh-TW/changelogs/389.txt
  fastlane/metadata/android/zh-TW/changelogs/392.txt
Labels: Releases

#8535 Merge release/12.7-rc-1 into trunk (`beta`)
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#8517 [Mobile Payments] Do use full screen input for simple payments amount input
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/layout/dialog_simple_payments.xml
Labels: type: bug, feature: mobile payments

#8435 TTP: Moves the reader type selection from the dialog to the payment method selection screen
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/PaymentSelectionScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/CardReaderTypeSelectionDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/CardReaderTypeSelectionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderWelcomeDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderWelcomeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModel.kt
  WooCommerce/src/main/res/drawable-hdpi/img_ipp_reader_type_selection.webp
  WooCommerce/src/main/res/drawable-night-hdpi/img_ipp_reader_type_selection.webp
  WooCommerce/src/main/res/drawable-night-xhdpi/img_ipp_reader_type_selection.webp
  WooCommerce/src/main/res/drawable-night-xxhdpi/img_ipp_reader_type_selection.webp
  WooCommerce/src/main/res/drawable-night-xxxhdpi/img_ipp_reader_type_selection.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_ipp_reader_type_selection.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_ipp_reader_type_selection.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_ipp_reader_type_selection.webp
  WooCommerce/src/main/res/drawable/ic_gridicons_link_on_surface.xml
  WooCommerce/src/main/res/layout/card_reader_type_selection_dialog.xml
  WooCommerce/src/main/res/layout/fragment_select_payment_method.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/CardReaderTypeSelectionViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderWelcomeViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
Labels: feature: mobile payments

#8475 Integrate `ProductSelectorFragment` into Order creation
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersUITest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreateEditProductSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreateEditProductSelectionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/variations/OrderCreateEditVariationSelectionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/variations/OrderCreateEditVariationSelectionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/products/OrderCreateEditProductSelectionViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/variations/OrderCreateEditVariationSelectionViewModelTest.kt
Labels: feature: order creation, feature: order editing

#8519 8518/update order creation UI test
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/OrderSelectProductScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/ProductSelectorScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/UnifiedOrderScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersUITest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorFragment.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_product_selection.xml
  WooCommerce/src/main/res/values/ids.xml
Labels: feature: order creation

#8489 [HACK Week] Adjust Zendesk contact information setup
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/SupportModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/SupportHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModelTest.kt
Labels: type: enhancement, feature: support

#8529 Order onboarding tasks according to mobile designs
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
Labels: type: enhancement, feature: store onboarding

#8546 Domains: Domain search UI tweaks
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/domain/DomainSuggestionsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainDashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainDashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainSearchViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_domain_change.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store creation, feature: store onboarding

#8512 [HACK Week] Separate zendesk code responsabilities
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/SupportModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskTicketRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/AccountRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/push/NotificationMessageHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModelTest.kt
Labels: type: enhancement, feature: support

#8545 `ProductSelector` - filter out redundant products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_coupons.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_selector.xml
Labels: feature: coupons, feature: order creation, feature: order editing

#8553 Fix `OrdersUITest` compose test rule
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/ProductSelectorScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersUITest.kt
Labels: feature: order creation

#8552 Issue/8551 zendesk tag login issues
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
Labels: type: enhancement, feature: support, feature: REST API

#8379 Free Trial status bar
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/FreeTrialExpiryDateResult.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/SitePlan.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/networking/SitePlanRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/repository/SitePlanRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/DetermineTrialStatusBarState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/SiteFreeTrialExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/TrialStatusBarFormatter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/TrialStatusBarFormatterFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WooClickableSpan.kt
  WooCommerce/src/main/res/layout/activity_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/wc_colors_base.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
Labels: type: task, feature: free trial

#8520 [HACK Week] Improve Support Request form error and identity handling
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/FCMMessageService.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskTicketRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/push/NotificationMessageHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModelTest.kt
Labels: type: enhancement, feature: support

#8509 Group analytics hub information section
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/layout/analytics_information_section_view.xml
  WooCommerce/src/main/res/layout/analytics_list_card_view.xml
Labels: category: accessibility, feature: analytics

#8534 Free Trial: Upgrades screen UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/domain/MoreMenuRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModel.kt
  WooCommerce/src/main/res/drawable/ic_more_menu_upgrades.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: free trial

#8540 [TTP] Save if TTP payment method was selected at least once
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
Labels: feature: mobile payments

#8507 Feature/8425 launch store screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Tag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: store onboarding

#8466 TTP: Adds handling of ttp universal link to the app
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/ResolveAppLink.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/tutorial/CardReaderTutorialDialogFragment.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/ResolveAppLinkTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/detail/CardReaderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderWelcomeViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
Labels: feature: mobile payments

#8562 [REST API] Improve login error messages, and tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WPApiSiteRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
  build.gradle
Labels: type: enhancement, feature: REST API

#8542 Free Trial: show upgrades data and handle subscription upgrade
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/di/StartUpgradeFlowFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/di/TrialStatusBarFormatterFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/CalculateRemainingTrialPeriod.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/FreeTrialConsts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/SitePlan.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/StartUpgradeFlow.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/networking/SitePlanRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/repository/SitePlanRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/DetermineTrialStatusBarState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/SiteFreeTrialExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/TrialStatusBarFormatter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/TrialStatusBarFormatterFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: free trial

#8556 Free Trial: Support report subscription issue action
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/ZendeskTicketRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpOrigin.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModelTest.kt
Labels: type: task, feature: free trial

#8567 Free Trial: subscription settings tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/TrialStatusBarFormatter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModelTest.kt
Labels: type: task, feature: free trial

#8555 Fix cut-off avatar
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuScreen.kt
Labels: type: bug

#8575 Added release notes for 12.8
  CHANGELOG.md
Labels: Releases

#8528 Feature/8425 launch store error handling
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: store onboarding

#8577 Remove Free Trial M1 feature flag
  CHANGELOG.md
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/domain/MoreMenuRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: free trial

#8580 Merge release/12.8-rc-1 into trunk (`beta`)
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#8581 feat: update release notes
  CHANGELOG.md
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#8594 [FIX] Clear preferences before each test to make them order independent
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
Labels: category: ui tests

#8536 Store creation: Fix site preview
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/WebView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/InstallationViewModelTest.kt
Labels: feature: store creation

#8537 [HACK Week] Enable and add Zendesk code unit test coverage
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/SupportModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/help/HelpViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/zendesk/ZendeskEnvironmentDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/zendesk/ZendeskSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/support/zendesk/ZendeskTicketRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/AccountRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/ZendeskTicketRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/help/HelpViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/support/requests/SupportRequestFormViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModelTest.kt
Labels: feature: support

#8584 Onboarding: Domain change task
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: feature: store onboarding

#8609 Use a single free trial extension function
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/DetermineTrialStatusBarState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/SiteFreeTrialExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModel.kt
Labels: feature: store onboarding, feature: free trial

#8615 Shipping Labels: Require phone number for origin address
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelAddressViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelAddressValidator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelsStateMachine.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/CreateShippingLabelViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelAddressViewModelTest.kt
Labels: type: bug, priority: high, feature: shipping labels

#8619 Urgent: Fix WP API root endpoint deserialization
  build.gradle
Labels: type: bug, feature: REST API

#8625 Refresh onboarding list on My store on resume and on pull to refresh
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: store onboarding

#8617 Free Trial: Support non free trial expired plan in Subscription view
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/CalculatePlanRemainingPeriod.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/DetermineTrialStatusBarState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModelTest.kt
Labels: type: task, feature: free trial

#8549 Update site creation flow. Create a Free Trial site.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationErrorType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/networking/SitePlanRestClient.kt
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
  build.gradle
Labels: type: task, feature: free trial

#8631 Open product screen when onboarding task add product is clicked
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: feature: store onboarding

#8554 Issue/8389 subscriptions in product details screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Subscription.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionDetails.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionDetailsMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionPeriod.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailSubscriptionListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSubscriptionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/res/layout/fragment_product_subscription.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/SubscriptionDetailsMapperTest.kt
Labels: feature: product details, feature: hosted woo support

#8637 Disable IAP everywhere
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: store creation

#8627 [Product Selector] Fix stock status and stock quantity displaying
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorViewModel.kt
Labels: feature: product selector

#8526 [Mobile Payments] JITMs action should be able to handle universal links
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jitm/JitmClickHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/ResolveAppLink.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/ResolveAppLinkTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: mobile payments

#8511 Talkback list content description
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/listcard/AnalyticsHubListCardItemView.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: category: accessibility, feature: analytics

#8596 [REST API] Show JP banner and simplified JP dialog for REST API logins
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/benefits/JetpackBenefitsDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/benefits/JetpackBenefitsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/benefits/JetpackBenefitsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: REST API

#8634 Feature/8533 onboarding list miscellaneus
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
Labels: feature: store onboarding

#8643 Added release notes 12.9
  CHANGELOG.md
Labels: Releases

#8638 Onboarding: Get paid task
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store onboarding

#8645 Enable onboarding list for relase builds too
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: store onboarding

#8582 Store creation: Set "coming soon" as default status
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/plans/PlansViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/PlansViewModelTest.kt
  build.gradle
Labels: feature: store creation

#8647 Merge release/12.9-rc-1 into trunk (`beta`)
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#8630 Subscription events
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationNavigator.kt
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModelTest.kt
  build.gradle
Labels: feature: analytics, feature: hosted woo support

#8622 Only used metadata in product variations model
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionDetailsMapper.kt
  build.gradle
Labels: type: enhancement, feature: product details

#8664 Update gradle.property.enc file with newly added property in there
  .configure
  .configure-files/gradle.properties.enc
Labels: category: tooling

#8659 Support subscription renewal orders
  WooCommerce/src/main/kotlin/com/woocommerce/android/network/subscription/SubscriptionRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/subscription/SubscriptionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/GetOrderSubscriptions.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  build.gradle
Labels: feature: order details, feature: hosted woo support

#8650 Free Trial: Skip the domain picker view when the Free Trial feature flag is activate
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerFragment.kt
Labels: type: bug, feature: free trial

#8632 Free Trial: Adjust free trial banner UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/di/TrialStatusBarFormatterFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/TrialStatusBarFormatter.kt
  WooCommerce/src/main/res/layout/activity_main.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: free trial

#8633 [TTP] Revisit text and illustration on TTP flows m2
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/PaymentSelectionScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/res/drawable-hdpi/img_card_reader_tpp_collecting_payment.webp
  WooCommerce/src/main/res/drawable-hdpi/img_card_reader_tpp_connecting.webp
  WooCommerce/src/main/res/drawable-hdpi/img_card_reader_tpp_payment_failed.webp
  WooCommerce/src/main/res/drawable-hdpi/img_card_reader_tpp_successful_payment.webp
  WooCommerce/src/main/res/drawable-night-hdpi/img_card_reader_tpp_collecting_payment.webp
  WooCommerce/src/main/res/drawable-night-hdpi/img_card_reader_tpp_connecting.webp
  WooCommerce/src/main/res/drawable-night-hdpi/img_card_reader_tpp_payment_failed.webp
  WooCommerce/src/main/res/drawable-night-hdpi/img_card_reader_tpp_successful_payment.webp
  WooCommerce/src/main/res/drawable-night-xhdpi/img_card_reader_tpp_collecting_payment.webp
  WooCommerce/src/main/res/drawable-night-xhdpi/img_card_reader_tpp_connecting.webp
  WooCommerce/src/main/res/drawable-night-xhdpi/img_card_reader_tpp_payment_failed.webp
  WooCommerce/src/main/res/drawable-night-xhdpi/img_card_reader_tpp_successful_payment.webp
  WooCommerce/src/main/res/drawable-night-xxhdpi/img_card_reader_tpp_collecting_payment.webp
  WooCommerce/src/main/res/drawable-night-xxhdpi/img_card_reader_tpp_connecting.webp
  WooCommerce/src/main/res/drawable-night-xxhdpi/img_card_reader_tpp_payment_failed.webp
  WooCommerce/src/main/res/drawable-night-xxhdpi/img_card_reader_tpp_successful_payment.webp
  WooCommerce/src/main/res/drawable-night-xxxhdpi/img_card_reader_tpp_collecting_payment.webp
  WooCommerce/src/main/res/drawable-night-xxxhdpi/img_card_reader_tpp_connecting.webp
  WooCommerce/src/main/res/drawable-night-xxxhdpi/img_card_reader_tpp_payment_failed.webp
  WooCommerce/src/main/res/drawable-night-xxxhdpi/img_card_reader_tpp_successful_payment.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_card_reader_tpp_collecting_payment.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_card_reader_tpp_connecting.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_card_reader_tpp_payment_failed.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_card_reader_tpp_successful_payment.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_card_reader_tpp_collecting_payment.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_card_reader_tpp_connecting.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_card_reader_tpp_payment_failed.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_card_reader_tpp_successful_payment.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_card_reader_tpp_collecting_payment.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_card_reader_tpp_connecting.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_card_reader_tpp_payment_failed.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_card_reader_tpp_successful_payment.webp
  WooCommerce/src/main/res/drawable/ic_baseline_contactless.xml
  WooCommerce/src/main/res/drawable/ic_gridicons_credit_card.xml
  WooCommerce/src/main/res/layout/fragment_select_payment_method.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: mobile payments

#8467 [REST API] OTP login functionality for Jetpack connection
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPCom2FAFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPCom2FAScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPCom2FAViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, status: feature-flagged, feature: REST API

#8641 Free Trial: Update the log in / get started screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginPrologueFragment.kt
  WooCommerce/src/main/res/layout-land/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout-sw600dp/fragment_login_prologue.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/styles_base.xml
Labels: type: task, status: do not merge, feature: free trial

#8618 REST API: Web Authorization
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/WebView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WPApiSiteRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
Labels: type: enhancement, status: do not merge, feature: REST API

#8681 [UI Tests] Added "Products Search by SKU" e2e test
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/ProductListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductsRealAPI.kt
Labels: category: ui tests

#8682 [UI Tests] Added "Products Filter" e2e test
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/util/Screen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/ProductFilterScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/ProductListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductsRealAPI.kt
Labels: category: ui tests

#8608 [TTP] Add tracking to the m2 flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/hub/CardReaderHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/statuschecker/CardReaderStatusCheckerViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModelTest.kt
Labels: category: analytics, feature: mobile payments

#8679 Variation list read only mode
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: variation list, feature: hosted woo support

#8674 [TTP] Add BETA feature toggle only
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/IsTapToPayAvailable.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/IsTapToPayAvailableTest.kt
Labels: feature: mobile payments

#8440 Issue/8381 display subscription in order details
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Subscription.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionDetails.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionDetailsMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionPeriod.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionProductVariation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/network/subscription/SubscriptionRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/subscription/SubscriptionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/SubscriptionStatusTag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/GetOrderSubscriptions.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailSubscriptionListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailSubscriptionListView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSubscriptionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationNavigator.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/layout/fragment_product_subscription.xml
  WooCommerce/src/main/res/layout/order_detail_subscription_list.xml
  WooCommerce/src/main/res/layout/order_detail_subscription_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/SubscriptionDetailsMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModelTest.kt
  build.gradle
Labels: feature: order details, feature: hosted woo support

#8676 Onboarding: Launch task UI fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/InstallationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerScreen.kt
Labels: type: enhancement

#8689 [UI Tests] Added 3 new Products search e2e tests that are using real WPCOM API.
  .configure
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/MockingInterceptor.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/util/DataClasses.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/util/Screen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/moremenu/MoreMenuScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/ProductFilterScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/ProductListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductsRealAPI.kt
  gradle.properties-example
Labels: category: ui tests

#8694 [UI Tests] Added "Products Sort" test.
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/ProductListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductsRealAPI.kt
Labels: category: ui tests

#8672 Feature/8635 onboarding tracking part ii
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainDashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainFlowSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainPurchaseViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainSearchViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/FreeDomainRegistrationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/FreeDomainRegistrationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/PurchaseSuccessfulViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AddProductSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductTypesBottomSheetViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_domain_change.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
Labels: category: analytics, feature: store onboarding

#8695 Popup to my store tab when navigating back from onboarding tasks
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: feature: store onboarding

#8705 Merge release/12.9 into trunk (`final`)
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/WebView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WPApiSiteRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
  fastlane/metadata/android/ar/changelogs/396.txt
  fastlane/metadata/android/ar/changelogs/398.txt
  fastlane/metadata/android/de-DE/changelogs/396.txt
  fastlane/metadata/android/de-DE/changelogs/398.txt
  fastlane/metadata/android/en-US/changelogs/396.txt
  fastlane/metadata/android/en-US/changelogs/398.txt
  fastlane/metadata/android/es-ES/changelogs/396.txt
  fastlane/metadata/android/es-ES/changelogs/398.txt
  fastlane/metadata/android/fr-FR/changelogs/396.txt
  fastlane/metadata/android/fr-FR/changelogs/398.txt
  fastlane/metadata/android/id/changelogs/396.txt
  fastlane/metadata/android/id/changelogs/398.txt
  fastlane/metadata/android/it-IT/changelogs/396.txt
  fastlane/metadata/android/it-IT/changelogs/398.txt
  fastlane/metadata/android/iw-IL/changelogs/396.txt
  fastlane/metadata/android/iw-IL/changelogs/398.txt
  fastlane/metadata/android/ja-JP/changelogs/396.txt
  fastlane/metadata/android/ja-JP/changelogs/398.txt
  fastlane/metadata/android/ko-KR/changelogs/396.txt
  fastlane/metadata/android/ko-KR/changelogs/398.txt
  fastlane/metadata/android/nl-NL/changelogs/396.txt
  fastlane/metadata/android/nl-NL/changelogs/398.txt
  fastlane/metadata/android/pt-BR/changelogs/396.txt
  fastlane/metadata/android/pt-BR/changelogs/398.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/396.txt
  fastlane/metadata/android/ru-RU/changelogs/398.txt
  fastlane/metadata/android/sv-SE/changelogs/396.txt
  fastlane/metadata/android/sv-SE/changelogs/398.txt
  fastlane/metadata/android/tr-TR/changelogs/396.txt
  fastlane/metadata/android/tr-TR/changelogs/398.txt
  fastlane/metadata/android/zh-CN/changelogs/396.txt
  fastlane/metadata/android/zh-CN/changelogs/398.txt
  fastlane/metadata/android/zh-TW/changelogs/396.txt
  fastlane/metadata/android/zh-TW/changelogs/398.txt
Labels: Releases

#8707 Added release notes for 13.0
  CHANGELOG.md
Labels: Releases

#8706 feat: introduce PlanUpgradeStartFragment to handle upgrade plan logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/dispatcher/PlanUpgradeStartFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/dispatcher/PlanUpgradeStartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/StartUpgradeFlow.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/TrialStatusBarFormatter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/upgrades/UpgradesViewModelTest.kt
Labels: type: bug, feature: free trial

#8710 Merge release/13.0-rc-1 into trunk (`beta`)
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases
