Repository woocommerce/woocommerce-android, pull requests merged in 2023-12, with the labels that each got.

#10271 Enhance UI for not synced order items
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/ExpandableProductCard.kt
Labels: type: enhancement, feature: order creation

#10309 Merge 16.4 final into trunk
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionDetailsMapper.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/478.txt
  fastlane/metadata/android/ar/changelogs/480.txt
  fastlane/metadata/android/de-DE/changelogs/478.txt
  fastlane/metadata/android/de-DE/changelogs/480.txt
  fastlane/metadata/android/en-US/changelogs/478.txt
  fastlane/metadata/android/en-US/changelogs/480.txt
  fastlane/metadata/android/es-ES/changelogs/478.txt
  fastlane/metadata/android/es-ES/changelogs/480.txt
  fastlane/metadata/android/fr-FR/changelogs/478.txt
  fastlane/metadata/android/fr-FR/changelogs/480.txt
  fastlane/metadata/android/id/changelogs/478.txt
  fastlane/metadata/android/id/changelogs/480.txt
  fastlane/metadata/android/it-IT/changelogs/478.txt
  fastlane/metadata/android/it-IT/changelogs/480.txt
  fastlane/metadata/android/iw-IL/changelogs/478.txt
  fastlane/metadata/android/iw-IL/changelogs/480.txt
  fastlane/metadata/android/ja-JP/changelogs/478.txt
  fastlane/metadata/android/ja-JP/changelogs/480.txt
  fastlane/metadata/android/ko-KR/changelogs/478.txt
  fastlane/metadata/android/ko-KR/changelogs/480.txt
  fastlane/metadata/android/nl-NL/changelogs/478.txt
  fastlane/metadata/android/pt-BR/changelogs/478.txt
  fastlane/metadata/android/pt-BR/changelogs/480.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/478.txt
  fastlane/metadata/android/ru-RU/changelogs/480.txt
  fastlane/metadata/android/sv-SE/changelogs/478.txt
  fastlane/metadata/android/sv-SE/changelogs/480.txt
  fastlane/metadata/android/tr-TR/changelogs/478.txt
  fastlane/metadata/android/tr-TR/changelogs/480.txt
  fastlane/metadata/android/zh-CN/changelogs/478.txt
  fastlane/metadata/android/zh-CN/changelogs/480.txt
  fastlane/metadata/android/zh-TW/changelogs/478.txt
  fastlane/metadata/android/zh-TW/changelogs/480.txt
  version.properties
Labels: Releases

#10297 [Extensions] Define Order Gift Card feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: order creation

#10314 Use correct versioning calculator
  fastlane/Fastfile
Labels: category: tooling

#10268 Fix MediaModel#url NPE crash
  build.gradle
Labels: type: crash, feature: product details

#10312 Merge 16.5 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  fastlane/Fastfile
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#10307 [Barcode Scanning] Excessive resource usage in barcodescanner
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScannerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScanningFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScanningViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/GoogleMLKitCodeScanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScanningViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CodeScannerTest.kt
Labels: feature: order creation

#10322 [Hack Week] Refactor notifications logic to allow deleting and re-creating notification channels
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/notifications/NotificationsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/NotificationModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Notification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/ChaChingUri.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationChannelType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationChannelsHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/WooNotificationBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandler.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/model/NotificationTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandlerTest.kt
Labels: type: task, feature: notifications, unit-tests-exemption

#10288 Remove ipp feedback banner
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/FeedbackBanner.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/GetIPPFeedbackBannerData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/MarkFeedbackBannerAsDismissed.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/MarkFeedbackBannerAsDismissedForever.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/MarkIPPFeedbackSurveyAsCompleted.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/ShouldShowFeedbackBanner.kt
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/GetIPPFeedbackBannerDataTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/feedback/ipp/ShouldShowFeedbackBannerTest.kt
Labels: type: enhancement

#10300 [Custom Amounts 4.2] UI redesign
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsDialog.kt
  WooCommerce/src/main/res/layout/dialog_custom_amounts.xml
Labels: type: task, feature: mobile payments

#10302 [Custom Amounts M4.2] Track when custom amount is added based on percentage
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsDialogViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsDialogViewModelTest.kt
Labels: type: task, category: analytics, feature: mobile payments

#10324 [Custom Amounts M4.2] Move `delete custom amount` button from OrderCreation to CustomAmount dialog
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsDialogViewModel.kt
  WooCommerce/src/main/res/layout/dialog_custom_amounts.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
Labels: type: task, feature: mobile payments

#10331 [Hack week] Create a new product using images
  RELEASE-NOTES.txt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: feature: product details

#10306 [Themes] Handle activation from app settings
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
  WooCommerce/src/main/res/navigation/nav_graph_themes.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature:themes

#10321 [Order Creation] Ability to add quantity to the order directly via input
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/ExpandableProductCard.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreateEditViewModelTest.kt
Labels: feature: order creation, unit-tests-exemption

#10347 [Scan to update inventory] – Part 6 – Final touches
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryBarcodeScannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryScreen.kt
Labels: feature: product list

#10313 [Scan to update inventory] Part 4 – Add View Product Details button
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/QuickInventoryUpdateBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryBarcodeScannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModelTest.kt
Labels: status: do not merge, feature: product list

#10278 [Scan to update inventory] Part 3 – Support for manual quantity update
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/QuickInventoryUpdateBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryBarcodeScannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModel.kt
  WooCommerce/src/main/res/drawable/ic_barcode_scanner.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/FetchProductBySKUTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModelTest.kt
Labels: status: do not merge

#10253 [Scan to update inventory] Part 2 – Product update
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/ProgressIndicator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/QuickInventoryUpdateBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryBarcodeScannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModel.kt
  WooCommerce/src/main/res/drawable/ic_barcode_scanner.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/FetchProductBySKUTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModelTest.kt
Labels: status: do not merge

#10250 [Scan to update inventory] Part 1 – Continuous scanning mode and bottom sheet
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/barcodescanner/BarcodeScannerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/ProgressIndicator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/FetchProductBySKU.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/QuickInventoryUpdateBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryBarcodeScannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModel.kt
  WooCommerce/src/main/res/drawable/ic_barcode_scanner.xml
  WooCommerce/src/main/res/menu/menu_product_list_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/FetchProductBySKUTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModelTest.kt
Labels: feature: product list, unit-tests-exemption

#10356 Handle the nullable ThemeModel.demoUrl
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Theme.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemeRepository.kt
  build.gradle
Labels: feature:themes

#10279 [Scan to Update Inventory] Hide Scan Barcode Menu Item if store has Woo Square Plugin Active
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: feature: product list

#10341 [Hack Week] Allow fixing cha-ching sound issue from settings
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/WCSettingsOptionValueView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsViewModelTest.kt
Labels: type: enhancement, feature: notifications

#10358 Merge 16.5 final into trunk
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/480.txt
  fastlane/metadata/android/ar/changelogs/482.txt
  fastlane/metadata/android/de-DE/changelogs/480.txt
  fastlane/metadata/android/de-DE/changelogs/482.txt
  fastlane/metadata/android/en-US/changelogs/480.txt
  fastlane/metadata/android/en-US/changelogs/482.txt
  fastlane/metadata/android/es-ES/changelogs/480.txt
  fastlane/metadata/android/es-ES/changelogs/482.txt
  fastlane/metadata/android/fr-FR/changelogs/480.txt
  fastlane/metadata/android/fr-FR/changelogs/482.txt
  fastlane/metadata/android/id/changelogs/480.txt
  fastlane/metadata/android/id/changelogs/482.txt
  fastlane/metadata/android/it-IT/changelogs/480.txt
  fastlane/metadata/android/it-IT/changelogs/482.txt
  fastlane/metadata/android/iw-IL/changelogs/480.txt
  fastlane/metadata/android/iw-IL/changelogs/482.txt
  fastlane/metadata/android/ja-JP/changelogs/480.txt
  fastlane/metadata/android/ja-JP/changelogs/482.txt
  fastlane/metadata/android/ko-KR/changelogs/480.txt
  fastlane/metadata/android/ko-KR/changelogs/482.txt
  fastlane/metadata/android/nl-NL/changelogs/482.txt
  fastlane/metadata/android/pt-BR/changelogs/480.txt
  fastlane/metadata/android/pt-BR/changelogs/482.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/480.txt
  fastlane/metadata/android/ru-RU/changelogs/482.txt
  fastlane/metadata/android/sv-SE/changelogs/480.txt
  fastlane/metadata/android/sv-SE/changelogs/482.txt
  fastlane/metadata/android/tr-TR/changelogs/480.txt
  fastlane/metadata/android/tr-TR/changelogs/482.txt
  fastlane/metadata/android/zh-CN/changelogs/480.txt
  fastlane/metadata/android/zh-CN/changelogs/482.txt
  fastlane/metadata/android/zh-TW/changelogs/480.txt
  fastlane/metadata/android/zh-TW/changelogs/482.txt
  version.properties
Labels: Releases

#10350 Update CHANGELOG for 16.6
  CHANGELOG.md
Labels: Releases

#10335 Domains landscape mode
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/domainpicker/DomainPickerScreen.kt
Labels: feature: app settings

#10221 [Extensions] Add gift card button UI and navigation handling
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/giftcards/OrderCreateEditGiftCardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: order creation

#10359 Merge 16.6 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#10353 [HACK][Tap To Pay] Makes simple payments order non taxable if created from testing TTP
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModelTest.kt
Labels: feature: mobile payments

#10355 [Themes] Theme picker skip button
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
Labels: unit-tests-exemption, feature:themes

#10342 [Themes] Remove some profiler steps
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
Labels: type: task, feature:themes

#10236 [Custom Amounts M4] Refunds - Update text and refund toggle state based on items in the order
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/res/layout/fragment_refund_by_items.xml
  WooCommerce/src/main/res/layout/refund_by_items_fees.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundViewModelTest.kt
Labels: feature: order creation

#10340 build: integrate `measure-builds` plugin
  build.gradle
  settings.gradle
Labels: type: task, category: tooling

#10343 Remove pre API 26 code
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/notifications/NotificationsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooCommerceGlideModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/ProductImagesNotificationHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationChannelType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/WooNotificationBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/SystemVersionUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/SystemVersionUtilsWrapper.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandlerTest.kt
Labels: type: task, Tech Debt

#10366 [Themes] - Remove unused profiler code
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/NewStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerChallengesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerChallengesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerFeaturesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerRepository.kt
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
Labels: feature:themes

#10290 Design feedback bundle products
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/ListItemMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/configuration/GetProductConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/configuration/ProductRules.kt
Labels: type: task, feature: order creation

#10291 Design feedback for bundle products UI changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/configuration/ProductConfigurationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/configuration/ProductRules.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/ExpandableProductCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderProduct.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/adapter/OrderDetailProductItemListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/components/SelectorListItem.kt
  WooCommerce/src/main/res/layout/order_detail_product_group_item.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/OrderProductMapperTest.kt
Labels: type: task, feature: order creation

#10370 [Scan to Update Inventory] Add undo option to success snackbar
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryBarcodeScannerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModelTest.kt
Labels: feature: product list

#10346 [HACK] Improvements to performance of the main screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainAnimatorHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
Labels: category: performance, unit-tests-exemption

#10381 Replace "Edit" text with Pencil icon for Customer and Customer notes section
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/layout/order_creation_section.xml
Labels: type: bug, feature: mobile payments

#10367 Issue/10364 show current theme
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModelTest.kt
Labels: type: enhancement, feature:themes

#10362 [Pay in Person] Change "Pay in Person" error text and illustration
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewState.kt
  WooCommerce/src/main/res/drawable-night/ic_woo_illustrated_icon.xml
  WooCommerce/src/main/res/drawable/ic_woo_illustrated_icon.xml
  WooCommerce/src/main/res/layout/fragment_card_reader_onboarding_cod_disabled.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingViewModelTest.kt
Labels: type: task, feature: mobile payments

#10373 Fix Products List crash
  build.gradle
Labels: type: crash, feature: product list

#10384 Remove the specification of theme when creating a site
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/CreateFreeTrialStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/plans/PlansViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/CreateFreeTrialStoreTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/PlansViewModelTest.kt
Labels: type: task, feature: store creation

#10294 [Themes] - Theme preview
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/Screen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/WebView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewWebView.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: unit-tests-exemption, feature: themes

#10399 [FIX] Toolbar hight is incorrect on the site picker screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/TopLevelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/AppBarStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
Labels: type: bug

#10395 Feature/10224 theme picker tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/theme/ThemeActivationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/theme/ThemeActivationViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModelTest.kt
Labels: feature: analytics, unit-tests-exemption

#10345 [Bug] Fix condition for disabling controls in product cards
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/ExpandableProductCard.kt
Labels: type: bug

#10400 Refresh current theme when navigating back to theme picker
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModelTest.kt
Labels: type: enhancement, feature: themes

#10409 Issue/10407 onboarding task changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModelTest.kt
Labels: type: enhancement, feature: store onboarding

#10411 [Themes] Remove feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: themes

#10412 Fix loading state when publishing a WooExpress site
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/launchstore/LaunchStoreViewModel.kt
Labels: type: bug, unit-tests-exemption

#10416 Avoid displaying dropdown theme sections if only one page available
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
Labels: type: enhancement, feature: themes

#10415 Product title race condition
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/adapters/ProductPropertiesDiffCallback.kt
Labels: type: bug, feature: product details

#10405 Update CHANGELOG for 16.7
  CHANGELOG.md
Labels: Releases

#10418 Merge 16.6 final into trunk
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/adapters/ProductPropertiesDiffCallback.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  fastlane/metadata/android/ar/changelogs/482.txt
  fastlane/metadata/android/ar/changelogs/485.txt
  fastlane/metadata/android/de-DE/changelogs/482.txt
  fastlane/metadata/android/de-DE/changelogs/485.txt
  fastlane/metadata/android/en-US/changelogs/482.txt
  fastlane/metadata/android/en-US/changelogs/485.txt
  fastlane/metadata/android/es-ES/changelogs/482.txt
  fastlane/metadata/android/es-ES/changelogs/485.txt
  fastlane/metadata/android/fr-FR/changelogs/482.txt
  fastlane/metadata/android/fr-FR/changelogs/485.txt
  fastlane/metadata/android/id/changelogs/482.txt
  fastlane/metadata/android/id/changelogs/485.txt
  fastlane/metadata/android/it-IT/changelogs/482.txt
  fastlane/metadata/android/it-IT/changelogs/485.txt
  fastlane/metadata/android/iw-IL/changelogs/482.txt
  fastlane/metadata/android/iw-IL/changelogs/485.txt
  fastlane/metadata/android/ja-JP/changelogs/482.txt
  fastlane/metadata/android/ja-JP/changelogs/485.txt
  fastlane/metadata/android/ko-KR/changelogs/482.txt
  fastlane/metadata/android/ko-KR/changelogs/485.txt
  fastlane/metadata/android/nl-NL/changelogs/482.txt
  fastlane/metadata/android/nl-NL/changelogs/485.txt
  fastlane/metadata/android/pt-BR/changelogs/482.txt
  fastlane/metadata/android/pt-BR/changelogs/485.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/482.txt
  fastlane/metadata/android/ru-RU/changelogs/485.txt
  fastlane/metadata/android/sv-SE/changelogs/482.txt
  fastlane/metadata/android/sv-SE/changelogs/485.txt
  fastlane/metadata/android/tr-TR/changelogs/482.txt
  fastlane/metadata/android/tr-TR/changelogs/485.txt
  fastlane/metadata/android/zh-CN/changelogs/482.txt
  fastlane/metadata/android/zh-CN/changelogs/485.txt
  fastlane/metadata/android/zh-TW/changelogs/482.txt
  fastlane/metadata/android/zh-TW/changelogs/485.txt
  version.properties
Labels: Releases

#10406 CI: Add release pipelines
  .buildkite/commands/checkout-release-branch.sh
  .buildkite/commands/configure-environment.sh
  .buildkite/commands/configure-git-for-release-management.sh
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/start-code-freeze.yml
  fastlane/Fastfile
Labels: category: tooling, Releases

#10422 Replace Material3 CardView Style to fix crash
  WooCommerce/src/main/res/layout/activity_support_request_form.xml
Labels: feature: support, priority: critical

#10429 Fix issue of removing the theme picker's message
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
Labels: type: bug, feature: themes

#10430 Feature/display tabs below onboarding list
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/StatsComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/res/layout/fragment_my_store.xml
Labels: type: bug, unit-tests-exemption

#10427 Merge 16.6 final (2nd build) into trunk
  WooCommerce/src/main/res/layout/activity_support_request_form.xml
  version.properties
Labels: Releases

#10420 Merge 16.7 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/metadata/PlayStoreStrings.pot
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#10432 [Themes] - Use shimmer for loading the carousel
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
Labels: type: enhancement, feature: themes

#10396 Docs update
  docs/accessibility-guidelines.md
  docs/card-reader-module.md
  docs/coding-style.md
  docs/feature-flags.md
  docs/images/Accessibility/ImportantForAccessibility.png
  docs/images/Accessibility/grouping_content.png
  docs/images/best-practices-settings.png
  docs/material-theme-designs.md
  docs/network-fluxc.md
  docs/project-overview.md
  docs/theming-styling-best-practices.md
  docs/tracking-events.md
Labels: type: documentation, unit-tests-exemption

#10426 [Tablet Orders] M1 Feature Flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/TabletOrdersFeatureFlagWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: mobile payments, feature: order creation, unit-tests-exemption

#10408 [Deposit Summary] Implement design changes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/depositsummary/PaymentsHubDepositSummaryView.kt
  WooCommerce/src/main/res/drawable/ic_acropolis_gray_15.xml
  WooCommerce/src/main/res/drawable/ic_calendar_16.xml
  WooCommerce/src/main/res/drawable/ic_calendar_gray_16.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: mobile payments

#10269 [Extensions] Support gift card submission
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/giftcards/EditGiftCardScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/giftcards/OrderCreateEditGiftCardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/giftcards/OrderCreateEditGiftCardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/giftcards/OrderCreateEditGiftCardViewModelTest.kt
  build.gradle
Labels: type: task, feature: order creation

#10337 [Extensions] Validate gift card format
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/giftcards/EditGiftCardScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/giftcards/OrderCreateEditGiftCardViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/giftcards/OrderCreateEditGiftCardViewModelTest.kt
Labels: type: task, feature: order creation

#10368 [Extensions] Support gift card order edit view
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/AutoSyncOrder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/res/layout/order_creation_payment_section.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
Labels: type: task, feature: order editing

#10452 Merge the final 16.6 change into 16.7
  WooCommerce/src/main/res/layout/activity_support_request_form.xml
Labels: Releases

#10439 Fix/theme picker analytics updates
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/theme/ThemeActivationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
Labels: feature: analytics, unit-tests-exemption

#10444 Issue/4114 selected site crashes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/UncaughtErrorsHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/SelectedSiteModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/UnseenReviewsCountHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/tools/SelectedSite.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/AccountRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/repository/SitePlanRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/notifications/push/UnseenReviewsCountHandlerTests.kt
Labels: type: crash, unit-tests-exemption

#10458 Fix crash when using shortcuts while no site is selected yet
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
Labels: type: crash

#10436 Improve the handling of store switching after store creation
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/base/BaseFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/installation/ObserveSiteInstallation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/StoreInstallationViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
Labels: type: enhancement, feature: store creation, feature: themes

#10459 Fix card reader permission crash in Android versions < 12
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManager.kt
Labels: status: do not merge, type: crash, feature: mobile payments

#10357 [HACK][Tech Debt] Remove unused feature flags
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/benefits/JetpackBenefitsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/benefits/JetpackBenefitsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/ShouldShowOnboarding.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/IsCustomAmountsFeatureFlagEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/IsTaxRateSelectorEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/banner/CheckEUShippingScenario.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AddProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/ProductNameSubScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: Tech Debt

#10451 [Themes] - Update the error screen UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Buttons.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModelTest.kt
  fastlane/resources/values/strings.xml
Labels: type: enhancement, feature: themes

#10465 Merge the 16.6.1 hotfix into `release/16.7`
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManager.kt
  version.properties
Labels: Releases

#10466 Merge 16.7-rc-4 into trunk
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/theme/ThemeActivationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/connection/ConnectionManager.kt
  version.properties
Labels: Releases

#10463 Remove the Attar theme
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemeRepository.kt
Labels: feature: themes

#10377 [Extensions] Detect gift card extension
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepositoryTest.kt
  build.gradle
Labels: type: task, feature: order creation

#10468 Disable Custom amount section while its operation (addition, removal) is in progress
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
Labels: type: crash, feature: mobile payments

#10376 Activate Gift card feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: order creation

#10394 [Custom Amounts M4] Change custom amounts dialog to full screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/CustomAmountTypeBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/CustomAmountUIModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/MapFeeLineToCustomAmountUiModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/views/TaxToggle.kt
  WooCommerce/src/main/res/layout/dialog_custom_amounts.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/MapFeeLineToCustomAmountUIModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsFragmentViewModelTest.kt
Labels: type: task, feature: mobile payments

#10442 [Tablet Orders] Add a drawer to the order creation screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsView.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_form.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelperTest.kt
Labels: feature: mobile payments, feature: order creation

#10471 Themes: miscellaneous fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/themes/ThemePickerViewModelTest.kt
Labels: type: bug, type: enhancement, feature: themes

#10445 [Tablet Orders] Show the bottom sheet with correct logic and animation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsView.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelperTest.kt
Labels: feature: mobile payments, feature: order creation

#10388 Using site time zone on Analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/ObserveLastUpdate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubTestFixtures.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStoreTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelectionTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/DateUtilsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/PriceUtilsTest.kt
Labels: type: bug, feature: analytics

#10476 Using site timezone in orders list
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/TimeGroup.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemUIType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: type: bug, feature: order list

#10494 Add the date type parameter to fetch stats
  build.gradle
Labels: type: bug, feature: stats

#10490 Issue/10486 blaze products search
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductSelectorScreenTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/picker/VariationPickerViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_product_selector.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/picker/VariationPickerViewModelTest.kt
Labels: type: task, status: feature-flagged, feature: blaze
