Repository woocommerce/woocommerce-android, pull requests merged in 2023-08, with the labels that each got.

#9474 [Add coupon] Core feature
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Coupon.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/create/CouponTypePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/create/CouponTypePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/create/CouponTypePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/main/res/drawable/ic_coupon_fixed_cart.xml
  WooCommerce/src/main/res/drawable/ic_coupon_fixed_product.xml
  WooCommerce/src/main/res/drawable/ic_coupon_percentage.xml
  WooCommerce/src/main/res/layout/fragment_coupon_list.xml
  WooCommerce/src/main/res/navigation/nav_graph_coupons.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/CouponTestUtils.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModelTests.kt
Labels: status: do not merge, feature: coupons

#9495 [Add coupon] Analytics events tracking
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModelTests.kt
Labels: status: do not merge, feature: coupons

#9493 [Customer Search] Change empty search screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewState.kt
  WooCommerce/src/main/res/drawable/img_search_suggestion.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order creation

#9503 Disable R8 fullMode
  .configure
  .configure-files/gradle.properties.enc
  gradle.properties-example
Labels: category: tooling

#9499 Add proguard rules generated by AGP 8.1.0
  WooCommerce/proguard-rules.pro
Labels: category: tooling

#9512 Merge 14.7 code freeze into trunk
  .configure
  .configure-files/gradle.properties.enc
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  WooCommerce/proguard-rules.pro
  fastlane/resources/values/strings.xml
  gradle.properties-example
Labels: Releases

#9515 Fix disabling / enabling editable controls
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreateEditSectionView.kt
Labels: type: bug

#9477 [Customer Search] Remove feature flag and the old list implementation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditCustomerAddFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListDisplayTextHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListGetSupportedSearchModes.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListIsAdvancedSearchSupported.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListSearchResultsHighlighter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModelMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/editing/address/AddressViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListDisplayTextHandlerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListGetSupportedSearchModesTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListIsAdvancedSearchSupportedTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListSearchResultsHighlighterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModelMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlistnew/CustomerListViewModelTest.kt
Labels: feature: order list

#9504 Analytics Performance: Improve analytics data store documentation and test coverage
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStoreTest.kt
Labels: type: enhancement, feature: analytics

#9502 Add "Create Test Order" feature
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/domain/ShouldShowCreateTestOrderScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/CreateTestOrderDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/CreateTestOrderDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/drawable-night/img_create_test_order.webp
  WooCommerce/src/main/res/drawable/img_create_test_order.webp
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: feature: order list

#9511 Analytics Performance: Improve last update for old timestamps
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
Labels: type: enhancement, feature: analytics

#9514 Feature/new default properties site info
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  build.gradle
Labels: category: analytics

#9501 [Customer Search] Optimise countries loading, to not show empty screen on the first screen stat
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModelTest.kt
Labels: feature: order creation

#9506 [Customer search] Add an event to track add manually button clicked
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListViewModelTest.kt
Labels: status: do not merge, feature: order creation, feature: analytics

#9508 Tracking for "Create Test Order" feature
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/CreateTestOrderDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
Labels: status: do not merge, feature: order list

#9516 My Store revenue with revenue id
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetStats.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetStatsTest.kt
Labels: type: enhancement, feature: stats

#9520 Release notes about better customer search project
  RELEASE-NOTES.txt
Labels: feature: order creation

#9526 Merge 14.7 finalization into trunk
  Gemfile
  Gemfile.lock
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/Fastfile
  fastlane/metadata/android/ar/changelogs/441.txt
  fastlane/metadata/android/ar/changelogs/443.txt
  fastlane/metadata/android/de-DE/changelogs/441.txt
  fastlane/metadata/android/de-DE/changelogs/443.txt
  fastlane/metadata/android/en-US/changelogs/441.txt
  fastlane/metadata/android/en-US/changelogs/443.txt
  fastlane/metadata/android/es-ES/changelogs/441.txt
  fastlane/metadata/android/es-ES/changelogs/443.txt
  fastlane/metadata/android/fr-FR/changelogs/441.txt
  fastlane/metadata/android/fr-FR/changelogs/443.txt
  fastlane/metadata/android/id/changelogs/441.txt
  fastlane/metadata/android/id/changelogs/443.txt
  fastlane/metadata/android/it-IT/changelogs/441.txt
  fastlane/metadata/android/it-IT/changelogs/443.txt
  fastlane/metadata/android/iw-IL/changelogs/441.txt
  fastlane/metadata/android/iw-IL/changelogs/443.txt
  fastlane/metadata/android/ja-JP/changelogs/441.txt
  fastlane/metadata/android/ja-JP/changelogs/443.txt
  fastlane/metadata/android/ko-KR/changelogs/441.txt
  fastlane/metadata/android/ko-KR/changelogs/443.txt
  fastlane/metadata/android/nl-NL/changelogs/441.txt
  fastlane/metadata/android/nl-NL/changelogs/443.txt
  fastlane/metadata/android/pt-BR/changelogs/441.txt
  fastlane/metadata/android/pt-BR/changelogs/443.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/441.txt
  fastlane/metadata/android/ru-RU/changelogs/443.txt
  fastlane/metadata/android/sv-SE/changelogs/441.txt
  fastlane/metadata/android/sv-SE/changelogs/443.txt
  fastlane/metadata/android/tr-TR/changelogs/441.txt
  fastlane/metadata/android/tr-TR/changelogs/443.txt
  fastlane/metadata/android/zh-CN/changelogs/441.txt
  fastlane/metadata/android/zh-CN/changelogs/443.txt
  fastlane/metadata/android/zh-TW/changelogs/441.txt
  fastlane/metadata/android/zh-TW/changelogs/443.txt
Labels: Releases

#9527 Merge 14.8 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#9555 Fix variable subscription description
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductType.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: order list

#9510 Issue/9483 add coupon selector vm
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponExtension.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListItem.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/CouponListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/selector/CouponSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/selector/CouponSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/selector/CouponSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: coupons, feature: order creation

#9553 Remove FAB from coupon removal screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/list/OrderCouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/list/OrderCreateCouponListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/list/OrderCreateCouponListViewModel.kt
Labels: status: do not merge, feature: coupons, feature: order creation

#9524 Add go to coupon list tracker
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/selector/CouponSelectorViewModel.kt
Labels: status: do not merge, feature: coupons, feature: order creation

#9556 Fix for RTL on Select Payment Method screen
  WooCommerce/src/main/res/layout/item_select_payment_method_single_row.xml
Labels: type: bug

#9559 [Mobile Payments] Country unsupported error copy change
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: mobile payments

#9561 Issue/9554 disable edit text option coupon removal screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/CouponValidator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/OrderCreateCouponDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/OrderCreateCouponEditFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/OrderCreateCouponEditScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/edit/OrderCreateCouponEditViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/EditFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/coupon/CouponValidatorTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponDetailsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/coupon/OrderCreateCouponEditViewModelTest.kt
Labels: feature: coupons, feature: order creation

#9548 Add couponSelector tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/coupons/selector/CouponSelectorViewModelTest.kt
Labels: status: do not merge, feature: coupons, feature: order creation

#9480 Extract product restriction logic into reusable class
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/edit/EditCouponViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductRestrictions.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_coupons.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_filters.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_selector.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductRestrictionsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModelTest.kt
Labels: type: technical debt

#9560 Feature/9557 update store creation wording
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/BaseStoreProfilerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerCommerceJourneyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerEcommercePlatformsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerIndustriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/summary/StoreCreationSummaryScreen.kt
  WooCommerce/src/main/res/drawable-hdpi/free_trial_summary_illustration.png
  WooCommerce/src/main/res/drawable-xhdpi/free_trial_summary_illustration.png
  WooCommerce/src/main/res/drawable-xxhdpi/free_trial_summary_illustration.png
  WooCommerce/src/main/res/drawable-xxxhdpi/free_trial_summary_illustration.png
  WooCommerce/src/main/res/drawable/ic_free_trial_item_check.xml
  WooCommerce/src/main/res/drawable/store_free_trial_summary_top_background.xml
  WooCommerce/src/main/res/layout/fragment_login_prologue.xml
  WooCommerce/src/main/res/values/dimens_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement

#9580 Merge 14.8 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/443.txt
  fastlane/metadata/android/ar/changelogs/445.txt
  fastlane/metadata/android/de-DE/changelogs/443.txt
  fastlane/metadata/android/de-DE/changelogs/445.txt
  fastlane/metadata/android/en-US/changelogs/443.txt
  fastlane/metadata/android/en-US/changelogs/445.txt
  fastlane/metadata/android/es-ES/changelogs/443.txt
  fastlane/metadata/android/es-ES/changelogs/445.txt
  fastlane/metadata/android/fr-FR/changelogs/443.txt
  fastlane/metadata/android/fr-FR/changelogs/445.txt
  fastlane/metadata/android/id/changelogs/443.txt
  fastlane/metadata/android/id/changelogs/445.txt
  fastlane/metadata/android/it-IT/changelogs/443.txt
  fastlane/metadata/android/it-IT/changelogs/445.txt
  fastlane/metadata/android/iw-IL/changelogs/443.txt
  fastlane/metadata/android/iw-IL/changelogs/445.txt
  fastlane/metadata/android/ja-JP/changelogs/443.txt
  fastlane/metadata/android/ja-JP/changelogs/445.txt
  fastlane/metadata/android/ko-KR/changelogs/443.txt
  fastlane/metadata/android/ko-KR/changelogs/445.txt
  fastlane/metadata/android/nl-NL/changelogs/443.txt
  fastlane/metadata/android/nl-NL/changelogs/445.txt
  fastlane/metadata/android/pt-BR/changelogs/443.txt
  fastlane/metadata/android/pt-BR/changelogs/445.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/443.txt
  fastlane/metadata/android/ru-RU/changelogs/445.txt
  fastlane/metadata/android/sv-SE/changelogs/443.txt
  fastlane/metadata/android/sv-SE/changelogs/445.txt
  fastlane/metadata/android/tr-TR/changelogs/443.txt
  fastlane/metadata/android/tr-TR/changelogs/445.txt
  fastlane/metadata/android/zh-CN/changelogs/443.txt
  fastlane/metadata/android/zh-CN/changelogs/445.txt
  fastlane/metadata/android/zh-TW/changelogs/443.txt
  fastlane/metadata/android/zh-TW/changelogs/445.txt
Labels: Releases

#9581 Merge 14.9 code freeze into trunk
  CHANGELOG.md
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#9577 [Hazmat Shipping] Introduce HAZMAT_SHIPPING Feature Flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: shipping labels

#9594 Feature/9584 send app installation
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/tracker/SendTelemetry.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/tracker/SendTelemetryTest.kt
  build.gradle
Labels: feature: analytics

#9593 [Data Sprint] Add a flag per site to save that site was tracked
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/AppPrefsTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
Labels: category: analytics

#9571 [Mobile Payments] Add extra info in the tracking of payments flow completion
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderPaymentsUtilsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  libs/cardreader/build.gradle
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/CardReaderManagerFactory.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/InteracRefundManager.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/PaymentUtils.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentAction.kt
  libs/cardreader/src/main/java/com/woocommerce/android/cardreader/payments/RefundParams.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/InteracRefundManagerTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/PaymentUtilsTest.kt
  libs/cardreader/src/test/java/com/woocommerce/android/cardreader/internal/payments/actions/CreatePaymentActionTest.kt
Labels: feature: analytics

#9607 Store Creation: Better country selector part II: Functionality
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryListPickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryListPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryListPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/StoreCreationCountry.kt
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
Labels: feature: store creation

#9579 [Hazmat Shipping] Introduce hazmat checkbox into Package Details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPackagesAdapter.kt
  WooCommerce/src/main/res/layout/shipping_label_package_details_list_item.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: shipping labels

#9600 Subscription metadatada fix
  build.gradle
Labels: type: bug, feature: product details

#9609 Feature/9489 remove store creation webflow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/iap/CheckIapEligibilityFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/iap/IapEligibilityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/AddStoreBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/navigation/nav_graph_site_picker.xml
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_web.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/webview/WebViewStoreCreationViewModelTest.kt
Labels: type: technical debt, feature: store creation

#9599 Feature/9598 add new profiler challenges step
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerChallengesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerChallengesViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_store_creation_native.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: store creation

#9613 Update CHANGELOG.md for 15.0
  CHANGELOG.md
Labels: category: releases, Releases

#9619 Merge 14.9 finalization into trunk
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/445.txt
  fastlane/metadata/android/ar/changelogs/447.txt
  fastlane/metadata/android/de-DE/changelogs/445.txt
  fastlane/metadata/android/de-DE/changelogs/447.txt
  fastlane/metadata/android/en-US/changelogs/445.txt
  fastlane/metadata/android/en-US/changelogs/447.txt
  fastlane/metadata/android/es-ES/changelogs/445.txt
  fastlane/metadata/android/es-ES/changelogs/447.txt
  fastlane/metadata/android/fr-FR/changelogs/445.txt
  fastlane/metadata/android/fr-FR/changelogs/447.txt
  fastlane/metadata/android/id/changelogs/445.txt
  fastlane/metadata/android/id/changelogs/447.txt
  fastlane/metadata/android/it-IT/changelogs/445.txt
  fastlane/metadata/android/it-IT/changelogs/447.txt
  fastlane/metadata/android/iw-IL/changelogs/445.txt
  fastlane/metadata/android/iw-IL/changelogs/447.txt
  fastlane/metadata/android/ja-JP/changelogs/445.txt
  fastlane/metadata/android/ja-JP/changelogs/447.txt
  fastlane/metadata/android/ko-KR/changelogs/445.txt
  fastlane/metadata/android/ko-KR/changelogs/447.txt
  fastlane/metadata/android/nl-NL/changelogs/445.txt
  fastlane/metadata/android/nl-NL/changelogs/447.txt
  fastlane/metadata/android/pt-BR/changelogs/445.txt
  fastlane/metadata/android/pt-BR/changelogs/447.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/445.txt
  fastlane/metadata/android/ru-RU/changelogs/447.txt
  fastlane/metadata/android/sv-SE/changelogs/445.txt
  fastlane/metadata/android/sv-SE/changelogs/447.txt
  fastlane/metadata/android/tr-TR/changelogs/445.txt
  fastlane/metadata/android/tr-TR/changelogs/447.txt
  fastlane/metadata/android/zh-CN/changelogs/445.txt
  fastlane/metadata/android/zh-CN/changelogs/447.txt
  fastlane/metadata/android/zh-TW/changelogs/445.txt
  fastlane/metadata/android/zh-TW/changelogs/447.txt
Labels: Releases

#9620 Merge 15.0 code freeze into trunk
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  WooCommerce/metadata/PlayStoreStrings.pot
  WooCommerce/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#9623 Store Creation: New default store name
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModelTest.kt
Labels: feature: store creation

#9617 AI: Save entered title in the product description dialog
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/AIProductDescriptionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
Labels: feature: product details

#9597 [Data Sprint] Track products orders and payments plugin once per site login per installation
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/wc/products/reports_products_totals.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/tracker/TrackStoreSnapshot.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/tracker/TrackStoreSnapshotTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTrackerTest.kt
Labels: status: do not merge, feature: analytics

#9611 [Mobile Payments] Enable NFC action to the "NFC disabled" error state
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/payment/CardReaderPaymentViewModelEvent.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderPaymentViewModelTest.kt
Labels: feature: mobile payments

#9629 Issue/9622 update woo profiler questions
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/WooLog.kt
  build.gradle
Labels: type: enhancement, feature: store creation

#9632 Remove read-only support for extensions feature flags
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: enhancement, feature: woo express support

#9643 Restore the logic to reset the selected site when it doesn't have Woo
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
Labels: type: bug, feature: login

#9637 [Mobile Payments] Handle enabled status the same way as completed
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
  build.gradle
Labels: feature: mobile payments

#9633 [Store Profiler] Handle storing and uploading store profiler answers
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/countrypicker/CountryPickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/BaseStoreProfilerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerChallengesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerCommerceJourneyViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerEcommercePlatformsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerFeaturesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerIndustriesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/profiler/StoreProfilerRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/summary/StoreCreationSummaryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/networking/SitePlanRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
Labels: type: enhancement, feature: store creation

#9655 build: include shared repo in quicklogin config
  config/gradle/include_builds.gradle
  quicklogin/build.gradle
Labels: category: tooling

#9642 Fix crashes in Jetpack Activation flow
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/main/JetpackActivationMainFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/sitediscovery/SitePickerSiteDiscoveryViewModel.kt
Labels: type: crash, feature: login

#9650 Fix logout crash
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/AppSettingsContract.kt
Labels: type: crash, feature: login

#9661 Update CHANGELOG.md for 15.1
  CHANGELOG.md
Labels: Releases

#9663 Merge release/15.0 into trunk (`final`)
  WooCommerce/build.gradle
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/447.txt
  fastlane/metadata/android/ar/changelogs/449.txt
  fastlane/metadata/android/de-DE/changelogs/447.txt
  fastlane/metadata/android/de-DE/changelogs/449.txt
  fastlane/metadata/android/en-US/changelogs/447.txt
  fastlane/metadata/android/en-US/changelogs/449.txt
  fastlane/metadata/android/es-ES/changelogs/447.txt
  fastlane/metadata/android/es-ES/changelogs/449.txt
  fastlane/metadata/android/fr-FR/changelogs/447.txt
  fastlane/metadata/android/fr-FR/changelogs/449.txt
  fastlane/metadata/android/id/changelogs/447.txt
  fastlane/metadata/android/id/changelogs/449.txt
  fastlane/metadata/android/it-IT/changelogs/447.txt
  fastlane/metadata/android/it-IT/changelogs/449.txt
  fastlane/metadata/android/iw-IL/changelogs/447.txt
  fastlane/metadata/android/iw-IL/changelogs/449.txt
  fastlane/metadata/android/ja-JP/changelogs/447.txt
  fastlane/metadata/android/ja-JP/changelogs/449.txt
  fastlane/metadata/android/ko-KR/changelogs/447.txt
  fastlane/metadata/android/ko-KR/changelogs/449.txt
  fastlane/metadata/android/nl-NL/changelogs/447.txt
  fastlane/metadata/android/nl-NL/changelogs/449.txt
  fastlane/metadata/android/pt-BR/changelogs/447.txt
  fastlane/metadata/android/pt-BR/changelogs/449.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/447.txt
  fastlane/metadata/android/ru-RU/changelogs/449.txt
  fastlane/metadata/android/sv-SE/changelogs/447.txt
  fastlane/metadata/android/sv-SE/changelogs/449.txt
  fastlane/metadata/android/tr-TR/changelogs/447.txt
  fastlane/metadata/android/tr-TR/changelogs/449.txt
  fastlane/metadata/android/zh-CN/changelogs/447.txt
  fastlane/metadata/android/zh-CN/changelogs/449.txt
  fastlane/metadata/android/zh-TW/changelogs/447.txt
  fastlane/metadata/android/zh-TW/changelogs/449.txt
Labels: Releases

#9664 Track completed orders count
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
Labels: type: task, feature: analytics

#9665 [Release 15.1] Track completed orders count
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
Labels: type: task, category: analytics

#9616 [Mobile Payments] Record country on the selection payment method screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingChecker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingCheckerTest.kt
Labels: feature: mobile payments, feature: analytics

#9659 Move close account option to a new screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Buttons.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/account/AccountSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/account/AccountSettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/account/CloseAccountDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/account/CloseAccountViewModel.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/navigation/nav_graph_site_picker.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: app settings

#9681 Fix/remove feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: store creation

#9680 [UI Tests] Moved test data for real API tests to a separate file.
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersRealAPI.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductsRealAPI.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/TestData.kt
Labels: category: ui tests

#9695 Fix Changelog
  RELEASE-NOTES.txt
Labels: type: task

#9634 [Hazmat Shipping] Introduce Hazmat complete category selection UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPackagesAdapter.kt
  WooCommerce/src/main/res/layout/shipping_label_package_details_list_item.xml
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: shipping labels

#9671 Fix orders badge inconsistency
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/NotificationModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/push/NotificationMessageHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainContract.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/ObserveProcessingOrdersCount.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/EventBusCoroutines.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/FakeDispatcher.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/ObserveProcessingOrdersCountTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: type: bug, feature: order list

#9645 [Hazmat Shipping] Connect hazmat submission to shipping label creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPackagesAdapter.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModelTest.kt
Labels: type: task, feature: shipping labels

#9657 [Hazmat Shipping] Introduce the hazmat section description
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/EditShippingLabelPackagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/creation/ShippingLabelPackagesAdapter.kt
  WooCommerce/src/main/res/layout/shipping_label_package_details_list_item.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: shipping labels

#9709 WooPayments setup: update UI & setup URL
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/payments/GetPaidViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingViewModelTest.kt
Labels: type: enhancement, feature: store onboarding

#9704 Feature/9649 code clean up store optimization
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/StoreCreationRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/name/StoreNamePickerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/networking/SitePlanRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: store creation

#9718 [Mobile Payments] Add height for the payments welcome dialog in landscape.
  WooCommerce/src/main/res/values-land/dimens_payments.xml
Labels: type: bug
