Repository woocommerce/woocommerce-android, pull requests merged in 2024-03, with the labels that each got.

#10974 Custom Range: Add custom range analytics feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: analytics

#10972 build: bump measure builds to 2.1.2
  settings.gradle
Labels: category: tooling

#10981 [Order Details] Show order attribution information
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderAttributionOrigin.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailAttributionInfoView.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  build.gradle
Labels: type: enhancement, feature: order details, unit-tests-exemption

#10991 Update CHANGELOG 17.6
  CHANGELOG.md
Labels: Releases

#10949 [Better Tablet Products] Add margins for details view. Navigation state preserving
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ContextExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/TabletLayoutSetupHelper.kt
Labels: feature: product list, category: tablet

#10984 [Better Tablet Products] Remove margin from the toolbar from product details fragment. Toolbar to Variation details fragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailsToolbarHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/layout/fragment_variation_detail.xml
Labels: feature: product details, category: tablet

#10995 [Better Tablet Products] Fixed bug when after configuration change results of the search were lost
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListToolbarHelper.kt
Labels: feature: product list, category: tablet

#10951 Update UI to display analytics configuration
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubCardState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubCardViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubCardsAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/informationcard/AnalyticsHubInformationCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/informationcard/AnalyticsHubInformationSectionViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/informationcard/AnalyticsHubInformationViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/listcard/AnalyticsHubListCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/listcard/AnalyticsHubListViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/MarginTopItemDecoration.kt
  WooCommerce/src/main/res/layout/fragment_analytics.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
Labels: type: task, feature: analytics, unit-tests-exemption

#10952 Add analytics to hub settings
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/settings/AnalyticsHubSettingsViewModelTest.kt
Labels: type: task, category: tracks, feature: analytics

#11002 Releasing EAH milestone 2
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: analytics

#10982 Custom Range: New custom range button
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/SkeletonView.kt
  WooCommerce/src/main/res/drawable/ic_calendar_add.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: analytics

#10998 [Better Tablet Products] Show back arrow when product details in new product creation flow on tablets
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailsToolbarHelper.kt
Labels: feature: product details, category: tablet

#11004 [Better Tablet Products] Fix margins on some screens + toolbar on shipping classes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductShippingClassFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/TabletLayoutSetupHelper.kt
  WooCommerce/src/main/res/layout/fragment_add_product_category.xml
  WooCommerce/src/main/res/layout/fragment_aztec_editor.xml
  WooCommerce/src/main/res/layout/fragment_product_menu_order.xml
  WooCommerce/src/main/res/layout/fragment_product_shipping_class_list.xml
  WooCommerce/src/main/res/layout/fragment_product_slug.xml
  WooCommerce/src/main/res/layout/fragment_product_status.xml
  WooCommerce/src/main/res/layout/fragment_product_visibility.xml
Labels: feature: product details, category: tablet

#11010 Custom Range: Add custom range tab
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
Labels: feature: stats

#10953 [Better Errors] Introduce troubleshooting dialog
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_order_list.xml
  WooCommerce/src/main/res/layout/view_expandable_notice_card.xml
Labels: type: task, feature: order list

#11012 FluxC stats code cleanup
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepositoryTest.kt
  build.gradle
Labels: feature: stats, Tech Debt

#10996 [Better Tablet Products] Add tracking
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ActivityExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ContextExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelGenerateVariationFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: category: tracks, category: tablet, feature: analytics

#11021 [Better Tablet Products] Fix for moving to trash on tablet. Empty state for the case when product is not selected
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsCommunicationViewModel.kt
  WooCommerce/src/main/res/layout/fragment_product_detail.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: feature: product details, feature: product list, category: tablet, unit-tests-exemption

#11032 [Better Tablet Product] Removed redundant hiding of the bottom nav bar in AztecEditorFragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/aztec/AztecEditorFragment.kt
Labels: feature: product details, category: tablet

#10985 [Better Tablet Products] Remove feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailsToolbarHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListToolbarHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/TabletLayoutSetupHelper.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: feature: product list, category: tablet

#11035 [Better Tablet Product] Up arrow is missing after ai product creation flow on tablet
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailsToolbarHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationDetailFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: feature: product details, category: tablet

#11039 Clear product and customer filters when switching sites
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/data/OrderFiltersRepository.kt
Labels: type: bug, feature: order list

#11001 [Better Errors] Introduce Connectivity Tool logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/InternetConnectionCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreConnectionCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreOrdersCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/WordPressConnectionCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModelTest.kt
Labels: type: task, feature: order list, unit-tests-exemption

#11024 [Better Errors] Add Connectivity use cases unit tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/InternetConnectionCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreConnectionCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreOrdersCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/WordPressConnectionCheckUseCaseTest.kt
Labels: type: task, feature: order list

#11025 [Better Errors] Add Connectivity Tool UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolScreen.kt
  WooCommerce/src/main/res/drawable/ic_clipboard.xml
  WooCommerce/src/main/res/drawable/ic_storage.xml
  WooCommerce/src/main/res/drawable/ic_wifi.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: order list

#11045 Update CHANGELOG for 17.7
  CHANGELOG.md
Labels: Releases

#11042 [Better Errors] Improve connectivity tool check suggestion structure
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/ConnectivityCheckCardData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/InternetConnectionCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreConnectionCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreOrdersCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/WordPressConnectionCheckUseCase.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/InternetConnectionCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreConnectionCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreOrdersCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/WordPressConnectionCheckUseCaseTest.kt
Labels: type: task, feature: order list, unit-tests-exemption

#11043 [Better Errors] Enhance connectivity error resolution for users
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/ConnectivityCheckCardData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/InternetConnectionCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreConnectionCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreOrdersCheckUseCase.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/WordPressConnectionCheckUseCase.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/InternetConnectionCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreConnectionCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/StoreOrdersCheckUseCaseTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/useCases/WordPressConnectionCheckUseCaseTest.kt
Labels: type: task, feature: order list, unit-tests-exemption

#10980 Issue/10836 fetch campaigns from new endpoint
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeCampaignCreationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeUiModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeUrlsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/IsProductCurrentlyPromoted.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/campaigs/BlazeCampaignListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/campaigs/BlazeCampaignListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/campaigs/BlazeCampaignListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
  build.gradle
Labels: category: tracks, feature: blaze

#11040 Custom range: Date selection persistence
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/CustomDateRangeDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/CustomDateRangeSerializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/DateRange.kt
  WooCommerce/src/main/proto/custom_date_range.proto
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  build.gradle
  settings.gradle
Labels: feature: stats

#11049 [Stats] Refactor widget's code to require a specific range
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/GetWidgetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/appwidgets/stats/today/UpdateTodayStatsWorker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/appwidgets/stats/GetWidgetStatsTest.kt
Labels: feature: stats, Tech Debt

#11051 [Better Errors] Connectivity tool accessbility adjustments
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/ConnectivityCheckCardData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolScreen.kt
Labels: type: task, feature: order list

#11054 [Better Errors] Add Tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModelTest.kt
Labels: type: task, feature: order list, category: tracks

#11048 [Better Tablet Products] Changes to the products are not reflected in the list
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsCommunicationViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
Labels: type: bug, feature: product list, category: tablet

#10959 [Tablet support M3] Part 4 – Order summary product buttons update
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreateEditSectionView.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: category: tablet, feature: order creation

#10763 [Tablet support M3] Part 3 – Product selection state sync in two-pane layout
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/Screen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsFullView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreateEditSectionView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorSharedViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_product_selector.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorViewModelTest.kt
Labels: type: task, status: do not merge, category: tablet, feature: order creation, feature: product selector

#10694 [Tablet support M3] Part 2 – Toolbar refactoring
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/Screen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsFullView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreateEditSectionView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorSharedViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorViewModel.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_form.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_selector.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorViewModelTest.kt
Labels: type: task, category: tablet, feature: order creation

#11060 Update Dangermattic to 1.0.2
  Gemfile.lock
Labels: category: tooling

#11058 [Tablet support] [Bug] [Beta fix 17.7] Incorrect tablet screen type check
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ContextExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/PrintingInstructionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterCategoriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/TabletLayoutSetupHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UiHelpers.kt
  WooCommerce/src/main/res/values-sw720dp/bools.xml
  WooCommerce/src/main/res/values/bools.xml
Labels: type: bug, category: tracks, unit-tests-exemption

#11052 VolleyError NPE Bug Fix
  build.gradle
Labels: type: crash

#11069 [Tablet support] [Bug] Incorrect tablet screen type check
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ContextExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FragmentExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/PrintingInstructionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterCategoriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/shippinglabels/PrintShippingLabelFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/TabletLayoutSetupHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UiHelpers.kt
  WooCommerce/src/main/res/values-sw720dp/bools.xml
  WooCommerce/src/main/res/values/bools.xml
Labels: type: bug, category: tablet

#11073 [Tablet support M3] Part 5 - Disable product selector UI while order is being updated
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FlowExtensions.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorSharedViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/components/SelectorListItem.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorScreen.kt
Labels: category: tablet, feature: order creation

#11067 Fix MainBottomNavigationView NPE
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
Labels: type: crash

#11084 Hide site credentials login fallback for WP.com sites
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/overrides/WooLoginEmailFragment.kt
Labels: feature: login

#11068 Issue/11059 order deletion
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrdersCommunicationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  build.gradle
Labels: type: enhancement, feature: order details, category: tracks, unit-tests-exemption

#10943 Add Bulk Edit Product Stock Status Feature
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/DropDown.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/UpdateProductStockStatusFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/UpdateProductStockStatusScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/UpdateProductStockStatusViewModel.kt
  WooCommerce/src/main/res/menu/menu_action_mode_products_list.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/UpdateProductStockStatusViewModelTest.kt
Labels: category: tracks, category: tablet, feature: Bulk Product Actions

#11082 [Tablet support M3] Part 6 – UI updates
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreateEditSectionView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorSharedViewModel.kt
Labels: category: tablet, feature: order creation

#11086 [Tablet support M3] – Part 7: Preserve items' selection state across OrderCreateEditFormFragment recreation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
Labels: category: tablet

#11080 [Push Notifications fix] Few improvements
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationChannelsHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsViewModelTest.kt
Labels: type: enhancement, category: tracks, feature: notifications

#10683 [Tablet support M3] Full flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/ContextExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/FlowExtensions.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/Screen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsFullView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/OrderCreateEditSectionView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorSharedViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/components/SelectorListItem.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorViewModel.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_form.xml
  WooCommerce/src/main/res/navigation/nav_graph_product_selector.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorViewModelTest.kt
Labels: type: task, category: tablet, feature: order creation, unit-tests-exemption

#11094 Fix detekt issues
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/account/CloseAccountDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
Labels: Releases

#11093 Update changelog for 17.8
  CHANGELOG.md
Labels: Releases

#11005 Bump Tracks (Sentry). Improve Sentry Gradle Plugin configuration
  WooCommerce/build.gradle
  build.gradle
  settings.gradle
Labels: category: tooling

#11097 Update fluxc version to 2.72.0 tag
  build.gradle
Labels: Releases

#11098 Update release notes for 17.8
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11101 Merge 17.7 final to release 17.8
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/518.txt
  fastlane/metadata/android/ar/changelogs/521.txt
  fastlane/metadata/android/de-DE/changelogs/518.txt
  fastlane/metadata/android/de-DE/changelogs/521.txt
  fastlane/metadata/android/en-US/changelogs/518.txt
  fastlane/metadata/android/en-US/changelogs/521.txt
  fastlane/metadata/android/es-ES/changelogs/518.txt
  fastlane/metadata/android/es-ES/changelogs/521.txt
  fastlane/metadata/android/fr-FR/changelogs/518.txt
  fastlane/metadata/android/fr-FR/changelogs/521.txt
  fastlane/metadata/android/id/changelogs/518.txt
  fastlane/metadata/android/id/changelogs/521.txt
  fastlane/metadata/android/it-IT/changelogs/518.txt
  fastlane/metadata/android/it-IT/changelogs/521.txt
  fastlane/metadata/android/iw-IL/changelogs/518.txt
  fastlane/metadata/android/iw-IL/changelogs/521.txt
  fastlane/metadata/android/ja-JP/changelogs/518.txt
  fastlane/metadata/android/ja-JP/changelogs/521.txt
  fastlane/metadata/android/ko-KR/changelogs/518.txt
  fastlane/metadata/android/ko-KR/changelogs/521.txt
  fastlane/metadata/android/nl-NL/changelogs/518.txt
  fastlane/metadata/android/pt-BR/changelogs/518.txt
  fastlane/metadata/android/pt-BR/changelogs/521.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/518.txt
  fastlane/metadata/android/ru-RU/changelogs/521.txt
  fastlane/metadata/android/sv-SE/changelogs/518.txt
  fastlane/metadata/android/sv-SE/changelogs/521.txt
  fastlane/metadata/android/tr-TR/changelogs/518.txt
  fastlane/metadata/android/tr-TR/changelogs/521.txt
  fastlane/metadata/android/zh-CN/changelogs/518.txt
  fastlane/metadata/android/zh-CN/changelogs/521.txt
  fastlane/metadata/android/zh-TW/changelogs/518.txt
  fastlane/metadata/android/zh-TW/changelogs/521.txt
  version.properties
Labels: Releases

#11092 [Tablet Support M3] Part 8 – Disable Create button if recalculate is needed
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
Labels: category: tablet, feature: order creation

#11072 [Better Tablet Products] Reviews in settings have double toolbar
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_reviews_list.xml
  WooCommerce/src/main/res/layout/fragment_reviews_list.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
Labels: type: bug, category: tablet

#11095 Fix cha-ching sound issue
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/ChaChingUri.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationChannelsHandler.kt
Labels: type: bug, feature: notifications, impact: high

#11081 Hack week: Plugin update status
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/plugins/PluginsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/plugins/PluginsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/VersionComparison.kt
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: feature: app settings, unit-tests-exemption

#11075 [HACKWeek] Remove Product WIP Notice Card
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/InfiniteListHandler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/taxes/TaxRatesInfoDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainDashboardScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewModerationConsumer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/ProductUtils.kt
  WooCommerce/src/main/res/layout/fragment_product_list.xml
Labels: category: tracks, type: technical debt, feature: product list

#11079 Fix Filtered Order List
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  build.gradle
Labels: feature: order list

#11083 [HACKWeek] Slowness of the reviews fetching
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/reviews/ReviewListViewModelTest.kt
Labels: feature: review list, category: performance

#11112 Replace mocked requests with real requests
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeRepository.kt
  build.gradle
Labels: feature: blaze

#11132 Fix NPE when attempting to re-create orders notification channel
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/NotificationChannelsHandler.kt
Labels: type: bug, feature: notifications

#11124 [Better Tablet Products] Removing of a picture is not saved
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
Labels: type: bug, feature: product details

#11127 [Better Tablet Products] Update visibility of the menu items on the Variations screen when the state changes
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/VariationListFragment.kt
Labels: type: bug, feature: product details, category: tablet

#11065 [Hackweek][Backend Receipts] Remove check on dev WC core version
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/views/OrderDetailPaymentInfoView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/receipt/PaymentReceiptHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/tracking/PaymentsFlowTracker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/receipt/PaymentReceiptHelperTest.kt
Labels: type: technical debt, feature: mobile payments

#11085 Delete product categories
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoriesRepository.kt
  WooCommerce/src/main/res/menu/menu_product_category_detail.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: status: do not merge, feature: product details

#11077 Edit product categories
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/OnProductCategoryClickListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ParentCategoryListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ParentCategoryListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoriesAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/ProductCategoriesRepository.kt
  WooCommerce/src/main/res/layout/product_category_list_item.xml
  WooCommerce/src/main/res/layout/skeleton_product_category_list_item.xml
  WooCommerce/src/main/res/menu/menu_product_category_detail.xml
  WooCommerce/src/main/res/navigation/nav_graph_add_product_category.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: category: tracks, feature: product details, unit-tests-exemption

#11030 Issue/11006 show custom date range
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/domain/ObserveLastUpdate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/DateUtils.kt
  WooCommerce/src/main/res/drawable/ic_edit_pencil_small_16dp.xml
  WooCommerce/src/main/res/layout/dashboard_main_stats_row.xml
  WooCommerce/src/main/res/layout/my_store_stats.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/integers.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/domain/GetTopPerformersTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/DateUtilsTest.kt
  fastlane/resources/values/strings.xml
Labels: feature: blaze

#11137 [Code Removal] Refunds - Removed unused code
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/refunds/RefundByItemsFragment.kt
  WooCommerce/src/main/res/layout/fragment_issue_refund.xml
  WooCommerce/src/main/res/layout/refund_by_items_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/refunds/IssueRefundViewModelTest.kt
Labels: type: enhancement, category: tracks, feature: refunds

#11126 [WooExpress Removal] Remove site upgrade options
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/domain/MoreMenuRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/di/TrialStatusBarFormatterFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/trial/TrialStatusBarFormatter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/upgrades/UpgradesScreen.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: store creation

#11142 Issue/11141 restore selected range
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
Labels: feature: stats

#11107 Activate Connectivity Tool Feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: order list, category: tracks

#11147 [Bug • Product Reviews] Fix endless navigation in product Reviews
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/reviews/ProductReviewsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewDetailFragment.kt
  WooCommerce/src/main/res/layout/fragment_product_reviews_list.xml
Labels: type: bug, feature: review details

#11152 Update fluxc version to 2.72.1 tag
  build.gradle
Labels: Releases

#11131 [Better Tablet Products]Adjust product images layout to behave correctly with margins on 2 panes mode
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImageViewerFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/TabletLayoutSetupHelper.kt
  WooCommerce/src/main/res/drawable/ic_gridicons_trash_24dp.xml
  WooCommerce/src/main/res/layout/fragment_product_image_viewer.xml
  WooCommerce/src/main/res/layout/fragment_product_images.xml
  WooCommerce/src/main/res/menu/menu_product_delete_image.xml
Labels: type: enhancement, category: tracks, category: tablet

#11133 Blaze: Add unit tests for destination parameters screen
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/creation/destination/BlazeCampaignCreationAdDestinationParametersViewModelTest.kt
Labels: category: unit tests, feature: blaze

#11150 [WooExpress removal] Upgrades code cleanup
  WooCommerce/build.gradle
  WooCommerce/src/debug/kotlin/com/woocommerce/android/WooCommerceDebug.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/di/DebugInterceptorModule.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/di/InAppPurchasesModule.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/iapshowcase/IAPDebugLogWrapper.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/iapshowcase/IAPShowcaseActivity.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/iapshowcase/IapMobilePayApiProvider.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/iapshowcase/purchase/IAPShowcasePurchaseFragment.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/iapshowcase/purchase/IAPShowcasePurchaseViewModel.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/iapshowcase/supportcheck/IAPShowcaseSupportCheckerFragment.kt
  WooCommerce/src/debug/kotlin/com/woocommerce/android/iapshowcase/supportcheck/IAPShowcaseSupportCheckerViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotification.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/LocalNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/notifications/local/PreconditionCheckWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/freetrial/FreeTrialSurveyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/freetrial/FreeTrialSurveyScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/freetrial/FreeTrialSurveyViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/dispatcher/PlanUpgradeStartFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/dispatcher/PlanUpgradeStartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/iap/CheckIapEligibilityFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/iap/IapEligibilityScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/iap/IapEligibilityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/iap/IsIAPEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/storecreation/iap/WooIapLogWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/launchstore/LaunchStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/launchstore/LaunchStoreScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/launchstore/LaunchStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/di/StartUpgradeFlowFactory.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plans/domain/StartUpgradeFlow.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plansubscriptions/PlanSubscriptionFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plansubscriptions/PlanSubscriptionScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/plansubscriptions/PlanSubscriptionViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/main/res/drawable/store_creation_loading_almost_there.xml
  WooCommerce/src/main/res/drawable/store_creation_loading_extending_capabilities.xml
  WooCommerce/src/main/res/drawable/store_creation_loading_opening_doorsdark.xml
  WooCommerce/src/main/res/drawable/store_creation_loading_turning_on_lights.xml
  WooCommerce/src/main/res/drawable/store_free_trial_summary_top_background.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/dispatcher/PlanUpgradeStartViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/storecreation/iap/IapEligibilityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/plansubscriptions/PlanSubscriptionViewModelTest.kt
  config/detekt/baseline.xml
Labels: type: task, category: tracks, feature: store creation

#11157 [Stats Custom Range] Rename classes
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/CustomRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/LastMonthRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/LastQuarterRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/LastWeekRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/LastYearRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/MonthToDateRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/QuarterToDateRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/TodayRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/WeekToDateRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/YearToDateRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/data/YesterdayRangeData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/CustomDateRangeDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/DateRange.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelectionTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: type: task, feature: stats

#11161 Issue/#11158 stats custom range unit tests
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/CustomDateRangeDataStore.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: stats, category: unit tests

#11116 [Tablet Support M3] Fix syncing selected items state when switching to dual pane
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_form.xml
Labels: type: bug, category: tablet

#11128 [Tablet Support M3] UI improvements for narrow screens
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/views/ExpandableProductCard.kt
Labels: category: tablet

#11130 [Tablet support M2, M3] analytics events update
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: category: tablet

#11139 Products - Stock Status - Adjust Dialog Dimensions Based on Device Orientation and Window Size
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/UpdateProductStockStatusFragment.kt
Labels: type: enhancement, feature: Bulk Product Actions

#11154 [Products] Bulk Stock Status Default Selection Enhancement
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/DropDown.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/UpdateProductStockStatusViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/UpdateProductStockStatusViewModelTest.kt
Labels: type: enhancement, feature: Bulk Product Actions

#11163 Restrict min start date to current day +1
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/budget/BlazeCampaignBudgetScreen.kt
Labels: feature: blaze

#11164 Task/enable blaze i3
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: blaze

#11159 [Better Tablet Products] Fixes for 2<->1 panes transitions
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailsToolbarHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListToolbarHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductsCommunicationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/TabletLayoutSetupHelper.kt
Labels: type: bug, feature: product list, category: tablet

#11174 Use the correct description max length value
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/ad/BlazeCampaignCreationEditAdViewModel.kt
Labels: feature: blaze

#11175 Pass selected range to analytics hub
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
Labels: feature: stats

#11143 [Shipping Labels] Include the new woo shipping plugin when checking for shipping labels.
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepositoryTest.kt
  build.gradle
Labels: type: task, feature: shipping labels

#11179 build: bump Tracks to `4.0.2`
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProvider.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/crashlogging/WCCrashLoggingDataProviderTest.kt
  build.gradle
Labels: category: tooling

#11170 [Better Tablet Support] If device height is 32dp bigger than sheet height, show full sheet
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCBottomSheetDialogFragment.kt
Labels: type: enhancement, feature: product list

#11166 [Better Tablet Products] The informational bubble about the write with ai button is oddly placed
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/WCProductPropertyButtonView.kt
  WooCommerce/src/main/res/layout/product_property_button_view_layout.xml
Labels: type: bug, feature: product details, category: tablet

#11183 [Better Products Tablets] Reordering and deleting from the products images screen doesn't work
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductImagesFragment.kt
Labels: type: bug, feature: product details

#11169 Issue/11167 stats custom range hide visitor stats
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/res/layout/dashboard_main_stats_row.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: stats

#11168 Custom Range: Analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsUsageTracksEventEmitter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
Labels: feature: stats, category: tracks

#11187 Place new Shipping plugin support behind a feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: shipping labels

#11144 [Better Tablet Products] Infinite loading
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/GroupedProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductDetailsToolbarHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductItemViewHolder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListAdapter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListToolbarHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UiHelpers.kt
  WooCommerce/src/main/res/layout/product_list_item.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelGenerateVariationFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductDetailViewModel_AddFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductListViewModelTest.kt
Labels: type: bug, feature: product list, category: tablet

#11186 Task/enable custom range tab feature
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: stats

#11192 Updated fluxc version to a 2.73.0 tag
  build.gradle
Labels: dependency update

#11193 Update release notes for 18.0
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11190 Fix remaining plugin check call when refreshing an Order with shipping labels
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: type: task, feature: shipping labels
