Repository woocommerce/woocommerce-android, pull requests merged in 2024-10, with the labels that each got.

#12705 [HACK] Many pop ups on a fresh app login: Remove, create a product with AI banner
  RELEASE-NOTES.txt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/util/Screen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/AIProductDescriptionDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/AIProductDescriptionDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/AIProductDescriptionDialogViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListViewState.kt
  WooCommerce/src/main/res/drawable-hdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-mdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-night-hdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-night-mdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-night-xhdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-night-xxhdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-night-xxxhdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-xhdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-xxhdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/img_ai_dialog.webp
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/list/ProductListViewModelTest.kt
Labels: type: enhancement, unit-tests-exemption

#12738 [Woo POS] Remove shadow from the check icon and from the button on the payment success screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/composeui/component/WooPosButtons.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/totals/payment/success/WooPosTotalsPaymentSuccessScreen.kt
Labels: feature: point of sale

#12709 [Bug] Fix incorrect instruction on "What is Tap to Pay" screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: bug

#12733 Issue/12706 fetch and save selected objective
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/objective/BlazeCampaignObjectiveFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/objective/BlazeCampaignObjectiveViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_blaze_campaign_creation.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/BlazeRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/creation/payment/BlazeCampaignPaymentSummaryViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewViewModelTests.kt
  build.gradle
Labels: feature: blaze, unit-tests-exemption

#12708 [Custom Fields] Read-only mode for JSON values
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/CustomFieldModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/SavedStateFlow.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsViewModelTest.kt
  build.gradle
Labels: type: enhancement, feature: order details, feature: product details

#12743 Issue/12742 check objective is set from preview
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewViewModelTests.kt
Labels: type: task, feature: blaze

#12692 [HACK] Fix whats new dialog size on big screens
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureAnnouncement.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/whatsnew/FeatureAnnouncementDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/whatsnew/FeatureAnnouncementDisplayAsDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/whatsnew/FeatureAnnouncementSizeSetupHelper.kt
  WooCommerce/src/main/res/layout/feature_announcement_dialog_fragment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/whatsnew/FeatureAnnouncementDisplayAsDialogTest.kt
Labels: type: bug, unit-tests-exemption

#12734 [Custom Fields] Empty state
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/viewmodel/MultiLiveEvent.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsViewModelTest.kt
Labels: type: enhancement, feature: order details, feature: product details

#12741 [Custom Fields] Tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/CustomFieldModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/editor/CustomFieldsEditorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/customfields/editor/CustomFieldsEditorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsViewModelTest.kt
Labels: feature: order details, category: tracks, feature: product details

#12749 [Custom Fields] Enable Feature
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: order details, feature: product details

#12756 [Wear App] Fix Orders List cache data sorting
  WooCommerce-Wear/src/main/java/com/woocommerce/android/wear/ui/orders/OrdersRepository.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/wear/ui/orders/OrdersRepositoryTest.kt
Labels: type: bug, feature: android wear

#12725 [Orders] background tasks error description
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/MultipleErrorsException.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/OrderNotificationWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/UpdateDataOnBackgroundWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/UpdateOrderAndOrderList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/UpdateOrderListBySelectedStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/UpdateOrdersListByStoreId.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/background/UpdateOrderAndOrderListTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/background/UpdateOrdersListBySelectedStoreTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/background/UpdateOrdersListByStoreIdTest.kt
Labels: type: enhancement, Feature: Background Updates

#12728 [Stats] background tasks error description
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/BackgroundUpdateAnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/UpdateAnalyticsDashboardRangeSelections.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/UpdateAnalyticsDataByRangeSelection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/background/UpdateDataOnBackgroundWorker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/background/BackgroundUpdateAnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/background/UpdateAnalyticsDashboardRangeSelectionsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/background/UpdateAnalyticsDataByRangeSelectionTest.kt
Labels: type: enhancement, unit-tests-exemption, Feature: Background Updates

#12758 [Login] Pass the correct authorization URL to the application passwords tutorial
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
Labels: priority: high

#12753 [Custom Fields] Update buttons to be disabled instead of hidden when there are no changes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/editor/CustomFieldsEditorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/editor/CustomFieldsEditorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsScreen.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/customfields/editor/CustomFieldsEditorViewModelTest.kt
Labels: type: enhancement, feature: order details, feature: product details

#12761 Issue/12750 blaze survey
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/success/BlazeCampaignSuccessBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/success/BlazeCampaignSuccessBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/success/ShouldShowFeedbackRequest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Feedback.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSharingBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/preview/AiProductPreviewScreen.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: category: tracks, feature: blaze, unit-tests-exemption

#12769 Fix issue with JSON parsing in Product AI creation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIRepository.kt
Labels: type: bug, feature: product details

#12759 [Woo POS] POS avalability check optimisation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/WooPosIsEnabled.kt
Labels: feature: point of sale

#12763 Fix navigation issue when triggering blaze from product detail
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/BlazeCampaignCreationDispatcher.kt
Labels: feature: blaze

#12720 [Login] Cleanup the LoginSiteCredentialsViewModel
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialScreen.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
Labels: feature: login, Tech Debt

#12765 [Deps] Migrate to Version Catalogs
  WooCommerce-Wear/build.gradle
  WooCommerce/build.gradle
  build.gradle
  gradle/libs.versions.toml
  libs/cardreader/build.gradle
  libs/commons/build.gradle
  libs/iap/build.gradle
  local-builds.gradle-example
  quicklogin/build.gradle
  settings.gradle
Labels: category: tooling, Core

#12770 [Product AI] Make requests in parallel when saving the product
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/SaveAiGeneratedProduct.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/preview/AiProductPreviewViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ai/preview/AiProductPreviewViewModelTest.kt
Labels: type: enhancement, feature: product details

#12766 [Products] Extract subscriptions outside of the Product DB table - Part 1
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Product.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ProductAggregate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionDetailsMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailBottomSheetBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailCardBuilder.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/customfields/list/CustomFieldsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/SubscriptionDetailsMapperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/details/ProductDetailBottomSheetBuilderTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/details/ProductDetailCardBuilderTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModelGenerateVariationFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModel_AddFlowTest.kt
  gradle/libs.versions.toml
Labels: feature: product details, type: technical debt

#12767 [Products] Extract subscriptions outside of the Product DB table - Part 2
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/SubscriptionDetails.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/DuplicateProduct.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/media/ProductImagesUploadWorkerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/DuplicateProductTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModel_AddFlowTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/inventory/ScanToUpdateInventoryViewModelTest.kt
Labels: feature: product details, type: technical debt

#12617 Check for shipping label support
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepositoryTest.kt
Labels: type: task, feature: shipping labels

#12764 Navigate to new shipping label flow
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrderNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLabelOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingLabelCreationFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_orders.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: type: task, feature: shipping labels

#12781 [Blaze i4] Objective screen UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/objective/BlazeCampaignObjectiveFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/objective/BlazeCampaignObjectiveScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/objective/BlazeCampaignObjectiveViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_blaze_campaign_creation.xml
  WooCommerce/src/main/res/values-night/colors_base.xml
  WooCommerce/src/main/res/values/colors_base.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: blaze, unit-tests-exemption

#12784 [Custom Fields] Fix issue where text formatting changes in Aztec are lost
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/aztec/AztecEditor.kt
Labels: type: bug, feature: order details, feature: product details

#12795 [Blaze i4] Add switch to the objective screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/objective/BlazeCampaignObjectiveScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/objective/BlazeCampaignObjectiveViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, category: tracks, feature: blaze

#12796 Enable feature flag for blaze objective
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: blaze

#12786 [Mobile Payments] Fix pay in person learn more link
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/LearnMoreUrlProvider.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/LearnMoreUrlProviderTest.kt
Labels: type: bug, feature: mobile payments

#12780 [Login] Allow signing in to Black-flagged websites
  gradle/libs.versions.toml
Labels: type: enhancement, status: do not merge, feature: login

#12788 Hide Jetpack upsells when site is black-flagged
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenterTest.kt
Labels: type: enhancement, feature: login

#12787 [Mobile Payments] Remove duplicate back button from the Try Tap to Pay customer provided note screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsCustomerNoteFragment.kt
Labels: type: bug, feature: mobile payments

#12798 Release/20.8 update changelog
  CHANGELOG.md
  fastlane/metadata/android/en-US/changelogs/default.txt
Labels: Releases

#12799 Release/20.8 update import keys
  fastlane/Fastfile
Labels: Releases

#12814 [Product Filter] Remove redundant filter button
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductSelectorScreenTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterCategoriesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorViewModelTest.kt
Labels: type: bug, type: task

#12812 Fix crash on site picker for accounts without woo sites
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: feature: login

#12818 [Product Details] Fix failure when trashing a new duplicated product
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: type: bug, feature: product details

#12802 Issue/creating shipping label add products cards
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/modifiers/Borders.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingLabelCreationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingLabelCreationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingProductsCard.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: shipping labels, unit-tests-exemption

#12816 Creating shipping label: Shipment details bottom sheet & Address card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/ShipmentDetails.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingLabelCreationFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingLabelCreationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingProductsCard.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: shipping labels

#12831 Creating shipping label: Total card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/ShipmentDetails.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingProductsCard.kt
  WooCommerce/src/main/res/drawable/ic_shipping_label_items.xml
  WooCommerce/src/main/res/drawable/ic_shipping_label_shipping_line.xml
Labels: type: task, feature: shipping labels

#12817 Creating shipping label: Shipment cost section
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/ShipmentDetails.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: shipping labels

#12808 [Bug] Text hidden behind checkbox in the "change due calculator" screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorScreen.kt
Labels: type: bug, feature: mobile payments

#12815 [Bug] Remove new lines from subtitle strings in "Collect Payment has moved" bottom sheet
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/simplepaymentsmigration/OrderCreateEditSimplePaymentsMigrationBottomSheetScreen.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: bug

#12834 [Product List] Fix product trashing failing to update product list
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListViewState.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/list/ProductListViewModelTest.kt
Labels: type: bug, feature: product list

#12837 Creating shipping label: Landscape support
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/AddressSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/PurchaseSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/ShipmentDetails.kt
Labels: type: task, category: woo extensions, feature: shipping labels, unit-tests-exemption

#12840 Selecting shipping service header
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/ShippingRatesSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingLabelCreationScreen.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, category: woo extensions, feature: shipping labels, unit-tests-exemption

#12835 Introduce AVIF displaying support
  RELEASE-NOTES.txt
  WooCommerce/build.gradle
  gradle/libs.versions.toml
Labels: type: enhancement, feature: order details, feature: product details, feature: product list

#12811 Add feature flag for non-simple product types project
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/featureflags/IsNonSimpleProductTypesEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/products/WooPosProductsDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/products/WooPosProductsDataSourceTest.kt
Labels: type: task, status: feature-flagged, feature: point of sale

#12852 [Order Details] Wrong currency for Shipping Lines
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
Labels: type: bug, feature: order details

#12851 Shipping rates pagination with tabs
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/ShippingRatesSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/wooshippinglabels/WooShippingLabelCreationScreen.kt
Labels: type: task, feature: shipping labels, unit-tests-exemption
