Repository woocommerce/woocommerce-android, pull requests merged in 2024-04, with the labels that each got.

#11038 [Tablet] Fix Order Details Infinite Shimmer Issue
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersRealAPI.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/OrdersCommunicationViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/widgets/WCEmptyView.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: order details, category: tablet, unit-tests-exemption

#11209 [UI Tests] Adjusted test data for real API e2e tests.
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/OrderListScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersRealAPI.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/TestData.kt
Labels: category: ui tests

#11217 Dynamic dashboard/preparations
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/TabNavComponent.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/login/WelcomeScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/StatsComponent.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/notifications/NotificationsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/AIProductDescriptionDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/AIProductDescriptionDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/AIProductDescriptionDialogViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/BarChartGestureListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsAvailabilityListener.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsLineChart.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsRevertedNoticeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsUsageTracksEventEmitter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardTransactionLauncher.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardUiModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/NotificationsPermissionBar.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/domain/GetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/domain/GetTopPerformers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/domain/ObserveLastUpdate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/BottomNavigationPosition.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/DashboardDestination.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainBottomNavigationView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/menu/menu_bottom_bar.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: type: task, category: tracks, feature: My Store screen, unit-tests-exemption

#11213 [Migrate Simple Payments] Navigation to the order creation screen
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewModelTest.kt
Labels: status: feature-flagged, feature: simple payments

#11207 Activate the New shipping plugin support
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: shipping labels

#11188 Check plugin activation analytic card
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/AnalyticCardConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/GetAnalyticPluginsCardActive.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/ObserveAnalyticsCardsConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsSettingsResourcesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/UpdateAnalyticsHubStats.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/ObserveAnalyticsCardsConfigurationTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/GetAnalyticPluginsCardActiveTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/settings/AnalyticsHubSettingsViewModelTest.kt
Labels: type: task, feature: analytics

#11198 feat: include `cardreader` module when uploading source context
  WooCommerce/build.gradle
Labels: type: enhancement, category: tooling

#11195 Analytics outdated configuration
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/ObserveAnalyticsCardsConfiguration.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/ObserveAnalyticsCardsConfigurationTest.kt
Labels: type: task, feature: analytics

#11206 [Migrate Simple Payments] Feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubSimplePaymentsMigrationEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewModelTest.kt
Labels: feature: simple payments

#11218 Dynamic dashboard: Data model
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardSerializer.kt
  WooCommerce/src/main/proto/dynamic_dashboard.proto
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: My Store screen, unit-tests-exemption

#11208 Bundle stats networking
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/listcard/AnalyticsHubListCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/UpdateAnalyticsHubStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubTestFixtures.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/UpdateAnalyticsHubStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/StatsRepositoryTests.kt
  build.gradle
Labels: type: task, feature: analytics

#11226 [Migrate Simple Payments] After a delay show bottom sheet
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigationTarget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/simplepaymentsmigration/OrderCreateEditSimplePaymentsMigrationBottomSheetFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/simplepaymentsmigration/OrderCreateEditSimplePaymentsMigrationBottomSheetScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubFragment.kt
  WooCommerce/src/main/res/drawable/ic_bell_64dp.xml
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelperTest.kt
Labels: status: feature-flagged, feature: simple payments, feature: order creation

#11228 Release fix/11210 fix null pointer exception product categories
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersRealAPI.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/TestData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
Labels: type: crash, feature: product details

#11233 Fix/align tracking with ios for custom range
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeGranularities.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: category: tracks, feature: My Store screen

#11239 Disable the dynamic dashboard feature flag temporarily
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: stats

#11242 Explore plugins analytic hub
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/PluginUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/HubSettingsCardItemsList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/DragAndDropSelectableItemsList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/settings/AnalyticsHubSettingsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModelTest.kt
Labels: type: task, feature: analytics

#11172 Analytics bundle UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/AnalyticCardConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/BundleStat.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/PluginUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/GetAnalyticPluginsCardActive.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/GetReportUrl.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/ObserveAnalyticsCardsConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/listcard/AnalyticsHubListCardView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/HubSettingsCardItemsList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsSettingsResourcesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsUpdateDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/UpdateAnalyticsHubStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/UpdateStates.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/DragAndDropSelectableItemsList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubTestFixtures.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/ObserveAnalyticsCardsConfigurationTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/UpdateAnalyticsHubStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/hub/GetAnalyticPluginsCardActiveTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/settings/AnalyticsHubSettingsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/StatsRepositoryTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductFilterListViewModelTest.kt
Labels: type: task, feature: analytics, unit-tests-exemption

#11241 Integer overflow crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/budget/BlazeCampaignBudgetViewModel.kt
  build.gradle
Labels: type: crash

#11231 [Dynamic Dashboard] Extract stats card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/RememberNavController.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardUiModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetSelectedDateRange.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetStats.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
Labels: type: task, feature: stats, category: tracks, unit-tests-exemption

#11247 Prepare release notes for 18.1
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11224 [Better Errors] Redirect Login to Application Password Tutorial
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WPApiSiteRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/applicationpassword/ApplicationPasswordTutorialFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/applicationpassword/ApplicationPasswordTutorialScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/sitecredentials/JetpackActivationSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
  build.gradle
Labels: type: task, feature: login

#11240 [Better Errors] Redirect app password to authorization webview
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/applicationpassword/ApplicationPasswordTutorialScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/applicationpassword/ApplicationPasswordTutorialViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
Labels: type: task, feature: login, unit-tests-exemption

#11251 [Better Errors] Handle password tutorial corner cases
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: login

#11252 Issue/improve app password tutorial UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialViewModel.kt
  WooCommerce/src/main/res/drawable-hdpi/app_password_tutorial_hint.webp
  WooCommerce/src/main/res/drawable-xhdpi/app_password_tutorial_hint.webp
  WooCommerce/src/main/res/drawable-xxhdpi/app_password_tutorial_hint.webp
  WooCommerce/src/main/res/drawable-xxxhdpi/app_password_tutorial_hint.webp
Labels: type: task, feature: login

#11227 [Migrate Simple Payments] Custom amount click opens custom amount section
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/simplepaymentsmigration/OrderCreateEditSimplePaymentsMigrationBottomSheetFragment.kt
Labels: status: feature-flagged, feature: simple payments

#11246 [Dynamic dashboard] Stats ViewModel unit tests
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/stats/GetStatsTest.kt
Labels: feature: stats, category: unit tests

#11254 [Migrate Simple Payments] Fix back navigation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderListViewModelTest.kt
Labels: feature: order list, feature: simple payments

#11258 [Better Errors] Connectivity tool design review
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/ConnectivityCheckCardData.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModelTest.kt
Labels: type: task, feature: order list, unit-tests-exemption

#11265 [Better Errors] Application password tutorial tracks
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialViewModel.kt
Labels: type: task, category: tracks, feature: login

#11259 [Payment Method Improvements] Feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cashpayments/OtherPaymentMethodsEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: mobile payments, unit-tests-exemption

#11272 Revert Woo.com domain usages in favor of woocomerce.com
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Support.md
  CONTRIBUTING.md
  README.md
  WooCommerce/src/debug/assets/jitm_testing.json
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/WCSSRModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/PluginUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/InfoScreenFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/domain/DomainPurchaseViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/shipping/InstallWCShippingViewModel.kt
  WooCommerce/src/main/res/layout/layout_order_creation_customer_info.xml
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/creation/destination/BlazeCampaignCreationAdDestinationParametersViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/creation/destination/BlazeCampaignCreationAdDestinationViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/cardreader/CardReaderPaymentViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/about/TapToPayAboutViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModelTest.kt
  docs/issue-triage.md
  fastlane/resources/values/strings.xml
Labels: type: technical debt

#11286 Networking support gift cards analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/PluginUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/network/giftcard/GiftCardRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/GetReportUrl.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/AnalyticsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/sync/UpdateAnalyticsHubStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsHubTestFixtures.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/AnalyticsRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/UpdateAnalyticsHubStatsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/StatsRepositoryTests.kt
  build.gradle
Labels: type: task, feature: analytics

#11288 Add session as a plugin card
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/AnalyticCardConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/PluginUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/GetAnalyticPluginsCardActive.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/ObserveAnalyticsCardsConfigurationTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/settings/AnalyticsHubSettingsViewModelTest.kt
  build.gradle
Labels: type: task, feature: analytics

#11290 Remove EAH feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/ObserveAnalyticsCardsConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: feature: analytics

#11268 Fix the AI product generation
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIPrompts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIRepository.kt
  build.gradle
Labels: type: bug

#11289 [Better Errors] Tweak incorrect connectivity tool UI elements
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolScreen.kt
Labels: type: task, feature: order list

#11274 [Migrate Simple Payments] Remove MIGRATION_SIMPLE_PAYMENTS FF with unused code
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubSimplePaymentsMigrationEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsDialogViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/dialog_simple_payments.xml
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/hub/PaymentsHubViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/simplepayments/SimplePaymentsDialogViewModelTest.kt
Labels: category: tracks, feature: mobile payments

#11285 Fix/blaze image errors
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaFilesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/ad/BlazeCampaignCreationEditAdFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/ad/BlazeCampaignCreationEditAdViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: blaze

#11262 [Dynamic Dashboard] Introduce Site Dagger component
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DashboardDataStoreModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/SiteComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/mediapicker/MediaPickerModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/tools/SelectedSite.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/hub/depositsummary/PaymentsHubDepositSummaryRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductsMapper.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/hub/depositsummary/PaymentsHubDepositSummaryRepositoryTest.kt
  settings.gradle
Labels: feature: My Store screen, unit-tests-exemption

#11263 [Dynamic Dashboard] Widget editor persistence
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/widgeteditor/DashboardWidgetEditorViewModel.kt
Labels: feature: My Store screen

#11276 Track WC core version in every track event
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/domain/MoreMenuRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListIsAdvancedSearchSupported.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/receipt/PaymentReceiptHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/GetWooCorePluginCachedVersion.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/StatsRepositoryTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListIsAdvancedSearchSupportedTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/receipt/PaymentReceiptHelperTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/prefs/MainSettingsPresenterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/util/GetWooCorePluginCachedVersionTest.kt
Labels: category: tracks

#11299 Merge 18.1 release to trunk
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIPrompts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/media/MediaFilesRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/ad/BlazeCampaignCreationEditAdFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/ad/BlazeCampaignCreationEditAdViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: Releases

#11296 [UI Tests] Slowing down search to allow for UI transitions on slower Emulators.
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/products/ProductListScreen.kt
Labels: category: ui tests

#11301 Update release notes for 18.2
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11257 [Dynamic Dashboard] Extract Blaze Card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
Labels: type: task, feature: stats, unit-tests-exemption

#11277 [Better Errors] Enable the Application Password Tutorial
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: login

#11302 [Better Errors] Fix application password screen issues
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/LoginActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/WPApiSiteRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
Labels: type: task, feature: login

#11300 EAH M1 design review
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce/src/main/res/layout/analytics_information_card_view.xml
  WooCommerce/src/main/res/layout/analytics_list_card_view.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelectionTest.kt
Labels: type: enhancement, feature: analytics

#11304 EAH design feedback M2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/AnalyticsHubFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/MarginBottomItemDecoration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/DragAndDropSelectableItemsList.kt
  WooCommerce/src/main/res/drawable/ic_analytics_calendar.xml
  WooCommerce/src/main/res/drawable/ic_edit_pencil.xml
  WooCommerce/src/main/res/layout/fragment_analytics.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: analytics

#10613 Replace org.wordpress.utils.GravatarUtils by com.gravatar.GravatarUtils
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationMagicLinkRequestViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/wpcom/JetpackActivationWPComPasswordViewModel.kt
  build.gradle
Labels: type: task, type: technical debt

#11311 Specify a ChatGPT model explicitly
  WooCommerce/src/main/kotlin/com/woocommerce/android/ai/AIRepository.kt
Labels: feature: product details

#11326 Fix/11270 errors generating weekly strings
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreStatsView.kt
Labels: type: bug

#11350 Fix/blaze fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/ad/BlazeCampaignCreationEditAdViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/payment/BlazeCampaignPaymentSummaryViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/blaze/creation/payment/BlazeCampaignPaymentSummaryViewModelTests.kt
Labels: feature: blaze

#11351 Update leak canary o to latest version to avoid potential crashes
  WooCommerce/build.gradle
Labels: type: technical debt

#11355 Update release notes for 18.3
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11348 Clear runnable on destroy
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/tags/ProductTagsFragment.kt
Labels: type: crash

#11330 Upgrade compose BOM
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/ad/BlazeCampaignCreationEditAdScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/budget/BlazeCampaignBudgetScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/destination/BlazeCampaignCreationAdDestinationParametersScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/destination/BlazeCampaignCreationAdDestinationScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/payment/BlazeCampaignPaymentMethodsListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/preview/BlazeCampaignCreationPreviewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/targets/BlazeCampaignTargetSelectionScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/common/wpcomwebview/WPComWebViewScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Toolbar.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/jetpack/JetpackActivationEligibilityErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/accountmismatch/AccountMismatchErrorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/applicationpassword/ApplicationPasswordTutorialScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/payments/PaymentsPreSetupScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/connectivitytool/OrderConnectivityToolScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/coupon/list/OrderCouponListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/customerlist/CustomerListScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/customfields/CustomOrderFieldsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/plugins/PluginsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ai/AddProductWithAIScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/selector/ProductSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/variations/selector/VariationSelectorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePickerScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/themes/ThemePreviewScreen.kt
  build.gradle
Labels: type: enhancement, dependency update

#11319 [Dynamic Dashboard] Widget container
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/widgeteditor/DashboardWidgetEditorViewModel.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModelTest.kt
Labels: feature: My Store screen

#11325 [Dynamic dashboard] New widget card style
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/OverflowMenu.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/WidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsView.kt
  WooCommerce/src/main/res/layout/fragment_my_store.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: My Store screen

#11318 Issue/11237 extract top performers view
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/ProductThumbnail.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardTopPerformersView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModelTest.kt
Labels: category: tracks, feature: My Store screen, unit-tests-exemption

#11328 [Dynamic Dashboard] New Blaze widget style
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: My Store screen, unit-tests-exemption

#11361 Top Performers new UI with date range selector
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetSelectedDateRange.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/res/drawable/ic_calendar_16.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: category: tracks, feature: My Store screen, unit-tests-exemption

#11293 Tracking is done on the main thread
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppInitializer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
Labels: category: tracks

#11363 Handle storage of stats granularity and custom range for stats and top performers independently
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/datastore/DataStoreType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetSelectedDateRange.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetSelectedRangeForDashboardStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetSelectedRangeForTopPerformers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/CustomDateRangeDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/StatsCustomDateRangeDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/data/TopPerformersCustomDateRangeDataStore.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
Labels: feature: My Store screen, unit-tests-exemption

#11368 Update image minimum size restrictions from 600x600 to 400x400
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/BlazeRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/ad/BlazeCampaignCreationEditAdViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: blaze, unit-tests-exemption

#11362 Issue/11359 unavailable cards
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/SiteComponent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/HubSettingsCardItemsList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/LazyListDragAndDrop.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/DragAndDropItemsList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/DragAndDropSelectableItemsList.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/SelectionCheck.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/StatsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/widgeteditor/DashboardWidgetEditorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/widgeteditor/DashboardWidgetEditorViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/stats/GetStatsTest.kt
  build.gradle
Labels: type: enhancement, feature: My Store screen

#11366 [Watch App] Introduce wear authentication flow
  WooCommerce-Wear/build.gradle
  WooCommerce-Wear/src/main/AndroidManifest.xml
  WooCommerce-Wear/src/main/java/com/woocommerce/android/app/WearMainActivity.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/datastore/DataStoreType.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/ApplicationModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/DataStoreModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionService.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/Navigation.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/main/res/values/wear.xml
  WooCommerce/build.gradle
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionService.kt
  WooCommerce/src/main/res/values/wear.xml
  libs/commons/build.gradle
  libs/commons/src/main/AndroidManifest.xml
  libs/commons/src/main/java/com/woocommerce/commons/di/WearableClientModule.kt
  libs/commons/src/main/java/com/woocommerce/commons/viewmodel/MultiLiveEvent.kt
  libs/commons/src/main/java/com/woocommerce/commons/viewmodel/SavedStateFlow.kt
  libs/commons/src/main/java/com/woocommerce/commons/viewmodel/ScopedViewModel.kt
  libs/commons/src/main/java/com/woocommerce/commons/wear/Paths.kt
  settings.gradle
Labels: type: task, unit-tests-exemption, feature: android wear

#11371 Fix crash in MyStoreFragment due to accessing the view binding when it's null
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
Labels: type: crash, priority: high, feature: My Store screen

#11372 [Dynamic Dashboard] Replace the edit widgets icon
  WooCommerce/src/main/res/menu/menu_dashboard_fragment.xml
Labels: feature: My Store screen

#11378 [Dynamic dashboard] Update Blaze eligibility check
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/IsBlazeEnabled.kt
Labels: feature: My Store screen

#11373 Issue/11369 onboarding card UI update
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/mystore/MyStoreFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/OnboardingExtensions.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/OnboardingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/OnboardingUIModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/StoreOnboardingViewModel.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/onboarding/StoreOnboardingViewModelTest.kt
Labels: category: tracks, feature: My Store screen, unit-tests-exemption

#11384 [Watch App] Introduce Site handling and changes event
  WooCommerce-Wear/build.gradle
  WooCommerce-Wear/src/main/AndroidManifest.xml
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionService.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/Navigation.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/MyStoreScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/SiteObserver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionService.kt
  libs/commons/src/main/java/com/woocommerce/commons/wear/Paths.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11376 [UI Tests] Added a rerun parameter
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/rules/Retry.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/rules/RetryTestRule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/orders/SingleOrderScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersRealAPI.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/OrdersUITest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductsRealAPI.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ProductsUITest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/ReviewsUITest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/StatsUITest.kt
Labels: category: ui tests

#11387 [Dynamic Dashboard] Fix the dashboard background
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/res/layout/activity_main.xml
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
Labels: type: enhancement, feature: My Store screen

#11396 [Watch App] Introduce initial testing infrastructure and unit tests
  WooCommerce-Wear/build.gradle
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/BaseUnitTest.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/CoroutineTestRule.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/login/LoginViewModelTest.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  libs/commons/src/main/java/com/woocommerce/commons/util/CoroutineDispatchers.kt
Labels: type: task, category: unit tests, feature: android wear

#11402 Update release notes for 18.4
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11380 [Dynamic Dashboard] Handle hiding Blaze card when not available
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/ObserveBlazeWidgetStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/ObserveStatsWidgetsStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/widgeteditor/DashboardWidgetEditorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/widgeteditor/DashboardWidgetEditorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListRepository.kt
Labels: type: enhancement, feature: My Store screen, unit-tests-exemption

#11404 [Dynamic Dashboard] Handle of Hide action for stats card + update error view for inactive stats
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/OverflowMenu.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardUiHelpers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/WidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModelTest.kt
Labels: type: enhancement, feature: My Store screen

#11409 Port MyStoreFragment fix to DashboardFragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
Labels: type: crash, feature: My Store screen

#11400 Address SQLiteBlobTooBigException crash
  WooCommerce/src/main/kotlin/com/woocommerce/android/WooWellSqlConfig.kt
Labels: type: crash

#11410 [Dynamic Dashboard] Share Your Store card
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/SiteModelExt.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/WidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModel.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
Labels: type: enhancement, feature: My Store screen, unit-tests-exemption

#11417 [Dynamic Dashboard] Update Blaze card UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: My Store screen

#11421 Add EOSL_M1 feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: order details
