Repository woocommerce/woocommerce-android, pull requests merged in 2024-05, with the labels that each got.

#11415 [Watch App] Introduce login UI and error handling
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/ObserveLoginRequest.kt
  WooCommerce-Wear/src/main/res/values/strings.xml
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/login/LoginViewModelTest.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11420 [Dynamic Dashboard] Prevent unselecting the last selected item
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/widgeteditor/DashboardWidgetEditorScreen.kt
Labels: type: enhancement, feature: My Store screen

#11430 Pass the isEnabled state to draggable item
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/hub/settings/AnalyticsHubSettingScreen.kt
Labels: type: bug, feature: analytics

#11433 Record precise time in encrypted logs
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/RollingLogEntries.kt
Labels: category: tooling

#11435 [Beta fix] Fix crash with Composable DatePickerDialog
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/DialogButtonsRowLayout.kt
Labels: type: crash, feature: coupons, feature: blaze

#11424 Beta fix: Category parent selection crash fix
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
Labels: type: crash

#11386 [Bug] Adding item by scanner fails if DB is not synced
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/CreateOrderItem.kt
Labels: type: bug

#11436 [Dynamic Dashboard] Add widget error view
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/WidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/WidgetError.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/res/drawable/img_widget_error.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: My Store screen

#11419 [Dynamic Dashboard] Feedback card
  WooCommerce/src/main/kotlin/com/woocommerce/android/FeedbackPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/res/layout/fragment_dashboard.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModelTest.kt
Labels: type: enhancement, feature: My Store screen

#11423 [Watch app] Improve wear login timeout logic
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/ObserveLoginRequest.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/login/LoginViewModelTest.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/login/ObserveLoginRequestTest.kt
Labels: type: task, feature: android wear

#11437 [Dynamic Dashboard] Tracking + enable feature
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/widgeteditor/DashboardWidgetEditorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/ShouldShowOnboarding.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: category: tracks, feature: My Store screen

#11440 Update fluxc to 2.78.0
  build.gradle
Labels: dependency update

#11446 [18.5 release] Rename string resource's key
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardUiHelpers.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: Releases

#11445 Update release notes for 18.5
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11439 [Watch App] Introduce My Store with network and database layers
  WooCommerce-Wear/build.gradle
  WooCommerce-Wear/src/debug/AndroidManifest.xml
  WooCommerce-Wear/src/debug/java/com/woocommerce/android/app/WooCommerceWearDebug.kt
  WooCommerce-Wear/src/debug/java/com/woocommerce/android/di/DebugInterceptorModule.kt
  WooCommerce-Wear/src/main/AndroidManifest.xml
  WooCommerce-Wear/src/main/java/com/woocommerce/android/app/WooCommerceWear.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/AppConfigModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/FluxCModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/presentation/component/LoadingScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/ObserveLoginRequest.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/GetMyStoreStats.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/MyStoreScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/stats/StatsRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/stats/StatsTimeRangeData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/stats/TodayRangeData.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/login/ObserveLoginRequestTest.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/mystore/MyStoreViewModelTest.kt
  build.gradle
  libs/commons/src/main/java/com/woocommerce/commons/extensions/CalendarExt.kt
  libs/commons/src/main/java/com/woocommerce/commons/extensions/DateExt.kt
  libs/commons/src/main/java/com/woocommerce/commons/extensions/NumberExt.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11448 Issue/11443 onboarding blaze error handling
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/ObserveMostRecentBlazeCampaign.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/ObserveBlazeWidgetStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/OnboardingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/domain/ShouldShowCreateTestOrderScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/ProductSelectionListViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/list/ProductListViewModelTest.kt
Labels: type: enhancement, category: tracks, feature: My Store screen

#11442 [Dynamic Dashboard] Align top performers and stats cards
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/analytics/ranges/StatsTimeRangeSelection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsHeader.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: My Store screen

#11454 Dynamic dashboard/UI tests
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/InitializationRule.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/util/Screen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/TabNavComponent.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/login/PasswordScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/login/WelcomeScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/DashboardScreen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/StatsComponent.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/StatsHeaderExt.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/screens/mystore/TopPerformersComponent.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/screenshot/ScreenshotTest.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/StatsUITest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsHeader.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsTestTags.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/onboarding/ShouldShowOnboardingTest.kt
Labels: category: ui tests, feature: My Store screen

#11463 [Dynamic Dashboard] Fix crash caused by division by zero in the onboarding card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/OnboardingScreen.kt
Labels: type: crash, feature: My Store screen, feature: store onboarding

#11451 [Watch App] Introduce Store Stats data request through Phone
  WooCommerce-Wear/src/main/AndroidManifest.xml
  WooCommerce-Wear/src/main/java/com/woocommerce/android/datastore/DataStoreType.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/AppConfigModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/DataStoreModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/system/NetworkStatus.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/ObserveLoginRequest.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/GetMyStoreStats.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/MyStoreViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/datasource/FetchStatsFromPhone.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/datasource/FetchStatsFromStore.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/datasource/MyStoreStatsRequest.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/stats/StatsRepository.kt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/GetWearableMyStoreStats.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionService.kt
  libs/commons/src/main/java/com/woocommerce/commons/wear/Paths.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11458 [Watch App] Introduce Stats improved UI alongside Pager for Orders list
  WooCommerce-Wear/build.gradle
  WooCommerce-Wear/src/main/AndroidManifest.xml
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/presentation/theme/WooColors.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/tile/MainTileService.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/Navigation.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/MyStoreScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersListScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStatsFromPhone.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStatsFromStore.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/MyStoreStatsRequest.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StatsRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/range/StatsTimeRangeData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/range/TodayRangeData.kt
  WooCommerce-Wear/src/main/res/values/strings.xml
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/mystore/StoreStatsViewModelTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11428 Add a way to clear parent category
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
  WooCommerce/src/main/res/layout/fragment_add_product_category.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement

#11411 [Mobile payments] Navigate to the about screen if a user clicks on learn more on TTP summary screen
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/LearnMoreAboutSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/about/TapToPayAboutScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/about/TapToPayAboutViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/taptopay/summary/TapToPaySummaryViewModelTest.kt
Labels: feature: mobile payments, feature: simple payments, unit-tests-exemption

#11464 Issue/introduce orders list
  WooCommerce-Wear/src/main/java/com/woocommerce/android/presentation/theme/WooColors.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/Navigation.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersListScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStatsFromPhone.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStatsFromStore.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StatsRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StoreStatsRequest.kt
  WooCommerce-Wear/src/main/res/values/strings.xml
Labels: type: task, unit-tests-exemption, feature: android wear

#11470 [Dynamic Dashboards] Fix bugs reported in the beta testing
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/WidgetError.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/onboarding/DashboardOnboardingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: bug, feature: My Store screen

#11452 Validate percentage amount and catch error
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/customamounts/CustomAmountsViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: crash

#11469 [Dynamic dashboard] Improve "has orders" logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/SiteObserver.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/ObserveStatsWidgetsStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainPresenter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/ShouldShowOnboarding.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/StoreOnboardingRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/onboarding/ShouldShowOnboardingTest.kt
Labels: type: enhancement, feature: My Store screen

#11472 New shipping UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/navigation/OrderCreateEditNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/AmountBigDecimalTextField.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_order_creations.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModelTest.kt
Labels: type: task, feature: order details

#11478 Shipping methods networking
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingMethod.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/network/shippingmethods/ShippingMethodsRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodById.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodsWithOtherValue.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingMethodsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingMethodsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodByIdTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodsWithOtherValueTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingMethodsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingMethodsRepositoryTest.kt
  build.gradle
Labels: type: task, feature: order creation

#11479 Shippling lines M1 analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModelTest.kt
Labels: type: task, category: tracks, feature: order creation

#11481 Release shipping method selection
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: order creation

#11483 [Release][18.6] Update 18.6 release notes
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11475 [Dynamic dashboard] feature flag for m2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: My Store screen

#11471 [Watch App] Introduce Orders fetching strategy
  WooCommerce-Wear/src/main/AndroidManifest.xml
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/DataStoreModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/FetchOrders.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersListScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStatsFromPhone.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StatsRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/range/StatsTimeRangeData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/range/TodayRangeData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/util/DateUtils.kt
  WooCommerce-Wear/src/main/res/values/strings.xml
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionService.kt
  build.gradle
  libs/commons/src/main/java/com/woocommerce/commons/wear/Paths.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11488 [Dynamic Dashboard] Introduce a component to re-use as header in the filterable cards
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFilterableCardHeader.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: task, feature: My Store screen

#11490 Add a check to avoid app crash when the products list is empty
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/blaze/DashboardBlazeViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/ObserveBlazeWidgetStatus.kt
Labels: type: crash, feature: My Store screen, feature: blaze

#11484 Attempt to fix crash on ProductListToolbarHelper
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListToolbarHelper.kt
Labels: type: crash, category: tablet

#11506 [Woo Pos] WooPosActivity exported in debug to make it possible to start from AS
  WooCommerce/src/debug/AndroidManifest.xml
  WooCommerce/src/main/AndroidManifest.xml
Labels: feature: point of service

#11510 [Dynamic Dashboard] Improvements to the custom range selection logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/GetSelectedRangeForTopPerformers.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
Labels: type: bug, status: feature-flagged, feature: My Store screen

#11414 [Payment Method Improvements] Cash Payment Improvements
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/ChangeDueCalculatorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/ChangeDueCalculatorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/methodselection/ChangeDueCalculatorViewModelTest.kt
Labels: type: enhancement, feature: mobile payments, status: feature-flagged, unit-tests-exemption

#11477 [Dynamic Dashboard] Reviews card: business logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/reviews/ReviewListRepository.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, category: tracks, feature: My Store screen, unit-tests-exemption

#11491 [Dynamic Dashboard] Reviews card UI
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/helpers/util/Screen.kt
  WooCommerce/src/androidTest/kotlin/com/woocommerce/android/e2e/tests/ui/StatsUITest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsViewModel.kt
  WooCommerce/src/main/res/drawable/ic_comment.xml
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: My Store screen

#11503 [Dynamic Dashboard] Navigate to reviews details from reviews card
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
Labels: type: enhancement, status: feature-flagged, feature: My Store screen

#11505 [Watch App] Introduce Order Details UI
  WooCommerce-Wear/src/main/AndroidManifest.xml
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/FlowExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/Navigation.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/ObserveLoginRequest.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/mystore/MyStoreScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/FormatOrderData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/FetchOrderProducts.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/FetchOrders.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStats.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStatsFromPhone.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStatsFromStore.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StatsRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StoreStatsData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StoreStatsRequest.kt
  WooCommerce-Wear/src/main/res/values/strings.xml
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/mystore/StoreStatsViewModelTest.kt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/GetWearableOrderProducts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionService.kt
  libs/commons/src/main/java/com/woocommerce/commons/wear/Paths.kt
  libs/commons/src/main/java/com/woocommerce/commons/wear/orders/WearOrderProduct.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11486 [Dynamic Dashboard] Orders card
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/Order.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/OrderMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Tag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardDataStore.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/DashboardRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/ObserveSiteOrdersState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/orders/DashboardOrdersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/orders/DashboardOrdersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListRepository.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: feature: My Store screen, unit-tests-exemption

#11512 [Woo Pos] Compose navigation template
  WooCommerce/build.gradle
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cart/WooPosCartNavigation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cart/WooPosCartScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cart/WooPosCartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/checkout/WooPosCheckoutNavigation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/checkout/WooPosCheckoutScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/checkout/WooPosCheckoutViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/root/WooPosActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/root/navigation/WooPosMainFlowGraph.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/root/navigation/WooPosNavigationTransitions.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/root/navigation/WooPosRootHost.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/util/WooPosComposePreviewAnnotation.kt
Labels: feature: point of service

#11526 [Dynamic Dashboard] Beta release fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsHeader.kt
  WooCommerce/src/main/res/menu/menu_dashboard_fragment.xml
Labels: feature: My Store screen

#11513 [Woo POS] Update conditions for showing POS entry point
  WooCommerce/src/androidTest/assets/mocks/mappings/woopos/settings.json
  WooCommerce/src/androidTest/assets/mocks/mappings/woopos/stripe_account.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivityViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/IsWooPosEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/IsWooPosFFEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/UiHelpers.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/MainActivityViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/IsWooPosEnabledTest.kt
Labels: feature: point of service

#11527 Save shipping methods locally
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/ShippingMethod.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/network/shippingmethods/ShippingMethodsRestClient.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodById.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodsWithOtherValue.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingMethodsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingMethodsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/RefreshShippingMethods.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingMethodsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodByIdTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodsWithOtherValueTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingMethodsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/RefreshShippingMethodsTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingMethodsRepositoryTest.kt
  build.gradle
Labels: type: enhancement, type: task, feature: order creation

#11533 [Dynamic Dashboard] Orders card status filtering
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/orders/DashboardOrdersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/orders/DashboardOrdersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListRepository.kt
Labels: feature: My Store screen

#11401 Remove Unused Drawables
  WooCommerce/src/main/res/drawable/my_store_summary_header_image.webp
Labels: type: crash, feature: My Store screen

#11530 [Dynamic Dashboard] Fix issue of not updating the orders count in some scenarios
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/data/ObserveSiteOrdersState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/ObserveProcessingOrdersCount.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/FakeDispatcher.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/main/ObserveProcessingOrdersCountTest.kt
Labels: type: enhancement, category: tracks, feature: My Store screen

#11540 Fix ShippingMethod table creation
  build.gradle
Labels: type: crash

#11532 [Payment Method Improvements] AppBar and Navigation for ChangeDueCalculatorFragment
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/ChangeDueCalculatorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/ChangeDueCalculatorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/ChangeDueCalculatorViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/methodselection/ChangeDueCalculatorViewModelTest.kt
Labels: feature: mobile payments, status: feature-flagged

#11552 [Dynamic Dashboard] Fix date header layout to work better with large fonts
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsHeader.kt
Labels: type: bug, feature: My Store screen

#11554 [Dynamic Dashboard] Make order items clickable
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/orders/DashboardOrdersCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/orders/DashboardOrdersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListRepository.kt
Labels: feature: My Store screen

#11528 Integrate OrderDetailsViewModel with FetchOrderProducts use case
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/DataMapExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/FlowExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/FetchSiteData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/ObserveLoginRequest.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/FormatOrderData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/FetchOrderProducts.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/FetchOrders.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StatsRepository.kt
  WooCommerce-Wear/src/main/res/values/strings.xml
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/login/FetchSiteDataTest.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/login/LoginViewModelTest.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/orders/list/FetchOrdersTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  build.gradle
  libs/commons/src/main/java/com/woocommerce/commons/wear/Paths.kt
Labels: type: task, feature: android wear

#11561 [Watch App] Simplify commons library
  WooCommerce-Wear/src/main/AndroidManifest.xml
  WooCommerce-Wear/src/main/java/com/woocommerce/android/complication/MainComplicationService.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/WearableClientModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/CalendarExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/DataMapExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/DateExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/FlowExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/NumberExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/OrderEntityExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/FetchSiteData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/FormatOrderData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/FetchOrderProducts.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/FetchOrders.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStats.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StatsRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/StoreStatsData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/range/TodayRangeData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/viewmodel/ScopedViewModel.kt
  WooCommerce-Wear/src/main/res/drawable-round/tile_preview.png
  WooCommerce-Wear/src/main/res/drawable/tile_preview.png
  WooCommerce-Wear/src/test/java/com/woocommerce/android/CoroutineTestRule.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/login/LoginViewModelTest.kt
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/orders/list/FetchOrdersTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/GetWearableOrderProducts.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableClientModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionService.kt
  libs/commons/build.gradle
  libs/commons/src/main/java/com/woocommerce/commons/Paths.kt
  libs/commons/src/main/java/com/woocommerce/commons/WearSharedModels.kt
  libs/commons/src/main/java/com/woocommerce/commons/util/CoroutineDispatchers.kt
  libs/commons/src/main/java/com/woocommerce/commons/viewmodel/MultiLiveEvent.kt
  libs/commons/src/main/java/com/woocommerce/commons/viewmodel/SavedStateFlow.kt
  libs/commons/src/main/java/com/woocommerce/commons/viewmodel/ScopedViewModel.kt
  libs/commons/src/main/java/com/woocommerce/commons/wear/orders/WearOrderProduct.kt
Labels: type: task, feature: android wear

#11560 Issue/11546 fix visitor stats for custom ranges
  WooCommerce/src/androidTest/assets/mocks/mappings/stats/stats_visits-day.json
  WooCommerce/src/androidTest/assets/mocks/mappings/stats/stats_visits-month.json
  WooCommerce/src/androidTest/assets/mocks/mappings/stats/stats_visits-week.json
  WooCommerce/src/androidTest/assets/mocks/mappings/stats/stats_visits-year.json
  WooCommerce/src/androidTest/assets/mocks/mappings/stats/summary_stats-month.json
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
Labels: type: bug, feature: My Store screen

#11564 [Watch App] Introduce UI improvements
  WooCommerce-Wear/src/main/java/com/woocommerce/android/extensions/OrderEntityExt.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/presentation/component/ErrorScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/presentation/component/ScrollingLazyColumnAdapter.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/FormatOrderData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/OrdersRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/FetchOrders.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/viewmodel/ScopedViewModel.kt
  WooCommerce-Wear/src/main/res/values-round/strings.xml
  WooCommerce-Wear/src/main/res/values/strings.xml
  WooCommerce-Wear/src/test/java/com/woocommerce/android/ui/orders/list/FetchOrdersTest.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  libs/commons/src/main/java/com/woocommerce/commons/WearSharedModels.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11556 Shipping lines in order details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/CustomAmountCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLineCard.kt
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
Labels: type: task, feature: order details

#11571 Order create edit shipping lines support
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/theme/Typography.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/DetermineMultipleLinesContext.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingLineDetails.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingLineFormSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLineCard.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_form.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/DetermineMultipleLinesContextTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelperTest.kt
Labels: type: task, feature: order creation

#11555 [Payment Method Improvements] The Payment Details section should display two text fields
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/ChangeDueCalculatorScreen.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorViewModelTest.kt
Labels: feature: mobile payments, status: feature-flagged

#11572 Set the correct event when Blaze campaign is created successfully
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/blaze/creation/payment/BlazeCampaignPaymentSummaryViewModel.kt
Labels: type: bug, category: tracks

#11577 Update release notes and readme for release/18.8
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11574 Shipping lines m2 analytics
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: feature: order details, category: tracks, feature: order creation

#11579 [Watch App] Improve error feedback and details UI
  WooCommerce-Wear/src/main/java/com/woocommerce/android/compose/component/ErrorScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/compose/component/LoadingScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/compose/component/ScrollingLazyColumnAdapter.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/compose/theme/WooColors.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/compose/theme/WooTheme.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/compose/theme/WooTypography.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/presentation/component/ErrorScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/MyStoreScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/Navigation.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/FormatOrderData.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/FetchOrders.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/viewmodel/ScopedViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/viewmodel/WearViewModel.kt
  WooCommerce-Wear/src/main/res/drawable/ic_lightning.xml
  WooCommerce-Wear/src/main/res/drawable/img_woo_bubble_white_background.xml
  WooCommerce-Wear/src/main/res/values-notround/dimens.xml
  WooCommerce-Wear/src/main/res/values/dimens.xml
  WooCommerce-Wear/src/main/res/values/strings.xml
Labels: type: task, feature: android wear

#11566 [Woo POS] Changes to more screen to accomodate entry point to POS
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuItemSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModel.kt
  WooCommerce/src/main/res/drawable/ic_more_menu_pos.xml
  WooCommerce/src/main/res/drawable/ic_more_menu_pos_extra.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/moremenu/MoreMenuViewModelTests.kt
Labels: feature: more menu, feature: point of service

#11570 [Payment Method Improvements] Create the "Mark Order as Complete" Button
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorScreen.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: mobile payments

#11580 Multiple shipping lines support
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/theme/Typography.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/CustomAmountCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/DetermineMultipleLinesContext.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingLineDetails.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingLineFormSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/ShippingLineCard.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_form.xml
  WooCommerce/src/main/res/layout/fragment_order_detail.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/OrderDetailViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/CreationFocusedOrderCreateEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/DetermineMultipleLinesContextTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/totals/OrderCreateEditTotalsHelperTest.kt
Labels: type: task, feature: order details, category: tracks, feature: order editing

#11581 [Watch App] Introduce tracks support
  WooCommerce-Wear/src/main/java/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/app/WearMainActivity.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/di/WearableClientModule.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionRepository.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/phone/PhoneConnectionService.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/login/LoginViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsScreen.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/details/OrderDetailsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/FetchOrders.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/orders/list/OrdersListViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/StoreStatsViewModel.kt
  WooCommerce-Wear/src/main/java/com/woocommerce/android/ui/stats/datasource/FetchStats.kt
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/wear/WearableConnectionService.kt
  libs/commons/src/main/java/com/woocommerce/commons/Paths.kt
  libs/commons/src/main/java/com/woocommerce/commons/WearAnalyticsEvent.kt
Labels: type: task, unit-tests-exemption, feature: android wear

#11602 Add NA support
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodById.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodsWithOtherValue.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingMethodsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/ShippingMethodsRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/details/OrderDetailViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodByIdTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/GetShippingMethodsWithOtherValueTest.kt
Labels: type: enhancement, feature: order details, feature: order creation, feature: order editing

#11605 UI M1 fixes
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/Buttons.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/AmountBigDecimalTextField.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModel.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/main/res/values/type.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/shipping/OrderShippingViewModelTest.kt
Labels: type: enhancement, feature: order creation, feature: order editing

#11504 [Tooling] Run Danger on the Linter Agent
  .buildkite/pipeline.yml
  .github/workflows/run-danger.yml
  Dangerfile
  Gemfile
  Gemfile.lock
Labels: category: tooling

#11543 Issue/11508 coupons card 2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/coupons/details/CouponDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/coupons/DashboardCouponsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/coupons/DashboardCouponsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsCard.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: My Store screen

#11562 [Dynamic Dashboard] Error view for when WCAdmin is disabled
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/WCAnalyticsNotEnabledErrorView.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/coupons/DashboardCouponsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/coupons/DashboardCouponsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stats/DashboardStatsCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/res/values-ar/strings.xml
  WooCommerce/src/main/res/values-de/strings.xml
  WooCommerce/src/main/res/values-es/strings.xml
  WooCommerce/src/main/res/values-fr/strings.xml
  WooCommerce/src/main/res/values-he/strings.xml
  WooCommerce/src/main/res/values-id/strings.xml
  WooCommerce/src/main/res/values-it/strings.xml
  WooCommerce/src/main/res/values-ja/strings.xml
  WooCommerce/src/main/res/values-ko/strings.xml
  WooCommerce/src/main/res/values-nl/strings.xml
  WooCommerce/src/main/res/values-pt-rBR/strings.xml
  WooCommerce/src/main/res/values-ru/strings.xml
  WooCommerce/src/main/res/values-sv/strings.xml
  WooCommerce/src/main/res/values-tr/strings.xml
  WooCommerce/src/main/res/values-zh-rCN/strings.xml
  WooCommerce/src/main/res/values-zh-rTW/strings.xml
  WooCommerce/src/main/res/values/strings.xml
Labels: type: enhancement, feature: My Store screen, unit-tests-exemption

#11582 Issue/11558 product stock fetch logic
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stock/DashboardProductStockCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stock/DashboardProductStockViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductInventoryFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/ProductStockStatus.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/stock/ProductStockRepository.kt
  WooCommerce/src/main/res/values/strings.xml
  build.gradle
Labels: feature: My Store screen, unit-tests-exemption

#11614 Return the category from the API result rather than getting it from the DB
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/categories/AddProductCategoryViewModel.kt
Labels: type: crash

#11618 [Dynamic Dashboard] Unit tests for the coupons card
  WooCommerce/src/main/kotlin/com/woocommerce/android/extensions/CalendarExt.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/coupons/DashboardCouponsViewModelTest.kt
Labels: category: unit tests, feature: My Store screen

#11593 Payment Method Improvements] Suggested changes from previous PR
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorScreen.kt
Labels: type: enhancement, feature: mobile payments, status: feature-flagged

#11599 [WooPOS] Lock orientation in landscape for woo pos activity
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/root/WooPosActivity.kt
Labels: feature: point of service

#11594 [Payment Method Improvements] Implement record transaction details to order note functionality
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_payment_flow.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorViewModelTest.kt
Labels: type: enhancement, category: tracks, feature: mobile payments, status: feature-flagged, unit-tests-exemption

#11537 [Woo POS] Tracking preparaion
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTrackerWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/checkout/WooPosCheckoutViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/util/analytics/WooPosAnalytics.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/util/analytics/WooPosAnalyticsCommonPropertiesProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/util/analytics/WooPosAnalyticsTracker.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/util/analytics/WooPosAnalyticsTrackerTest.kt
Labels: category: tracks

#11617 [Tooling] Push Hotfix branch as soon as it's created
  fastlane/Fastfile
Labels: category: tooling

#11606 [Payment Method Improvements] Gray out button until payment amount is greater or equal to amount due
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorViewModelTest.kt
Labels: type: enhancement, feature: mobile payments, status: feature-flagged

#11627 Remove DYNAMIC_DASHBOARD feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/onboarding/StoreOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: My Store screen

#11626 [Dynamic Dashboard] Coupons unit tests
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/coupons/DashboardCouponsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/dashboard/reviews/DashboardReviewsViewModelTest.kt
Labels: category: unit tests, feature: My Store screen

#11607 [Payment Method Improvements] Add more tests
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/CurrencyVisualTransformation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/SelectPaymentMethodViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/ChangeDueCalculatorViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/payments/changeduecalculator/CurrencyVisualTransformationTest.kt
Labels: category: unit tests, feature: mobile payments

#11620 Shipping Lines Feedback UI
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/compose/component/FeedbackDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_order_create_edit_form.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: type: task, feature: order creation, feature: order editing

#11630 Display feedback survey
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppUrls.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/FeedbackSurveyFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/feedback/SurveyType.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditFormFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/creation/UnifiedOrderEditViewModelTest.kt
Labels: type: task, category: tracks, feature: order creation, feature: order editing

#11567 Support WooCommerce-Wear in `fastlane` & Buildkite configuration
  .buildkite/commands/release-build.sh
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/complete-code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  fastlane/Fastfile
Labels: category: tooling

#11634 Remove unused custom range feature flag
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: unit-tests-exemption

#11632 Release EOSL M3
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/FeatureFeedbackSettings.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/creation/OrderCreateEditViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: task, feature: order creation, feature: order editing

#11624 [Dynamic Dashboard] Inbox card
  WooCommerce/src/main/kotlin/com/woocommerce/android/model/DashboardWidget.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardContainer.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/DashboardViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/inbox/DashboardInboxCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/inbox/DashboardInboxViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxNoteActionEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxNoteActionUi.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxNoteUi.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxUtils.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/inbox/InboxViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/inbox/InboxViewModelTest.kt
Labels: feature: My Store screen, unit-tests-exemption

#11639 18.9: Update release notes
  CHANGELOG.md
  WooCommerce/metadata/release_notes.txt
Labels: Releases

#11629 [Woo POS] Start card reader payment flow
  WooCommerce/src/main/AndroidManifest.xml
  WooCommerce/src/main/kotlin/com/woocommerce/android/analytics/AnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/connect/CardReaderConnectDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/onboarding/CardReaderOnboardingFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/cardreader/tutorial/CardReaderTutorialDialogFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/payments/methodselection/SelectPaymentMethodViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cardreader/WooPosCardReaderActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cardreader/WooPosCardReaderActivityEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cardreader/WooPosCardReaderEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cardreader/WooPosCardReaderFacade.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cardreader/WooPosCardReaderPaymentResult.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cardreader/WooPosCardReaderViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cart/WooPosCartNavigation.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/cart/WooPosCartScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/root/WooPosActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/root/navigation/WooPosMainFlowGraph.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/root/navigation/WooPosRootHost.kt
Labels: category: tracks, unit-tests-exemption, feature: point of service
