Repository woocommerce/woocommerce-android, pull requests merged in 2025-09, with the labels that each got.

#14535 WOOMOB-1057 - Introduce basic implementation of background worker for POS local catalog
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/localcatalog/PosLocalCatalogSyncRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/localcatalog/PosLocalCatalogSyncScheduler.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/localcatalog/PosLocalCatalogSyncWorker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/localcatalog/PosSyncProductsAction.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/localcatalog/PosLocalCatalogSyncRepositoryTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/localcatalog/PosLocalCatalogSyncWorkerTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/localcatalog/PosSyncProductsActionTest.kt
Labels: unit-tests-exemption, feature: POS

#14538 [Jetpack Performance] Fetch app passwords support on app launch
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/jetpack/JetpackActivationRepository.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/system/WooSystemRestClient.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/wc/WooCommerceStoreTest.kt
  libs/fluxc-tests/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClientTest.kt
  libs/fluxc-tests/src/test/java/org/wordpress/android/fluxc/store/SiteStoreTest.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/SiteRestClient.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: type: task, category: performance

#14543 [WOOMOB-1043] Extract scanning setup dialog from home to POS root
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/WooPosHomeScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScannerDetectionServiceForTracking.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScannerSetupNavigator.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScanningSetupAnalyticsTracker.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScanningSetupDialog.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScanningSetupState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScanningSetupUiEvent.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScanningSetupViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/settings/WooPosSettingsScreen.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScannerSetupNavigatorTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/scanningsetup/WooPosScanningSetupViewModelTest.kt
Labels: feature: POS

#14545 [WOOMOB-1207] Propagate totalPages and Date headers from Local Catalog Rest Client
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/localcatalog/WooPosSyncProductsActionTest.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooResult.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/pos/WooPosProductRestClient.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/store/pos/localcatalog/WooPosLocalCatalogStore.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/store/pos/localcatalog/WooPosLocalCatalogSyncResult.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/utils/HeadersParser.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/store/pos/WooPosLocalCatalogStoreTest.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/utils/HeadersParserTest.kt
Labels: feature: POS

#14551 Fix UI tests after introducing logic to fetch app passwords on app launch
  WooCommerce/src/androidTest/assets/mocks/mappings/jetpack-blogs/rest_api.json
Labels: category: ui tests

#14546 [WOOMOB-929] Add more filter options to orders filters sales channel
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterCategoriesViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/data/OrderFilterDataModels.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/filters/domain/GetWCOrderListDescriptorWithFilters.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/orders/filters/OrderFilterCategoriesViewModelTest.kt
Labels: feature: order list

#14547 WOOMOB-1208 Run Local Catalog Sync In Transaction
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/localcatalog/WooPosSyncProductsAction.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/localcatalog/WooPosSyncProductsActionTest.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/store/pos/localcatalog/WooPosLocalCatalogStore.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/store/pos/WooPosLocalCatalogStoreTest.kt
Labels: feature: POS

#14533 [Woo POS][Historical Orders] Orders Fetching
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersDataSourceTest.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClientTest.kt
Labels: type: task, feature: POS

#14557 [WOOMOB-1258][Woo POS][Settings] Fix minor findings from the CFT
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/settings/WooPosSettingsState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/settings/categories/WooPosSettingsCategoriesState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/settings/details/store/WooPosSettingsReceiptRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/settings/details/store/WooPosSettingsStoreScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/settings/details/store/WooPosSettingsStoreState.kt
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/settings/details/store/WooPosSettingsStoreViewModelTest.kt
Labels: feature: POS

#14566 POS Product Migration Step 2
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/models/WCProductToWooPosProductModelMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/models/WooPosProductModelVersion2Mapper.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/common/data/models/WCProductToWooPosProductModelMapperTest.kt
Labels: feature: POS

#14567 POS Product Migration Step 4
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosGetProductById.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosPopularProductsProvider.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosProductsCache.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosProductsInMemoryCache.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsIndex.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosPopularProductsProviderTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosProductsInMemoryCacheTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/items/WooPosProductsDataSourceTest.kt
Labels: feature: POS

#14577 Add `cooldown` of Dependabot PRs for minor & major updates
  .github/dependabot.yml
Labels: type: enhancement, category: tooling

#14569 [POS - Historical Orders] In-memory Cache
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersInMemoryCache.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/splash/WooPosSplashViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosOrdersInMemoryCacheTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersDataSourceTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/splash/WooPosSplashViewModelTest.kt
Labels: type: task

#14544 [Jetpack Performance] Add local feature flag and enable app passwords for all endpoints
  WooCommerce-Wear/src/main/java/com/woocommerce/android/wear/di/ApplicationPasswordsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefs.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/AppPrefsWrapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/applicationpasswords/WooApplicationPasswordsConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/FirebaseRemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/config/RemoteConfigRepository.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/ApplicationPasswordsModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/orders/list/OrderListItemDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/MainSettingsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
  WooCommerce/src/main/res/layout/fragment_settings_main.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/login/sitecredentials/LoginSiteCredentialsViewModelTest.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooExperimentalNetwork.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooNetwork.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/store/WCOrderStore.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/store/WooCommerceStore.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClientTest.kt
  libs/fluxc-tests/src/test/java/org/wordpress/android/fluxc/network/rest/wpcom/wc/WooNetworkTest.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/module/ApplicationPasswordsClientId.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/module/ApplicationPasswordsModule.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/WPAPIResponse.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsConfiguration.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsStore.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/store/MediaStore.java
  libs/fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordManagerTests.kt
Labels: type: task, category: performance, unit-tests-exemption

#14595 [WOOMOB-1309] Fix WooPos local catalog API response parsing
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/util/datastore/WooPosSyncTimestampManager.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/util/datastore/WooPosSyncTimestampManagerTest.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/product/pos/WooPosProductRestClient.kt
Labels: feature: POS

#14589 POS Product Migration Step 6
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/searchbyidentifier/WooPosSearchByIdentifierProcessVariationResult.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/searchbyidentifier/WooPosSearchByIdentifierResultConverter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/cart/WooPosCartItemsUpdater.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/common/data/searchbyidentifier/WooPosSearchByIdentifierProcessVariationResultTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/common/data/searchbyidentifier/WooPosSearchByIdentifierResultConverterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/cart/WooPosCartItemsUpdaterTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/util/WooPosProductUtils.kt
Labels: feature: POS

#14590 POS Product Migration Step 7
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosVariationMapper.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/models/WooPosProductModelVersion2.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/cart/WooPosCartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/search/WooPosProductSearchPredicate.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/search/WooPosSearchProductsDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/search/WooPosSearchResultsIndex.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/cart/WooPosCartViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/items/search/WooPosProductSearchPredicateTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/items/search/WooPosSearchProductsDataSourceTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/items/search/WooPosSearchResultsIndexTest.kt
Labels: feature: POS

#14562 Upgrade Glide to v5
  WooCommerce/build.gradle
  gradle/libs.versions.toml
  libs/login/src/main/java/org/wordpress/android/login/util/AvatarHelper.kt
Labels: Tech Debt

#14611 [Site Picker] Fix issue with the visibility of the Continue button
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/sitepicker/SitePickerViewModelTest.kt
Labels: type: bug, feature: site picker

#14613 [Deps] Update Dependency Analysis to 3.0.2
  gradle/libs.versions.toml
Labels: category: tooling, dependency update, Core

#14610 [Jetpack Performance] Integrate remote feature flag
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/applicationpasswords/WooApplicationPasswordsConfiguration.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/BetaFeaturesFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/IsRemoteFeatureFlagEnabled.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/RemoteFeatureFlag.kt
  WooCommerce/src/main/res/layout/fragment_settings_beta.xml
Labels: type: task, category: performance

#14586 Fix the incorrect size of the notification icon
  RELEASE-NOTES.txt
  WooCommerce/src/main/res/drawable/ic_woo_w_notification.xml
Labels: feature: notifications, feature: android wear, Bug

#14617 [HACK] Migrate MediaPickerDialogScreen to Material 3
  RELEASE-NOTES.txt
  WooCommerce/src/main/kotlin/com/woocommerce/android/mediapicker/MediaPickerDialogScreen.kt
Labels: Tech Debt

#14619 [HACK] Migrate DeveloperOptionsScreen to Material 3
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/developer/DeveloperOptionsScreen.kt
Labels: Tech Debt

#14627 Remove unused FF
  WooCommerce/src/main/kotlin/com/woocommerce/android/util/FeatureFlag.kt
Labels: type: enhancement

#14574 [POS][Local Catalog] Connect POS to WooPosVariationEntity table
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/cart/WooPosCartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/variations/WooPosVariationsDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/variations/WooPosVariationsDataSourceInterface.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/variations/WooPosVariationsInDbDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/variations/WooPosVariationsViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/cart/WooPosCartViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/variations/WooPosVariationsViewModelTest.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/pos/WooPosVariationsDao.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/store/pos/localcatalog/WooPosLocalCatalogStore.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/persistence/dao/pos/WooPosVariationsDaoTest.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/store/pos/WooPosLocalCatalogStoreTest.kt
Labels: feature: point of sale

#14628 [HACK] Migrate NotificationSettingsScreen to Material 3
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/notifications/NotificationSettingsScreen.kt
Labels: Tech Debt

#14614 [POS Orders] Pagination
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersViewModel.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersDataSourceTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/orders/WooPosOrdersViewModelTest.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/network/rest/wpcom/wc/order/OrderRestClient.kt
Labels: type: task

#14639 Merge release/23.3 into trunk
  CHANGELOG.md
  RELEASE-NOTES.txt
  fastlane/metadata/PlayStoreStrings.pot
  fastlane/metadata/android/ar/changelogs/default.txt
  fastlane/metadata/android/de-DE/changelogs/default.txt
  fastlane/metadata/android/en-US/changelogs/default.txt
  fastlane/metadata/android/es-ES/changelogs/default.txt
  fastlane/metadata/android/fr-FR/changelogs/default.txt
  fastlane/metadata/android/id/changelogs/default.txt
  fastlane/metadata/android/it-IT/changelogs/default.txt
  fastlane/metadata/android/iw-IL/changelogs/default.txt
  fastlane/metadata/android/ja-JP/changelogs/default.txt
  fastlane/metadata/android/ko-KR/changelogs/default.txt
  fastlane/metadata/android/nl-NL/changelogs/default.txt
  fastlane/metadata/android/pt-BR/changelogs/default.txt
  fastlane/metadata/android/ru-RU/changelogs/default.txt
  fastlane/metadata/android/sv-SE/changelogs/default.txt
  fastlane/metadata/android/tr-TR/changelogs/default.txt
  fastlane/metadata/android/zh-CN/changelogs/default.txt
  fastlane/metadata/android/zh-TW/changelogs/default.txt
  fastlane/metadata/wear/ar/changelogs/default.txt
  fastlane/metadata/wear/de-DE/changelogs/default.txt
  fastlane/metadata/wear/es-ES/changelogs/default.txt
  fastlane/metadata/wear/fr-FR/changelogs/default.txt
  fastlane/metadata/wear/id/changelogs/default.txt
  fastlane/metadata/wear/it-IT/changelogs/default.txt
  fastlane/metadata/wear/iw-IL/changelogs/default.txt
  fastlane/metadata/wear/ja-JP/changelogs/default.txt
  fastlane/metadata/wear/ko-KR/changelogs/default.txt
  fastlane/metadata/wear/nl-NL/changelogs/default.txt
  fastlane/metadata/wear/pt-BR/changelogs/default.txt
  fastlane/metadata/wear/ru-RU/changelogs/default.txt
  fastlane/metadata/wear/sv-SE/changelogs/default.txt
  fastlane/metadata/wear/tr-TR/changelogs/default.txt
  fastlane/metadata/wear/zh-CN/changelogs/default.txt
  fastlane/metadata/wear/zh-TW/changelogs/default.txt
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#14620 [WOOMOB-1341] Booking details fragment skeleton
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsViewState.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/developer/DeveloperOptionsFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/prefs/developer/DeveloperOptionsViewModel.kt
  WooCommerce/src/main/res/navigation/nav_graph_settings.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsViewModelTest.kt
Labels: feature: CIAB Mobile Bookings MVP

#14634 [CIAB] Hide POS
  WooCommerce/src/main/kotlin/com/woocommerce/android/ciab/CIABAffectedFeature.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/tab/WooPosTabShouldBeVisible.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/tab/WooPosTabShouldBeVisibleTest.kt
Labels: type: enhancement, feature: CIAB Mobile Experience

#14649 [WOOMOB-1342] Booking details header/list item component
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/compose/AttendanceStatusTag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/compose/BookingSummary.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/compose/PaymentStatusTag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsViewState.kt
  WooCommerce/src/main/res/values/strings.xml
Labels: feature: CIAB Mobile Bookings MVP

#14660 [WOOMOB-1345] - Attendance status section in booking details
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/compose/AttendanceStatusTag.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/compose/BookingAttendanceSection.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/compose/BookingAttendanceStatusBottomSheet.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsScreen.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsViewModel.kt
  WooCommerce/src/main/res/drawable/ic_attendance_booked.xml
  WooCommerce/src/main/res/drawable/ic_attendance_checked_in.xml
  WooCommerce/src/main/res/drawable/ic_attendance_no_show.xml
  WooCommerce/src/main/res/values/strings.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/bookings/details/BookingDetailsViewModelTest.kt
Labels: New Feature, feature: CIAB Mobile Bookings MVP

#14657 [WOOMOB-1378] "Trash Product" option invisible after creating the product
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/stock/DashboardProductStockCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/dashboard/topperformers/DashboardTopPerformersWidgetCard.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainActivity.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/main/MainNavigationRouter.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailFragment.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/products/list/ProductListFragment.kt
  WooCommerce/src/main/res/navigation/nav_graph_main.xml
  WooCommerce/src/main/res/navigation/nav_graph_products.xml
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/products/details/ProductDetailViewModelTest.kt
Labels: feature: product details, Bug

#14654 Update Java version to 21
  .java-version
  libs/detektrules/build.gradle
  settings.gradle
Labels: dependency update

#14653 Deserializer for unexpected array format from endpoints 2
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/ArrayOrObjectDeserializer.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/GsonRequest.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/ListOrObjectDeserializer.kt
  libs/fluxc/src/test/java/org/wordpress/android/fluxc/network/rest/ArrayOrObjectDeserializerTest.kt
Labels: type: crash

#14630 [POS][Local Catalog] Peform catalog incremental sync on PTR
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosGetProductById.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/variations/WooPosVariationsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/localcatalog/WooPosSyncProductsAction.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/localcatalog/WooPosSyncVariationsAction.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/variations/WooPosVariationsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/localcatalog/WooPosSyncVariationsActionTest.kt
Labels: type: task, feature: point of sale

#14636 [POS][Local Catalog] Connect product list to POS database
  WooCommerce/src/main/kotlin/com/woocommerce/android/di/WooPosModule.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/common/data/WooPosGetVariationById.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/cart/WooPosCartViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsDataSourceInterface.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsInDbDataSource.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/items/variations/WooPosVariationsViewModel.kt
  WooCommerce/src/main/kotlin/com/woocommerce/android/ui/woopos/home/totals/WooPosTotalsRepository.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/cart/WooPosCartViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/items/WooPosProductsDataSourceTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsInDbDataSourceTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/items/products/WooPosProductsViewModelTest.kt
  WooCommerce/src/test/kotlin/com/woocommerce/android/ui/woopos/home/variations/WooPosVariationsViewModelTest.kt
  libs/fluxc-plugin/src/main/kotlin/org/wordpress/android/fluxc/persistence/dao/pos/WooPosProductsDao.kt
  libs/fluxc-plugin/src/test/java/org/wordpress/android/fluxc/persistence/dao/pos/WooPosProductsDaoTest.kt
Labels: type: task, feature: point of sale
